<form autocomplete="off">
    <nav class="nav-tabs" data-group="primary">
        <a data-tab="sheet-settings"><i class="gcs-settings"></i>{{localize "gurps.character.settings.sheet_settings.button"}}</a>
        <a data-tab="attributes"><i class="gcs-attribute"></i>{{localize "gurps.character.settings.attributes.button"}}</a>
        <a data-tab="body-type"><i class="gcs-body-type"></i>{{localize "gurps.character.settings.body_type.button"}}</a>
        <a data-tab="resource-trackers"><i class="gcs-coins"></i>{{localize "gurps.character.settings.resource_trackers.button"}}</a>
    </nav>
    <section class="content">
        <div class="tab browser" data-group="primary" data-tab="sheet-settings">
            {{>actor/character/config/sheet-settings}}
        </div>
        <div class="tab browser" data-group="primary" data-tab="attributes">{{>actor/character/config/attributes}}</div>
        <div class="tab browser" data-group="primary" data-tab="body-type">
			{{#with locations}}
			{{>actor/character/config/body-type path="array.system.settings.body_type" actor=../actor}}
			{{/with}}
		</div>
        <div class="tab browser" data-group="primary" data-tab="resource-trackers">{{>actor/character/config/resource-trackers}}</div>
    </section>
</div>
</form>
