#token-hud {
	.maneuvers {
		grid-template-columns: repeat(4, 1fr);
	}

	.status-effects {
		grid-template-columns: repeat(5, 1fr);
	}

	.maneuvers,
	.status-effects {
		width: auto;
		visibility: hidden;
		position: absolute;
		left: 65px;
		top: 0;
		display: grid;
		padding: 3px;
		box-sizing: content-box;
		background: rgba(0, 0, 0, 0.6);
		box-shadow: 0 0 15px var(--color-shadow-dark);
		border: 1px solid var(--color-border-dark-3);
		border-radius: 4px;
		pointer-events: all;

		&.active {
			visibility: visible;
		}

		.effect-control {
			border-radius: 1px;
			color: var(--color-text-dark-1);
			cursor: pointer;
			height: 36px;
			opacity: 0.75;
			position: relative;
			width: 36px;

			&.active img {
				border: 1px solid var(--color-border-highlight);
				opacity: 1;
			}

			img {
				border: 1px solid rgba(black, 0);
				height: 35px;
				margin: 0;
				width: 35px;
			}

			// &:not(.active):hover img {
			//     border: 1px solid rgba(#ff6400, 0.5);
			// }

			.badge {
				background: rgb(var(--color-control));
				color: rgb(var(--color-on-control));
				border-radius: 50%;
				border: 0.1em solid rgb(var(--color-control-edge));
				font: var(--font-primary);
				height: 0.8rem;
				pointer-events: none;
				position: absolute;
				right: -3px;
				text-align: center;
				top: -3px;
				width: 0.8rem;
				z-index: 1;
				font-size: var(--font-size-12);
				font-style: unset;
				font-weight: 500;
				line-height: var(--font-size-12);
			}

			&.overridden > * {
				filter: saturate(0);
			}
		}

		.title-bar {
			background: rgba(0, 0, 0, 0.6);
			border-radius: inherit;
			border: inherit;
			box-shadow: inherit;
			box-sizing: content-box;
			font-size: var(--font-size-14);
			font-weight: normal;
			left: 0;
			line-height: normal;
			padding: 3px 0;
			position: absolute;
			text-align: center;
			bottom: calc(100% + 5px);
			visibility: hidden;
			width: 100%;
			z-index: 1;

			&.active {
				visibility: visible;
			}
		}
	}
}
