<header class='ms-header'>
  <div class='ms-portrait-wrapper'>
    <div class='ms-portrait'>
      <img
        src='{{item.img}}'
        data-action='editImage'
        data-edit='img'
      />
    </div>
  </div>

  <div class='ms-name-container'>
    <h1 class='ms-name ms-name-display'>{{item.name}}</h1>
    {{formInput fields.name value=item.name}}
  </div>

  {{> "common.partials.tab-navigation"}}
</header>
