#compendium-browser {
	@import "embeds";

	section.window-content > .content-box {
		flex: 1;
		overflow: hidden;
		height: inherit;

		> section.content {
			height: calc(100% - 30px);

			> .tab.browser.active {
				height: calc(100% - 10px);

				> div {
					height: 100%;

					.item-list {
						height: calc(100% - 30px);
						overflow: visible scroll;
					}
				}
			}
		}
	}

	nav {
		display: flex;
		margin-top: 5px;
		border-bottom: 1px solid rgb(var(--color-divider));

		a {
			display: flex;
			flex-grow: 1;
			justify-content: space-evenly;
			background-color: rgb(var(--color-control));
			color: rgb(var(--color-on-control));
			padding: 2px;
			border: 1px solid rgb(var(--color-control-edge));
			border-radius: 4px 4px 0 0;

			&:hover {
				text-shadow: none;
			}

			&.active {
				background-color: rgb(var(--color-focused-tab));
				color: rgb(var(--color-on-focused-tab));
			}
		}
	}

	.searchbar input {
		font: var(--font-field);
		height: 24px;
		width: calc(100% - 10px);
		border-radius: 0px;
		background-color: rgb(var(--color-editable));
		color: rgb(var(--color-on-editable));
		border: 1px solid rgba(var(--color-control-edge));
		padding: 1px 3px;
		margin: 5px;
		&:focus {
			box-shadow: none;
			border-width: 2px;
			padding: 0 2px;
		}
	}

	.tab.active {
		height: inherit;
	}

	.item-list {
		margin: 5px;
		border: 1px solid rgb(var(--color-header));
	}

	.compendium-browser-settings {
		form {
			display: grid;
			grid-template:
				"traits trait-mods"
				"skills spells"
				"eqp eqp-mods"
				"notes notes"
				"button button";
			#traits {
				grid-area: traits;
			}
			#trait-mods {
				grid-area: trait-mods;
			}
			#skills {
				grid-area: skills;
			}
			#spells {
				grid-area: spells;
			}
			#eqp {
				grid-area: eqp;
			}
			#eqp-mods {
				grid-area: eqp-mods;
			}
			#notes {
				grid-area: notes;
			}

			.section {
				padding: 5px;
			}

			button {
				justify-self: center;
				width: min-content;
				white-space: nowrap;
				grid-area: button;
				background-color: rgb(var(--color-control));
				color: rgb(var(--color-on-control));
				font: var(--font-system);
				border: 1px solid rgb(var(--color-control-edge));
				border-radius: 4px;
				&:hover,
				&:focus {
					box-shadow: none;
				}
				&:active {
					background-color: rgb(var(--color-pressed-control));
					color: rgb(var(--color-on-pressed-control));
				}
			}
		}

		.container {
			margin: 5px;
			border: 1px solid rgb(var(--color-header));
			background-color: rgb(var(--color-content));
			color: rgb(var(--color-on-content));
		}
	}
}
