#notes {
	grid-template-columns: 1fr auto;

	.desc:nth-child(4n + 1),
	.reference:nth-child(4n + 2) {
		&:not(.header) {
			background-color: rgba(var(--color-banding), 1);
			color: rgba(var(--color-on-banding), 1);
			&.disabled {
				.name,
				.item-notes {
					color: rgba(var(--color-on-banding), 0.3);
				}
			}
		}
	}

	.disabled {
		.name {
			text-decoration: line-through;
		}
		.name,
		.item-notes {
			color: rgba(var(--color-on-content), 0.3);
		}
	}
}
