<form class='{{cssClass}}' autocomplete='off' style='scroll-padding-top: 5px;'>
  <div id='sheet' class='gurpsactorsheet'>
    <div id='personal'>
      {{>portrait}}
      {{>identity}}
      {{>description}}
    </div>
      <div id="stats">
      {{>locations }}
    </div>
  </div>
</form>
