<div id='qnotes'>
  {{#if data.additionalresources.qnotes}}{{{gurpslink data.additionalresources.qnotes}}}{{else}}
    <span style='color:lightgrey'>double click to edit Quick Note</span>{{/if}}
</div>