# IDE
.idea/
.vs/
.vscode/

# Node Modules
node_modules/
npm-debug.log

# yarn2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Local configuration
foundryconfig.json

# Distribution files
dist

# ESLint
.eslintcache

# Junit results
junit.xml

.DS_Store
.project
.settings/
Thumbs.db
scripts/foundry.js
coverage
.npmrc
data/monsters.csv
