# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# yarn2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Local configuration
foundryconfig.json

# Distribution files
dist

# ESLint
.eslintcache

# Junit results
junit.xml

#.git backup
.git-bak
