// This is the root of the stylesheets
@use './styles/apps.css';
@use './styles/chat-message.css';
@use './styles/color-character-sheet.css';
@use './styles/css_boilerplate.css';
@use './styles/simple.css';
@use './styles/simplified.css';
@use './styles/tinycolorpicker.css';

@use 'styles/variables';
@use 'styles/canvas';
@use 'styles/sidebar';
@use 'styles/token-hud';
@use 'styles/settings';
@use 'styles/pdf';
@use 'styles/modern-sheet';
