<form class='{{cssClass}} overflowy' autocomplete='off'>
  <div id='responsive' class='gurpsactorsheet'>
    <div id='combat-sheet'>
      <div id='combat-grid'>
        <div id='combat-attrs'>
          {{>basic-attributes}}
          {{>secondary-attributes}}
        </div>
        <!-- end of combat-attrs-->
        {{>encumbrance}}
        {{>locations parent=../data}}
        <div id='combat-hitfat'>
          {{#if useCI}}
            {{>conditional-injury}}
          {{else}}
            {{>hpfp-tracker
              name='HP'
              resource=system.HP
              label='GURPS.attributesHPNAME'
              compact=true
              condition='reeling'
              testcondition=system.conditions.reeling
            }}
          {{/if}}
          {{>hpfp-tracker
            name='FP'
            resource=system.FP
            label='GURPS.attributesFPNAME'
            compact=true
            condition='exhausted'
            testcondition=system.conditions.exhausted
          }}
        </div>
        {{>conditions}}
      </div>

      {{>trackers}}

      {{#if (notEmpty system.melee)}}
        {{>melee}}
      {{/if}}
      {{>speed-range-table}}
      {{#if (notEmpty system.ranged)}}
        {{>ranged}}
      {{/if}}
    </div><!-- end of combat-sheet -->
  </div>
  <!-- end of responsive -->
  {{>footer}}
</form>