<div>
	<p>
		<a href="http://www.sjgames.com/gurps/"><b><i>GURPS</i></b></a> is a trademark of Steve Jackson Games, and its rules and art are copyrighted by Steve Jackson Games.
		All rights are reserved by Steve Jackson Games. This game aid is the original creation of Mateusz Sasiedny and is released for free distribution, and not for resale,
		under the permissions granted in the <a href="http://www.sjgames.com/general/online_policy.html">Steve Jackson Games Online Policy</a>.
	</p>
</div>