<div class='maneuver-tooltip'>
  <div class='mv-title'>{{localize label}}</div>
  <hr class='hr-notes' />
  <div class='mv-icons'>
    {{{allIcons}}}
  </div>
  <div class='mv-max-move'>{{localize 'GURPS.maxMove'}}: {{maxMove}}</div>
</div>