<div class='apply-damage {{classes}}' {{debug}}>

  <h2>Apply {{damageData.damage}} points of {{damageData.damageType}} damage to {{actor.data.name}}</h2>
  <div classes='flexcol flex-between'>
    <div class='flexrow flex-group-center' style='justify-items: center;'>
      <h3 style='margin-bottom: 0;'>Directly apply:</h3>
      <input type='number' id='damage' name='damage' value='{{damageData.damage}}'>
      <div>
        <select id='apply-to' name='apply-to'>
          <option value='HP' selected>Hit Points</option>
          <option value='FP'>Fatigue Points</option>
        </select>
      </div>
      <button id='apply-publicly'>Apply</button>
      <button id='apply-secretly'>Apply (Quietly)</button>
    </div>

    <div class='flex-group-center' style='margin-top: 1em;'>
      <h3>Apply damage options:</h3>

      <div class='grid grid-3col flex-between'>
        <div class='gurps-group'>
          <div class='gurps-group-header'>Hit Location and DR</div>
          <div class='gurps-3col-expandmiddle'>
            <div class='gurps-grid-header'>Location</div>
            <div class='gurps-grid-header'>Roll</div>
            <div class='gurps-grid-header'>DR</div>

            {{#each hitLocationsWithDR}}
            <div class='gurps-3col-line'>
              <label><input type='radio' name='hitlocation' value='{{this.where}}'>&nbsp;{{this.where}}</input></label>
            </div>
            <div class='gurps-3col-line'>{{this.rollText}}</div>
            <div class='gurps-3col-line'>{{this.dr}}</div>
            {{/each}}
          </div>
          <hr />
          <button id='random-location'><i class='fa fa-dice'>&nbsp;Random</i></button>
          <hr />
          <label><input type='radio' name='hitlocation' value='Large-Area'>&nbsp;Large-Area Injury (<span
              class='pdflink'>B400</span>)</input></label>
          <div class='grid grid-2col flex-between' style='align-items: center; justify-items: flex-start;'>
            <label><input type='radio' name='hitlocation' value='User Entered'>&nbsp;Enter DR:</input></label>
            <input type='number' id='select-dr' name='User Entered' value='{{selectedDR}}'>
          </div>
        </div>

        <div class='gurps-group'>
          <div class='gurps-group-header'>Type and Wounding Modifiers</div>
          <div class='gurps-3col-expandmiddle'>
            <div class='gurps-grid-header'>Damage Type</div>
            <div class='gurps-grid-header'>Abbrev</div>
            <div class='gurps-grid-header'>Modifier</div>

            {{#each woundingModifiers}}
            <div class='gurps-3col-line'>
              <label><input type='radio' name='woundmodifier' value='{{@key}}'>&nbsp;{{this.label}}</input></label>
            </div>
            <div class='gurps-3col-line'>{{@key}}</div>
            <div class='gurps-3col-line'>×{{this.multiplier}}</div>
            {{/each}}

          </div>
          <hr />
          <label><input type='radio' name='woundmodifier' value='none'>&nbsp;No modifier</input></label>
          <div class='grid grid-2col flex-between' style='align-items: center; justify-items: flex-start;'>
            <label><input type='radio' name='woundmodifier' value='User Entered'>&nbsp;Enter
              modifier:</input></label>
            <input type='number' id='select-mod' name='User Entered' value='{{selectedMod}}'>
          </div>
          <div class='grid grid-2col flex-between' style='align-items: center; justify-items: flex-start;'>
            <label>Additional modifier (stacks):</label>
            <input type='number' id='addmodifier' name='addmodifier' value='{{additionalMods}}'>
          </div>
        </div>

        <div class='gurps-group'>
          <div class='gurps-group-header'>Tactical Rules</div>

          <div class='gurps-group-caption'>Use systems settings to set defaults.</div>
          <div class='gurps-3col-expandmiddle'>
            {{#each tacticalOptions}}
            <div class='gurps-3col-line'>
              <input id='tactical-{{this.id}}' type='checkbox' name='tactical' value='{{this.id}}'></input>
            </div>
            <div class='gurps-3col-line gurps-left-aligned'>
              <label for='tactical-{{this.id}}'>{{this.label}}</label>
            </div>
            <div class='gurps-3col-line pdflink'>{{this.ref}}</div>
            {{/each}}
          </div>

          <div class='gurps-group-header gurps-group-gap'>Other Situations</div>
          <div class='gurps-3col-expandmiddle'>
            {{#each otherSituations}}
            <div class='gurps-3col-line'>
              <input id='specials-{{this.id}}' type='checkbox' name='specials' value='{{this.id}}'></input>
            </div>
            <div class='gurps-3col-line gurps-left-aligned'>
              <label for='specials-{{this.id}}'>{{this.label}}</label>
            </div>
            <div class='gurps-3col-line pdflink'>{{this.ref}}</div>
            {{/each}}
          </div>
          <hr />

          <div style='background-color: rgba(0, 0, 0, 0.10);'>
            <div class='gurps-3col-expandmiddle'>
              <div class='gurps-3col-line'>
                <input id='vulnerable' type='checkbox' name='vulnerable' value='vulnerable'></input>
              </div>
              <div class='gurps-3col-line gurps-left-aligned'>
                <label for='vulnerable'>Vulnerability:</label>
              </div>
              <div class='gurps-3col-line pdflink'>B161</div>
            </div>
            <div class='grid grid-4col gurps-continuation'>
              <div></div>
              <label><input type='radio' name='vulnerability' value='vulnerability-2'>&nbsp;×2</label>
              <label><input type='radio' name='vulnerability' value='vulnerability-3'>&nbsp;×3</label>
              <label><input type='radio' name='vulnerability' value='vulnerability-4'>&nbsp;×4</label>
            </div>
          </div>

          <div class='gurps-3col-expandmiddle'>
            <div class='gurps-3col-line'>
              <input id='hardened' type='checkbox' name='hardened' value='hardened'></input>
            </div>
            <div class='gurps-3col-line gurps-left-aligned'>
              <label for='vulnerable'>Hardened DR Level:</label>
            </div>
            <div class='gurps-3col-line pdflink'>B47</div>
          </div>
          <div class='grid grid-6col gurps-continuation'>
            <div></div>
            <label><input type='radio' name='hardened' value='hardened-1'>&nbsp;1</label>
            <label><input type='radio' name='hardened' value='hardened-2'>&nbsp;2</label>
            <label><input type='radio' name='hardened' value='hardened-3'>&nbsp;3</label>
            <label><input type='radio' name='hardened' value='hardened-4'>&nbsp;4</label>
            <label><input type='radio' name='hardened' value='hardened-5'>&nbsp;5</label>
          </div>
        </div>

      </div>

      <div>
        <div class='gurps-group'>
          <div class='gurps-group-header'>Results</div>

          <div class='grid grid-3col'>
            <div class='gurps-3col'>
              <!-- <div style='display: grid; grid-template-columns: min-content min-content auto;'> -->
              <div class='gurps-3col-line right-justified'>Basic&nbsp;Damage</div>
              <div class='gurps-3col-line emphasis right-justified'>{{damageData.damage}}</div>
              <div class='gurps-3col-line left-justified'>
                <span name='result-type'>{{damageData.damageType}}</span>
              </div>

              <div class='gurps-3col-line right-justified'>Damage&nbsp;Resistance</div>
              <div class='gurps-3col-line emphasis right-justified'><span name='result-dr'>{{dr}}</span></div>
              <div class='gurps-3col-line left-justified'><span id='result-hitlocation'>{{hitlocation}}</span></div>

              <div class='gurps-3col-line right-justified'>Penetrating&nbsp;Damage</div>
              <div class='gurps-3col-line emphasis right-justified'><span id='result-penetrating'>{{penetrating}}</span>
              </div>
              <div class='gurps-3col-line left-justified'>(<span>{{damageData.damage}}</span> &minus; <span
                  name='result-dr'>{{dr}}</span>)
              </div>

              <div class='gurps-3col-line right-justified'>Wounding&nbsp;Modifier</div>
              <div class='gurps-3col-line emphasis right-justified'>×<span id='result-totalmod'>{{totalMods}}</span>
              </div>
              <div class='gurps-3col-line left-justified'>(<span
                  name='result-type'>{{damageData.damageType}}</span><span id='result-type-add'> + <span
                    id='result-addmods'>{{additionalMods}}</span>&nbsp;add</span>)
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>