<div class='gurps-app {{classes}}' {{debug}}>
  <div classes='flexcol flex-between'>
    <h2>Apply {{basicDamage}} points of {{printIfNe armorDivisor 0 '(*)' ' '}}{{damageType}} damage to
      {{actor.data.name}}</h2>
    <div class='flexrow flex-group-center flex-between'>
      <h3>DIRECTLY APPLY:</h3>
      <input type='number' id='damage' name='damage' value='{{basicDamage}}'>
      <div>
        <select id='apply-to' name='apply-to'>
          <option value='HP'>Hit Points</option>
          <option value='FP' selected>Fatigue Points</option>
        </select>
      </div>
      <button id='apply-publicly'>Apply</button>
      <button id='apply-secretly'>Apply (Quietly)</button>
    </div>
    <div id='apply-damage-advanced' class='flex-group-left'>
      <h3>APPLY DAMAGE OPTIONS:</h3>

      <div class='grid grid-3col flex-between'>
        <div class='gurps-group'>
          <h4>Hit Location and DR</h4>
          <div class='gurps-3col gurps-radio-col'>
            <header>Location</header>
            <header>Roll</header>
            <header>DR</header>
            {{#each hitLocationsWithDR}}
            <div><label><input type='radio' name='hitlocation' value='{{this.where}}'>&nbsp;{{this.where}}</label></div>
            <div>{{this.rollText}}</div>
            <div>{{this.dr}}</div>
            {{/each}}
          </div>
          <hr /> <!-- Doesn't do much except add some space -->
          <button id='random-location'><i class='fa fa-dice'>&nbsp;Random</i></button>
          <hr /> <!-- Doesn't do much except add some space -->
          <div class='gurps-3col gurps-radio-col'>
            <div><label><input type='radio' name='hitlocation' value='Large-Area'>&nbsp;Large-Area Injury</label></div>
            <div></div>
            <div class='pdflink'>B400</div>
          </div>
          <div class='grid grid-2col flex-between'>
            <label><input type='radio' name='hitlocation' value='User Entered'>&nbsp;Enter DR:</input></label>
            <input type='number' id='select-dr' name='User Entered' value='{{selectedDR}}'>
          </div>
        </div>

        <div class='gurps-group'>
          <h4>Type and Wounding Modifiers</h4>
          <div class='gurps-3col gurps-radio-col'>
            <header>Damage Type</header>
            <header>Abbrev</header>
            <header>Modifier</header>
            {{#each woundingModifiers}}
            <div><label><input type='radio' name='woundmodifier' value='{{@key}}'>&nbsp;{{this.label}}</input></label>
            </div>
            <div>{{@key}}</div>
            <div>×{{this.multiplier}}</div>
            {{/each}}
          </div>
          <hr /> <!-- Doesn't do much except add some space -->
          <label><input type='radio' name='woundmodifier' value='none'>&nbsp;No modifier</input></label>
          <div class='grid grid-2col flex-between'>
            <label><input type='radio' name='woundmodifier' value='User Entered'>&nbsp;Enter
              modifier:</input></label>
            <input type='number' id='select-mod' name='User Entered' value='{{selectedMod}}'>
          </div>
          <div class='grid grid-2col flex-between'>
            <label>Additional modifier (stacks):</label>
            <input type='number' id='addmodifier' name='addmodifier' value='{{additionalMods}}'>
          </div>
        </div>

        <div class='gurps-group'>
          <h4>Tactical Rules</h4>
          <aside>Use systems settings to set defaults.</aside>
          <div class='gurps-3col gurps-checkbox-col'>
            {{#each tacticalOptions}}
            <div><input id='tactical-{{this.id}}' type='checkbox' name='tactical' value='{{this.id}}'></input></div>
            <div><label for='tactical-{{this.id}}'>{{this.label}}</label></div>
            <div class='pdflink'>{{this.ref}}</div>
            {{/each}}
          </div>

          <h4>Other Situations</h4>
          <div class='gurps-3col gurps-checkbox-col'>
            {{#each otherSituations}}
            <div><input id='specials-{{this.id}}' type='checkbox' name='specials' value='{{this.id}}'></input>
            </div>
            <div><label for='specials-{{this.id}}'>{{this.label}}</label></div>
            <div class='pdflink'>{{this.ref}}</div>
            {{/each}}
          </div>
          <div class='shaded'>
            <div class='gurps-3col gurps-checkbox-col'>
              <div><input disabled id='vulnerable' type='checkbox' name='vulnerable' value='vulnerable'></input></div>
              <div><label for='vulnerable'>Vulnerability:</label></div>
              <div class='pdflink'>B161</div>
            </div>
            <div class='grid grid-3col continuation'>
              <label><input disabled type='radio' name='vulnerability' value='vulnerability-2'>&nbsp;×2</label>
              <label><input disabled type='radio' name='vulnerability' value='vulnerability-3'>&nbsp;×3</label>
              <label><input disabled type='radio' name='vulnerability' value='vulnerability-4'>&nbsp;×4</label>
            </div>
          </div>
          <div class='gurps-3col gurps-checkbox-col'>
            <div><input disabled id='hardened' type='checkbox' name='hardened' value='hardened'></input></div>
            <div><label for='hardened'>Hardened DR Level:</label></div>
            <div class='pdflink'>B47</div>
          </div>
          <div class='grid grid-5col continuation'>
            <label><input disabled type='radio' name='hardened' value='hardened-1'>&nbsp;1</label>
            <label><input disabled type='radio' name='hardened' value='hardened-2'>&nbsp;2</label>
            <label><input disabled type='radio' name='hardened' value='hardened-3'>&nbsp;3</label>
            <label><input disabled type='radio' name='hardened' value='hardened-4'>&nbsp;4</label>
            <label><input disabled type='radio' name='hardened' value='hardened-5'>&nbsp;5</label>
          </div>
          <hr />
          <div id='specials-insert-point' class='gurps-3col' />
        </div>
      </div>
    </div>

    <div>
      <div class='gurps-group'>
        <h4>Results</h4>
        <div class='grid grid-3col'>
          <div class='gurps-3col results-table'>
            <div>BASIC&nbsp;DAMAGE</div>
            <div><span name='result-basic'>{{basicDamage}}</span></div>
            <div><span name='result-apply-to'>{{applyTo}}</span></div>

            <div name='result-half'>&frac12; DAMAGE</div>
            <div name='result-half'>$this.halfDamage</div>
            <div name='result-half'>($this._basicDamage &divide; 2)</div>

            <div id='result-dr'>DR</div>
            <div><span name='result-dr'>{{dr}}</span></div>
            <div><span name='result-hitlocation'>{{hitlocation}}</span></div>

            <div id='result-penetrating'>PENETRATING</div>
            <div><span name='result-penetrating'>{{penetrating}}</span></div>
            <div><span>(<span name='result-halfdamage'>{{basicDamage}}</span> &minus; <span
                  name='result-effective-dr'>{{dr}}</span>)</span></div>

            <div>MODIFIER</div>
            <div><span>×<span name='result-totalmod'>{{totalMods}}</span></span></div>
            <div><span>(×<span name='result-modifier'>{{selectedMod}}</span> <span
                  name='result-type'>{{damageType}}</span><span name='result-type-add'> + <span
                    name='result-addmods'>{{additionalMods}}</span>
                </span>)<span id='modifier-footnote-wrapper'>* <span id="modifier-footnote"
                    class="pdflink">B398</span></span>
              </span>
            </div>

            <div>INJURY</div>
            <div><span name='result-injury'>{{injury}}</span></div>
            <div><span>(<span name='result-penetrating'>{{penetrating}}</span> × <span
                  name='result-totalmod'>{{totalMods}}</span>)</span></div>
          </div>

          <div id="result-extrastuff">
            <ul id='result-effects'>
            </ul>
          </div>

          <div class='apply-results'>
            <input style='font-size: larger; font-weight: bolder; border: 1px black solid;' disabled type='number'
              id='result-apply-injury' name='damage' value='{{injury}}'>
            <button id='apply-injury-publicly'>Apply Injury</button>
            <button id='apply-injury-secretly'>Apply Injury (Quietly)</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>