<div id="prerequisites">
	<div class="header">{{localize "gurps.prereq.header"}}</div>
	<div class="content">
		{{>item/sections/prereq system.prereqs path="system.prereqs" config=config indent=0 attributes=attributes}}
	</div>
</div>
