<div id="prerequisites" class="table">
	<div class="header">{{localize "gurps.prereq.header"}}</div>
	<div class="content">
		{{>item/sections/prereq system.prereqs path="array.system.prereqs" config=config indent=0 attributes=attributes}}
	</div>
</div>
