#encumbrance-lifting {
	grid-area: encumbrance-lifting;
	display: grid;
	grid-template:
		"encumbrance"
		"lifting";
	grid-template-rows: min-content min-content;
	gap: var(--section-gap);

	#encumbrance {
		grid-area: encumbrance;
		display: grid;
		grid-template:
			"title title title title title title"
			"header1 header1 header1 header2 header3 header4"
			"encumbrance-marker level-number level max-load move dodge";
		grid-template-columns: min-content min-content 1fr min-content min-content min-content;
		grid-template-rows: 0fr 0fr;
		align-content: baseline;
		white-space: nowrap;
		font: var(--font-page-primary-fields);
		background-color: rgba(var(--color-content), 1);
		// color: rgba(var(--color-on-editable), 0.6);
		color: rgb(var(--color-on-content));
		text-align: right;
		.encumbrance-marker {
			color: rgb(var(--color-on-content));
			&.manual {
				cursor: pointer;
			}
		}
		.level {
			&:not(.header) {
				color: rgba(var(--color-on-content), 1);
			}
			font: var(--font-page-primary-labels);
			text-align: left;
		}
		.header {
			grid-area: auto;
			text-align: center;
		}
		.title {
			grid-area: title;
			display: flex;
			justify-content: space-evenly;
		}
		.level.header {
			grid-column: 1 / span 3;
		}
		.level,
		.max-load,
		.move {
			border-right: 1px solid rgb(var(--color-interior-divider));
		}
		> :not(.header) {
			padding: var(--padding-standard);
		}

		.encumbrance-marker:nth-child(12n),
		.level-number:nth-child(12n + 1),
		.level:nth-child(12n + 2),
		.max-load:nth-child(12n + 3),
		.move:nth-child(12n + 4) {
			&:not(.header):not(.active) {
				background-color: rgb(var(--color-banding));
			}
		}
		.dodge:nth-child(12n + 5) {
			&:not(.header) {
				background-color: rgb(var(--color-banding));
				&.rollable:not(.noroll) {
					background: var(--background-roll-banding);
					color: rgb(var(--color-on-button-roll));
				}
				&.noroll {
					background-color: rgb(var(--color-marker));
					color: rgb(var(--color-on-marker));
				}
			}
		}
		.dodge.rollable:not(.noroll) {
			background: var(--background-roll);
			color: rgb(var(--color-on-button-roll));
		}
		.active {
			background-color: rgb(var(--color-marker));
			color: rgb(var(--color-on-marker));
		}
		.overencumbered {
			background-color: rgb(var(--color-overloaded));
			color: rgb(var(--color-on-overloaded));
		}
	}

	#lifting-macros {
		grid-area: lifting;
		display: grid;
		grid-template:
			"header"
			"content";

		nav.header {
			display: flex;
			margin-top: 5px;
			padding: 1px 0;
			a {
				display: flex;
				justify-content: space-evenly;
				flex-grow: 1;
				// background-color: rgb(var(--color-control));
				// color: rgb(var(--color-on-control));
				padding: 0 4px;
				border: 1px solid rgb(var(--color-control-edge));
				&:hover {
					text-shadow: none;
				}
				&.active {
					background-color: rgb(var(--color-focused-tab));
					color: rgb(var(--color-on-focused-tab));
				}
			}
		}

		.tabs-content {
			grid-area: content;
		}

		.tab {
			min-height: 112px;
			display: none;
		}

		.tab.active {
			display: grid;
		}

		.tab.lifting {
			grid-template-columns: auto auto;
			grid-template-rows: 0fr;
			.lift {
				font: var(--font-page-primary-fields);
				color: rgba(var(--color-on-editable), 0.6);
				text-align: right;
			}
			.label {
				font: var(--font-page-primary-labels);
				color: rgba(var(--color-on-content), 1);
			}

			.lift:nth-child(4n + 1),
			.label:nth-child(4n + 2) {
				background-color: rgb(var(--color-banding));
			}
		}
	}
}
