#identity {
	// Display
	grid-area: identity;
	display: grid;
	grid-template:
		"header"
		"block";
	grid-template-rows: 0fr 1fr;
	border: var(--standard-border);
	.label {
		text-align: right;
	}
}
