#sheet {
	@import "personal", "stats", "embeds";

	div {
		background-color: rgba(var(--color-content), 1);
	}
	> div {
		background-color: rgb(var(--color-page));
	}
	.dropdown {
		background-color: transparent;
		font-size: var(--font-size-10);
		margin-top: 3px;
	}

	background-color: rgb(var(--color-page));
	// padding: var(--padding-header);

	// Sheet Layout
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	gap: var(--section-gap);

	// General Styles
	.header {
		grid-area: header;
		background-color: rgba(var(--color-header), 1);
		color: rgba(var(--color-on-header), 1);
		justify-content: center;
		text-align: center;
		padding-bottom: 2px;
		font: var(--font-page-primary-labels);
		height: min-content;
	}

	.fieldblock {
		display: grid;
		grid-template-columns: 0fr 1fr;
		align-items: end;
		text-align: left;
		white-space: nowrap;
		align-self: stretch;
		background-color: rgba(var(--color-content), 1);
		color: rgba(var(--color-on-content), 1);
	}

	.fieldblock3 {
		display: grid;
		grid-template-columns: 0fr 0fr 1fr;
		white-space: nowrap;
		background-color: rgba(var(--color-content), 1);
		color: rgba(var(--color-on-content), 1);
		> * {
			padding: var(--padding-standard);
		}
	}

	.fieldblock6,
	.fieldblock7 {
		display: grid;
		white-space: nowrap;
		background-color: rgba(var(--color-content), 1);
		color: rgba(var(--color-on-content), 1);
		> * {
			padding: var(--padding-standard);
		}
	}

	.fieldblock6 {
		grid-template-columns: repeat(6, auto);
	}

	.fieldblock7 {
		grid-template-columns: repeat(7, auto);
	}

	.label {
		font: var(--font-page-primary-labels);
		padding: var(--padding-standard);
	}

	.field {
		font: var(--font-page-primary-fields);
	}

	.rollable:not([data-type="modifier"]):not(.noroll) {
		background: var(--background-roll);
		color: rgb(var(--color-on-button-roll)) !important;
		&.hover {
			background: rgb(var(--color-button-roll-rollover)) !important;
			color: rgb(var(--color-on-button-roll-rollover)) !important;
		}
		input {
			color: inherit;
		}
	}

	.rollable[data-type="modifier"]:not(.noroll) {
		background: var(--background-mod);
		color: rgb(var(--color-on-button-mod)) !important;
		&.hover {
			background: rgb(var(--color-button-mod-rollover)) !important;
			color: rgb(var(--color-on-button-mod-rollover)) !important;
		}
		input {
			color: inherit;
		}
	}

	.rollable.hover {
		cursor: pointer;
	}

	input {
		padding: 0;
		border: none;
		border-bottom: 1px solid rgba(var(--color-control-edge), 1);
		border-radius: 0;
		color: rgba(var(--color-on-editable), 1);
		background: rgba(var(--color-editable), 1);
		height: 100%;
		min-width: 20px;
		width: calc(100% - 2px);
		&:focus {
			box-shadow: none;
			border-bottom-color: rgba(var(--color-accent), 1);
		}
		&:disabled {
			border-bottom-color: transparent;
			background-color: transparent;
			// color: rgba(var(--color-on-editable), 0.6);
		}
	}

	select {
		appearance: none;
		// align-self: center;
		font: var(--font-field);
		// background-color: rgb(var(--color-control));
		background-color: rgb(var(--color-editable));
		color: rgb(var(--color-on-editable));
		// color: rgb(var(--color-on-control));
		border: none;
		border-bottom: 1px solid rgb(var(--color-control-edge));
		border-radius: 0;
		padding: 0;
		height: 17px;
		// border: 1px solid rgb(var(--color-control-edge));
		// padding: 1px 3px;
		// border-radius: 3px;
		// height: 24px;
		width: max-content;
		align-items: self-end;
		option {
			font: var(--font-system);
			background-color: rgb(var(--color-control));
			color: rgb(var(--color-on-control));
			border: 1px solid rgb(var(--color-control-edge));
		}
		&:focus {
			box-shadow: none;
			// border-width: 2px;
			// padding: 0px 2px;
		}
	}

	#personal,
	#stats,
	#embeds {
		> div:not(#attributes),
		#attributes > div {
			border: var(--standard-border);
		}
	}
	#footer {
		font: var(--font-page-secondary-footer);
		background-color: rgb(var(--color-page));
		color: rgba(var(--color-on-page), 1);
		text-align: left;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		div {
			background-color: inherit;
		}
		.centre {
			font: var(--font-page-primary-footer);
			text-align: center;
		}
		.right {
			text-align: right;
			a {
				color: inherit;
				text-decoration: inherit;
				&:hover {
					text-shadow: none;
				}
			}
		}
	}
}

.deprecation {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	background-color: rgb(var(--color-warning));
	color: rgb(var(--color-on-warning));
	font-weight: bold;
	a {
		align-self: center;
		&:hover {
			text-shadow: none;
		}
	}
}
