#personal {
	grid-area: personal;
	display: grid;
	grid-template:
		"portrait identity miscellaneous points"
		"portrait description description points";
	grid-template-rows: 0fr;
	grid-template-columns: max-content auto;
	gap: var(--section-gap);

	@import "portrait", "identity", "miscellaneous", "description", "points";
}
