#points {
	// Display
	grid-area: points;
	display: grid;
	grid-template:
		"header"
		"block";
	grid-template-rows: 0fr 1fr;
	border: var(--standard-border);
	.header {
		display: flex;
		justify-content: space-evenly;
		a {
			color: rgb(var(--color-icon-button));
			&:hover {
				color: rgb(var(--color-icon-button-rollover));
				text-shadow: none;
			}
			&:active {
				color: rgb(var(--color-icon-button-rollover));
				text-shadow: none;
			}
		}
	}
	.field {
		text-align: right;
		padding: var(--padding-standard);
		input {
			min-width: 2em;
		}
	}
	.label.overspent {
		background-color: rgb(var(--color-error));
		color: rgb(var(--color-on-error));
	}
	.fieldblock {
		.field:nth-child(4n-1),
		.label:nth-child(4n) {
			background-color: rgba(var(--color-banding), 1);
			&.label {
				color: rgba(var(--color-on-banding), 1);
			}
		}
	}
}
