#stats {
	grid-area: stats;
	display: grid;
	grid-template: "attributes hit-locations encumbrance-lifting";
	gap: var(--section-gap);

	@import "attributes", "body_type", "encumbrance_lifting";
}
