<form class='{{cssClass}}' autocomplete='off'>
  <div id='current-actor'><span>{{currentActor}}</span></div>
  <div id='modifierbucket' class='app'>
    <div id='globalmodifier' class='{{#if stack.plus}}plus{{/if}} {{#if stack.minus}}minus{{/if}}' draggable="true">
      {{stack.displaySum}}
    </div>
    <div id='trash'><a class='button icon'><i class='fas fa-trash'></i></a></div>
  </div>
</form>