<form id='select-bucket-journals' autocomplete="off" class='gurps-app'>
  <h3>{{i18n 'GURPS.selectJournalsTitle' 'Select Modifier Bucket Journals'}}</h3>
  <aside>Only 'standard' (HTML) journals are valid to view in the Modifier Bucket. E.g., PDFs cannot be displayed.
  </aside>
  <div class='section'>
    <div id='entry-list' class='gurps-3col gurps-checkbox-col overflowy'>
      <header>Show?</header>
      <header>Name</header>
      <header>ID</header>
      {{#each allJournals}}
      <div><input type="checkbox" id='{{id}}' {{checked (includes ../journals id)}}></div>
      <div><label for='{{id}}'>{{#if folder}}{{folder}}/{{/if}}{{name}}</label></div>
      <div>{{id}}</div>
      {{/each}}
    </div>
  </div>
  <div class='section'>
    <button id='update'><i class="fas fa-save"></i>{{localize "GURPS.update"}}</button>
  </div>
</form>