<form id='select-bucket-journals' autocomplete="off" class='gurps-app'>
  <div class='section'>
    <h3>{{i18n 'GURPS.selectJournalsTitle' 'Select Modifier Bucket Journals'}}</h3>
    <aside>Only 'standard' (HTML) journals are valid to view in the Modifier Bucket. E.g., PDFs cannot be displayed.
    </aside>
  </div>
  <div id='entry-list' class='gurps-3col gurps-checkbox-col overflowy'>
    <header></header>
    <header>Name</header>
    <header>ID</header>
    {{#each allJournals}}
    <div><input type="checkbox" id='{{id}}' {{checked (includes ../journals id)}}></div>
    <div><label for='{{id}}'>{{#if folder}}{{folder}}/{{/if}}{{name}}</label></div>
    <div>{{id}}</div>
    {{/each}}
  </div>
  <div
    style='width: -webkit-fill-available; padding-top: 0.5rem; margin: 0 -8px; padding-left: 8px; padding-right: 8px;'>
    <button id='update'><i class="fas fa-save"></i>{{localize "GURPS.update"}}</button>
  </div>
</form>