<div id='qnotes'>
  {{#if system.additionalresources.qnotes}}{{{gurpslink system.additionalresources.qnotes}}}{{else}}
    <span style='color:lightgrey'>double click to edit Quick Note</span>{{/if}}
</div>