<div data-modifier="{{this.modifier}}" data-comment="{{this.situation}}" data-type="modifier" class="modifier rollable">
	{{signed this.modifier}}</div>
<div class="condition">{{this.situation}}</div>