<div class="header">{{localize "gurps.character.resource_trackers.title"}}</div>
<div class="fieldblock6">
	{{#each document.trackers}}
	<div class="points">[{{this.points}}]</div>
	{{>sections/input-text after=(localize "gurps.character.pool_of") field="field" name=(concat
	"system.additionalresources.tracker." @key ".value")
	data=this.value type="Number"}}
	{{>sections/input-text after=this.name field="field" data=this.max type="Number" class="disabled"}}
	<div class="label tooltip">
		[{{localize (resourceCondition this)}}]
	</div>
	{{/each}}
</div>
