<header class='ms-header'>
  {{> "actor.modern.partials.ms-portrait"}}

  <div class='ms-identity'>
    {{> "actor.modern.partials.ms-identity"}}
    {{> "actor.modern.partials.ms-attributes"}}
    {{> "actor.modern.partials.ms-resources"}}
  </div>

  {{> "actor.modern.partials.ms-secondary-stats"}}
</header>
