<section class='tab {{tab.cssClass}}' data-tab='equipment' data-group='primary'>

{{> "actor.modern.partials.equipment-table" itemSections.equipmentCarried }}

{{> "actor.modern.partials.equipment-table" itemSections.equipmentOther }}

</section>
