<section class='tab {{tab.cssClass}}' data-tab='combat' data-group='primary'>
{{!-- Full-width attacks --}}
<div class='ms-attacks-section'>
{{> "actor.modern.partials.attack-table" itemSections.attacksMelee isMelee=true }}

{{> "actor.modern.partials.attack-table" itemSections.attacksRanged }}
</div>

{{!-- Side-by-side: Hit Locations + Encumbrance (50%/50%) --}}
<div class='ms-combat-bottom'>
  <div class='ms-combat-bottom-left'>
    {{> "actor.modern.partials.hitlocations-table"}}
  </div>
  <div class='ms-combat-bottom-right'>
    {{> "actor.modern.partials.encumbrance-table"}}
  </div>
</div>
      </section>
