<section class='tab {{tab.cssClass}}' data-tab='character' data-group='primary'>
{{!-- Quick Notes --}}
<div class='ms-quicknotes'>
  <div class='ms-quicknotes-content'>
    {{#if system.additionalresources.qnotes}}
      {{{gurpslink system.additionalresources.qnotes}}}
    {{else}}
      <span class='ms-quicknotes-placeholder'>Double click to edit Quick Note</span>
    {{/if}}
  </div>
  <i data-action='editQuickNotes'  class='fas fa-pen-to-square ms-quicknotes-edit'></i>
</div>

{{> "actor.modern.partials.modifiers-table"}}

{{> "actor.modern.partials.item-table" itemSections.skills }}

{{> "actor.modern.partials.item-table" itemSections.traits }}

{{> "actor.modern.partials.item-table" itemSections.spells }}

</section>
