<section class='element attributes'>
  <header>{{localize 'GURPS.attributesSecondary'}}</header>
	<ul>
	{{#each attributesSecondary}}
		{{> 'gurps.actor.parts.attribute-entry'}}
	{{/each}}
	</ul>
</section>
