<section class='element qnotes'>
  {{#if system.additionalresources.qnotes}}
    {{gurpslink system.additionalresources.qnotes}}
  {{else}}
    <span>Double click to edit Quick Note</span>
  {{/if}}
</section>
