#sheet {
	#personal #portrait {
		grid-auto-flow: row;
		grid-template:
			"header"
			"portrait"
			"share";
		grid-template-rows: 0fr auto 0fr;
		.sharebutton {
			grid-area: share;
		}
	}

	.gga-item {
		font-size: 10px;
		color: rgb(var(--color-on-editable));
	}
}
