<div id="skills" class="item-list">
	<div class="header desc">{{ localize "gurps.character.skills.desc" }}</div>
	{{#each skills }}
	<div class="usage desc item" data-item-id="{{this.key}}" data-type="Item">
		<div class="name">
			{{this.data.name}}
		</div>
		{{>actor/character/sections/item-notes}}
	</div>
	{{/each }}
</div>
