<div id="spells" class="item-list">
	<div class="header desc">{{ localize "gurps.character.spells.desc" }}</div>
	{{#each spells }}
	<div class="usage desc item" data-item-id="{{this.key}}" data-type="Item">
		<div class="name">
			{{this.data.name}}
		</div>
		{{>actor/character/sections/item-notes}}
	</div>
	{{/each}}
</div>
