<div id="traits" class="item-list">
	<div class="header desc">{{ localize "gurps.character.traits.desc" }}</div>
	<div class="header points">{{ localize "gurps.character.traits.points" }}</div>
	<div class="header reference"><i class="gcs-bookmark"></i></div>
	{{#each traits }}
		{{>actor/character/sections/trait }}
	{{/each }}
</div>
