.gga .gga-settings {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 1rem;

  .settings-list {
    .form-group {
      padding: 0.5rem;
    }

    .form-fields {
      flex: 1;

      & > * {
        flex: 0 1 auto;
        width: fit-content;
      }
    }

    label {
      flex: 1;
      line-height: normal;

      &::before,
      &::after {
        content: none;
      }

      * {
        font-weight: normal;
        max-width: max-content;
      }
    }

    p.hint {
      padding: 0 1rem;
    }
  }
}

// Darken every other field in light mode
.theme-light .gga-settings .settings-list > div:nth-child(odd) {
  background-color: rgb(0, 0, 0, 5%);
}

// Lighten every other field in dark mode
.theme-dark .gga-settings .settings-list > div:nth-child(odd) {
  background-color: rgb(255, 255, 255, 5%);
}
