.gurps-sheet-colors header {
  display: inline-block !important;
  vertical-align: top;
  width: 100px;
}

.gurps-sheet-colors .override-color {
  text-align: center;
  display: inline-block !important;
  vertical-align: top;
  width: 75px;
}

.gurps-sheet-colors .the-colors {
  display: inline-block !important;
  vertical-align: top;
  width: 428px;
  padding-left: 50px;
}

.gurps-sheet-colors .pick-colors {
  display: inline-block !important;
  vertical-align: top;
}

.gurps-sheet-colors .area-colors {
  display: inline-block !important;
  vertical-align: top;
  padding-top: 6px;
  padding-left: 50px;
}
