:root {
	--section-gap: 1px;
	--header-font-size: 80%;
	--padding-standard: 0px 4px;
	--padding-header: 1px 8px;
	--standard-border: 1px solid rgba(var(--color-header), 1);

	/* this changes the global fonts to Roboto */
	--font-primary: "Roboto Flex", sans-serif;
	--font-monospace: "Roboto Mono", monospace;

	--font-system: 500 var(--font-size-14) "Roboto Flex", sans-serif;
	--font-system-emphasized: 700 var(--font-size-14) "Roboto Flex", sans-serif;
	--font-system-small: 500 var(--font-size-12) "Roboto Flex", sans-serif;
	--font-system-small-emphasized: 700 var(--font-size-12) "Roboto Flex", sans-serif;
	--font-label: 400 var(--font-size-14) "Roboto Flex", sans-serif;
	--font-field: 400 var(--font-size-14) "Roboto Flex", sans-serif;
	--font-secondary-fields: 400 var(--font-size-12) "Roboto Flex", sans-serif;
	--font-keyboard: 500 var(--font-size-14) "Roboto Flex", sans-serif;
	--font-page-primary-fields: 500 var(--font-size-14) "Roboto Flex", sans-serif;
	--font-page-secondary-fields: 400 var(--font-size-12) "Roboto Flex", sans-serif;
	--font-page-primary-labels: 400 var(--font-size-14) "Roboto Flex", sans-serif;
	--font-page-secondary-lables: 400 var(--font-size-12) "Roboto Flex", sans-serif;
	--font-page-primary-footer: 500 var(--font-size-12) "Roboto Flex", sans-serif;
	--font-page-secondary-footer: 400 var(--font-size-11) "Roboto Flex", sans-serif;

	--font-size-10: 0.625rem;

	--color-background: 238, 238, 238;
	--color-on-background: 0, 0, 0;
	--color-content: 255, 255, 255;
	--color-on-content: 0, 0, 0;
	--color-banding: 235, 235, 220;
	--color-on-banding: 0, 0, 0;
	--color-header: 43, 43, 43;
	--color-on-header: 255, 255, 255;
	--color-focused-tab: 224, 212, 175;
	--color-on-focused-tab: 0, 0, 0;
	--color-current-tab: 211, 207, 197;
	--color-on-current-tab: 0, 0, 0;
	--color-editable: 255, 255, 255;
	--color-on-editable: 0, 0, 160;
	--color-selection: 0, 96, 160;
	--color-on-selection: 255, 255, 255;
	--color-inactive-selection: 0, 64, 128;
	--color-on-inactive-selection: 228, 228, 228;
	--color-scroll: 192, 192, 192, 0.5;
	--color-scroll-rollover: 192, 192, 192;
	--color-scroll-edge: 128, 128, 128;
	--color-accent: 0, 102, 102;
	--color-control: 248, 248, 255;
	--color-on-control: 0, 0, 0;
	--color-pressed-control: 0, 96, 160;
	--color-on-pressed-control: 255, 255, 255;
	--color-control-edge: 96, 96, 96;
	--color-divider: 192, 192, 192;
	--color-icon-button: 96, 96, 96;
	--color-icon-button-rollover: 0, 0, 0;
	--color-pressed-icon-button: 0, 96, 160;
	--color-drop-area: 204, 0, 51;
	--color-tooltip: 252, 252, 196;
	--color-on-tooltip: 0, 0, 0;
	--color-search-list: 224, 255, 255;
	--color-on-search-list: 0, 0, 0;
	--color-marker: 252, 242, 196;
	--color-on-marker: 0, 0, 0;
	--color-error: 192, 64, 64;
	--color-on-error: 255, 255, 255;
	--color-warning: 224, 128, 0;
	--color-on-warning: 255, 255, 255;
	--color-overloaded: 192, 64, 64;
	--color-on-overloaded: 255, 255, 255;
	--color-page: 255, 255, 255;
	--color-on-page: 0, 0, 0;
	--color-page-void: 128, 128, 128;
	--color-hint: 128, 128, 128;
	--color-link: 0, 255, 127;
	--color-on-link: 0, 0, 0;
	--color-pdf-link-highlight: 0, 255, 127;
	--color-pdf-marker-highlight: 255, 255, 0;

	--color-critical-success: 0, 160, 16;
	--color-critical-failure: 160, 16, 0;
	--color-success: 16, 160, 32;
	--color-failure: 160, 32, 16;

	--color-skill: 16, 48, 96;

	--color-magnet: 240, 120, 120;
	--color-magnet-rollover: 240, 60, 60;
	--color-magnet-secondary: 220, 220, 220;
	--color-magnet-secondary-rollover: 220, 220, 220;

	@media (prefers-color-scheme: dark) {
		--color-background: 50, 50, 50;
		--color-on-background: 221, 221, 221;
		--color-content: 32, 32, 32;
		--color-on-content: 221, 221, 221;
		--color-banding: 42, 42, 42;
		--color-on-banding: 221, 221, 221;
		--color-header: 64, 64, 64;
		--color-on-header: 192, 192, 192;
		--color-focused-tab: 68, 102, 0;
		--color-on-focused-tab: 221, 221, 221;
		--color-current-tab: 41, 61, 0;
		--color-on-current-tab: 221, 221, 221;
		--color-editable: 24, 24, 24;
		--color-on-editable: 100, 153, 153;
		--color-selection: 0, 96, 160;
		--color-on-selection: 255, 255, 255;
		--color-inactive-selection: 0, 64, 128;
		--color-on-inactive-selection: 228, 228, 228;
		--color-inactive-selection: 0, 64, 128;
		--color-on-inactive-selection: 228, 228, 228;
		--color-scroll: 128, 128, 128, 0.5;
		--color-scroll-rollover: 128, 128, 128;
		--color-scroll-edge: 160, 160, 160;
		--color-accent: 100, 153, 153;
		--color-control: 64, 64, 64;
		--color-on-control: 221, 221, 221;
		--color-pressed-control: 0, 96, 160;
		--color-on-pressed-control: 255, 255, 255;
		--color-control-edge: 96, 96, 96;
		--color-divider: 102, 102, 102;
		--color-icon-button: 128, 128, 128;
		--color-icon-button-rollover: 192, 192, 192;
		--color-pressed-icon-button: 0, 96, 160;
		--color-drop-area: 255, 0, 0;
		--color-tooltip: 252, 252, 196;
		--color-on-tooltip: 0, 0, 0;
		--color-search-list: 0, 43, 43;
		--color-on-search-list: 204, 204, 204;
		--color-marker: 0, 51, 0;
		--color-on-marker: 221, 221, 221;
		--color-error: 115, 37, 37;
		--color-on-error: 221, 221, 221;
		--color-warning: 192, 96, 0;
		--color-on-warning: 221, 221, 221;
		--color-overloaded: 115, 37, 37;
		--color-on-overloaded: 221, 221, 221;
		--color-page: 16, 16, 16;
		--color-on-page: 160, 160, 160;
		--color-page-void: 0, 0, 0;
		--color-hint: 64, 64, 64;
		--color-link: 0, 255, 127;
		--color-on-link: 0, 0, 0;
		--color-pdf-link-highlight: 0, 255, 127;
		--color-pdf-marker-highlight: 255, 255, 0;
	}
}
