:root {
	--section-gap: 1px;
	--header-font-size: 80%;
	--padding-standard: 0px 4px;
	--padding-header: 1px 8px;
	--standard-border: 1px solid rgba(var(--color-header), 1);

	--z-index-mod: 100;

	/* this changes the global fonts to Roboto */
	--font-primary: "Roboto Flex", sans-serif;
	--font-markdown: "Roboto", sans-serif;
	--font-monospace: "Roboto Mono", monospace;

	--font-system: 500 var(--font-size-14) var(--font-primary), sans-serif;
	--font-system-emphasized: 700 var(--font-size-14) var(--font-primary), sans-serif;
	--font-system-small: 500 var(--font-size-12) var(--font-primary), sans-serif;
	--font-system-small-emphasized: 700 var(--font-size-12) var(--font-primary), sans-serif;
	--font-label: 200 var(--font-size-14) var(--font-primary), sans-serif;
	--font-field: 400 var(--font-size-14) var(--font-primary), sans-serif;
	--font-secondary-fields: 400 var(--font-size-12) var(--font-primary), sans-serif;
	--font-keyboard: 500 var(--font-size-14) var(--font-primary), sans-serif;
	--font-page-primary-fields: 500 var(--font-size-14) var(--font-primary), sans-serif;
	--font-page-secondary-fields: 400 var(--font-size-12) var(--font-primary), sans-serif;
	--font-page-primary-labels: 200 var(--font-size-14) var(--font-primary), sans-serif;
	--font-page-secondary-labels: 200 var(--font-size-12) var(--font-primary), sans-serif;
	--font-page-primary-footer: 500 var(--font-size-12) var(--font-primary), sans-serif;
	--font-page-secondary-footer: 400 var(--font-size-11) var(--font-primary), sans-serif;

	--font-size-10: 0.625rem;

	// Colors
	--color-background: 238, 238, 238;
	--color-on-background: 0, 0, 0;

	--color-content: 255, 255, 255;
	--color-on-content: 0, 0, 0;

	--color-banding: 235, 235, 220;
	--color-on-banding: 0, 0, 0;

	--color-header: 43, 43, 43;
	--color-on-header: 255, 255, 255;

	--color-focused-tab: 224, 212, 175;
	--color-on-focused-tab: 0, 0, 0;

	--color-current-tab: 211, 207, 197;
	--color-on-current-tab: 0, 0, 0;

	--color-editable: 255, 255, 255;
	--color-on-editable: 0, 0, 160;

	--color-selection: 0, 96, 160;
	--color-on-selection: 255, 255, 255;

	--color-inactive-selection: 0, 64, 128;
	--color-on-inactive-selection: 228, 228, 228;

	--color-indirect-selection: 230, 247, 255;
	--color-on-indirect-selection: 0, 0, 0;

	--color-scroll: 192, 192, 192, 0.5;
	--color-scroll-rollover: 192, 192, 192;

	--color-scroll-edge: 128, 128, 128;
	--color-control-edge: 96, 96, 96;

	--color-control: 248, 248, 255;
	--color-on-control: 0, 0, 0;

	--color-pressed-control: 0, 96, 160;
	--color-on-pressed-control: 255, 255, 255;

	--color-divider: 192, 192, 192;
	--color-interior-divider: 216, 216, 216;

	--color-icon-button: 96, 96, 96;
	--color-icon-button-rollover: 0, 0, 0;

	--color-pressed-icon-button: 0, 96, 160;
	--color-hint: 128, 128, 128;

	--color-tooltip: 252, 252, 196;
	--color-on-tooltip: 0, 0, 0;

	--color-search-list: 224, 255, 255;
	--color-on-search-list: 0, 0, 0;

	--color-marker: 252, 242, 196;
	--color-on-marker: 0, 0, 0;

	--color-error: 192, 64, 64;
	--color-on-error: 255, 255, 255;

	--color-warning: 224, 128, 0;
	--color-on-warning: 255, 255, 255;

	--color-overloaded: 192, 64, 64;
	--color-on-overloaded: 255, 255, 255;

	--color-page: 255, 255, 255;
	--color-on-page: 0, 0, 0;

	--color-page-standout: 221, 221, 221;
	--color-on-page-standout: 0, 0, 0;

	--color-page-void: 128, 128, 128;
	--color-drop-area: 204, 0, 51;

	--color-link: 115, 153, 37;
	--color-link-pressed: 0, 128, 255;
	--color-link-rollover: 0, 192, 0;

	--color-pdf-link-highlight: 0, 255, 127;
	--color-pdf-marker-highlight: 255, 255, 0;

	--color-accent: 0, 102, 102;

	--color-critical-success: 0, 160, 16;
	--color-critical-failure: 160, 16, 0;
	--color-success: 16, 160, 32;
	--color-failure: 160, 32, 16;

	--color-skill: 16, 48, 96;

	--color-magnet: 240, 120, 120;
	--color-magnet-rollover: 240, 120, 120;
	--color-magnet-secondary: 220, 220, 220;
	--color-magnet-secondary-rollover: 220, 220, 220;

	--color-button-roll: 255, 249, 115;
	--color-on-button-roll: 0, 0, 0;
	--color-button-roll-rollover: 255, 244, 38;
	--color-on-button-roll-rollover: 0, 0, 0;

	--color-button-mod: 247, 149, 74;
	--color-on-button-mod: 0, 0, 0;
	--color-button-mod-rollover: 245, 108, 0;
	--color-on-button-mod-rollover: 0, 0, 0;

	--background-roll: linear-gradient(rgba(var(--color-button-roll), 0.3), rgba(var(--color-button-roll), 0.3)),
		linear-gradient(rgb(var(--color-content)), rgb(var(--color-content)));
	--background-roll-banding: linear-gradient(rgba(var(--color-button-roll), 0.3), rgba(var(--color-button-roll), 0.3)),
		linear-gradient(rgb(var(--color-banding)), rgb(var(--color-banding)));

	--background-mod: linear-gradient(rgba(var(--color-button-mod), 0.3), rgba(var(--color-button-mod), 0.3)),
		linear-gradient(rgb(var(--color-content)), rgb(var(--color-content)));
	--background-mod-banding: linear-gradient(rgba(var(--color-button-mod), 0.3), rgba(var(--color-button-mod), 0.3)),
		linear-gradient(rgb(var(--color-banding)), rgb(var(--color-banding)));

	@media (prefers-color-scheme: dark) {
		--color-background: 48, 48, 48;
		--color-on-background: 221, 221, 221;

		--color-content: 32, 32, 32;
		--color-on-content: 221, 221, 221;

		--color-banding: 42, 42, 42;
		--color-on-banding: 221, 221, 221;

		--color-header: 64, 64, 64;
		--color-on-header: 192, 192, 192;

		--color-focused-tab: 68, 102, 0;
		--color-on-focused-tab: 221, 221, 221;

		--color-current-tab: 41, 61, 0;
		--color-on-current-tab: 221, 221, 221;

		--color-editable: 32, 32, 32;
		--color-on-editable: 100, 153, 153;

		--color-selection: 0, 96, 160;
		--color-on-selection: 255, 255, 255;

		--color-inactive-selection: 0, 64, 128;
		--color-on-inactive-selection: 228, 228, 228;

		--color-indirect-selection: 0, 43, 64;
		--color-on-indirect-selection: 228, 228, 228;

		--color-scroll: 128, 128, 128, 0.5;
		--color-scroll-rollover: 128, 128, 128;

		--color-scroll-edge: 160, 160, 160;
		--color-control-edge: 96, 96, 96;

		--color-control: 64, 64, 64;
		--color-on-control: 221, 221, 221;

		--color-pressed-control: 0, 96, 160;
		--color-on-pressed-control: 255, 255, 255;

		--color-divider: 102, 102, 102;
		--color-interior-divider: 53, 53, 53;

		--color-icon-button: 128, 128, 128;
		--color-icon-button-rollover: 192, 192, 192;

		--color-pressed-icon-button: 0, 96, 160;
		--color-hint: 64, 64, 64;

		--color-tooltip: 252, 252, 196;
		--color-on-tooltip: 0, 0, 0;

		--color-search-list: 0, 43, 43;
		--color-on-search-list: 204, 204, 204;

		--color-marker: 0, 51, 0;
		--color-on-marker: 221, 221, 221;

		--color-error: 115, 37, 37;
		--color-on-error: 221, 221, 221;

		--color-warning: 192, 96, 0;
		--color-on-warning: 221, 221, 221;

		--color-overloaded: 115, 37, 37;
		--color-on-overloaded: 221, 221, 221;

		--color-page: 16, 16, 16;
		--color-on-page: 160, 160, 160;

		--color-page-standout: 64, 64, 64;
		--color-on-page-standout: 160, 160, 160;

		--color-page-void: 0, 0, 0;
		--color-drop-area: 255, 0, 0;

		--color-link: 0, 128, 0;
		--color-link-pressed: 0, 96, 160;
		--color-link-rollover: 0, 179, 0;

		--color-pdf-link-highlight: 0, 255, 127;
		--color-pdf-marker-highlight: 255, 255, 0;

		--color-accent: 100, 153, 153;

		--color-button-roll: 85, 182, 185;
		--color-on-button-roll: 221, 221, 221;
		--color-button-roll-rollover: 72, 153, 156;
		--color-on-button-roll-rollover: 221, 221, 221;

		--color-button-mod: 89, 140, 21;
		--color-on-button-mod: 221, 221, 221;
		--color-button-mod-rollover: 94, 166, 0;
		--color-on-button-mod-rollover: 221, 221, 221;
	}
}
