section[data-application-part='header'] {
  display: grid;
  grid-gap: var(--gcs-section-gap);

  grid-template-areas:
    'portrait identity miscellaneous points'
    'portrait description description points';
  grid-template-columns: 0fr auto auto 0fr;

  .gcs-portrait {
    grid-area: portrait;
    width: max-content;

    img {
      height: 10rem;
      aspect-ratio: 1 / 1;

      object-fit: contain;
    }
  }

  .gcs-identity {
    grid-area: identity;
  }

  .gcs-description {
    grid-area: description;
  }

  .gcs-miscellaneous {
    grid-area: miscellaneous;
  }

  .gcs-point-totals {
    grid-area: points;
    width: 10rem;
  }
}
