section[data-application-part='header'] {
  display: grid;
  gap: var(--gcs-section-gap);

  // portrait | identity  | miscellaneous | points
  // portrait | description (spans 2)     | points
  grid-template-areas:
    'portrait identity miscellaneous points'
    'portrait description description points';
  grid-template-columns: 0fr auto auto 0fr;

  .gcs-portrait {
    grid-area: portrait;
    width: 12.5rem;

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
  }

  .gcs-identity {
    grid-area: identity;
    align-content: start;
  }

  .gcs-description {
    grid-area: description;
    align-content: start;
  }

  .gcs-miscellaneous {
    grid-area: miscellaneous;
    align-content: start;
  }

  .gcs-point-totals {
    grid-area: points;
    align-content: start;
    width: 10rem;
  }
}
