section[data-application-part='resources'] {
  display: grid;
  gap: var(--gcs-section-gap);

  // attributes | body | encumbrance
  // attributes | body | moving
  grid-template-areas:
    'attributes body encumbrance'
    'attributes body moving';
  grid-template-columns: max-content auto auto;

  /* ---------------------------------------- */

  .gcs-attributes {
    grid-area: attributes;

    display: grid;
    gap: 0.1rem;

    // primary   | secondary
    // damage    | secondary
    // maneuver (spans both)
    grid-template-areas:
      'primary secondary'
      'damage secondary'
      'maneuver maneuver';

    .gcs-section-content {
      height: fit-content;
    }

    [data-action='rollOtf'],
    input {
      text-align: right;
      max-width: 6ch;
    }

    .gcs-primary-attributes {
      grid-area: primary;
    }

    .gcs-secondary-attributes {
      grid-area: secondary;
    }

    .gcs-basic-damage {
      grid-area: damage;

      input {
        min-width: 8ch;
        max-width: 8ch;
      }
    }

    .gcs-maneuver-status {
      grid-area: maneuver;

      label {
        text-align: right;
      }

      span {
        padding-left: 0.625rem;
      }
    }
  }

  /* ---------------------------------------- */

  .gcs-body {
    grid-area: body;

    .gcs-section-content {
      padding: 0;
    }

    .gcs-row-roll {
      text-align: center;
    }

    .gcs-row-dr {
      text-align: right;
    }
  }

  .gcs-encumbrance {
    grid-area: encumbrance;

    [data-action='setEncumbrance'] {
      cursor: pointer;
    }

    .gcs-row-enc-load,
    .gcs-row-enc-move,
    .gcs-row-enc-dodge {
      text-align: right;
    }
  }

  .gcs-moving {
    grid-area: moving;

    .gcs-lifting-value {
      text-align: right;
      font-weight: 700;
    }
  }
}
