section[data-application-part='resources'] {
  display: grid;
  grid-gap: var(--gcs-section-gap);

  grid-template-areas:
    'attributes body encumbrance'
    'attributes body moving';
  grid-template-columns: 0fr auto auto;
  grid-template-rows: 0fr 0fr;

  .gcs-attributes {
    grid-area: attributes;

    display: grid;
    grid-gap: 0.1rem;

    grid-template-areas:
      'primary secondary'
      'damage secondary'
      'pools pools';

    .gcs-primary-attributes {
      grid-area: primary;
    }

    .gcs-secondary-attributes {
      grid-area: secondary;
    }

    .gcs-basic-damage {
      grid-area: damage;
    }

    .gcs-pool-attributes {
      grid-area: pools;

      .poolSplit {
        text-align: center;
      }
    }
  }

  .gcs-body {
    grid-area: body;
  }

  .gcs-encumbrance {
    grid-area: encumbrance;
  }

  .gcs-moving {
    grid-area: moving;
  }
}

// Pool Threshold Tooltip (rendered separately from the rest of the sheet)
.gcs-pool-tooltip {
  font-family: 'Roboto', sans-serif;

  .threshold {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .value {
      text-align: right;
      font-weight: 700;
    }

    .condition {
      text-align: left;
      margin-left: 0.25rem;
    }
  }
}
