.gcs-trait-table {
  colgroup {
    col.gcs-col-name {
      width: auto;
    }
    col.gcs-col-pts {
      width: 3.5rem;
    }
  }
  .gcs-item-points {
    text-align: right;
    white-space: nowrap;
    padding: 0.1rem 0.25rem;
    vertical-align: top;
  }
}
