@mixin css-variables {
  /* SVG */
  --gcs-caret-down: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L64 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z' fill='%23606060'/></svg>");

  /* GCS automatically chooses one of these two colours depending on the background
   * colour of the sheet, so we're just using these everywhere.
   */
  --color-dark-fg: #1c1a17;
  --color-light-fg: #f8f6f2;

  /* ---------------------------------------- */

  /* Layout */
  --gcs-input-height: 1.25rem;
  --gcs-input-label-width: 4rem;
  --gcs-section-gap: 0.1rem;
  --gcs-padding-label: 0.15rem 0.25rem;

  /* ---------------------------------------- */

  /* Fonts */
  --gcs-font-size-header: 0.875rem;
  --gcs-font-size-content: 0.75rem;
  --gcs-font-size-notes: 0.6875rem;
  --gcs-font-size-header-icon: 0.6875rem;
  --gcs-font-size-select: 0.75rem;

  /* ---------------------------------------- */

  /* Colors */
  --gcs-color-surface-bg: var(--color-light-fg);
  --gcs-color-surface-fg: var(--color-dark-fg: );

  --gcs-color-quote-bg: color-mix(in hsl, var(--gcs-color-surface-bg), var(--gga-color-black) 15%);

  --gcs-color-control-bg: color-mix(in hsl, var(--gcs-color-surface-bg), var(--gga-color-black) 5%);
  --gcs-color-control-border: color-mix(in hsl, var(--gcs-color-control-bg), var(--gga-color-black) 15%);
  --gcs-color-control-fg: var(--gga-color-black);

  --gcs-color-header-bg: var(--gga-color-darkest-grey);
  --gcs-color-header-fg: var(--gga-color-white);

  --gcs-color-section-border: var(--gga-color-darkest-grey);

  --gcs-color-banding-bg: var(--gga-color-light-grey);
  --gcs-color-banding-fg: var(--gga-color-black);

  --gcs-color-focus-bg: var(--gga-color-blue);
  --gcs-color-focus-fg: var(--gga-color-black);

  --gcs-color-tooltip-bg: #fff4c6;
  --gcs-color-tooltip-fg: var(--gga-color-black);

  --gcs-color-input-bg: #eff0f0;
  --gcs-color-input-fg: var(--gga-color-black);

  --gcs-color-roll-bg: var(--gga-color-yellow);
  --gcs-color-roll-fg: var(--gga-color-black);
  --gcs-color-roll-bg-hover: var(--gga-color-dark-yellow);

  --gcs-color-positive-bg: var(--gga-color-green);
  --gcs-color-positive-fg: var(--gga-color-black);
  --gcs-color-positive-bg-hover: var(--gga-color-med-green);

  --gcs-color-negative-bg: var(--gga-color-orange);
  --gcs-color-negative-fg: var(--gga-color-black);
  --gcs-color-negative-bg-hover: var(--gga-color-med-orange);

  --gcs-color-default-pool: var(--gcs-color-positive-bg);
}

/* ---------------------------------------- */

@mixin css-variables-dark {
  /* SVG */
  --gcs-caret-down: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L64 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z' fill='%23a0a0a0'/></svg>");

  /* ---------------------------------------- */

  /* Colors */
  --gcs-color-surface-bg: var(--color-dark-fg);
  --gcs-color-surface-fg: var(--color-light-fg);

  --gcs-color-control-bg: color-mix(in hsl, var(--gcs-color-surface-bg), var(--gga-color-white) 20%);
  --gcs-color-control-border: color-mix(in hsl, var(--gcs-color-control-bg), var(--gga-color-white) 15%);
  --gcs-color-control-fg: var(--gga-color-light-grey);

  --gcs-color-header-bg: var(--gga-color-black1); // #222019
  --gcs-color-header-fg: var(--gga-color-light-grey);

  --gcs-color-section-border: var(--gga-color-dark-grey);

  --gcs-color-banding-bg: var(--gga-color-black3);
  --gcs-color-banding-fg: var(--gga-color-light-grey);

  // --gcs-color-focus-bg: color-mix(in hsl, #a0c8e0, var(--gga-color-black) 20%);
  --gcs-color-focus-bg: var(--gga-color-dark-blue);
  --gcs-color-focus-fg: var(--gga-color-light-grey);

  --gcs-color-tooltip-bg: #fff299;
  --gcs-color-tooltip-fg: var(--gga-color-black);

  --gcs-color-input-bg: var(--gga-color-black);
  --gcs-color-input-fg: var(--gga-color-light-grey);

  --gcs-color-roll-bg: var(--gga-color-dark-yellow);
  --gcs-color-roll-fg: var(--gga-color-black);
  --gcs-color-roll-bg-hover: color-mix(in hsl, var(--gcs-color-roll-bg), var(--gga-color-yellow) 30%);

  --gcs-color-positive-bg: var(--gga-color-dark-green);
  --gcs-color-positive-fg: var(--gga-color-grey);
  --gcs-color-positive-bg-hover: color-mix(in hsl, var(--gcs-color-positive-bg), var(--gga-color-green) 30%);

  --gcs-color-negative-bg: var(--gga-color-dark-orange);
  --gcs-color-negative-fg: var(--gga-color-grey);
  --gcs-color-negative-bg-hover: color-mix(in hsl, var(--gcs-color-negative-bg), var(--gga-color-orange) 30%);
}
