<span class='ms-row-actions'>
  <i class='fas fa-pen-to-square ms-action-btn' data-action='{{editAction}}' data-key='{{key}}'></i>
  <i class='fas fa-trash ms-action-btn ms-delete' data-action='{{deleteAction}}' data-key='{{key}}'></i>
</span>
