<h3 class='ms-section-header {{#if collapsible}}ms-collapsible{{/if}}'>
  {{#if collapsible}}<i class='fas fa-caret-down ms-collapse-icon'></i>{{/if}}
  <i class='fas {{icon}}'></i>
  {{title}}
  {{#if count}}<span class='ms-section-count'>({{count}})</span>{{/if}}
</h3>
