<form class='{{cssClass}}' autocomplete='off' style='scroll-padding-top: 5px;'>
  <div id='sheet' class='gurpsactorsheet'>
    <div id='personal'>
      {{>portrait}}
      {{>identity}}
      {{>miscellaneous}}
      {{>description}}
      {{>points}}
    </div>
    <div id='stats'>
      <div id='attributes'>
        {{>basic-attributes}}
        {{>secondary-attributes}}
      </div>
      {{>encumbrance}}
      {{>quicknote}}
      {{>lifting}}
      {{>locations parent=../data}}

      <div id='hp-fp'>
        {{#if useCI}}
          {{>conditional-injury}}
        {{else}}
          {{>hpfp-tracker
            name='HP'
            resource=data.HP
            label='GURPS.attributesHPNAME'
            editable=false
            condition='isReeling'
            testcondition=data.additionalresources.isReeling
          }}
        {{/if}}
        {{>hpfp-tracker
          name='FP'
          resource=data.FP
          label='GURPS.attributesFPNAME'
          editable=false
          condition='isTired'
          testcondition=data.additionalresources.isTired
        }}
      </div>

      {{>conditions}}
    </div> 
    {{!-- end of stats --}}

    {{#if (notEmpty data.reactions)}}
      {{>reactions}}
    {{/if}}
    {{>conditionalmods}}

    {{>trackers}}

    {{#if (notEmpty data.melee)}}
      {{>melee}}
    {{/if}}

    {{#if (notEmpty data.ranged)}}
      {{>ranged}}
    {{/if}}

    {{>advantages}}
    {{>skills}}

    {{#if (notEmpty data.spells)}}
      {{>spells}}
    {{/if}}

    {{>equipment container='carried' data=this.data}}
    {{!>equipment container='other' data=this.data}}

    {{>notes}}
  </div>
  {{>footer}}
  {{#if navigateVisible}}
    <div class='navigate-area'>
      <input id='navigate-toggle' class='toggle offscreen-only' type='checkbox' />
      <div class='navigate-bar'>
        <label class='navigation-view' for='navigate-toggle'><span class='icon'></span></label>
        <div class='navigate-container'>
          <div class='navigation-link' data-value='personal'>TOP</div>
          <div class='navigation-link' data-value='stats'>STATS</div>
          <div class='navigation-link' data-value='melee'>MELEE</div>
          <div class='navigation-link' data-value='ranged'>RANGED</div>
          <div class='navigation-link' data-value='advantages'>ADVANTAGES</div>
          <div class='navigation-link' data-value='skills'>SKILLS</div>
          <div class='navigation-link' data-value='equipment'>EQUIPMENT</div>
          <div class='navigation-link' data-value='other_equipment'>OTHER</div>
          <div class='navigation-link' data-value='notes'>NOTES</div>
        </div>
      </div>
    </div>
  {{/if}}
</form>