<form class="{{cssClass}} " autocomplete="off">
  <div id="editorsheet" class="gurpsactorsheet">
    <div id="personal">
      {{>portrait}}
      {{>identity}}
      {{>miscellaneous}}
      {{>description}}
      {{>points}}
    </div>

    <div id="stats">
      <div id="attributes">
        {{>basic-attributes}}
        {{>secondary-attributes}}
      </div>
      <div id='hp-fp'>
        {{#if useCI}}
          {{>ci-editor}}
        {{else}}
          {{>hpfp-editor name='HP' resource=system.HP label='GURPS.attributesHPNAME'}}
        {{/if}}
        {{>hpfp-editor name='FP' resource=system.FP label='GURPS.attributesFPNAME'}}
      </div>
      {{>locations parent=../data}}
      {{>encumbrance}}
      {{>quicknote}}
      {{>lifting}}
      {{>conditions}}
    </div>

    {{>reactions}}
    {{>conditionalmods}}
    {{>trackers}}
    {{>melee}}
    {{>ranged}}
    {{>advantages}}
    {{>skills}}
    {{>spells}}

    {{>equipment container='carried' data=this.data}}
    {{>equipment container='other' data=this.data}}

    {{>notes}}
  </div>
  {{>footer}}
</form>