<form class="{{cssClass}} " autocomplete="off">
  <div id="editorsheet" class="gurpsactorsheet">
    <div id="personal">
      {{>portrait}}
      {{>identity}}
      {{>miscellaneous}}
      {{>description}}
      {{>points}}
    </div>

    <div id="stats">
      <div id="attributes">
        {{>basic-attributes}}
        {{>secondary-attributes}}
      </div>
      <div id='hp-fp'>
        {{#if useCI}}
          {{>ci-editor}}
        {{else}}
          {{>hpfp-editor name='HP' resource=data.HP label='GURPS.attributesHPNAME'}}
        {{/if}}
        {{>hpfp-editor name='FP' resource=data.FP label='GURPS.attributesFPNAME'}}
      </div>
      {{>locations parent=../data}}
      {{>encumbrance}}
      {{>quicknote}}
      {{>lifting}}
      {{>conditions}}
    </div>

    {{>reactions}}
    {{>conditionalmods}}
    {{>trackers}}

    <div id="melee">
      <div class="desc header meleehead">Melee Weapons</div>
      <div class="usage header meleehead">Usage</div>
      <div class="level header meleehead">Lvl</div>
      <div class="parry header meleehead">Parry</div>
      <div class="block header meleehead">Block</div>
      <div class="damage header meleehead">Damage</div>
      <div class="reach header meleehead">Reach</div>
      <div class="st header meleehead">ST</div>
      <div></div>

      {{#each data.melee as | this key |}}
        <div class="desc meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.name"
            class="gcs-input-25" type="text" value="{{this.name}}" />
          <div class="list_note"><input name="data.melee.{{key}}.notes" class="gcs-input-25" type="text"
              value="{{this.notes}}" /></div>
        </div>
        <div class="usage meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.mode"
            class="gcs-input" type="text" value="{{this.mode}}" /></div>
        <div class="level meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.import"
            class="gcs-input-sm2" type="text" value="{{this.import}}" /></div>
        <div class="parry meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.parry"
            class="gcs-input-sm4" type="text" value="{{this.parry}}" /></div>
        <div class="block meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.block"
            class="gcs-input-sm4" type="text" value="{{this.block}}" /></div>
        <div class="damage meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.damage"
            class="gcs-input" type="text" value="{{this.damage}}" /></div>
        <div class="reach meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.reach"
            class="gcs-input-sm3" type="text" value="{{this.reach}}" /></div>
        <div class="st meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.st"
            class="gcs-input-sm2" type="text" value="{{this.st}}" /></div>
        <div></div>
      {{/each}}

    </div>

    <div id="ranged">
      <div class="desc header rangedhead">Ranged Weapons</div>
      <div class="usage header rangedhead">Usage</div>
      <div class="level header rangedhead">Lvl</div>
      <div class="acc header rangedhead">Acc</div>
      <div class="damage header rangedhead">Damage</div>
      <div class="range header rangedhead">Range</div>
      <div class="rof header rangedhead">RoF</div>
      <div class="shots header rangedhead">Shots</div>
      <div class="bulk header rangedhead">Bulk</div>
      <div class="rcl header rangedhead">Rcl</div>
      <div class="st header rangedhead">ST</div>


      {{#each data.ranged as | this key |}}
        <div class="desc rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.name"
            class="gcs-input-25" type="text" value="{{this.name}}" />
          <div class="list_note"><input name="data.ranged.{{key}}.notes" class="gcs-input-25" type="text"
              value="{{this.notes}}" /></div>
        </div>
        <div class="usage rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.mode"
            class="gcs-input" type="text" value="{{this.mode}}" /></div>
        <div class="level rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.import"
            class="gcs-input-sm2" type="text" value="{{this.import}}" /></div>
        <div class="acc rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.acc"
            class="gcs-input-sm2" type="text" value="{{this.acc}}" /></div>
        <div class="damage rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.damage"
            class="gcs-input-5" type="text" value="{{this.damage}}" /></div>
        <div class="range rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.range"
            class="gcs-input-sm5" type="text" value="{{this.range}}" /></div>
        <div class="rof rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.rof"
            class="gcs-input-sm2" type="text" value="{{this.rof}}" /></div>
        <div class="shots rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.shots"
            class="gcs-input-sm2" type="text" value="{{this.shots}}" /></div>
        <div class="bulk rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.bulk"
            class="gcs-input-sm2" type="text" value="{{this.bulk}}" /></div>
        <div class="rcl rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.rcl"
            class="gcs-input-sm2" type="text" value="{{this.rcl}}" /></div>
        <div class="st rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.st"
            class="gcs-input-sm2" type="text" value="{{this.st}}" /></div>
      {{/each}}

    </div>

    <div id="advantages">
      <div class="desc header adshead">Advantages, Disadvantages, Perks &amp; Quirks</div>
      <div class="pts header adshead">Pts</div>
      <div class="ref header adshead">Ref</div>
      {{#listeqt data.ads}}
        <div class="desc indent0 satisfiedY adsmenu" data-key="data.ads.{{@key}}"><input name="data.ads.{{@key}}.name"
            class="gcs-input" type="text" value="{{this.name}}" />
          <div class="list_note satisfiedY"></div>
          <div class="list_note satisfiedY"><textarea name="data.ads.{{@key}}.notes" class="gcs-input-ta"
              type="text">{{this.notes}}</textarea></div>
        </div>
        <div class="pts satisfiedY adsmenu" data-key="data.ads.{{@key}}"><input name="data.ads.{{@key}}.points"
            class="gcs-input-sm3" type="text" value="{{this.points}}" /></div>
        <div class="ref satisfiedY adsmenu" data-key="data.ads.{{@key}}"><input name="data.ads.{{@key}}.pageref"
            class="gcs-input-sm5" type="text" value="{{this.pageref}}" /></div>
      {{/listeqt}}
    </div>

    <div id="skills">
      <div class="desc header skillhead">Skills</div>
      <div class="sl header skillhead">SL</div>
      <div class="rsl header skillhead">RSL</div>
      <div class="pts header skillhead">Pts</div>
      <div class="ref header skillhead">Ref</div>

      {{#listeqt data.skills}}
        <div class="desc indent0 satisfiedY skillmenu" data-key="data.skills.{{@key}}"><input
            name="data.skills.{{@key}}.name" class="gcs-input" type="text" value="{{this.name}}" />
          <!--                <div class="list_note satisfiedY"></div>
-->
          <div class="list_note satisfiedY"><input name="data.skills.{{@key}}.notes" class="gcs-input" type="text"
              value="{{this.notes}}" /></div>
          <div></div>
        </div>
        <div class="sl satisfiedY skillmenu" data-key="data.skills.{{@key}}"><input name="data.skills.{{@key}}.import"
            class="gcs-input-sm3" type="text" value="{{this.import}}" /></div>
        <div class="rsl satisfiedY skillmenu" data-key="data.skills.{{@key}}"><input
            name="data.skills.{{@key}}.relativelevel" class="gcs-input-sm4" type="text"
            value="{{this.relativelevel}}" />
        </div>
        <div class="pts satisfiedY skillmenu" data-key="data.skills.{{@key}}"><input name="data.skills.{{@key}}.points"
            class="gcs-input-sm3" type="text" value="{{this.points}}" /></div>
        <div class="ref satisfiedY skillmenu" data-key="data.skills.{{@key}}"><input name="data.skills.{{@key}}.pageref"
            class="gcs-input-sm5" type="text" value="{{this.pageref}}" /></div>
      {{/listeqt}}
    </div>

    <div id="spells">
      <div class="desc header spellhead">Spells</div>
      <div class="cls header spellhead">Class</div>
      <div class="college header spellhead">College</div>
      <div class="mana header spellhead">Cost</div>
      <div class="mana_maintain header spellhead">Maintain</div>
      <div class="time header spellhead">Time</div>
      <div class="duration header spellhead">Duration</div>
      <div class="sl header spellhead">SL</div>
      <div class="rsl header spellhead">RSL</div>
      <div class="pts header spellhead">Pts</div>
      <div class="ref header spellhead">Ref</div>

      {{#listeqt data.spells}}
        <div class="desc indent0 satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input
            name="data.spells.{{@key}}.name" class="gcs-input" type="text" value="{{this.name}}" />
          <!--                <div class="list_note satisfiedY"></div>
-->
          <div class="list_note satisfiedY"><input name="data.spells.{{@key}}.notes" class="gcs-input" type="text"
              value="{{this.notes}}" /></div>
          <div></div>
        </div>
        <div class="cls satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input name="data.spells.{{@key}}.class"
            class="gcs-input-sm5" type="text" value="{{this.class}}" /></div>
        <div class="college satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input
            name="data.spells.{{@key}}.college" class="gcs-input-sm5" type="text" value="{{this.college}}" /></div>
        <div class="mana satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input name="data.spells.{{@key}}.cost"
            class="gcs-input-sm3" type="text" value="{{this.cost}}" /></div>
        <div class="mana_maintain satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input
            name="data.spells.{{@key}}.maintain" class="gcs-input-sm4" type="text" value="{{this.maintain}}" /></div>
        <div class="time satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input
            name="data.spells.{{@key}}.casttime" class="gcs-input-sm5" type="text" value="{{this.casttime}}" /></div>
        <div class="duration satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input
            name="data.spells.{{@key}}.duration" class="gcs-input-sm5" type="text" value="{{this.duration}}" /></div>
        <div class="sl satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input name="data.spells.{{@key}}.import"
            class="gcs-input-sm2" type="text" value="{{this.import}}" /></div>
        <div class="rsl satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input
            name="data.spells.{{@key}}.difficulty" class="gcs-input-sm3" type="text" value="{{this.difficulty}}" />
        </div>
        <div class="pts satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input name="data.spells.{{@key}}.points"
            class="gcs-input-sm2" type="text" value="{{this.points}}" /></div>
        <div class="ref satisfiedY spellmenu" data-key="data.spells.{{@key}}"><input name="data.spells.{{@key}}.pageref"
            class="gcs-input-sm5" type="text" value="{{this.pageref}}" /></div>
      {{/listeqt}}

    </div>

    <div id="equipment" class="equipmentlist">
      <div class="equipped header carhead">{{i18n "GURPS.equipmentEquipped"}}</div>
      <div class="qty header carhead">{{i18n "GURPS.equipmentQuantity"}}</div>
      <div class="desc header carhead" data-key="data.equipment.carried">
        {{localize "GURPS.equipment"}} (<i class="fas fa-weight-hanging"></i> {{toLocaleString eqtsummary.eqtlbs}};
        ${{toLocaleString eqtsummary.eqtcost}})
        &nbsp;
        <i class='fas fa-plus addequipmenticon'></i>
      </div>
      <div class="uses header carhead">{{i18n "GURPS.equipmentUses"}}</div>
      <div class="cost header carhead">$</div>
      <div class="weight header carhead"><i class="fas fa-weight-hanging"></i></div>
      <div class="sum_cost header carhead">&sum; $</div>
      <div class="sum_weight header carhead">&sum; <i class="fas fa-weight-hanging"></i></div>
      <div class="ref header carhead">{{i18n "GURPS." "Ref"}}</div>

      {{#listeqt data.equipment.carried }}
        <div class="equipped satisfiedY changeequip equipmenu" data-key="data.equipment.carried.{{@key}}">
          {{#if this.equipped}}&check;{{/if}}
        </div>
        <div class="qty satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">
          <input name="data.equipment.carried.{{@key}}.count" class="gcs-input-sm3" type="text"
            value="{{this.count}}" />
        </div>
        <div class="desc indent{{@indent}} satisfiedY caequipmenurmenu" data-key="data.equipment.carried.{{@key}}">
          <input name="data.equipment.carried.{{@key}}.name" class="gcs-input" type="text" value="{{this.name}}" />
          <div class="list_note satisfiedY">
            <input name="data.equipment.carried.{{@key}}.notes" class="gcs-input" type="text" value="{{this.notes}}" />
          </div>
          <div class="list_note satisfiedY"></div>
        </div>
        <div class="uses satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">
          <input name="data.equipment.carried.{{@key}}.uses" class="gcs-input-sm3" type="text" value="{{this.uses}}" />
        </div>
        <div class="cost satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">
          <input name="data.equipment.carried.{{@key}}.cost" class="gcs-input-sm5" type="text" value="{{this.cost}}" />
        </div>
        <div class="weight satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}"><input
            name="data.equipment.carried.{{@key}}.weight" class="gcs-input-sm5" type="text" value="{{this.weight}}" />
        </div>
        <div class="sum_cost satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}"><input
            name="data.equipment.carried.{{@key}}.costsum" class="gcs-input-sm5" type="text" value="{{this.costsum}}" />
        </div>
        <div class="sum_weight satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}"><input
            name="data.equipment.carried.{{@key}}.weightsum" class="gcs-input-sm5" type="text"
            value="{{this.weightsum}}" /></div>
        <div class="ref satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}"><input
            name="data.equipment.carried.{{@key}}.pageref" class="gcs-input-sm5" type="text" value="{{this.pageref}}" />
        </div>
      {{/listeqt}}

    </div>
    <div id="other_equipment" class="equipmentlist">
      <div class="qty header othhead">Qty</div>
      <div class="desc header othhead" data-key="data.equipment.other">
        Other Equipment (${{eqtsummary.othercost}}) &nbsp; <i class='fas fa-plus addequipmenticon'></i>
      </div>
      <div class="uses header othhead">Uses</div>
      <div class="cost header othhead">$</div>
      <div class="weight header othhead">lbs</div>
      <div class="sum_cost header othhead">X $</div>
      <div class="sum_weight header othhead">X lbs</div>
      <div class="ref header othhead">Ref</div>
      <div></div>

      {{#listeqt data.equipment.other}}
        <div class="qty satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.count" class="gcs-input-sm3" type="text" value="{{this.count}}" />
        </div>
        <div class="desc indent{{@indent}} satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.name" class="gcs-input" type="text" value="{{this.name}}" />
          <div class="list_note satisfiedY">
            <input name="data.equipment.other.{{@key}}.notes" class="gcs-input" type="text" value="{{this.notes}}" />
          </div>
        </div>
        <div class="uses satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.uses" class="gcs-input-sm5" type="text" value="{{this.uses}}" />
        </div>
        <div class="cost satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.cost" class="gcs-input-sm5" type="text" value="{{this.cost}}" />
        </div>
        <div class="weight satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.weight" class="gcs-input-sm5" type="text"
            value="{{this.weight}}" />
        </div>
        <div class="sum_cost satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.costsum" class="gcs-input-sm5" type="text"
            value="{{this.costsum}}" />
        </div>
        <div class="sum_weight satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.weightsum" class="gcs-input-sm5" type="text"
            value="{{this.weightsum}}" />
        </div>
        <div class="ref satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.pageref" class="gcs-input-sm5" type="text"
            value="{{this.pageref}}" />
        </div>
        <div></div>
      {{/listeqt}}

    </div>
    <div id="notes">
      <div class="desc header" data-key="data.notes">Notes &nbsp; <i class='fas fa-plus addnoteicon'></i></span></div>
      <div class="ref header">Ref</div>
      {{#listeqt data.notes}}
        <div class="desc indent0 notemenu" data-key="data.notes.{{@key}}"><textarea name="data.notes.{{@key}}.notes"
            class="gcs-input-ta" type="text" style="height:120px !important">{{this.notes}}</textarea></div>

        <div class="ref satisfiedY" data-key="data.notes.{{@key}}"><input name="data.notes.{{@key}}.pageref"
            class="gcs-input-sm5" type="text" value="{{this.pageref}}" />
        </div>
      {{/listeqt}}
      <div></div>
    </div>
  </div>
  <div id="footer">GCS is copyrighted 1998-2020 by Richard A. Wilkes All rights reserved
    <a href="https://gurpscharactersheet.com">gurpscharactersheet.com</a>
  </div>
</form>