<div id='damage-accumulator' class='gga-popup-window'>
  <div>
    <span><i class='fa-solid fa-chevron-left'></i></span>
    <span><i class='fa-solid fa-minus'></i></span>
    <span>+1d cr ex per 1 FP</span>
    <span><i class='fa-solid fa-plus'></i></span>
    <span><i class='fa-solid fa-chevron-right'></i></span>
  </div>
  <div>
    <button><i class='fa-solid fa-ban'></i>Cancel</button>
    <button><i class='fa-solid fa-check'></i>Apply</button>
  </div>
</div>