<select name="{{path}}.qualifier.compare">
	{{#select this.qualifier.compare}}
	{{#each config.select.number_compare_strict as |v k|}}
	<option value="{{k}}">{{localize v}}</option>
	{{/each}}
	{{/select}}
</select>
{{>sections/input-text field="field" name=(concat "NUMBER." path ".qualifier.qualifier") data=this.qualifier.qualifier
type="String"}}
