<div class="gcs chat-card import-error">
	<div class="header">
		{{localize "gurps.error.header"}}
	</div>
	<div class="content">
		<ul>
			{{#each lines}}
			<li>{{{this}}}</li>
			{{/each}}
		</ul>
	</div>
</div>
