<div id='modifier-app' class='{{cssClass}}' autocomplete='off'>
	<div class="total {{buttonColor}}">{{signed total}}</div>
	<div class="buttons">
		<a class="magnet {{buttonMagnet}} fad fa-magnet"></a>
		<hr>
		<a class="trash fas fa-trash"></a>
	</div>
</div>
