<p>{{{description}}}</p>
<div class='form-group'>
  <label for='data' style='white-space: nowrap;'>{{source}}:</label>
  <input type='file' name='data' accept='.gcs' />
</div>
<p>{{{note}}}</p>
<div>{{{warning}}}</div>
