#embeds {
	@import "reactions", "conditional_modifiers", "melee", "ranged", "traits", "skills", "spells", "equipment",
		"other_equipment", "notes";

	display: grid;
	grid-auto-columns: 1fr 1fr;
	gap: var(--section-gap);

	.item-list.hover {
		border: 1px solid red !important;
	}

	> div {
		display: grid;
		// grid-template-rows: repeat(1000, auto) 1fr;
		grid-auto-rows: 0fr;
	}

	.ph::before {
		content: "";
	}

	> div > .desc {
		display: grid;
		grid-template:
			"dropdown name"
			"blank notes";
		grid-template-columns: min-content auto;
		.dropdown {
			min-width: 0.75em;
			margin-right: 6px;
		}
		.name {
			font: inherit;
			background: transparent;
			color: inherit;
			grid-area: name;
		}
		.item-notes {
			grid-area: notes;
		}
	}

	> div > div {
		border-right: 1px solid rgb(var(--color-interior-divider));
		border-bottom: 1px solid rgb(var(--color-interior-divider));

		&.header {
			border-bottom: none;
		}

		&.st,
		&.condition,
		&.reference {
			border-right: none;
		}
	}

	> div > :not(.header) {
		padding: var(--padding-standard);
		&.quantity {
			min-width: 1em; //possibly unnecessary
		}
		&.border-top {
			border-top: 2px dashed rgb(var(--color-drop-area));
			&.desc {
				border-top: none;
				.name {
					border-top: 2px dashed rgb(var(--color-drop-area));
				}
			}
		}
		&.border-bottom {
			border-bottom: 2px dashed rgb(var(--color-drop-area));
			&.desc {
				border-bottom: none;
				.item-notes {
					border-bottom: 2px dashed rgb(var(--color-drop-area));
				}
			}
		}
	}

	.desc.header {
		white-space: nowrap;
	}

	.equipped,
	.header.reference,
	.header.weight,
	.header.value,
	.header.extended-weight,
	.header.extended-value {
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		gap: 1px;
	}

	.points,
	.level,
	.quantity,
	.uses,
	.tech-level,
	.legality-class,
	.weight,
	.value,
	.extended-weight,
	.extended-value {
		&:not(.header) {
			text-align: right;
		}
	}

	> div > .header {
		padding: var(--padding-header);
	}

	> div > :not(.header):not(svg) {
		background-color: rgba(var(--color-content), 1);
		color: rgba(var(--color-on-content), 1);
		font: var(--font-page-primary-fields);
	}
	.item-notes,
	.item-notes > div {
		font: var(--font-page-secondary-fields);
		background-color: transparent;
		overflow-x: hidden;
	}
	.reference:not(.header):not([data-pdf=""]) {
		color: rgba(var(--color-link), 1) !important;
		cursor: pointer;
		&:hover {
			color: rgba(var(--color-link-rollover), 1) !important;
		}
		&:active {
			color: rgba(var(--color-link-pressed), 1) !important;
		}
	}

	.dropdown a {
		background-color: inherit;
		svg {
			background-color: inherit;
			fill: rgba(var(--color-on-content), 1);
			width: 0.75em;
		}
	}
}
