#notes {
	grid-area: notes;
	grid-template-columns: 1fr auto;
	.header {
		grid-area: auto;
	}

	.desc:nth-child(4n + 1),
	.reference:nth-child(4n + 2) {
		&:not(.header) {
			background-color: rgba(var(--color-banding), 1);
			color: rgba(var(--color-on-banding), 1);
		}
	}

	.desc,
	.refrence {
		border-right: 1px solid rgb(var(--color-divider));
		&.refernce,
		&.reference {
			border-right: none;
		}
		&:not(.header) {
			border-bottom: 1px solid rgb(var(--color-header));
			border-right: 1px solid rgb(var(--color-header));
			&.dropdown {
				border-right: none;
			}
			&:nth-last-child(-n + 2) {
				border-bottom: none;
			}
		}
	}
}
