#skills {
	grid-area: skills;
	grid-template-columns: 1fr repeat(4, auto);
	.header {
		grid-area: auto;
	}

	.desc:nth-child(10n + 1),
	.level:nth-child(10n + 2),
	.rsl:nth-child(10n + 3),
	.points:nth-child(10n + 4),
	.reference:nth-child(10n + 5) {
		&:not(.header) {
			background-color: rgba(var(--color-banding), 1);
			color: rgba(var(--color-on-banding), 1);
		}
	}
}
