<form class="{{cssClass}} gcs" autocomplete="off">
	<div id="sheet">
		<div id="details">
			{{>sections/input-text field="field" label="gurps.item.name" name="name" data=item.name type="String"}}
			{{>sections/textarea field="field" label="gurps.item.notes" name="system.notes" data=system.notes type="String"}}
			{{>sections/textarea field="field" label="gurps.item.vtt_notes" name="system.vtt_notes" data=system.vtt_notes
			type="String"}}
			{{>sections/textarea field="field" label="gurps.item.user_description" name="system.user_description"
			data=system.user_description type="String"}}
			{{>sections/input-text field="field" label="gurps.item.tags" name="system.tags" data=(join system.tags ", ")
			type="String"}}
			{{>sections/input-text field="field" label="gurps.item.reference" name="system.reference" data=system.reference
			type="String"}}
		</div>
	</div>
</form>
