<div class='gurps-app {{classes}}'>
  <div classes='flexcol flex-between'>

    <h2>{{localize "GURPS.addTitleConcat0" basicDamage=CALC.basicDamage}}
      {{#if CALC.armorDivisor}}({{CALC.armorDivisor}}){{/if}}
      {{#if (ne CALC.damageType 'none')}}{{CALC.damageType}}{{/if}}
      {{localize "GURPS.addTitleConcat1" name=actor.data.name}}</h2>

    <div class='flexrow flex-group-center flex-between'>
      <h3>{{localize "GURPS.addDirectlyApply"}}:</h3>
      <input type='text' id='basicDamage' class='digits-only' value='{{CALC.basicDamage}}'>
      <div>
        <select id='apply-to'>
          <option value='HP' {{#if (eq CALC.applyTo 'HP' )}}selected{{/if}}>{{localize "GURPS.attributesHPNAME"}}
          </option>
          <option value='FP' {{#if (eq CALC.applyTo 'FP' )}}selected{{/if}}>{{localize "GURPS.attributesFPNAME"}}
          </option>
        </select>
      </div>
      <button id='apply-publicly'>{{localize "GURPS.addApply"}}</button>
      <button id='apply-secretly'>{{localize "GURPS.addApplyQuietly"}}</button>
    </div>

    <div id='apply-damage-advanced' class='flex-group-left {{#if isSimpleDialog}}invisible{{/if}}'>
      <h3>{{localize "GURPS.addApplyDamageOptions"}}:</h3>

      <div class='grid grid-3col flex-between'>

        <div class='gurps-group'>
          <h4>{{localize "GURPS.addHitLocationAndDR"}}</h4>

          <div class='gurps-3col gurps-radio-col'>
            <header>{{localize "GURPS.location"}}</header>
            <header>{{localize "GURPS.roll"}}</header>
            <header>{{localize "GURPS.hitLocationDR"}}</header>

            {{#each CALC.hitLocationsWithDR}}
            <div><label><input type='radio' name='hitlocation' value='{{this.where}}' {{#if (eq ../CALC.hitLocation
                  this.where)}}checked{{/if}}>&nbsp;{{this.where}}</label></div>
            <div>{{this.rollText}}</div>
            <div>{{this.dr}}</div>
            {{/each}}
          </div>

          <hr /> <!-- Doesn't do much except add some space -->

          <button id='random-location' class='with-icon'>
            <i class='fa fa-dice'><span>&nbsp;{{localize "GURPS.hitLocationRandom"}}</span></i>
          </button>

          <hr /> <!-- Doesn't do much except add some space -->

          <div class='gurps-3col gurps-radio-col'>
            <div><label><input type='radio' name='hitlocation' value='Large-Area' {{#if (eq
                  CALC.hitLocation 'Large-Area' )}}checked{{/if}}>&nbsp;{{localize "GURPS.addLargeAreaInjury"}}</label>
            </div>
            <div></div>
            <div class='pdflink'>B400</div>
          </div>

          <div class='grid grid-2col flex-between'>
            <div><label><input type='radio' name='hitlocation' value='User Entered' {{#if (eq
                  CALC.hitLocation 'User Entered' )}}checked{{/if}}>&nbsp;{{localize
                "GURPS.addEnterDR"}}:</input></label></div>
            <input type='text' id='user-entered-dr' name='User Entered' class='digits-only'
              value='{{CALC.userEnteredDR}}'>
          </div>
        </div>

        <div class='gurps-group'>
          <h4>{{localize "GURPS.addTypeAndWoundingModifiers"}}</h4>

          <section id='wound-modifier-table'>
            <div name='wounding-modifiers' class='default-wound-modifiers'>
              <div class='gurps-3col gurps-radio-col'>
                <header>{{localize "GURPS.addDamageType"}}</header>
                <header>{{localize "GURPS.addAbbrev"}}</header>
                <header>{{localize "GURPS.modifier"}}</header>

                {{#each CALC.effectiveWoundModifiers}}
                <div><label><input type='radio' name='woundmodifier' value='{{@key}}' {{#if (eq ../CALC.damageType
                      @key)}}checked{{/if}}>&nbsp;{{this.label}}</label></div>
                <div>{{@key}}</div>
                <div name='{{@key}}' {{#if this.changed}}class='{{this.changed}}' {{/if}}>×{{fractionalize
                  this.multiplier 2}}
                </div>
                {{/each}}
              </div>

              {{#if CALC.isWoundModifierAdjustedForLocation}}
              <aside>{{localize "GURPS.addAdjustedForHitLocation"}}.</aside>
              {{/if}}

              {{#if CALC.isWoundModifierAdjustedForInjuryTolerance}}
              <aside>{{localize "GURPS.addAdjustedForInjuryTolerance"}}.</aside>
              {{/if}}
            </div>
          </section>

          <hr /> <!-- Doesn't do much except add some space -->

          <label><input type='radio' name='woundmodifier' value='none' {{#if (eq CALC.damageType 'none'
              )}}checked{{/if}}>&nbsp;{{localize "GURPS.noModifier"}}</label>
          <div class='grid grid-2col flex-between'>
            <div><label><input type='radio' name='woundmodifier' value='User Entered' {{#if (eq
                  CALC.damageType 'User Entered' )}}checked{{/if}}>&nbsp;{{localize "GURPS.addEnterModifier"}}:</label>
            </div>
            <input type='text' class='decimal-digits-only' id='user-entered-woundmod'
              value='{{CALC.userEnteredWoundModifier}}'>
          </div>
          <div class='grid grid-2col flex-between'>
            <label>{{localize "GURPS.addAdditionalStackingModifier"}}:</label>
            <input type='number' class='decimal-digits-only' id='addmodifier' value='{{CALC.additionalWoundModifier}}'>
          </div>
        </div>

        <div class='gurps-group'>
          <h4>{{localize "GURPS.addTacticalRules"}}</h4>
          <aside>{{localize "GURPS.addTacticalRulesDefaults"}}.</aside>

          <div class='gurps-3col gurps-checkbox-col'>

            <div><input id='tactical-blunttrauma' type='checkbox' value='blunttrauma' {{#if
                CALC.useBluntTrauma}}checked{{/if}}></div>
            <div><label for='tactical-blunttrauma'>{{localize "GURPS.bluntTrauma"}}</label></div>
            <div class='pdflink'>B379</div>

            <div><input id='tactical-armordivisor' type='checkbox' value='armordivisor' {{#if
                CALC.useArmorDivisor}}checked{{/if}}></div>
            <div><label for='tactical-armordivisor'>{{localize "GURPS.addArmorDivisor"}}</label></div>
            <div class='pdflink'>B378</div>

            <div><input id='tactical-locationmodifier' type='checkbox' value='locationmodifier' {{#if
                CALC.useLocationModifiers}}checked{{/if}}></div>
            <div><label for='tactical-locationmodifier'>{{localize "GURPS.addHitLocationWoundModifiers"}}</label></div>
            <div class='pdflink'>B398</div>
          </div>

          <h4>{{localize "GURPS.addSpecialCombatSituations"}}</h4>
          <div class='gurps-3col gurps-checkbox-col'>
            <div><input id='specials-range12D' type='checkbox' value='range12D' {{#if
                CALC.isRangedHalfDamage}}checked{{/if}}></div>
            <div><label for='specials-range12D'>{{localize "GURPS.addRangedHalfDamage"}}</label></div>
            <div class='pdflink'>B378</div>
          </div>

          <div class='shaded collapsible-wrapper options-drawer'>
            <input id='vulnerable' class='toggle' type='checkbox' value='vulnerable' {{#if
              CALC.isVulnerable}}checked{{/if}}>
            <label for='vulnerable' class='label-toggle'>{{localize "GURPS.addVulnerability"}}:<span
                class='pdflink'>B161</span></label>
            <div class='grid grid-3col continuation collapsible-content'>
              <label><input type='radio' name='vulnerability' value='2' {{#if (eq CALC.vulnerabilityMultiple
                  2)}}checked{{/if}}>&nbsp;×2</label>
              <label><input type='radio' name='vulnerability' value='3' {{#if (eq CALC.vulnerabilityMultiple
                  3)}}checked{{/if}}>&nbsp;×3</label>
              <label><input type='radio' name='vulnerability' value='4' {{#if (eq CALC.vulnerabilityMultiple
                  4)}}checked{{/if}}>&nbsp;×4</label>
            </div>
          </div>

          <div class='collapsible-wrapper options-drawer'>
            <input id='hardened' class='toggle' type='checkbox' value='hardened' {{#if
              CALC.isHardenedDR}}checked{{/if}}>
            <label for='hardened' class='label-toggle'>{{localize "GURPS.addHardenedDRLevel"}}: <span
                class='pdflink'>B47</span></label>
            <div class='grid grid-5col continuation collapsible-content'>
              <label><input type='radio' name='hardened' value='1' {{#if (eq CALC.hardenedDRLevel 1)}}
                  checked{{/if}}>&nbsp;1</label>
              <label><input type='radio' name='hardened' value='2' {{#if (eq CALC.hardenedDRLevel 2)}}
                  checked{{/if}}>&nbsp;2</label>
              <label><input type='radio' name='hardened' value='3' {{#if (eq CALC.hardenedDRLevel 3)}}
                  checked{{/if}}>&nbsp;3</label>
              <label><input type='radio' name='hardened' value='4' {{#if (eq CALC.hardenedDRLevel 4)}}
                  checked{{/if}}>&nbsp;4</label>
              <label><input type='radio' name='hardened' value='5' {{#if (eq CALC.hardenedDRLevel 5)}}
                  checked{{/if}}>&nbsp;5</label>
            </div>
          </div>

          <div class='shaded collapsible-wrapper options-drawer'>
            <input id='injury-tolerance' class='toggle' type='checkbox' value='injury-tolerance' {{#if
              CALC.isInjuryTolerance}}checked{{/if}}></input>
            <label for='injury-tolerance' class='label-toggle'>{{localize "GURPS.addInjuryTolerance"}}:<span
                class='pdflink'>
                B60</span></label>
            <div class='collapsible-content continuation'>
              <div><label><input type='radio' name='injury-tolerance' value='unliving' {{#if (eq
                    CALC.injuryToleranceType 'unliving' )}}checked{{/if}}>&nbsp;{{localize
                  "GURPS.addInjuryToleranceUnliving"}}<span class='pdflink'>B380</span></label></div>
              <div><label><input type='radio' name='injury-tolerance' value='homogenous' {{#if (eq
                    CALC.injuryToleranceType 'homogenous' )}}checked{{/if}}>&nbsp;{{localize
                  "GURPS.addInjuryToleranceHomogenous"}}<span class='pdflink'>B380</span></label></div>
              <div><label><input type='radio' name='injury-tolerance' value='diffuse' {{#if (eq
                    CALC.injuryToleranceType 'diffuse' )}}checked{{/if}}>&nbsp;{{localize
                  "GURPS.addInjuryToleranceDiffuse"}}<span class='pdflink'>B380</span></label></div>
            </div>
          </div>

          {{#if CALC.useBluntTrauma}}
          <div id='specials-insert-point' class='gurps-3col'>
            <input id='flexible-armor' type='checkbox' value='flexible-armor' {{#if
              CALC.isFlexibleArmor}}checked{{/if}}>
            <label for='flexible-armor'>{{localize "GURPS.addFlexibleArmor"}} <aside>({{localize "GURPS.bluntTrauma"}}):
              </aside></label>
            <div id='blunt-trauma-field' class='with-button'>
              <input type='text' id='blunt-trauma' class='digits-only {{#if CALC.bluntTrauma}}user-entered{{/if}}'
                value='{{CALC.effectiveBluntTrauma}}' {{#unless CALC.isFlexibleArmor}}disabled{{/unless}}>
              <button name='clear'><span class='fas fa-times-circle'></button>
            </div>
          </div>
          {{/if}}

          <div class='shaded collapsible-wrapper options-drawer'>
            <input id='explosion-damage' class='toggle' type='checkbox' value='explosion-damage' {{#if
              CALC.isExplosion}}checked{{/if}}></input>
            <label for='explosion-damage' class='label-toggle'>Explosion:<span class='pdflink'>B414</span></label>
            <div class='collapsible-content continuation'>
              <div style='display: flex; padding: 3px;'><label for='explosion-yards'
                  style='min-width: fit-content; padding-top: 5px; padding-right: 3px;'>Hexes from
                  center:</label><input type='text' id='explosion-yards' class='digits-only'
                  value='{{CALC.hexesFromExplosion}}' /></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div>
      <div class='gurps-group'>
        <h4>{{localize "GURPS.addCalculationAndResults"}}</h4>
        <div class='grid grid-3col'>
          <div class='gurps-3col results-table'>
            <div>{{localize "GURPS.addBasicDamage"}}</div>
            <div>{{CALC.basicDamage}}</div>
            <div>{{CALC.applyTo}}</div>

            {{#if CALC.isRangedHalfDamage}}
            <div name='result-effective-dmg'>{{localize "GURPS.addRangedHalfDamage"}}</div>
            <div name='result-effective-dmg'>{{CALC.effectiveDamage}}</div>
            <div name='result-effective-dmg'>= {{CALC.basicDamage}} &divide; 2</div>
            {{/if}}

            <div id='result-dr'>{{localize "GURPS.hitLocationDR"}}</div>
            <div>{{CALC.DR}}</div>
            <div>{{CALC.hitLocation}}</div>

            {{#if CALC.useArmorDivisor}}
            {{#if CALC.armorDivisor}}
            {{#unless CALC.isExplosion}}
            <div>{{localize "GURPS.hitLocationDRWithDivisor"}}</div>
            <div>{{CALC.effectiveDR}}</div>
            <!-- This is a big messy looking block, but it prints either:
                "= DR ÷ AD" OR "= DR ÷ (EffectiveAD = (AD) w/Hard-X)* B378" -->
            <div><span>= {{CALC.DR}} &divide; {{#if CALC.isHardenedDR}}({{CALC.effectiveArmorDivisor}} =
                ({{CALC.armorDivisor}})
                {{localize "GURPS.addWHard"}}–{{CALC.hardenedDRLevel}}){{else}}({{CALC.armorDivisor}}){{/if}}{{#unless
                CALC.DR}}{{#if (lt CALC.armorDivisor 1)}}* <span class="pdflink">B379</span>{{/if}}{{/unless}}</span>
            </div>
            {{/unless}}
            {{/if}}
            {{/if}}

            <div id='result-penetrating'>{{localize "GURPS.addPenetrating"}}</div>
            <div>{{CALC.penetratingDamage}}</div>
            <div>= {{CALC.effectiveDamage}} &minus; {{CALC.effectiveDR}}</div>

            <div>{{localize "GURPS.modifier"}}</div>
            <div>×{{fractionalize CALC.totalWoundingModifier 2}}</div>
            <div>
              <span>= {{woundModifierText CALC}}{{#if (isWoundModAdjForLocation CALC)}}* ({{CALC.hitLocation}}) <span
                  class="pdflink">B398</span>{{/if}}{{#if (isWoundModAdjForInjuryTol CALC)}}*
                <span style='text-transform: capitalize;'>({{CALC.injuryToleranceType}})</span> <span
                  class="pdflink">B380</span>{{/if}}
              </span>
            </div>

            {{#if CALC.isExplosion}}
            <div>EXPLOSION</div>
            <div><span>×<sup>1</sup>/<sub>{{CALC.explosionDivisor}}</sub></span></div>
            <div><span>({{CALC.hexesFromExplosion}} {{pluralize 'hex' CALC.hexesFromExplosion}} from center)</span>
            </div>
            {{/if}}

            <div>{{localize "GURPS.addInjury"}}</div>
            <div>{{CALC.injury}}</div>
            <div><span>= {{CALC.penetratingDamage}} × <span name='result-totalmod'>{{fractionalize
                  CALC.totalWoundingModifier 2}}{{#if CALC.isExplosion}}<span> ×<sup>
                      1</sup>/<sub>{{CALC.explosionDivisor}}</sub></span>{{/if}}</span>{{#if
                CALC.maxInjuryForDiffuse}} ({{localize "GURPS.addDiffuseMax"}} {{CALC.maxInjuryForDiffuse}})* <span
                  class="pdflink">B380</span>{{/if}}
            </div>

            {{#if CALC.isBluntTraumaInjury}}
            <div>{{localize "GURPS.bluntTrauma"}}</div>
            <div>{{CALC.effectiveBluntTrauma}}</div>
            <div><span>= {{CALC.effectiveDamage}} ({{CALC.damageType}}) &divide; {{#if (eq CALC.damageType
                'cr')}}5{{else}}10{{/if}} <span class="pdflink">B379</span></span></div>
            {{/if}}

            {{#if CALC.isInjuryReducedByLocation}}
            <div>{{localize "GURPS.addLocationMax"}}</div>
            <div>{{CALC.locationMaxHPAsInt}}</div>
            <div>{{CALC.hitLocation}}</div>
            {{/if}}

            <!-- add a footnote that there is blunt trauma -->
          </div>

          <div id="result-extrastuff">
            <ul id='result-effects'>
              {{#each CALC.effects}}
              {{> (concat 'systems/gurps/templates/apply-damage/effect-' type '.html') }}
              {{/each}}
            </ul>
          </div>

          <div class='apply-results'>
            <input style='font-size: larger; font-weight: bolder; border: 1px black solid;' disabled type='text'
              class='decimal-digits-only' id='result-apply-injury' name='damage' value='{{CALC.pointsToApply}}'>
            <button id='apply-injury-publicly'>{{localize "GURPS.addApplyInjury"}}</button>
            <button id='apply-injury-secretly'>{{localize "GURPS.addApplyInjuryQuietly"}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>