<div>
  {{name}} {{localize "GURPS.suffersA"}} {{localize "GURPS.knockback"}} <span style='font-size: smaller;'>([PDF:B378])</span> {{localize "GURPS.of"}} {{yards}}
  {{pluralize 'yard' yards}}.<br />
  <span style='font-size:small;'>{{localize "GURPS.roll"}} <i>{{localize "GURPS.highest"}}</i> {{localize "GURPS.of"}}:
    <ul>
      <li>[{{dxCheck}} {{localize "GURPS.toAvoidFalling"}}]</li>
      <li>[{{acroCheck}} {{localize "GURPS.toAvoidFalling"}}]</li>
      <li>[{{judoCheck}} {{localize "GURPS.toAvoidFalling"}}]</li>
    </ul>
    <hr />
    <ul>
      <li>[+4 {{localize "GURPS.for"}} {{localize "GURPS.perfectBalance"}}]</li>
    </ul>
  </span>
</div>