<div class='gurps-chat-message'>
  <div class='prefix'>
    {{localize "GURPS.chatSuffersCripplingInjury" name=name location=location pdfref=pdfref classStart="<span class='pdflink'>" classEnd="</span>"}}.
  </div>
  {{#if (eq location 'Tail')}}
    <hr />
    <div class='roll-result'>
      {{localize "GURPS.groundCreaturesSuffer"}}:
      <ul class='modifier-list'>
        <li>[-1 {{localize "GURPS.toAllDXBasedRolls}}]. </li>
      </ul>
      {{localize "GURPS.swimmersOrFlyersSuffer"}}:
      <ul class='modifier-list'>
        <li>[-2 {{localize "GURPS.toAllDXBasedRolls}}], </li>
        <li>{{localize "GURPS.moveReducedToHalf}}.</li>
      </ul>
    </div>
  {{/if}}
</div>