<div class='roll-message gurps-chat-message'>
  <div class='prefix'>
    {{localize "GURPS.chatShock" name=name modifier=modifier}}<span
      class='pdflink'>([PDF:{{localize "GURPS.pdfShock"}}])</span>.
  </div>
  <hr />
  <div class='roll-result'>
    ["{{{localize "GURPS.shockPenaltyNextTurnOnly" modifier=modifier}}}" /st + Shock{modifier}]
    <ul class='modifier-list'>
      <li>{{localize "GURPS.highPainThresholdNoPenalty"}}. <span style='font-size: smaller;'>([PDF:B59])</span></li>
      <li>{{localize "GURPS.lowPainThreshold"}} <i>{{localize "GURPS.effectsDoubles"}}:</i> [-{{doubled}}
        {{localize "GURPS.toDXAndIQ"}}]. <span style='font-size: smaller;'>([PDF:B142])</span>
      </li>
    </ul>
    <span style='font-size: smaller;'>{{localize "GURPS.effectsNotApplicableDefenses"}}
      <i>{{localize "GURPS.effectsTemporaryAttributePenalties"}}</i>, <span
        style='font-size: smaller;'>([PDF:B421])</span>.</span>
  </div>
</div>