<div class="gga-chat-message">
  <div class="prefix">
    {{i18n "GURPS.nameTakesPointsOfShock" name=name modifier=modifier}} ([PDF:{{i18n "GURPS.pdfShock"}}]).
  </div>
  <hr />
  <div class="roll-result">
    ["{{i18n "GURPS.shockPenaltyNextTurnOnly" name=name modifier=modifier}}" {{button}}]
    <ul class="modifier-list">
      <li>{{{i18n "GURPS.highPainThresholdNoPenalty"}}} ([PDF:{{i18n "GURPS.pdfHPT"}}]).</li>
      <li>{{{i18n "GURPS.lowPainThresholdDoubles"}}} ([PDF:{{i18n "GURPS.pdfLPT"}}]).</li>
    </ul>

    <div class="aside">
      {{{i18n "GURPS.effectsNotApplicableDefenses"}}} {{{i18n "GURPS.effectsTemporaryAttributePenalties"}}}
      ([PDF:{{i18n "GURPS.pdfTempAttribPenalties"}}]).
    </div>
  </div>
</div>