<div class='gurps-chat-message'>
  <div class='prefix'>
    {{localize "GURPS.chatShock" name=name modifier=modifier}}<span
      class='pdflink'>([PDF:{{localize "GURPS.pdfShock"}}])</span>.
  </div>
  <hr />
  <div class='roll-result'>
    ["{{{localize "GURPS.shockPenaltyNextTurnOnly" modifier=modifier}}}" {{button}}]
    <ul class='modifier-list'>
      <li>{{localize "GURPS.highPainThresholdNoPenalty"}} <span
          class='pdflink'>([PDF:{{i18n "GURPS.pdfHPT" "B59"}}])</span>.</li>
      <li>{{localize "GURPS.lowPainThreshold"}} <i>{{localize "GURPS.effectsDoubles"}}:</i> &minus;{{doubled}}
        {{localize "GURPS.toDXAndIQ"}} <span class='pdflink'>([PDF:{{i18n "GURPS.pdfLPT" "B142"}}])</span>.
      </li>
    </ul>

    <div class='aside'>
      {{localize "GURPS.effectsNotApplicableDefenses"}}
      {{localize "GURPS.effectsTemporaryAttributePenalties"}}, <span class='pdflink'>([PDF:B421])</span>.
    </div>
  </div>
</div>