<div class='gga-chat-message'>
  <div class='prefix'>{{{localize 'GURPS.suffersKnockback' name=name pdfref=pdfref yards=yards unit=unit}}}</div>
  <hr />
  <div class='roll-result'>
    ["{{localize 'GURPS.knockbackCheck' name=name dx=dx acrobatics=acrobatics judo=judo}}"
    {{button}}]
    <strong>Modifiers:</strong>
    <ul class='modifier-list'>
      <li>[{{localize 'GURPS.forPerfectBalance' mod='+4'}}]</li>
    </ul>
  </div>
</div>