<div>
  {{localize "GURPS.chatSuffersCrippling" name=name}} <span style='font-size: smaller;'>([PDF:B422])</span> {{localize "GURPS.chatToLocation" location=location}}.<br />
  {{#if (eq location 'Tail')}}
  <hr />
  <span style='font-size:small;'>
    {{localize "GURPS.groundCreaturesSuffer"}}:
    <ul>
      <li>[-1 {{localize "GURPS.toAllDXBasedRolls}}]. </li>
    </ul>
    {{localize "GURPS.swimmersOrFlyersSuffer"}}:
    <ul>
      <li>[-2 {{localize "GURPS.toAllDXBasedRolls}}], </li>
      <li>{{localize "GURPS.moveReducedToHalf}}.</li>
    </ul>
  </span>
  {{/if}}
</div>