<li name='result-effect'>
  <div>
    <div>
      <header>{{localize "GURPS.knockback"}}{{amount}}{{localize "GURPS.yards"}}</header>
      <aside>{{localize "GURPS.dxJudoAcrobaticsCheck"}}{{#if modifier}}&minus;{{modifier}}{{/if}}{{localize "GURPS.remainStanding"}}</aside>
    </div>
    <div class='with-send-button'>
      <button name='send-knockback' data-struct='{{jsonStringify this}}'><span class='fa fa-comment-alt'></span></button>
    </div>
    <div><span class='pdflink'>B378</span></div>
  </div>
</li>