<li name="result-effect">
  <div>
    <div>
      <header>{{i18n "GURPS.crippling"}}{{detail}}</header>
      <aside>{{#if reduceInjury}}{{i18n "GURPS.damageAbove"}}{{amount}}{{i18n "GURPS.hpIgnored"}}{{/if}}</aside>
      {{#if (eq detail 'Tail')}}
      <aside>
        {{i18n "GURPS.groundCreatures"}}: -1 DX.<br />{{i18n "GURPS.swimmerFlyer"}}: -2 DX {{i18n_f "GURPS.andHalfMove"
        this}}
      </aside>
      {{/if}}
    </div>

    <div class="with-send-button">
      <button name="send-wound" data-struct="{{jsonStringify this}}"><span class="fa fa-comment-alt"></span></button>
    </div>

    <div><span class="pdflink">{{i18n "GURPS.pdfCrippling"}}</span></div>
  </div>
</li>
