<li name="result-effect">
  <div>
    <div>
      <header>{{i18n "GURPS.headVitalsHit"}}({{detail}})</header>
      <aside>
        {{i18n "GURPS.htCheck"}}{{#if modifier}}{{#if (lt modifier 0)}}+{{else}}&minus;{{/if}}{{modifier}}{{/if}}{{i18n
        "GURPS.majorWoundEffect"}}
      </aside>
    </div>
    <div class="with-send-button">
      <button name="send-wound" data-struct="{{jsonStringify this}}"><span class="fa fa-comment-alt"></span></button>
    </div>
    <div><span class="pdflink">{{i18n "GURPS.pdfKnockdownStun"}}</span></div>
  </div>
</li>
