<li name='result-effect'>
  <div>
    <div>
      <header>{{localize "GURPS.majorWound"}}</header>
      <aside>{{localize "GURPS.htCheck"}}{{#if modifier}}{{#if (lt modifier
        0)}}+{{else}}&minus;{{/if}}{{abs modifier}}{{/if}}{{localize "GURPS.majorWoundEffect"}}</aside>
    </div>
    <div class='with-send-button'>
      <button name='send-wound' data-struct='{{jsonStringify this}}'><span class='fa fa-comment-alt'></span></button>
    </div>
    <div><span class='pdflink'>B420</span></div>
  </div>
</li>