<div style='text-align: center; margin: 1.5rem 0'>
  {{localize 'GURPS.addApplyTo'}}:
  <div style='display: flex; flex-direction: column; align-items: flex-start;'>
    <label>
      <input type='checkbox' name='all' value='all' />
      <b>{{localize 'GURPS.allTokens'}}</b>
    </label>
    <hr />
    {{#each tokens}}
      <label>
        <input type='checkbox' name='tokens' value='{{this.name}}' />
        {{this.name}}
      </label>
    {{/each}}
  </div>
</div>