<header class='ms-header'>
  {{>ms-portrait}}

  <div class='ms-identity'>
    {{>ms-identity compact=true}}
    {{>ms-attributes}}
    {{>ms-resources}}
  </div>

  {{>ms-secondary-stats showCombatStats=true parryblock=parryblock defense=defense}}
</header>
