<form class="{{cssClass}} " autocomplete="off">
  <div id="editorsheet" class="gurpsactorsheet">
    <div id="personal">
      <div id="portrait">
        <div class="header">Portrait</div>
        <div class="img-display" style="background-image: url({{ actor.img }});">
          <img class="profile-img" src="{{ actor.img }}" data-edit="img" title="{{actor.name}}" />
        </div>
      </div>
      <div id="identity">
        <div class="header">Identity</div>
        <div class="fieldblock">
          <div class="label">Name:</div>
          <div class="field"><input name="name" class="gcs-input" type="text" value="{{actor.name}}" /></div>
          <div class="label">Title:</div>
          <div class="field"><input name="data.traits.title" class="gcs-input" type="text"
              value="{{data.traits.title}}" /></div>
          <div class="label">Player:</div>
          <div class="field"><input name="data.traits.player" class="gcs-input" type="text"
              value="{{data.traits.player}}" /></div>
        </div>
      </div>
      <div id="miscellaneous">
        <div class="header">Miscellaneous</div>
        <div class="fieldblock">
          <div class="label">Created:</div>
          <div class="field"><input name="data.traits.createdon" class="gcs-input" type="text"
              value="{{data.traits.createdon}}" /></div>
          <div class="label">Modified:</div>
          <div class="field"><input name="data.traits.modifiedon" class="gcs-input" type="text"
              value="{{data.traits.modifiedon}}" /></div>
          <div class="label">Options:</div>
          <div class="field"></div>
        </div>
      </div>
      <div id="description">
        <div class="header">Description</div>
        <div class="fieldblock">
          <div class="label">Gender:</div>
          <div class="field"><input name="data.traits.gender" class="gcs-input" type="text"
              value="{{data.traits.gender}}" /></div>
          <div class="label">Age:</div>
          <div class="field"><input name="data.traits.age" class="gcs-input" type="text" value="{{data.traits.age}}" />
          </div>
          <div class="label">Birthday:</div>
          <div class="field"><input name="data.traits.birthday" class="gcs-input" type="text"
              value="{{data.traits.birthday}}" /></div>
          <div class="label">Religion:</div>
          <div class="field"><input name="data.traits.religion" class="gcs-input" type="text"
              value="{{data.traits.religion}}" /></div>
        </div>
        <div class="fieldblock">
          <div class="label">Height:</div>
          <div class="field"><input name="data.traits.height" class="gcs-input" type="text"
              value="{{data.traits.height}}" /></div>
          <div class="label">Weight:</div>
          <div class="field"><input name="data.traits.weight" class="gcs-input" type="text"
              value="{{data.traits.weight}}" /></div>
          <div class="label">Size:</div>
          <div class="field"><input name="data.traits.sizemod" class="gcs-input" type="text"
              value="{{data.traits.sizemod}}" /></div>
          <div class="label">TL:</div>
          <div class="field"><input name="data.traits.techlevel" class="gcs-input" type="text"
              value="{{data.traits.techlevel}}" /></div>
          <div class="label">Body Plan:</div>
          <div class="field">
            <select id='body-plan' name="data.additionalresources.bodyplan">
              {{#each (listAllBodyPlans)}}
                <option value='{{this}}' {{#if (eq ../data.additionalresources.bodyplan this )}}selected{{/if}}>
                  {{localize (concat 'GURPS.BODYPLAN' this)}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="fieldblock">
          {{#if data.traits.eyes}}
            <div class="label">Hair:</div>
            <div class="field"><input name="data.traits.hair" class="gcs-input" type="text"
                value="{{data.traits.hair}}" /></div>
            <div class="label">Eyes:</div>
            <div class="field"><input name="data.traits.eyes" class="gcs-input" type="text"
                value="{{data.traits.eyes}}" /></div>
            <div class="label">Skin:</div>
            <div class="field"><input name="data.traits.skin" class="gcs-input" type="text"
                value="{{data.traits.skin}}" /></div>
            <div class="label">Hand:</div>
            <div class="field"><input name="data.traits.hand" class="gcs-input" type="text"
                value="{{data.traits.hand}}" /></div>
          {{else}}

            <div class="label">&nbsp;</div>
            <div class="label textarea">Appearance:</div>

            <div class="label"></div>
            <div class="field" style="border: none;">
              <textarea name="data.traits.appearance" rows="5">{{data.traits.appearance}}</textarea>
            </div>
          {{/if}}
        </div>
      </div>
      <div id="points">
        <div class="header">{{data.totalpoints.total}} Points</div>
        <div class="fieldblock">
        
         <div class="label">Total Points</div>
         <div class="field noedit"><input name="data.totalpoints.total" class="gcs-input" type="text"
              value="{{data.totalpoints.total}}" /></div>
 
          <div class="field"><input name="data.totalpoints.unspent" class="gcs-input" type="text"
              value="{{data.totalpoints.unspent}}" /></div>
          <div class="label">Unspent</div>
          <div class="field noedit"></div>
          <div class="label">Race</div>
          <div class="field noedit"><input name="data.totalpoints.attributes" class="gcs-input" type="text"
              value="{{data.totalpoints.attributes}}" /></div>
          <div class="label">Attributes</div>
          <div class="field noedit"><input name="data.totalpoints.ads" class="gcs-input" type="text"
              value="{{data.totalpoints.ads}}" /></div>
          <div class="label">Advantages</div>
          <div class="field noedit"><input name="data.totalpoints.disads" class="gcs-input" type="text"
              value="{{data.totalpoints.disads}}" /></div>
          <div class="label">Disadvantages</div>
          <div class="field noedit"><input name="data.totalpoints.quirks" class="gcs-input" type="text"
              value="{{data.totalpoints.quirks}}" /></div>
          <div class="label">Quirks</div>
          <div class="field noedit"><input name="data.totalpoints.skills" class="gcs-input" type="text"
              value="{{data.totalpoints.skills}}" /></div>
          <div class="label">Skills</div>
          <div class="field noedit"><input name="data.totalpoints.spells" class="gcs-input" type="text"
              value="{{data.totalpoints.spells}}" /></div>
          <div class="label">Spells</div>
        </div>
      </div>
    </div>
    <div id="stats">
      <div id="attributes">
        <div class="header">Attributes</div>
        <div class="fieldblock3">
          <div class="points"><input name="data.attributes.ST.points" class="gcs-input-sm2" type="text"
              value="{{data.attributes.ST.points}}" /></div>
          <div class="field"><input name="data.attributes.ST.import" class="gcs-input" type="text"
              value="{{data.attributes.ST.import}}" /></div>
          <div class="label">{{localize "GURPS.attributesSTNAME"}} ({{localize "GURPS.attributesST"}})</div>
          <div class="points"><input name="data.attributes.DX.points" class="gcs-input-sm2" type="text"
              value="{{data.attributes.DX.points}}" /></div>
          <div class="field"><input name="data.attributes.DX.import" class="gcs-input" type="text"
              value="{{data.attributes.DX.import}}" /></div>
          <div class="label">{{localize "GURPS.attributesDXNAME"}} ({{localize "GURPS.attributesDX"}})</div>
          <div class="points"><input name="data.attributes.IQ.points" class="gcs-input-sm2" type="text"
              value="{{data.attributes.IQ.points}}" /></div>
          <div class="field"><input name="data.attributes.IQ.import" class="gcs-input" type="text"
              value="{{data.attributes.IQ.import}}" /></div>
          <div class="label">{{localize "GURPS.attributesIQNAME"}} ({{localize "GURPS.attributesIQ"}})</div>
          <div class="points"><input name="data.attributes.HT.points" class="gcs-input-sm2" type="text"
              value="{{data.attributes.HT.points}}" /></div>
          <div class="field"><input name="data.attributes.HT.import" class="gcs-input" type="text"
              value="{{data.attributes.HT.import}}" /></div>
          <div class="label">{{localize "GURPS.attributesHTNAME"}} ({{localize "GURPS.attributesHT"}})</div>
          <hr>
          <div class="points"><input name="data.attributes.WILL.points" class="gcs-input-sm2" type="text"
              value="{{data.attributes.WILL.points}}" /></div>
          <div class="field"><input name="data.attributes.WILL.import" class="gcs-input" type="text"
              value="{{data.attributes.WILL.import}}" /></div>
          <div class="label">{{localize "GURPS.attributesWILLNAME"}}</div>
          <div class="points"></div>
          <div class="field"><input name="data.frightcheck" class="gcs-input" type="text"
              value="{{data.frightcheck}}" /></div>
          <div class="label">Fright Check</div>
          <hr>
          <div class="points"><input name="data.basicspeed.points" class="gcs-input-sm2" type="text"
              value="{{data.basicspeed.points}}" /></div>
          <div class="field"><input name="data.basicspeed.value" class="gcs-input" type="text"
              value="{{data.basicspeed.value}}" /></div>
          <div class="label">Basic Speed</div>
          <div class="points"><input name="data.basicmove.points" class="gcs-input-sm2" type="text"
              value="{{data.basicmove.points}}" /></div>
          <div class="field"><input name="data.basicmove.value" class="gcs-input" type="text"
              value="{{data.basicmove.value}}" /></div>
          <div class="label">Basic Move</div>
          <hr>
          <div class="points"><input name="data.attributes.PER.points" class="gcs-input-sm2" type="text"
              value="{{data.attributes.PER.points}}" /></div>
          <div class="field"><input name="data.attributes.PER.import" class="gcs-input" type="text"
              value="{{data.attributes.PER.value}}" /></div>
          <div class="label">{{localize "GURPS.attributesPERNAME"}} ({{localize "GURPS.attributesPER"}})</div>
          <div class="points"></div>
          <div class="field noedit"><input name="data.vision" class="gcs-input" type="text" value="{{data.vision}}" />
          </div>
          <div class="label">Vision</div>
          <div class="points"></div>
          <div class="field noedit"><input name="data.hearing" class="gcs-input" type="text" value="{{data.hearing}}" />
          </div>
          <div class="label">Hearing</div>
          <div class="points"></div>
          <div class="field noedit"><input name="data.tastesmell" class="gcs-input" type="text"
              value="{{data.tastesmell}}" /></div>
          <div class="label">Taste &amp; Smell</div>
          <div class="points"></div>
          <div class="field noedit"><input name="data.touch" class="gcs-input" type="text" value="{{data.touch}}" />
          </div>
          <div class="label">Touch</div>
          <hr>
          <div class="points"></div>
          <div class="field noedit"><input name="data.thrust" class="gcs-input-3" type="text" value="{{data.thrust}}" />
          </div>
          <div class="label">Basic Thrust</div>
          <div class="points"></div>
          <div class="field noedit"><input name="data.swing" class="gcs-input-3" type="text" value="{{data.swing}}" />
          </div>
          <div class="label">Basic Swing</div>
        </div>
      </div>
      <div id="encumbrance">
        <div class="header">Encumbrance, Move &amp; Dodge
          <div><input id="showflightmove" type="checkbox" {{checked data.additionalresources.showflightmove}}
              style="zoom:0.5">Show Move/Flight Move</div>
        </div>
        <div class="encmarkerh header"></div>
        <div class="ench header">Level</div>
        <div class="loadh header">Max Load</div>
        <div class="moveh header">Move</div>
        <div class="dodgeh header">Dodge</div>

        {{#each data.encumbrance as | this key |}}
          {{#if this.current}}
            <div class="encmarker current"></div>
            <div class="enc current {{this.key}}" data-key="{{key}}"></div>
            <div class="load current"><input name="data.encumbrance.{{key}}.weight" class="gcs-input" type="text"
                value="{{this.weight}}" /></div>
            <div class="move current"><input name="data.encumbrance.{{key}}.move" class="gcs-input" type="text"
                value="{{this.move}}" /></div>
            <div class="dodge current"><input name="data.encumbrance.{{key}}.dodge" class="gcs-input" type="text"
                value="{{this.dodge}}" /></div>
          {{else}}
            <div class="encmarker "></div>
            <div class="enc {{this.key}}" data-key="{{key}}"></div>
            <div class="load "><input name="data.encumbrance.{{key}}.weight" class="gcs-input" type="text"
                value="{{this.weight}}" /></div>
            <div class="move "><input name="data.encumbrance.{{key}}.move" class="gcs-input" type="text"
                value="{{this.move}}" /></div>
            <div class="dodge"><input name="data.encumbrance.{{key}}.dodge" class="gcs-input" type="text"
                value="{{this.dodge}}" /></div>
          {{/if}}
        {{/each}}

      </div>
      <div id="lifting">
        <div class="header">Lifting &amp; Moving Things</div>
        <div class="lift"><input name="data.liftingmoving.basiclift" class="gcs-input-5" type="text"
            value="{{data.liftingmoving.basiclift}}" /></div>
        <div class="liftdesc">Basic Lift</div>
        <div class="lift"><input name="data.liftingmoving.onehandedlift" class="gcs-input-5" type="text"
            value="{{data.liftingmoving.onehandedlift}}" /></div>
        <div class="liftdesc">One-Handed Lift</div>
        <div class="lift"><input name="data.liftingmoving.twohandedlift" class="gcs-input-5" type="text"
            value="{{data.liftingmoving.twohandedlift}}" /></div>
        <div class="liftdesc">Two-Handed Lift</div>
        <div class="lift"><input name="data.liftingmoving.shove" class="gcs-input-5" type="text"
            value="{{data.liftingmoving.shove}}" /></div>
        <div class="liftdesc">Shove &amp; Knock Over</div>
        <div class="lift"><input name="data.liftingmoving.runningshove" class="gcs-input-5" type="text"
            value="{{data.liftingmoving.runningshove}}" /></div>
        <div class="liftdesc">Running Shove &amp; Knock Over</div>
        <div class="lift"><input name="data.liftingmoving.carryonback" class="gcs-input-5" type="text"
            value="{{data.liftingmoving.carryonback}}" /></div>
        <div class="liftdesc">Carry on Back</div>
        <div class="lift"><input name="data.liftingmoving.shiftslightly" class="gcs-input-5" type="text"
            value="{{data.liftingmoving.shiftslightly}}" /></div>
        <div class="liftdesc">Shift Slightly</div>
      </div>
      <div id="location">
        <div class="header hlhead">Hit Location
          <div><input id="ignoreinputbodyplan" type="checkbox" {{checked data.additionalresources.ignoreinputbodyplan}}
              style="zoom:0.5">Always ignore Body Plan from Import</div>
        </div>
        <div class="roll header hlhead">Roll</div>
        <div class="where header hlhead">Where</div>
        <div class="penalty header hlhead">Penalty</div>
        <div class="dr header hlhead">DR</div>

        {{#each data.hitlocations as | this key |}}
          <div class="roll hlmenu" data-key="data.hitlocations.{{key}}"><input name="data.hitlocations.{{key}}.roll"
              class="gcs-input-5" type="text" value="{{hitlocationroll this.where this.roll ../data}}" /></div>
          <div class="where {{gurpstippable}} hlmenu" data-tooltip="Eqt on {{this.where}}: {{this.equipment}}"
            data-key="data.hitlocations.{{key}}">
            <input name="data.hitlocations.{{key}}.where" class="gcs-input-5" type="text" value="{{this.where}}" />
          </div>
          <div class="penalty hlmenu" data-key="data.hitlocations.{{key}}"><input
              name="data.hitlocations.{{key}}.penalty" class="gcs-input-5" type="text"
              value="{{hitlocationpenalty this.where this.penalty ../data}}" /></div>
          <div class="dr hlmenu" data-key="data.hitlocations.{{key}}"><input class="gcs-input" type="text"
              name="data.hitlocations.{{key}}.import" value="{{this.import}}" />
          </div>
        {{/each}}


      </div>

      <div id='trackers'>
        <div>
          {{#if useCI}}
            <div id='combat-hit' class='tracked-resource'>
              <div class='header'>Injury</div>
              <div class="fieldblock3">
                <div class="points"></div>
                <div class="field"><input class="gcs-input" name="data.conditionalinjury.injury.severity" type="text"
                    value="{{data.conditionalinjury.injury.severity}}" data-dtype="Number" />
                </div>
                <div class="label">Severity</div>

                <div class="points"></div>
                <div class="field"><input class="gcs-input" name="data.conditionalinjury.injury.daystoheal" type="text"
                    value="{{data.conditionalinjury.injury.daystoheal}}" data-dtype="Number" />
                </div>
                <div class="label">Days</div>

                <div class="points">
                  <input name="data.conditionalinjury.RT.points" class="gcs-input-sm2" type="text"
                    value="{{data.conditionalinjury.RT.points}}">
                </div>
                <div class="field"><input class="gcs-input" name="data.conditionalinjury.RT.value" type="text"
                    value="{{data.conditionalinjury.RT.value}}" data-dtype="Number" />
                </div>
                <div class="label">RT</div>

                <div class="points">
                  <input name="data.HP.points" class="gcs-input-sm2" type="text" value="{{data.HP.points}}">
                </div>
                <div class="field">
                  <input class="gcs-input" name="data.HP.max" type="text" value="{{data.HP.max}}" data-dtype="Number" />
                </div>
                <div class="label">HP</div>
              </div>
              <div class='tooltip-wrapper gentle-flex'>
                <div class="tooltip">Severities
                  <span class="tooltiptext">
                    <div class="fieldblock">
                      {{#ciSeveritiesTooltip}}
                        <div class="field condensed noedit">{{severity}}</div>
                        <div class="label">{{label}}</div>
                      {{/ciSeveritiesTooltip}}
                    </div>
                  </span>
                </div>
              </div>
            </div>
          {{else}}
            <div id='combat-hit' class='tracked-resource' data-gurps-resource='HP'>
              <div class='header'>Hit Points</div>
              <div class="fieldblock3">
                <div class="points"></div>
                <div class="field"><input class="gcs-input" name="data.HP.value" type="text" value="{{data.HP.value}}"
                    data-dtype="Number" /></div>
                <div class="label">Current</div>

                <div class="points">
                  <input name="data.HP.points" class="gcs-input-sm2" type="text" value="{{data.HP.points}}">
                </div>
                <div class="field">
                  <input class="gcs-input" name="data.HP.max" type="text" value="{{data.HP.max}}" data-dtype="Number" />
                </div>
                <div class="label">Basic</div>
              </div>
              <div class='tooltip-wrapper gentle-flex'>
                <div class="tooltip">Thresholds
                  <span class="tooltiptext">
                    <div class="fieldblock">
                      {{#hpBreakpoints data.HP}}
                        <div class="field condensed noedit">{{breakpoint}}</div>
                        <div class="label {{style}}">{{label}}</div>
                      {{/hpBreakpoints}}
                    </div>
                  </span>
                </div>
              </div>
            </div> <!-- combat-hit -->
          {{/if}}

          <div id='combat-fat' class='tracked-resource' data-gurps-resource='FP'>
            <div class='header'>Fatigue</div>
            <div class="fieldblock3">
              <div class="points"></div>
              <div class="field"><input class="gcs-input" name="data.FP.value" type="text" value="{{data.FP.value}}"
                  data-dtype="Number" /></div>
              <div class="label">Current</div>

              <div class="{{#if useCI}}points-fp{{else}}points{{/if}}">
                <input name="data.FP.points" class="gcs-input-sm2" type="text" value="{{data.FP.points}}">
              </div>

              <div class="field">
                <input class="gcs-input" name="data.FP.max" type="text" value="{{data.FP.max}}" data-dtype="Number" />
              </div>
              <div class="label">Basic</div>
            </div>
            <div class='tooltip-wrapper gentle-flex'>
              <div class="tooltip">Thresholds
                <span class="tooltiptext">
                  <div class="fieldblock">
                    {{#fpBreakpoints data.FP}}
                      <div class="field condensed noedit">{{breakpoint}}</div>
                      <div class="label {{style}}">{{label}}</div>
                    {{/fpBreakpoints}}
                  </div>
                </span>
              </div>
            </div>
          </div> <!-- combat-fat -->

        </div>

        <div id='resources'>
          <div class="header" style="grid-column: 1 / span 2;">Resource Trackers</div>

          {{#each data.additionalresources.tracker}}
            <div class='tracked-resource' data-gurps-resource='additionalresources.tracker.{{@index}}'>
              <div class='header'>Resource {{@index}}</div>
              <div class='field name'>
                <input name="data.additionalresources.tracker.{{@index}}.name" class="gcs-input" type="text"
                  value="{{name}}" placeholder="Resource Name">
              </div>
              <div class="fieldblock3" style='padding-bottom: 0.05in; '>
                <div class="points"></div>
                <div class="field"><input class="gcs-input" name="data.additionalresources.tracker.{{@index}}.value"
                    type="text" value="{{value}}" data-dtype="Number" /></div>
                <div class="label">Current</div>

                <div class="points"></div>
                <div class="field"><input class="gcs-input" name="data.additionalresources.tracker.{{@index}}.min"
                    type="text" value="{{min}}" data-dtype="Number" /></div>
                <div class="label">Minimum</div>

                <div class="points"></div>
                <div class="field">
                  <input class="gcs-input" name="data.additionalresources.tracker.{{@index}}.max" type="text"
                    value="{{max}}" data-dtype="Number" />
                </div>
                <div class="label">Maximum</div>
              </div>
            </div> <!-- end of resource -->
          {{/each}}
        </div>
      </div>

      <!-- <div id="fatpoints">
        <div class="header">Fatigue Points</div>
        <div class="fieldblock3">
          <div class="points"></div>
          <div class="field"><input class="gcs-input-sm3" name="data.FP.value" type="text" value="{{data.FP.value}}"
              data-dtype="Number" /></div>
          <div class="label">Current</div>
          <div class="points">[{{data.FP.points}}]</div>
          <div class="field"><input class="gcs-input-sm3" name="data.FP.max" type="text" value="{{data.FP.max}}"
              data-dtype="Number" /></div>
          <div class="label">Basic</div>

          {{#fpBreakpoints data.FP}}
          <div class="points"></div>
          <div class="field condensed noedit">{{breakpoint}}</div>
          <div class="label {{style}}">{{label}}</div>
          {{/fpBreakpoints}}
        </div>
      </div> -->

      <!-- <div id="hitpoints">
        <div class="header">Hit Points</div>
        <div class="fieldblock3">
          <div class="points"></div>
          <div class="field"><input class="gcs-input-sm3" name="data.HP.value" type="text" value="{{data.HP.value}}"
              data-dtype="Number" /></div>
          <div class="label">Current</div>

          <div class="points">[{{data.HP.points}}]</div>
          <div class="field"><input class="gcs-input-sm3" name="data.HP.max" type="text" value="{{data.HP.max}}"
              data-dtype="Number" /></div>
          <div class="label">Basic</div>

          {{#hpBreakpoints data.HP}}
          <div class="points"></div>
          <div class="field condensed noedit">{{breakpoint}}</div>
          <div class="label {{style}}">{{label}}</div>
          {{/hpBreakpoints}}
        </div>
      </div> -->

    </div>

    <div id="reactions">
      <div class="modifier header reacthead">Modifier</div>
      <div class="situation header reacthead">Reaction</div>
      <div></div>
      {{#each data.reactions as | this key |}}
        <div class="modifier reactmenu" data-key="data.reactions.{{key}}"><input name="data.reactions.{{key}}.modifier"
            class="gcs-input-sm4" type="text" value="{{this.modifier}}" /></div>
        <div class="situation reactmenu" data-key="data.reactions.{{key}}"><input
            name="data.reactions.{{key}}.situation" class="gcs-input" type="text" value="{{this.situation}}" /></div>
        <div></div>
      {{/each}}

    </div>

    <div id="melee">
      <div class="desc header meleehead">Melee Weapons</div>
      <div class="usage header meleehead">Usage</div>
      <div class="level header meleehead">Lvl</div>
      <div class="parry header meleehead">Parry</div>
      <div class="block header meleehead">Block</div>
      <div class="damage header meleehead">Damage</div>
      <div class="reach header meleehead">Reach</div>
      <div class="st header meleehead">ST</div>
      <div></div>

      {{#each data.melee as | this key |}}
        <div class="desc meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.name"
            class="gcs-input-25" type="text" value="{{this.name}}" />
          <div class="list_note"><input name="data.melee.{{key}}.notes" class="gcs-input-25" type="text"
              value="{{this.notes}}" /></div>
        </div>
        <div class="usage meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.mode"
            class="gcs-input" type="text" value="{{this.mode}}" /></div>
        <div class="level meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.import"
            class="gcs-input-sm2" type="text" value="{{this.import}}" /></div>
        <div class="parry meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.parry"
            class="gcs-input-sm4" type="text" value="{{this.parry}}" /></div>
        <div class="block meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.block"
            class="gcs-input-sm4" type="text" value="{{this.block}}" /></div>
        <div class="damage meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.damage"
            class="gcs-input" type="text" value="{{this.damage}}" /></div>
        <div class="reach meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.reach"
            class="gcs-input-sm3" type="text" value="{{this.reach}}" /></div>
        <div class="st meleemenu" data-key="data.melee.{{key}}"><input name="data.melee.{{key}}.st"
            class="gcs-input-sm2" type="text" value="{{this.st}}" /></div>
        <div></div>
      {{/each}}

    </div>

    <div id="ranged">
      <div class="desc header rangedhead">Ranged Weapons</div>
      <div class="usage header rangedhead">Usage</div>
      <div class="level header rangedhead">Lvl</div>
      <div class="acc header rangedhead">Acc</div>
      <div class="damage header rangedhead">Damage</div>
      <div class="range header rangedhead">Range</div>
      <div class="rof header rangedhead">RoF</div>
      <div class="shots header rangedhead">Shots</div>
      <div class="bulk header rangedhead">Bulk</div>
      <div class="rcl header rangedhead">Rcl</div>
      <div class="st header rangedhead">ST</div>


      {{#each data.ranged as | this key |}}
        <div class="desc rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.name"
            class="gcs-input-25" type="text" value="{{this.name}}" />
          <div class="list_note"><input name="data.ranged.{{key}}.notes" class="gcs-input-25" type="text"
              value="{{this.notes}}" /></div>
        </div>
        <div class="usage rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.mode"
            class="gcs-input" type="text" value="{{this.mode}}" /></div>
        <div class="level rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.import"
            class="gcs-input-sm2" type="text" value="{{this.import}}" /></div>
        <div class="acc rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.acc"
            class="gcs-input-sm2" type="text" value="{{this.acc}}" /></div>
        <div class="damage rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.damage"
            class="gcs-input-5" type="text" value="{{this.damage}}" /></div>
        <div class="range rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.range"
            class="gcs-input-sm5" type="text" value="{{this.range}}" /></div>
        <div class="rof rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.rof"
            class="gcs-input-sm2" type="text" value="{{this.rof}}" /></div>
        <div class="shots rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.shots"
            class="gcs-input-sm2" type="text" value="{{this.shots}}" /></div>
        <div class="bulk rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.bulk"
            class="gcs-input-sm2" type="text" value="{{this.bulk}}" /></div>
        <div class="rcl rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.rcl"
            class="gcs-input-sm2" type="text" value="{{this.rcl}}" /></div>
        <div class="st rangedmenu" data-key="data.ranged.{{key}}"><input name="data.ranged.{{key}}.st"
            class="gcs-input-sm2" type="text" value="{{this.st}}" /></div>
      {{/each}}

    </div>

    <div id="advantages">
      <div class="desc header adshead">Advantages, Disadvantages, Perks &amp; Quirks</div>
      <div class="pts header adshead">Pts</div>
      <div class="ref header adshead">Ref</div>
      {{#each data.ads as | this key |}}
        <div class="desc indent0 satisfiedY adsmenu" data-key="data.ads.{{key}}"><input name="data.ads.{{key}}.name"
            class="gcs-input" type="text" value="{{this.name}}" />
          <div class="list_note satisfiedY"></div>
          <div class="list_note satisfiedY"><textarea name="data.ads.{{key}}.notes" class="gcs-input-ta"
              type="text">{{this.notes}}</textarea></div>
        </div>
        <div class="pts satisfiedY adsmenu" data-key="data.ads.{{key}}"><input name="data.ads.{{key}}.points"
            class="gcs-input-sm3" type="text" value="{{this.points}}" /></div>
        <div class="ref satisfiedY adsmenu" data-key="data.ads.{{key}}"><input name="data.ads.{{key}}.pageref"
            class="gcs-input-sm5" type="text" value="{{this.pageref}}" /></div>
      {{/each}}
    </div>

    <div id="skills">
      <div class="desc header skillhead">Skills</div>
      <div class="sl header skillhead">SL</div>
      <div class="rsl header skillhead">RSL</div>
      <div class="pts header skillhead">Pts</div>
      <div class="ref header skillhead">Ref</div>

      {{#each data.skills as | this key |}}
        <div class="desc indent0 satisfiedY skillmenu" data-key="data.skills.{{key}}"><input
            name="data.skills.{{key}}.name" class="gcs-input" type="text" value="{{this.name}}" />
          <!--                <div class="list_note satisfiedY"></div>
-->
          <div class="list_note satisfiedY"><input name="data.skills.{{key}}.notes" class="gcs-input" type="text"
              value="{{this.notes}}" /></div>
          <div></div>
        </div>
        <div class="sl satisfiedY skillmenu" data-key="data.skills.{{key}}"><input name="data.skills.{{key}}.import"
            class="gcs-input-sm3" type="text" value="{{this.import}}" /></div>
        <div class="rsl satisfiedY skillmenu" data-key="data.skills.{{key}}"><input
            name="data.skills.{{key}}.relativelevel" class="gcs-input-sm4" type="text" value="{{this.relativelevel}}" />
        </div>
        <div class="pts satisfiedY skillmenu" data-key="data.skills.{{key}}"><input name="data.skills.{{key}}.points"
            class="gcs-input-sm3" type="text" value="{{this.points}}" /></div>
        <div class="ref satisfiedY skillmenu" data-key="data.skills.{{key}}"><input name="data.skills.{{key}}.pageref"
            class="gcs-input-sm5" type="text" value="{{this.pageref}}" /></div>
      {{/each}}
    </div>

    <div id="spells">
      <div class="desc header spellhead">Spells</div>
      <div class="cls header spellhead">Class</div>
      <div class="college header spellhead">College</div>
      <div class="mana header spellhead">Cost</div>
      <div class="mana_maintain header spellhead">Maintain</div>
      <div class="time header spellhead">Time</div>
      <div class="duration header spellhead">Duration</div>
      <div class="sl header spellhead">SL</div>
      <div class="rsl header spellhead">RSL</div>
      <div class="pts header spellhead">Pts</div>
      <div class="ref header spellhead">Ref</div>

      {{#each data.spells as | this key |}}
        <div class="desc indent0 satisfiedY spellmenu" data-key="data.spells.{{key}}"><input
            name="data.spells.{{key}}.name" class="gcs-input" type="text" value="{{this.name}}" />
          <!--                <div class="list_note satisfiedY"></div>
-->
          <div class="list_note satisfiedY"><input name="data.spells.{{key}}.notes" class="gcs-input" type="text"
              value="{{this.notes}}" /></div>
          <div></div>
        </div>
        <div class="cls satisfiedY spellmenu" data-key="data.spells.{{key}}"><input name="data.spells.{{key}}.class"
            class="gcs-input-sm5" type="text" value="{{this.class}}" /></div>
        <div class="college satisfiedY spellmenu" data-key="data.spells.{{key}}"><input
            name="data.spells.{{key}}.college" class="gcs-input-sm5" type="text" value="{{this.college}}" /></div>
        <div class="mana satisfiedY spellmenu" data-key="data.spells.{{key}}"><input name="data.spells.{{key}}.cost"
            class="gcs-input-sm3" type="text" value="{{this.cost}}" /></div>
        <div class="mana_maintain satisfiedY spellmenu" data-key="data.spells.{{key}}"><input
            name="data.spells.{{key}}.maintain" class="gcs-input-sm4" type="text" value="{{this.maintain}}" /></div>
        <div class="time satisfiedY spellmenu" data-key="data.spells.{{key}}"><input name="data.spells.{{key}}.casttime"
            class="gcs-input-sm5" type="text" value="{{this.casttime}}" /></div>
        <div class="duration satisfiedY spellmenu" data-key="data.spells.{{key}}"><input
            name="data.spells.{{key}}.duration" class="gcs-input-sm5" type="text" value="{{this.duration}}" /></div>
        <div class="sl satisfiedY spellmenu" data-key="data.spells.{{key}}"><input name="data.spells.{{key}}.import"
            class="gcs-input-sm2" type="text" value="{{this.import}}" /></div>
        <div class="rsl satisfiedY spellmenu" data-key="data.spells.{{key}}"><input
            name="data.spells.{{key}}.difficulty" class="gcs-input-sm3" type="text" value="{{this.difficulty}}" /></div>
        <div class="pts satisfiedY spellmenu" data-key="data.spells.{{key}}"><input name="data.spells.{{key}}.points"
            class="gcs-input-sm2" type="text" value="{{this.points}}" /></div>
        <div class="ref satisfiedY spellmenu" data-key="data.spells.{{key}}"><input name="data.spells.{{key}}.pageref"
            class="gcs-input-sm5" type="text" value="{{this.pageref}}" /></div>
      {{/each}}

    </div>

    <div id="equipment" class="equipmentlist">
      <div class="equipped header carhead">{{i18n "GURPS.equipmentEquipped"}}</div>
      <div class="qty header carhead">{{i18n "GURPS.equipmentQuantity"}}</div>
      <div class="desc header carhead" data-key="data.equipment.carried">
        {{localize "GURPS.equipment"}} (<i class="fas fa-weight-hanging"></i> {{toLocaleString eqtsummary.eqtlbs}};
        ${{toLocaleString eqtsummary.eqtcost}})
        &nbsp;
        <i class='fas fa-plus addequipmenticon'></i>
      </div>
      <div class="uses header carhead">{{i18n "GURPS.equipmentUses"}}</div>
      <div class="cost header carhead">$</div>
      <div class="weight header carhead"><i class="fas fa-weight-hanging"></i></div>
      <div class="sum_cost header carhead">&sum; $</div>
      <div class="sum_weight header carhead">&sum; <i class="fas fa-weight-hanging"></i></div>
      <div class="ref header carhead">{{i18n "GURPS." "Ref"}}</div>

      {{#listeqt data.equipment.carried }}
        <div class="equipped satisfiedY changeequip equipmenu" data-key="data.equipment.carried.{{@key}}">
          {{#if this.equipped}}&check;{{/if}}
        </div>
        <div class="qty satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">
          <input name="data.equipment.carried.{{@key}}.count" class="gcs-input-sm3" type="text"
            value="{{this.count}}" />
        </div>
        <div class="desc indent{{@indent}} satisfiedY caequipmenurmenu" data-key="data.equipment.carried.{{@key}}">
          <input name="data.equipment.carried.{{@key}}.name" class="gcs-input" type="text" value="{{this.name}}" />
          <div class="list_note satisfiedY">
            <input name="data.equipment.carried.{{@key}}.notes" class="gcs-input" type="text" value="{{this.notes}}" />
          </div>
          <div class="list_note satisfiedY"></div>
        </div>
        <div class="uses satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">
          <input name="data.equipment.carried.{{@key}}.uses" class="gcs-input-sm3" type="text" value="{{this.uses}}" />
        </div>
        <div class="cost satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">
          <input name="data.equipment.carried.{{@key}}.cost" class="gcs-input-sm5" type="text" value="{{this.cost}}" />
        </div>
        <div class="weight satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}"><input
            name="data.equipment.carried.{{@key}}.weight" class="gcs-input-sm5" type="text" value="{{this.weight}}" />
        </div>
        <div class="sum_cost satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}"><input
            name="data.equipment.carried.{{@key}}.costsum" class="gcs-input-sm5" type="text" value="{{this.costsum}}" />
        </div>
        <div class="sum_weight satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}"><input
            name="data.equipment.carried.{{@key}}.weightsum" class="gcs-input-sm5" type="text"
            value="{{this.weightsum}}" /></div>
        <div class="ref satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}"><input
            name="data.equipment.carried.{{@key}}.pageref" class="gcs-input-sm5" type="text" value="{{this.pageref}}" />
        </div>
      {{/listeqt}}

    </div>
    <div id="other_equipment" class="equipmentlist">
      <div class="qty header othhead">Qty</div>
      <div class="desc header othhead" data-key="data.equipment.other">
        Other Equipment (${{eqtsummary.othercost}}) &nbsp; <i class='fas fa-plus addequipmenticon'></i>
      </div>
      <div class="uses header othhead">Uses</div>
      <div class="cost header othhead">$</div>
      <div class="weight header othhead">lbs</div>
      <div class="sum_cost header othhead">X $</div>
      <div class="sum_weight header othhead">X lbs</div>
      <div class="ref header othhead">Ref</div>
      <div></div>

      {{#listeqt data.equipment.other}}
        <div class="qty satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.count" class="gcs-input-sm3" type="text" value="{{this.count}}" />
        </div>
        <div class="desc indent{{@indent}} satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.name" class="gcs-input" type="text" value="{{this.name}}" />
          <div class="list_note satisfiedY">
            <input name="data.equipment.other.{{@key}}.notes" class="gcs-input" type="text" value="{{this.notes}}" />
          </div>
        </div>
        <div class="uses satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.uses" class="gcs-input-sm5" type="text" value="{{this.uses}}" />
        </div>
        <div class="cost satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.cost" class="gcs-input-sm5" type="text" value="{{this.cost}}" />
        </div>
        <div class="weight satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.weight" class="gcs-input-sm5" type="text"
            value="{{this.weight}}" />
        </div>
        <div class="sum_cost satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.costsum" class="gcs-input-sm5" type="text"
            value="{{this.costsum}}" />
        </div>
        <div class="sum_weight satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.weightsum" class="gcs-input-sm5" type="text"
            value="{{this.weightsum}}" />
        </div>
        <div class="ref satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">
          <input name="data.equipment.other.{{@key}}.pageref" class="gcs-input-sm5" type="text"
            value="{{this.pageref}}" />
        </div>
        <div></div>
      {{/listeqt}}

    </div>
    <div id="notes">
      <div class="desc header" data-key="data.notes">Notes &nbsp; <i class='fas fa-plus addnoteicon'></i></span></div>
      <div class="ref header">Ref</div>
      {{#each data.notes as | this key |}}
        <div class="desc indent0 notemenu" data-key="data.notes.{{key}}"><textarea name="data.notes.{{key}}.notes"
            class="gcs-input-ta" type="text" style="height:120px !important">{{this.notes}}</textarea></div>

        <div class="ref satisfiedY" data-key="data.notes.{{@key}}"><input name="data.notes.{{@key}}.pageref"
            class="gcs-input-sm5" type="text" value="{{this.pageref}}" />
        </div>
      {{/each}}
      <div></div>
    </div>
  </div>
  <div id="footer">GCS is copyrighted 1998-2020 by Richard A. Wilkes All rights reserved
    <a href="https://gurpscharactersheet.com">gurpscharactersheet.com</a>
  </div>
</form>