<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="attributes">
				      <table>
				        <tr style="font-size:6pt; line-height:8px;">
				          <td style="width: 30px; border: none;">&nbsp;</td>
				          <td style="width: 40px; border: none;">&nbsp;</td>
				          <td style="width:  9px; border: none;">&nbsp;</td>
				          <td style="width: 20px; border: none;">&nbsp;</td>
				          <td style="width:  9px; border: none;">&nbsp;</td>
				          <td style="border: none;">&nbsp;</td>
				          <td style="width: 40px; border: none;">&nbsp;</td>
				          <td style="width: 40px; border: none;">CURRENT</td>
				          <td style="width:  9px; border: none;">&nbsp;</td>
				          <td style="width: 20px; border: none;">&nbsp;</td>
				          <td style="width:  9px; border: none;">&nbsp;</td>
				        </tr>
				        <tr>
				          <td style="font-weight: 900; border: none; text-align: center; padding-right: 6px;">{{localize "GURPS.ST"}}</td>
				          <td style="" class="rollable fill-in" data-type="ST">{{data.attributes.ST.value}}</td>
				          <td style="" class="brackets">[</td>
				          <td style="" class="pts">{{data.attributes.ST.points}}</td>
				          <td style="" class="brackets">]</td>
				          <td style="font-weight: 900; text-align: right; padding-right: 6px; border-top: none; border-left: none;">{{localize "GURPS.HP"}}</td>
				          <td style="" class="rollable fill-in" data-type="HP">{{data.HP.max}}</td>
				          <td style="" class="rollable fill-in" data-type="HP">{{data.HP.value}}</td>
				          <td style="" class="brackets">[</td>
				          <td style="" class="pts">{{data.HP.points}}</td>
				          <td style="" class="brackets">]</td>
				        </tr>
				        <tr>
				          <td style="font-weight: 900; border: none; text-align: center; padding-right: 6px;">{{localize "GURPS.DX"}}</td>
				          <td style="" class="rollable fill-in" data-type="DX">{{data.attributes.DX.value}}</td>
				          <td style="" class="brackets">[</td>
				          <td style="" class="pts">{{data.attributes.DX.points}}</td>
				          <td style="" class="brackets">]</td>
				          <td style="font-weight: 900; text-align: right; padding-right: 6px; border-top: none; border-left: none;">{{localize "GURPS.WILL"}}</td>
				          <td style="" class="rollable fill-in" data-type="Will">{{data.attributes.WILL.value}}</td>
				          <td style="">&nbsp;</td>
				          <td style="" class="brackets">[</td>
				          <td style="" class="pts">{{data.attributes.WILL.points}}</td>
				          <td style="" class="brackets">]</td>
				        </tr>
				        <tr>
				          <td style="font-weight: 900; border: none; text-align: center; padding-right: 6px;">{{localize "GURPS.IQ"}}</td>
				          <td style="" class="rollable fill-in" data-type="IQ">{{data.attributes.IQ.value}}</td>
				          <td style="" class="brackets">[</td>
				          <td style="" class="pts">{{data.attributes.IQ.points}}</td>
				          <td style="" class="brackets">]</td>
				          <td style="font-weight: 900; text-align: right; padding-right: 6px; border-top: none; border-left: none;">{{localize "GURPS.PER"}}</td>
				          <td style="" class="rollable fill-in" data-type="Per">{{data.attributes.PER.value}}</td>
				          <td style="border-top: none; font-size: 6pt; line-height:8px; vertical-align: bottom;">CURRENT</td>
				          <td style="" class="brackets">[</td>
				          <td style="" class="pts">{{data.attributes.PER.points}}</td>
				          <td style="" class="brackets">]</td>
				        </tr>
				        <tr>
				          <td style="font-weight: 900; border: none; text-align: center; padding-right: 6px;">{{localize "GURPS.HT"}}</td>
				          <td style="border-bottom: 1px solid black;" class="rollable fill-in" data-type="HT">{{data.attributes.HT.value}}</td>
				          <td style="" class="brackets">[</td>
				          <td style="" class="pts">{{data.attributes.HT.points}}</td>
				          <td style="" class="brackets">]</td>
				          <td style="font-weight: 900; text-align: right; padding-right: 6px; border-top: none; border-left: none;">{{localize "GURPS.FP"}}</td>
				          <td style="border-bottom: 1px solid black;" class="rollable fill-in" data-type="FP">{{data.FP.max}}</td>
				          <td style="" class="rollable fill-in" data-type="FP">{{data.FP.value}}</td>
				          <td style="" class="brackets">[</td>
				          <td style="" class="pts">{{data.FP.points}}</td>
				          <td style="" class="brackets">]</td>
				        </tr>
				      </table>            
						</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Skills</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
             <div id="description">
                <div class="fieldblock">
                    <div class="label">Gender:</div>
                    <div class="field">Male</div>
                    <div class="label">Age:</div>
                    <div class="field">20</div>
                    <div class="label">Birthday:</div>
                    <div class="field">July 4</div>
                    <div class="label">Religion:</div>
                    <div class="field">&quot;Nature&quot;</div>
                </div>
                <div class="fieldblock">
                    <div class="label">Height:</div>
                    <div class="field">6' 10&quot;</div>
                    <div class="label">Weight:</div>
                    <div class="field">300 lb</div>
                    <div class="label">Size:</div>
                    <div class="field">+0</div>
                    <div class="label">TL:</div>
                    <div class="field">3</div>
                </div>
                <div class="fieldblock">
                    <div class="label">Hair:</div>
                    <div class="field">Bald</div>
                    <div class="label">Eyes:</div>
                    <div class="field">Brown</div>
                    <div class="label">Skin:</div>
                    <div class="field">Dark Green amd Brown</div>
                    <div class="label">Hand:</div>
                    <div class="field">Right</div>
                </div>
            </div>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{!-- Skills --}}
            <ul class="skills-list">
            {{#each actor.data.skills}}
                <li class="skill flexrow">
                     <h4 class="skill-name rollable">{{this.name}}</h4>
                    <span class="skill-ability">{{this.level}}</span>
                    <span class="skill-mod">{{this.relativeLevel}}</span>
                    <span class="skill-passive">({{this.pageRef}})</span>
                </li>
            {{/each}}
            </ul>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">Attribute Key</span>
                <span class="attribute-value">Value</span>
                <span class="attribute-label">Label</span>
                <span class="attribute-dtype">Data Type</span>
                <a class="attribute-control" data-action="create"><i class="fas fa-plus"></i></a>
            </header>

            <ol class="attributes-list">
            {{#each data.attributes as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                    <input class="attribute-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}"/>
                    {{#if attr.isCheckbox}}
                    <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.{{key}}.value" {{checked attr.value}}/></label>
                    {{else}}
                    <input class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="{{attr.dtype}}"/>
                    {{/if}}
                    <input class="attribute-label" type="text" name="data.attributes.{{key}}.label" value="{{attr.label}}"/>
                    <select class="attribute-dtype" name="data.attributes.{{key}}.dtype">
                        {{#select attr.dtype}}
                        {{#each ../dtypes as |t|}}
                        <option value="{{t}}">{{t}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
                </li>
            {{/each}}
            </ol>
        </div>
    </section>
</form>

