<form class="{{cssClass}}" autocomplete="off">
 
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="attributes">
              <table>
                <tr class="tr_fontSize6_lineHeight8">
                  <td class="w9px">&nbsp;</td>
                  <td class="w40px">&nbsp;</td>
                  <td class="w9px">&nbsp;</td>
                  <td class="w20px">&nbsp;</td>
                  <td class="w9px">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="w40px">&nbsp;</td>
                  <td class="w40px">CURRENT</td>
                  <td class="w9px">&nbsp;</td>
                  <td class="w20px">&nbsp;</td>
                  <td class="w9px">&nbsp;</td>
                </tr>
                <tr>
                  <td class="fw900 no-border text-center padding-right-6" >{{localize "GURPS.attributeST"}}</td>
                  <td class="rollable fill-in" data-type="ST">{{data.attributes.ST.value}}</td>
                  <td class="brackets">[</td>
                  <td class="pts">{{data.attributes.ST.points}}</td>
                  <td class="brackets">]</td>
                  <td class="fw900 text-right padding-right-6 no-border-top no-border-left" >{{localize "GURPS.HP"}}</td>
                  <td class="rollable fill-in" data-type="HP">{{data.HP.max}}</td>
                  <td class="rollable fill-in" data-type="HP">{{data.HP.value}}</td>
                  <td class="brackets">[</td>
                  <td class="pts">{{data.HP.points}}</td>
                  <td class="brackets">]</td>
                </tr>
                <tr>
                  <td class="fw900 text-center padding-right-6 no-border">{{localize "GURPS.attributeDX"}}</td>
                  <td class="rollable fill-in" data-type="DX">{{data.attributes.DX.value}}</td>
                  <td class="brackets">[</td>
                  <td class="pts">{{data.attributes.DX.points}}</td>
                  <td class="brackets">]</td>
                  <td class="fw900 text-right padding-right-6 no-border-top no-border-left" >{{localize "GURPS.attributeWILL"}}</td>
                  <td class="rollable fill-in" data-type="Will">{{data.attributes.WILL.value}}</td>
                  <td style="">&nbsp;</td>
                  <td class="brackets">[</td>
                  <td class="pts">{{data.attributes.WILL.points}}</td>
                  <td class="brackets">]</td>
                </tr>
                <tr>
                  <td sclass="fw900 no-border text-center padding-right-6">{{localize "GURPS.attributeIQ"}}</td>
                  <td class="rollable fill-in" data-type="IQ">{{data.attributes.IQ.value}}</td>
                  <td class="brackets">[</td>
                  <td class="pts">{{data.attributes.IQ.points}}</td>
                  <td class="brackets">]</td>
                  <td class="fw900 text-right padding-right-6 no-border-top no-border-left">{{localize "GURPS.attributePER"}}</td>
                  <td class="rollable fill-in" data-type="Per">{{data.attributes.PER.value}}</td>
                  <td class="no-border-top fontSize6_lineHeight8 vertical-bottom">CURRENT</td>
                  <td class="brackets">[</td>
                  <td class="pts">{{data.attributes.PER.points}}</td>
                  <td class="brackets">]</td>
                </tr>
                <tr>
                  <td sclass="fw900 no-border text-center padding-right-6">{{localize "GURPS.attributeHT"}}</td>
                  <td style="border-bottom: 1px solid black;" class="rollable fill-in" data-type="HT">{{data.attributes.HT.value}}</td>
                  <td class="brackets">[</td>
                  <td class="pts">{{data.attributes.HT.points}}</td>
                  <td class="brackets">]</td>
                  <td class="fw900 text-right padding-right-6 no-border-top no-border-left">{{localize "GURPS.FP"}}</td>
                  <td class="border-bottom-1-solid-black rollable fill-in" data-type="FP">{{data.FP.max}}</td>
                  <td class="rollable fill-in" data-type="FP">{{data.FP.value}}</td>
                  <td class="brackets">[</td>
                  <td class="pts">{{data.FP.points}}</td>
                  <td class="brackets">]</td>
                </tr>
              </table>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Skills</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
             <div id="description">
                <div class="fieldblock">
                    <div class="label">Gender:</div>
                    <div class="field">{{data.traits.gender}}</div>
                    <div class="label">Age:</div>
                    <div class="field">{{data.traits.age}}</div>
                    <div class="label">Birthday:</div>
                    <div class="field">{{data.traits.birthday}}</div>
                    <div class="label">Religion:</div>
                    <div class="field">{{data.traits.religion}}</div>
                </div>
                <div class="fieldblock">
                    <div class="label">Height:</div>
                    <div class="field">{{data.traits.height}};</div>
                    <div class="label">Weight:</div>
                    <div class="field">{{data.traits.weight}}</div>
                    <div class="label">Size:</div>
                    <div class="field">{{data.traits.sizemod}}</div>
                    <div class="label">TL:</div>
                    <div class="field">{{data.traits.techlevel}}</div>
                </div>
                <div class="fieldblock">
                    <div class="label">Hair:</div>
                    <div class="field">{{data.traits.hair}}</div>
                    <div class="label">Eyes:</div>
                    <div class="field">{{data.traits.eyes}}</div>
                    <div class="label">Skin:</div>
                    <div class="field">{{data.traits.skin}}</div>
                    <div class="label">Hand:</div>
                    <div class="field">{{data.traits.hand}}</div>
                </div>
            </div>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{!-- Skills --}}
            <ul class="skills-list">
            {{#each actor.data.skills}}
                <li class="skill flexrow">
                     <h4 class="skill-name rollable">{{this.name}}</h4>
                    <span class="skill-ability">{{this.level}}</span>
                    <span class="skill-mod">{{this.relativelevel}}</span>
                    <span class="skill-passive">({{this.pageref}})</span>
                </li>
            {{/each}}
            </ul>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">Attribute Key</span>
                <span class="attribute-value">Value</span>
                <span class="attribute-label">Label</span>
                <span class="attribute-dtype">Data Type</span>
                <a class="attribute-control" data-action="create"><i class="fas fa-plus"></i></a>
            </header>

            <ol class="attributes-list">
            {{#each data.attributes as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                    <input class="attribute-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}"/>
                    {{#if attr.isCheckbox}}
                    <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.{{key}}.value" {{checked attr.value}}/></label>
                    {{else}}
                    <input class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="{{attr.dtype}}"/>
                    {{/if}}
                    <input class="attribute-label" type="text" name="data.attributes.{{key}}.label" value="{{attr.label}}"/>
                    <select class="attribute-dtype" name="data.attributes.{{key}}.dtype">
                        {{#select attr.dtype}}
                        {{#each ../dtypes as |t|}}
                        <option value="{{t}}">{{t}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
                </li>
            {{/each}}
            </ol>
        </div>
    </section>
</form>

