<form class="{{cssClass}}" autocomplete="off" style='scroll-padding-top: 5px;'>
  <div id="sheet" class="gurpsactorsheet">
    <div id="personal">
      <div id="portrait">
        <div class="header">{{localize "GURPS.portrait"}}</div>
        <div class="img-display" style="background-image: url({{ actor.img }});">
          <img class="profile-img" src="{{ actor.img }}" data-edit="img" title="{{actor.name}}" />
        </div>
      </div>
      <div id="identity">
        <div class="header">{{localize "GURPS.identity"}}</div>
        <div class="fieldblock">
          <div class="label">{{localize "GURPS.identityName"}}:</div>
          <div class="field">{{{actor.name}}}</div>
          <div class="label">{{localize "GURPS.identityTitle"}}:</div>
          <div class="field">{{data.traits.title}}</div>
          <div class="label">{{localize "GURPS.identityPlayer"}}:</div>
          <div class="field">{{data.traits.player}}</div>
        </div>
      </div>
      <div id="miscellaneous">
        <div class="header">{{localize "GURPS.miscellaneous"}}</div>
        <div class="fieldblock">
          <div class="label">{{localize "GURPS.miscellaneousCreated"}}:</div>
          <div class="field">{{data.traits.createdon}}</div>
          <div class="label">{{localize "GURPS.miscellaneousModified"}}:</div>
          <div class="field">{{data.traits.modifiedon}}</div>
          <div class="label">{{localize "GURPS.miscellaneousOptions"}}:</div>
          <div class="field"></div>
        </div>
      </div>
      <div id="description">
        <div class="header">{{localize "GURPS.description"}}</div>
        <div class="fieldblock">
          <div class="label">{{localize "GURPS.descriptionGender"}}:</div>
          <div class="field">{{data.traits.gender}}</div>
          <div class="label">{{localize "GURPS.descriptionAge"}}:</div>
          <div class="field">{{data.traits.age}}</div>
          <div class="label">{{localize "GURPS.descriptionBirthday"}}:</div>
          <div class="field">{{data.traits.birthday}}</div>
          <div class="label">{{localize "GURPS.descriptionReligion"}}:</div>
          <div class="field">{{data.traits.religion}}</div>
          <div class="label">&nbsp;</div>
          <div class="field"></div>
        </div>
        <div class="fieldblock">
          <div class="label">{{localize "GURPS.descriptionHeight"}}:</div>
          <div class="field">{{data.traits.height}}</div>
          <div class="label">{{localize "GURPS.descriptionWeight"}}:</div>
          <div class="field">{{data.traits.weight}}</div>
          <div class="label">{{localize "GURPS.descriptionSizeModifier"}}:</div>
          <div class="field">{{data.traits.sizemod}}</div>
          <div class="label">{{localize "GURPS.descriptionTechLevel"}}:</div>
          <div class="field">{{data.traits.techlevel}}</div>
          <div class="label">{{localize "GURPS.descriptionBodyPlan"}}:</div>
          <div class="field">{{localize (concat 'GURPS.BODYPLAN'
            data.additionalresources.bodyplan)}}</div>
        </div>
        <div class="fieldblock">
          {{#if data.traits.eyes}}
          <div class="label">{{localize "GURPS.descriptionHair"}}:</div>
          <div class="field">{{data.traits.hair}}</div>
          <div class="label">{{localize "GURPS.descriptionEyes"}}:</div>
          <div class="field">{{data.traits.eyes}}</div>
          <div class="label">{{localize "GURPS.descriptionSkin"}}:</div>
          <div class="field">{{data.traits.skin}}</div>
          <div class="label">{{localize "GURPS.descriptionHand"}}:</div>
          <div class="field">{{data.traits.hand}}</div>
          {{else}}
          <div class="label textarea">{{localize "GURPS.descriptionAppearance"}}:</div>
          <div class="label"></div>

          <div class="field" style="border: none; grid-column: 1 / span 2;">
            <textarea readonly rows="4">{{data.traits.appearance}}</textarea>
          </div>
          {{/if}}
        </div>
      </div>
      <div id="points">
        <div class="header">{{data.totalpoints.total}} {{localize "GURPS.points"}}</div>
        <div class="fieldblock">
          <div class="field">{{data.totalpoints.unspent}}</div>
          <div class="label">{{localize "GURPS.points"}}</div>
          <div class="field noedit"></div>
          <div class="label">{{localize "GURPS.pointsRace"}}</div>
          <div class="field noedit">{{data.totalpoints.attributes}}</div>
          <div class="label">{{localize "GURPS.pointsAttributes"}}</div>
          <div class="field noedit">{{data.totalpoints.ads}}</div>
          <div class="label">{{localize "GURPS.pointsAdvantages"}}</div>
          <div class="field noedit">{{data.totalpoints.disads}}</div>
          <div class="label">{{localize "GURPS.pointsDisadvantages"}}</div>
          <div class="field noedit">{{data.totalpoints.quirks}}</div>
          <div class="label">{{localize "GURPS.pointsQuirks"}}</div>
          <div class="field noedit">{{data.totalpoints.skills}}</div>
          <div class="label">{{localize "GURPS.pointsSkills"}}</div>
          <div class="field noedit">{{data.totalpoints.spells}}</div>
          <div class="label">{{localize "GURPS.pointsSpells"}}</div>
        </div>
      </div>
    </div>
    <div id="stats">
      <div id="attributes">
        <div class="header">{{localize "GURPS.attributes"}}</div>
        <div class="fieldblock3">
          <div class="points">[{{data.attributes.ST.points}}]</div>
          <div class="field rollable" data-path="attributes.ST.value" data-otf='ST'>
            {{data.attributes.ST.currentvalue}}</div>
          <div class="label">{{localize "GURPS.attributesSTNAME"}} ({{localize "GURPS.attributesST"}})</div>
          <div class="points">[{{data.attributes.DX.points}}]</div>
          <div class="field rollable" data-path="attributes.DX.value" data-otf='DX'>
            {{data.attributes.DX.value}}</div>
          <div class="label">{{localize "GURPS.attributesDXNAME"}} ({{localize "GURPS.attributesDX"}})</div>
          <div class="points">[{{data.attributes.IQ.points}}]</div>
          <div class="field rollable" data-path="attributes.IQ.value" data-otf='IQ'>
            {{data.attributes.IQ.value}}</div>
          <div class="label">{{localize "GURPS.attributesIQNAME"}} ({{localize "GURPS.attributesIQ"}})</div>
          <div class="points">[{{data.attributes.HT.points}}]</div>
          <div class="field rollable" data-path="attributes.HT.value" data-otf='HT'>
            {{data.attributes.HT.value}}</div>
          <div class="label">{{localize "GURPS.attributesHTNAME"}} ({{localize "GURPS.attributesHT"}})</div>
          <hr>
          <div class="points">[{{data.attributes.WILL.points}}]</div>
          <div class="field rollable" data-path="attributes.WILL.value" data-otf='WILL'>
            {{data.attributes.WILL.value}}</div>
          <div class="label">{{localize "GURPS.attributesWILLNAME"}}</div>
          <div class="points"></div>
          <div class="field noedit rollable" data-path="frightcheck" data-otf='Fright Check'>
            {{data.frightcheck}}</div>
          <div class="label">{{localize "GURPS.frightcheck"}}</div>
          <hr>
          <div class="points">[{{data.basicspeed.points}}]</div>
          <div class="field">{{data.basicspeed.value}}</div>
          <div class="label">{{localize "GURPS.basicspeed"}}</div>
          <div class="points">[{{data.basicmove.points}}]</div>
          <div class="field">{{data.basicmove.value}}</div>
          <div class="label">{{localize "GURPS.basicmove"}}</div>
          <hr>
          <div class="points">[{{data.attributes.PER.points}}]</div>
          <div class="field rollable" data-path="attributes.PER.value" data-otf='PER'>
            {{data.attributes.PER.value}}</div>
          <div class="label">{{localize "GURPS.attributesPERNAME"}} ({{localize "GURPS.attributesPER"}})</div>
          <div class="points"></div>
          <div class="field noedit rollable" data-path="vision" data-otf='Vision'>{{data.vision}}</div>
          <div class="label">{{localize "GURPS.vision"}}</div>
          <div class="points"></div>
          <div class="field noedit rollable" data-path="hearing" data-otf='Hearing'>{{data.hearing}}</div>
          <div class="label">{{localize "GURPS.hearing"}}</div>
          <div class="points"></div>
          <div class="field noedit rollable" data-path="tastesmell" data-otf='Taste Smell'>{{data.tastesmell}}
          </div>
          <div class="label">{{localize "GURPS.tastesmell"}}</div>
          <div class="points"></div>
          <div class="field noedit rollable" data-path="touch" data-otf='Touch'>{{data.touch}}</div>
          <div class="label">{{localize "GURPS.touch"}}</div>
          <hr>
          <div class="points"></div>
          <div class="field noedit rollable" data-damage data-otf='{{data.thrust}} dmg'>{{data.thrust}}</div>
          <div class="label">{{localize "GURPS.thrust"}}</div>
          <div class="points"></div>
          <div class="field noedit rollable" data-damage data-otf='{{data.swing}} dmg'>{{data.swing}}</div>
          <div class="label">{{localize "GURPS.swing"}}</div>
        </div>
      </div>
      <div id="encumbrance">
        <div class="header">{{localize "GURPS.encumbranceMoveDodge"}}</div>
        <div class="encmarkerh header"></div>
        <div class="ench header">{{localize "GURPS.level"}}</div>
        <div class="loadh header">{{localize "GURPS.maxload"}}</div>
        <div class="moveh header">{{localize "GURPS.move"}}</div>
        <div class="dodgeh header">{{localize "GURPS.dodge"}}</div>

        {{#each data.encumbrance as | this key |}}
        {{#if this.current}}
        <div class="encmarker current"></div>
        <div class="enc current {{this.key}}" data-key="{{key}}"></div>
        <div class="load current">{{this.weight}}</div>
        <div class="move current">{{this.currentmove}}</div>
        <div class="dodge current rollable" data-otf='Dodge' data-path="dodge">{{this.currentdodge}}</div>
        {{else}}
        <div class="encmarker "></div>
        <div class="enc {{this.key}}" data-key="{{key}}"></div>
        <div class="load ">{{this.weight}}</div>
        <div class="move ">{{this.currentmove}}</div>
        <div class="dodge" data-path="dodge">{{this.currentdodge}}</div>
        {{/if}}
        {{/each}}

      </div>
      <div id='qnotes'>
        {{#if data.additionalresources.qnotes}}{{{gurpslink data.additionalresources.qnotes}}}{{else}} <span
          style='color:lightgrey'>double click to edit Quick Note<span>{{/if}}
      </div>
      <div id="lifting">
        <div class="header">{{localize "GURPS.liftingAndMovingThings"}}</div>
        <div class="lift">{{data.liftingmoving.basiclift}}</div>
        <div class="liftdesc">{{localize "GURPS.basicLift"}}</div>
        <div class="lift">{{data.liftingmoving.onehandedlift}}</div>
        <div class="liftdesc">{{localize "GURPS.oneHandLift"}}</div>
        <div class="lift">{{data.liftingmoving.twohandedlift}}</div>
        <div class="liftdesc">{{localize "GURPS.twoHandLift"}}</div>
        <div class="lift">{{data.liftingmoving.shove}}</div>
        <div class="liftdesc">{{localize "GURPS.shoveAndKnockOver"}}</div>
        {{#if data.liftingmoving.runningshove}}
        <div class="lift">{{data.liftingmoving.runningshove}}</div>
        <div class="liftdesc">{{localize "GURPS.runningShoveAndKnockOver"}}</div>
        {{/if}}
        <div class="lift">{{data.liftingmoving.carryonback}}</div>
        <div class="liftdesc">{{localize "GURPS.carryOnBack"}}</div>
        <div class="lift">{{data.liftingmoving.shiftslightly}}</div>
        <div class="liftdesc">{{localize "GURPS.shiftSlightly"}}</div>
      </div>
      <div id="location">
        <div class="header">{{localize "GURPS.hitLocation"}}</div>
        <div class="roll header">{{localize "GURPS.roll"}}</div>
        <div class="where header">{{localize "GURPS.hitLocationWhere"}}</div>
        <div class="penalty header">{{localize "GURPS.hitLocationPenalty"}}</div>
        <div class="dr header">{{localize "GURPS.hitLocationDR"}}</div>

        {{#each data.hitlocations}}
        <div class="roll">{{hitlocationroll this.where this.roll ../data}}</div>
        <div class="where {{gurpstippable}}" data-tooltip="Eqt on {{this.where}}: {{this.equipment}}">
          {{localizeWithFallback (concat "GURPS.hitLocation" this.where) this.where}}
        </div>
        <div class="penalty {{#if (ne this.penalty '0')}}gmod{{/if}}" data-name="to hit {{this.where}}" data-otf='{{this.penalty}} to hit {{this.where}}'>
          {{hitlocationpenalty this.where this.penalty ../data}}</div>
        <div class="dr">{{this.dr}}
        </div>
        {{/each}}


      </div>
      <div id="trackers">
        <div>
          {{#if useCI}}
          <div id='combat-hit' class='conditional-injury'>
            <div class='header major-heading'>Injury</div>
            <div class="tracked-resource no-border">
              <div class="header minor-heading">Severity</div>
              <div class='spinner'>
                <button data-operation='ci-severity-dec'><i class="fas fa-minus"></i></button>

                <input class="gcs-attr-input" name="data.conditionalinjury.injury.severity" type="text"
                  value="{{data.conditionalinjury.injury.severity}}" data-dtype="String"
                  data-operation="ci-severity-set" />

                <button data-operation='ci-severity-inc'><i class="fas fa-plus"></i></button>
                <button data-operation='ci-reset'><i class="fas fa-undo"></i></button>
              </div>
              <div class="header minor-heading">Time to Heal</div>
              <div class='spinner'>
                <button data-operation='ci-days-dec'><i class="fas fa-minus"></i></button>
                <input class="gcs-attr-input" name="injury.daystoheal" type="text"
                  value="{{data.conditionalinjury.injury.daystoheal}}" placeholder="" data-dtype="Number"
                  data-operation="ci-days-set" />
                <button class='no-gap' data-operation='ci-days-inc'><i class="fas fa-plus"></i></button>
                <div style='font-size: 85%;'>&nbsp;Days</div>
              </div>
              <div class='condition-block'>
                <div class='tooltip-wrapper'>
                  <div
                    class='tooltip condition {{ciCurrentGrossEffects data.conditionalinjury.injury.severity "style"}}'>
                    {{ciCurrentGrossEffects data.conditionalinjury.injury.severity "label"}}
                    <span class="tooltiptext">
                      <div class="fieldblock">
                        {{#ciSeveritiesTooltip}}
                        <div class="field condensed noedit">{{severity}}</div>
                        <div class="label">{{label}}</div>
                        {{/ciSeveritiesTooltip}}
                      </div>
                    </span>
                  </div>
                </div>
                <div class='basic-value fieldblock3'>
                  <div class="points">[{{#if
                    data.conditionalinjury.RT.points}}{{data.conditionalinjury.RT.points}}{{else}}{{data.HP.points}}{{/if}}]
                  </div>
                  <div class='field'>{{data.conditionalinjury.RT.value}}&nbsp;RT</div>
                  <div class='label'>{{data.HP.max}}&nbsp;HP</div>
                </div>
              </div>
            </div>
          </div>
          {{else}}
          <div id='combat-hit' class='tracked-resource' data-gurps-resource='HP'>
            <div class='header'>{{localize "GURPS.attributesHPNAME"}}</div>
            <div class='spinner'>
              <button data-operation='resource-dec'><i class="fas fa-minus"></i></button>
              <details>
                <summary>
                  <input class="gcs-attr-input" name="data.HP.value" type="text" value="{{data.HP.value}}"
                    placeholder="{{data.HP.max}}" data-dtype="Number" />
                </summary>
                <div class='popup button-ribbon'>
                  <button data-operation='resource-update' data-value='-10'>-10</button>
                  <button data-operation='resource-update' data-value='-5'>-5</button>
                  <button data-operation='resource-update' data-value='-1'>-1</button>
                  <button data-operation='resource-update' data-value='0'>0</button>
                  <button class='restore' data-operation='resource-update' data-value=''></button>
                  <button data-operation='resource-update' data-value='+1'>+1</button>
                  <button data-operation='resource-update' data-value='+5'>+5</button>
                  <button data-operation='resource-update' data-value='+10'>+10</button>
                </div>
              </details>
              <button data-operation='resource-inc'><i class="fas fa-plus"></i></button>
              <button data-operation='resource-reset'><i class="fas fa-undo"></i></button>
            </div>
            <div class='condition-block'>
              <div class='tooltip-wrapper'>
                <div class='tooltip condition {{fpCondition data.HP "style"}}'>{{hpCondition data.HP 'label'}}
                  &nbsp; <i class='fas fa-heart-broken {{optionSetStyle data.additionalresources.isReeling}}'
                    data-onethird='isReeling'></i>
                  <span class="tooltiptext">
                    <div class="fieldblock">
                      {{#hpBreakpoints data.HP}}
                      <div class="field condensed noedit">{{breakpoint}}</div>
                      <div class="label {{style}}">{{label}}</div>
                      {{/hpBreakpoints}}
                    </div>
                  </span>
                </div>
              </div>
              <div class='basic-value fieldblock3'>
                <div class="points">[{{data.HP.points}}]</div>
                <div class='field'>{{data.HP.max}}</div>
                <div class='label'>{{localize "GURPS.basic"}}</div>
              </div>
            </div>
          </div>
          {{/if}}
          <!-- end of combat-hit -->

          <div id='combat-fat' class='tracked-resource' data-gurps-resource='FP'>
            <div class='header'>{{localize "GURPS.attributesFPNAME"}}</div>
            <div class='spinner'>
              <button data-operation='resource-dec'><i class="fas fa-minus"></i></button>
              <details>
                <summary>
                  <input class="gcs-attr-input" name="data.FP.value" type="text" value="{{data.FP.value}}"
                    placeholder="{{data.FP.max}}" data-dtype="Number" />
                </summary>
                <div class='popup button-ribbon'>
                  <button data-operation='resource-update' data-value='-10'>-10</button>
                  <button data-operation='resource-update' data-value='-5'>-5</button>
                  <button data-operation='resource-update' data-value='-1'>-1</button>
                  <button data-operation='resource-update' data-value='0'>0</button>
                  <button class='restore' data-operation='resource-update' data-value=''></button>
                  <button data-operation='resource-update' data-value='+1'>+1</button>
                  <button data-operation='resource-update' data-value='+5'>+5</button>
                  <button data-operation='resource-update' data-value='+10'>+10</button>
                </div>
              </details>
              <button data-operation='resource-inc'><i class="fas fa-plus"></i></button>
              <button data-operation='resource-reset'><i class="fas fa-undo"></i></button>
            </div>
            <div class='condition-block'>
              <div class='tooltip-wrapper'>
                <div class='tooltip condition {{fpCondition data.FP "style"}}'>{{fpCondition data.FP 'label'}}
                  &nbsp; <i class='fas fa-heartbeat {{optionSetStyle data.additionalresources.isTired}}'
                    data-onethird='isTired'></i>
                  <span class="tooltiptext">
                    <div class="fieldblock">
                      {{#fpBreakpoints data.FP}}
                      <div class="field condensed noedit">{{breakpoint}}</div>
                      <div class="label {{style}}">{{label}}</div>
                      {{/fpBreakpoints}}
                    </div>
                  </span>
                </div>
              </div>
              <div class='basic-value fieldblock3'>
                <div class="points">[{{data.FP.points}}]</div>
                <div class='field'>{{data.FP.max}}</div>
                <div class='label'>{{localize "GURPS.basic"}}</div>
              </div>
            </div>
          </div> <!-- combat-fat -->
        </div>

        <div></div>

        <div id='resources'>
          <div class="header" style="grid-column: 1 / span 2;">{{localize "GURPS.resourceTrackers"}}</div>

          {{#each data.additionalresources.tracker}}
          <div class='tracked-resource {{#unless name}}inactive{{/unless}}'
            data-gurps-resource='additionalresources.tracker.{{@index}}'>
            <div class='header with-editor'>
              {{#if name}}{{name}}{{else}}Resource {{@index}}{{/if}}<span class='edit'><i
                  class='fas fa-pencil-alt'></i></span>
            </div>
            <div class='spinner'>
              <button data-operation='resource-dec'><i class="fas fa-minus"></i></button>
              <details>
                <summary>
                  <input class="gcs-attr-input" name="data.additionalresources.tracker.{{@index}}.value" type="text"
                    value="{{value}}" placeholder="0" data-dtype="Number" />
                </summary>
                <div class='popup button-ribbon'>
                  <button data-operation='resource-update' data-value='-10'>-10</button>
                  <button data-operation='resource-update' data-value='-5'>-5</button>
                  <button data-operation='resource-update' data-value='-1'>-1</button>
                  <button data-operation='resource-update' data-value='0'>0</button>
                  <button class='restore' data-operation='resource-update' data-value=''></button>
                  <button data-operation='resource-update' data-value='+1'>+1</button>
                  <button data-operation='resource-update' data-value='+5'>+5</button>
                  <button data-operation='resource-update' data-value='+10'>+10</button>
                </div>
              </details>
              <button data-operation='resource-inc'><i class="fas fa-plus"></i></button>
              <button data-operation='resource-reset'><i class="fas fa-undo"></i></button>
            </div>
            <div class='condition-block tooltip-wrapper'>
              {{#if thresholds}}
              {{#with (lookup thresholds (threshold-of thresholds max value))}}
              <div class='tooltip condition' style='background-color: {{concat this.color "80"}};'>{{this.condition}}
                <span class="tooltiptext">
                  <div style="display: grid; grid-template-columns: min-content min-content auto;">
                    {{#each (thresholdBreakpoints ../this)}}
                    <div class="field condensed noedit">{{comparison}}</div>
                    <div class="field condensed noedit">{{breakpoint}}</div>
                    <div class="label {{style}}">{{label}}</div>
                    {{/each}}
                  </div>
                </span>
              </div>
              <div style='display: grid; grid-template-columns: 1fr 1fr;'>
                <div class='pdflink' style='font-size: 80%;'>{{../pdf}}</div>
                <div class='max'>{{../alias}} ({{../min}}/{{../max}})</div>
              </div>
              {{/with}}
              {{else}}
              <div class='condition {{#if (gt value max)}}above{{else}}{{#if (lt value min)}}below{{/if}}{{/if}}'>
                {{#if
                (gt value max)}}Over{{else}}{{#if (lt value min)}}Below{{else}}Normal{{/if}}{{/if}}</div>
              <div class='max'>{{alias}} ({{min}}/{{max}})</div>
              {{/if}}
            </div>
          </div> <!-- end of resource -->
          {{/each}}

        </div>
      </div>
    </div>

    {{#if (notEmpty data.reactions)}}
    <div id="reactions">
      <div class="modifier header">{{localize "GURPS.modifier"}}</div>
      <div class="situation header">{{localize "GURPS.reaction"}}</div>
      <div></div>
      {{#each data.reactions}}
      <div class="modifier gmod" data-name="Reaction {{this.situation}}">{{this.modifier}}</div>
      <div class="situation">{{{gurpslink this.situation}}}</div>
      <div></div>
      {{/each}}

    </div>
    {{/if}}

    {{#if (notEmpty data.melee)}}
    <div id="melee">
      <div class="desc header">{{localize "GURPS.meleeWeapons"}}</div>
      <div class="usage header">{{localize "GURPS.usage"}}</div>
      <div class="level header">{{localize "GURPS.level"}}</div>
      <div class="parry header">{{localize "GURPS.parry"}}</div>
      <div class="block header">{{localize "GURPS.block"}}</div>
      <div class="damage header">{{localize "GURPS.damage"}}</div>
      <div class="reach header">{{localize "GURPS.reach"}}</div>
      <div class="st header">{{localize "GURPS.attributesST"}}</div>
      <div></div>

      {{#each data.melee as | this key |}}
      <div class="desc gcs-edit dblclkedit" data-key="data.melee.{{@key}}" data-path="data.melee">{{{gurpslink
        this.name}}}
        <div class="list_note">{{{gurpslink this.notes}}}</div>
      </div>
      <div class="usage">{{this.mode}}</div>
      <div class="level rollable" data-name="{{this.name}} ({{this.mode}})"
        data-otf='A:"{{this.name}} ({{this.mode}})"'>{{this.level}}</div>
      <div class="parry rollable" data-otf="Parry">{{this.parry}}</div>
      <div class="block rollable" data-otf="Block">{{this.block}}</div>
      <div class="damage rollable" data-damage data-otf='{{this.damage}}'>{{this.damage}}</div>
      <div class="reach">{{this.reach}}</div>
      <div class="st">{{this.st}}</div>
      <div></div>
      {{/each}}

    </div>
    {{/if}}

    {{#if (notEmpty data.ranged)}}
    <div id="ranged">
      <div class="desc header">{{localize "GURPS.rangedWeapons"}}</div>
      <div class="usage header">{{localize "GURPS.usage"}}</div>
      <div class="level header">{{localize "GURPS.level"}}</div>
      <div class="acc header">{{localize "GURPS.acc"}}</div>
      <div class="damage header">{{localize "GURPS.damage"}}</div>
      <div class="range header">{{localize "GURPS.range"}}</div>
      <div class="rof header">{{localize "GURPS.rof"}}</div>
      <div class="shots header">{{localize "GURPS.shots"}}</div>
      <div class="bulk header">{{localize "GURPS.bulk"}}</div>
      <div class="rcl header">{{localize "GURPS.rcl"}}</div>
      <div class="st header">{{localize "GURPS.attributesST"}}</div>


      {{#each data.ranged as | this key |}}
      <div class="desc dblclkedit" data-key="data.ranged.{{@key}}">{{{gurpslink this.name}}}
        <div class="list_note">{{{gurpslink this.notes}}}</div>
        {{! <div class="ranged_options"><button type="button">Reload</button>TEXT<button type="button">Decr</button>
        </div> }}
      </div>
      <div class="usage">{{this.mode}}</div>
      <div class="level rollable" data-name="{{this.name}} ({{this.mode}})" data-key="data.ranged.{{key}}"
        data-otf='A:"{{this.name}} ({{this.mode}})"'>{{this.level}}</div>
      <div class="acc {{#if (ne this.acc '0')}}gmod{{/if}}" data-name='Acc for {{this.name}}' data-otf='{{#if (gt this.acc 0)}}+{{/if}}{{this.acc}} Acc'>
        {{#if (gt this.acc 0)}}+{{/if}}{{this.acc}}</div>
      <div class="damage rollable" data-damage data-otf='{{this.damage}}'>{{this.damage}}</div>
      <div class="range">{{this.range}}</div>
      <div class="rof">{{this.rof}}</div>
      <div class="shots">{{this.shots}}</div>
      <div class="bulk {{#if (ne this.bulk '0')}}gmod{{/if}}" data-name='Bulk for {{this.name}}' data-otf='{{this.bulk}} Bulk'>{{this.bulk}}
      </div>
      <div class="rcl">{{this.rcl}}</div>
      <div class="st">{{this.st}}</div>
      {{/each}}
    </div>
    {{/if}}

    <div id="advantages">
      <div class="desc header dblclksort" data-key="data.ads">{{localize "GURPS.advDisadvPerkQuirks"}}</div>
      <div class="pts header">Pts</div>
      <div class="ref header">Ref</div>
      {{#listeqt data.ads}}
      <div class="desc indent{{@indent}} satisfiedY adsdraggable dblclkedit" data-key="data.ads.{{@key}}">
        {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
        {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
        {{{gurpslink this.name}}}
        <div class="list_note satisfiedY"></div>
        <div class="list_note satisfiedY adsdraggable" data-key="data.ads.{{@key}}">{{{gurpslinkbr this.notes}}}
        </div>
      </div>
      <div class="pts satisfiedY">{{this.points}}</div>
      <div class="ref satisfiedY">{{{pdflink this.pageref}}}</div>
      {{/listeqt}}
    </div>

    <div id="skills">
      <div class="desc header dblclksort" data-key="data.skills">{{localize "GURPS.skills"}}</div>
      <div class="sl header">{{localize "GURPS.sl"}}</div>
      <div class="rsl header">{{localize "GURPS.rsl"}}</div>
      <div class="pts header">Pts</div>
      <div class="ref header">Ref</div>

      {{#listeqt data.skills}}
      <div class="desc indent{{@indent}} satisfiedY skldraggable dblclkedit" data-key="data.skills.{{@key}}">
        {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
        {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
        {{{gurpslink this.name}}}
        <div class="list_note satisfiedY"></div>
        <div class="list_note satisfiedY skldraggable" data-key="data.ads.{{@key}}">{{{gurpslink this.notes
          @root}}}</div>
      </div>
      <div class="sl satisfiedY {{#if (ne this.level 0)}}rollable{{/if}}" data-name="{{this.name}}"
        data-otf='S:"{{this.name}}"'>{{this.level}}
      </div>
      <div class="rsl satisfiedY">{{this.relativelevel}}</div>
      <div class="pts satisfiedY">{{this.points}}</div>
      <div class="ref satisfiedY">{{{pdflink this.pageref}}}</div>
      {{/listeqt}}
    </div>

    {{#if (notEmpty data.spells)}}
    <div id="spells">
      <div class="desc header dblclksort" data-key="data.spells">{{localize "GURPS.spells"}}</div>
      <div class="cls header">{{localize "GURPS.spellClass"}}</div>
      <div class="college header">{{localize "GURPS.spellCollege"}}</div>
      <div class="mana header">{{localize "GURPS.spellCost"}}</div>
      <div class="mana_maintain header">{{localize "GURPS.spellMaintain"}}</div>
      <div class="time header">{{localize "GURPS.spellTime"}}</div>
      <div class="duration header">{{localize "GURPS.spellDuration"}}</div>
      <div class="sl header">{{localize "GURPS.sl"}}</div>
      <div class="rsl header">{{localize "GURPS.rsl"}}</div>
      <div class="pts header">Pts</div>
      <div class="ref header">Ref</div>

      {{#listeqt data.spells}}
      <div class="desc indent{{@indent}} satisfiedY spldraggable dblclkedit" data-key="data.spells.{{@key}}">
        {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
        {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
        {{{gurpslink this.name}}}
        <div class="list_note satisfiedY"></div>
        <div class="list_note satisfiedY spldraggable" data-key="data.spells.{{@key}}">{{{gurpslink this.notes}}}
        </div>
      </div>
      <div class="cls satisfiedY">{{this.class}}</div>
      <div class="college satisfiedY">{{this.college}}</div>
      <div class="mana satisfiedY">{{this.cost}}</div>
      <div class="mana_maintain satisfiedY">{{this.maintain}}</div>
      <div class="time satisfiedY">{{this.casttime}}</div>
      <div class="duration satisfiedY">{{this.duration}}</div>
      <div class="sl satisfiedY rollable" data-name="{{this.name}}" data-otf='S:"{{this.name}}"'>{{this.level}}
      </div>
      <div class="rsl satisfiedY">{{this.difficulty}}</div>
      <div class="pts satisfiedY">{{this.points}}</div>
      <div class="ref satisfiedY">{{{pdflink this.pageref}}}</div>
      {{/listeqt}}

    </div>
    {{/if}}
    <div id="equipment" class="equipmentlist">
      <div class="equipped header">E</div>
      <div class="qty header eqtdragtarget" data-key="data.equipment.carried">Qty</div>
      <div class="desc header eqtdragtarget dblclksort" data-key="data.equipment.carried">{{localize "GURPS.equipment"}}
        ({{eqtsummary.eqtlbs}} lb; ${{eqtsummary.eqtcost}}) &nbsp; <i class='fas fa-plus addequipmenticon'></i></div>
      <div class="uses header">Uses</div>
      <div class="cost header">$</div>
      <div class="weight header"><i class="fas fa-weight-hanging"></i></div>
      <div class="sum_cost header">&sum; $</div>
      <div class="sum_weight header">&sum; <i class="fas fa-weight-hanging"></i></div>
      <div class="ref header">Ref</div>

      {{#listeqt data.equipment.carried }}
      <div class="equipped satisfiedY changeequip equipmenu" data-key="data.equipment.carried.{{@key}}">{{#if
        this.equipped}}X{{/if}}</div>
      <div class="qty satisfiedY eqtdraggable equipmenu" data-key="data.equipment.carried.{{@key}}">
        <button class="equipmentbutton bold" data-operation='equipment-dec'>-</button>
        &nbsp; {{this.count}} &nbsp;
        <button class="equipmentbutton" data-operation='equipment-inc'>+</button>
      </div>
      <div class="desc indent{{@indent}} satisfiedY eqtdraggable dblclkedit equipmenu"
        data-key="data.equipment.carried.{{@key}}">
        {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
        {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
        {{{gurpslink this.name}}}
        <div class="list_note satisfiedY eqtdraggable" data-key="data.equipment.carried.{{@key}}">{{{gurpslink
          this.notes}}}</div>
      </div>
      <div class="uses satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">{{#if (or (ne this.maxuses "0")
        (ne this.uses "0"))}}{{this.uses}}{{/if}}</div>
      <div class="cost satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">{{this.cost}}</div>
      <div class="weight satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">{{this.weight}} lb</div>
      <div class="sum_cost satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">{{round this.costsum}}</div>
      <div class="sum_weight satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">{{round this.weightsum}}
        lb</div>
      <div class="ref satisfiedY equipmenu" data-key="data.equipment.carried.{{@key}}">{{{pdflinkext this.pageref
        this.externallink}}}</div>
      {{/listeqt}}

    </div>
    <div id="other_equipment" class="equipmentlist">
      <div class="qty header eqtdragtarget" data-key="data.equipment.other">Qty</div>
      <div class="desc header eqtdragtarget dblclksort" data-key="data.equipment.other">{{localize
        "GURPS.otherEquipment"}}
        (${{eqtsummary.othercost}}) &nbsp; <i class='fas fa-plus addequipmenticon'></i></div>
      <div class="uses header">Uses</div>
      <div class="cost header">$</div>
      <div class="weight header"><i class="fas fa-weight-hanging"></i></div>
      <div class="sum_cost header">&sum; $</div>
      <div class="sum_weight header">&sum; <i class="fas fa-weight-hanging"></i></div>
      <div class="ref header">Ref</div>
      <div></div>


      {{#listeqt data.equipment.other }}
      <div class="qty satisfiedY eqtdraggable equipmenu" data-key="data.equipment.other.{{@key}}">
        <button class="equipmentbutton bold" data-operation='equipment-dec'>-</i></button>
        &nbsp; {{this.count}} &nbsp;
        <button class="equipmentbutton" data-operation='equipment-inc'>+</i></button>
      </div>
      <div class="desc indent{{@indent}} satisfiedY eqtdraggable dblclkedit equipmenu"
        data-key="data.equipment.other.{{@key}}">
        {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
        {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
        {{{gurpslink this.name}}}
        <div class="list_note satisfiedY eqtdraggable" data-key="data.equipment.carried.{{@key}}">{{{gurpslink
          this.notes}}}</div>
      </div>
      <div class="uses satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">{{#if (ne this.maxuses
        "0")}}{{this.uses}}{{/if}}</div>
      <div class="cost satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">{{this.cost}}</div>
      <div class="weight satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">{{this.weight}} lb</div>
      <div class="sum_cost satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">{{round this.costsum}}</div>
      <div class="sum_weight satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">{{round this.weightsum}} lb
      </div>
      <div class="ref satisfiedY equipmenu" data-key="data.equipment.other.{{@key}}">{{{pdflinkext this.pageref
        this.externallink}}}</div>
      <div></div>

      {{/listeqt}}

    </div>
    <div id="notes">
      <div class="desc header" data-key="data.notes">Notes &nbsp; <i class='fas fa-plus addnoteicon'></i></div>
      <div class="ref header">Ref</div>
      {{#listeqt data.notes}}
      <div class="desc indent{{@indent}} dblclkedit notesmenu notedraggable" data-key="data.notes.{{@key}}">
        {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
        {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
        {{#if this.notes}}{{{gurpslinkbr this.notes}}}{{else}}this note was intentionally left blank ;-){{/if}}</div>
      <div class="ref">{{{pdflink this.pageref}}}</div>
      {{/listeqt}}
      <div></div>
    </div>
  </div>
  <div id="footer">{{localize "GURPS.copyrightGCS"}}
    <a href="https://gurpscharactersheet.com">gurpscharactersheet.com</a>
  </div>
  {{#if navigateVisible}}
  <div class='navigate-bar'>
    <div class='navigation-link' data-value="personal">TOP</div>
    <div class='navigation-link' data-value="stats">STATS</div>
    <div class='navigation-link' data-value="melee">MELEE</div>
    <div class='navigation-link' data-value="ranged">RANGED</div>
    <div class='navigation-link' data-value="advantages">ADVANTAGES</div>
    <div class='navigation-link' data-value="skills">SKILLS</div>
    <div class='navigation-link' data-value="equipment">EQUIPMENT</div>
    <div class='navigation-link' data-value="other_equipment">OTHER</div>
    <div class='navigation-link' data-value="notes">NOTES</div>
    <div class='navigation-link' data-value="CLOSE"><i class="fas fa-times"></i></div>
  </div>
  {{/if}}
</form>