<div class='resource-editor' style='border: none;'>
  <div>
    <input class="name gcs-input" type="text" value="{{name}}" placeholder="Ranged Weapon">
  </div>
  <div class='inputs'>
    <div class="label">Points</div>
    <input class="points gcs-input-sm5" type="text" value="{{points}}" data-dtype="Number" />
    <div class="label">Notes</div>
    <textarea class="notes gcs-input-ta" style="width: 460px; height:90px !important;" rows="5">{{notes}}</textarea>
    <div class="label">Page Ref</div>
    <input class="pageref gcs-input-sm5" type="text" value="{{pageref}}"/>
  </div>
</div>