<div class='{{classes}}' {{debug}}>

  <h2>Apply {{damageData.damage}} points of {{damageData.damageType}} damage to {{actor.data.name}}</h2>
  <div classes='flexcol flex-between'>
    <div class='flexrow flex-group-center gurps-aligned'>
      <h3>Directly apply:</h3>
      <input type='text' id='damage' name='damage' value='{{damageData.damage}}'>
      <div>
        <select name='apply-to'>
          <option value='HP' selected>Hit Points</option>
          <option value='FP'>Fatigue Points</option>
        </select>
      </div>
      <button id='apply-publicly'>Apply</button>
      <button id='apply-secretly'>Apply (Quietly)</button>
    </div>

    <div class='flex-group-center' style='margin-top: 1em;'>
      <h3>Apply damage options:</h3>

      <div class='grid grid-3col flex-between'>
        <div class='gurps-group'>
          <div class='gurps-group-header'>Hit Location and DR</div>
          <div class='gurps-3col-expandmiddle'>
            <div class='gurps-grid-header'>Location</div>
            <div class='gurps-grid-header'>Roll</div>
            <div class='gurps-grid-header'>DR</div>

            {{#each hitLocationsWithDR}}
            <div class='gurps-3col-line'>
              <label><input type='radio' name='hitlocation' value='{{this.where}}'>&nbsp;{{this.where}}</input></label>
            </div>
            <div class='gurps-3col-line'>{{this.rollText}}</div>
            <div class='gurps-3col-line'>{{this.dr}}</div>
            {{/each}}

          </div>
          <hr />
          <button id='random-location'><i class='fa fa-dice'>&nbsp;Random</i></button>
          <hr />
          <label><input type='radio' name='hitlocation' value='Large-Area'>&nbsp;Large-Area Injury (<span
              class='pdflink'>B400</span>)</input></label>
          <div class='grid grid-2col flex-between' style='align-items: center; justify-items: flex-start;'>
            <label><input type='radio' name='hitlocation' value='select-dr'>&nbsp;Enter DR:</input></label>
            <input type='text' id='select-dr' name='select-dr' value='{{selectedDR}}'>
          </div>
        </div>

        <div class='gurps-group'>
          <div class='gurps-group-header'>Type and Wounding Modifiers</div>
          <div class='gurps-3col-expandmiddle'>
            <div class='gurps-grid-header'>Damage Type</div>
            <div class='gurps-grid-header'>Abbrev</div>
            <div class='gurps-grid-header'>Modifier</div>

            {{#each woundingModifiers}}
            <div class='gurps-3col-line'>
              <label><input type='radio' name='woundmodifier' value='{{@key}}'>&nbsp;{{this.label}}</input></label>
            </div>
            <div class='gurps-3col-line'>{{@key}}</div>
            <div class='gurps-3col-line'>×{{this.multiplier}}</div>
            {{/each}}

          </div>
          <hr />
          <label><input type='radio' name='woundmodifier' value='none'>&nbsp;No modifier</input></label>
          <div class='grid grid-2col flex-between' style='align-items: center; justify-items: flex-start;'>
            <label><input type='radio' name='woundmodifier' value='select-mod'>&nbsp;Enter modifier:</input></label>
            <input type='text' id='woundmodifier' name='woundmodifier' value='{{selectedModifier}}'>
          </div>
          <div class='grid grid-2col flex-between' style='align-items: center; justify-items: flex-start;'>
            <label>Additional modifier (stacks):</label>
            <input type='text' id='addmodifier' name='addmodifier' value='{{additionalModifier}}'>
          </div>
        </div>

        <div class='gurps-group'>
          <div class='gurps-group-header'>Tactical Rules</div>
          <div class='gurps-group-caption'>Use systems settings to set defaults.</div>
          <div class='gurps-3col-expandmiddle'>
            {{#each tacticalOptions}}
            <div class='gurps-3col-line'>
              <input id='tactical-{{this.id}}' type='checkbox' name='tactical' value='{{this.id}}'></input>
            </div>
            <div class='gurps-3col-line gurps-left-aligned'>
              <label for='tactical-{{this.id}}'>{{this.label}}</label>
            </div>
            <div class='gurps-3col-line pdflink'>{{this.ref}}</div>
            {{/each}}
          </div>
          <div class='gurps-group-header gurps-group-gap'>Other Situations</div>
          <div class='gurps-3col-expandmiddle'>

            {{#each otherSituations}}
            <div class='gurps-3col-line'>
              <input id='specials-{{this.id}}' type='checkbox' name='specials' value='{{this.id}}'></input>
            </div>
            <div class='gurps-3col-line gurps-left-aligned'>
              <label for='specials-{{this.id}}'>{{this.label}}</label>
            </div>
            <div class='gurps-3col-line pdflink'>{{this.ref}}</div>
            {{/each}}
          </div>
        </div>
      </div>

      <div class='grid grid-1col'>
        <div class='gurps-group'>
          <div class='gurps-group-header'>Results</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>