<div class='{{classes}} flexcol'>
  <div class='flex-group-left'>
    <div class='grid grid-3col flex-between'>
      <div class='gurps-group'>
        <div class='header'>Hit Location </div>
        <!-- Use the data model's HitLocation.where as the value of the radio button. -->
        <div class='gurps-3col-expandlast'>
          <div class='gurps-grid-header'>Location</div>
          <div class='gurps-grid-header'>Roll</div>
          <div class='gurps-grid-header'>DR</div>
          {{#each hitLocationsWithDR}}
          <label class='gurps-3col-line'><input type='radio' name='hitlocation'
              value='{{this.where}}'>&nbsp;{{this.where}}</input></label>
          <div class='gurps-3col-line'>{{this.rollText}}</div>
          <div class='gurps-3col-line'>{{this.dr}}</div>
          {{/each}}
        </div>
        <hr />
        <label><input type='radio' name='hitlocation' value='Large-Area'>&nbsp;Large-Area Injury</input></label>
        <hr />
        <button id='random-location'><i class='fa fa-dice'>&nbsp;Random</i></button>
      </div>

      <div class='gurps-group'>
        <div class='header'>Damage Type/Multiplier</div>
      </div>

      <div class='gurps-group'>
        <div class='header'>Other Situations</div>
      </div>
    </div>
  </div>
</div>