<form autocomplete='off' class='{{classes}} flexcol'>
  <div class='flex-group-center'>
    <div class='flex-3col flex-between'>
      <div class='gurps-group'>
        <div class='header'>Hit Location </div>
        <!-- Use the data model's HitLocation.where as the value of the radio button. -->
        <div class='gurps-fields'>
          {{#each hitLocationsWithDR}}
          <label><input type='radio' name='hitlocation' value='{{this.where}}'> {{this.where}} (DR
            {{this.dr}})</input></label>
          {{/each}}
          <hr />
          <button id='random-location'><i class='fa fa-dice'> Random</i></button>
          <hr />
          <label><input type='radio' name='hitlocation' value='Large-Area'> Large-Area Injury</input></label>
        </div>
      </div>

      <div class='gurps-group'>
        <div class='header'>Damage Type/Multiplier</div>
      </div>

      <div class='gurps-group'>
        <div class='header'>Other Situations</div>
      </div>
    </div>
  </div>
</form>