<form class='{{cssClass}} overflowy' autocomplete='off'>
  <div id='responsive'>
    <div id='combat-sheet'>

      <div id='combat-identity'>
        <div class='header'>Identity</div>
        <div class='fieldblock'>
          <div class='label'>Name:</div>
          <div class='field'>{{actor.name}}</div>
          <div class="label">Title:</div>
          <div class="field">{{data.traits.title}}</div>
          <div class='label'>Player:</div>
          <div class='field'>{{data.traits.player}}</div>
        </div>
      </div> <!-- end of identity-->

      <div id='combat-hit'>
        <div class='header'>Hit Points</div>
        <div class='fieldblock'>
          <div class='field'>{{data.HP.value}}</div>
          <div class='label'>Current</div>
        </div>
        <div class='condition-block'>
          <div class='basic-value'>{{data.HP.max}}</div>
          <div class='basic-label'>Basic</div>
          <div class='condition'>Check #1</div>
        </div>
      </div> <!-- end of combat-hit -->

      <div id='combat-fat'>
        <div class='header'>Fatigue</div>
        <div class='fieldblock'>
          <div class='field'>{{data.FP.value}}</div>
          <div class='label'>Current</div>
        </div>
        <div class='condition-block'>
          <div class='basic-value'>{{data.FP.max}}</div>
          <div class='basic-label'>Basic</div>
          <div class='condition'>Unconscious</div>
        </div>
      </div> <!-- combat-fat -->

      <div id='combat-attrs'>
        <div class='header'>Attributes</div>
        <div id='combat-attrs-container'>
          <div id='combat-attrs-1'>
            <div class="fieldblock">
              <div class="field noedit rollable" data-path="attributes.ST.value">{{data.attributes.ST.value}}</div>
              <div class="label">{{localize "GURPS.attributesST"}}</div>

              <div class="field noedit rollable" data-path="attributes.DX.value">{{data.attributes.DX.value}}</div>
              <div class="label">{{localize "GURPS.attributesDX"}}</div>

              <div class="field noedit rollable" data-path="attributes.IQ.value">{{data.attributes.IQ.value}}</div>
              <div class="label">{{localize "GURPS.attributesIQ"}}</div>

              <div class="field noedit rollable" data-path="attributes.HT.value">{{data.attributes.HT.value}}</div>
              <div class="label">{{localize "GURPS.attributesHT"}}</div>
              <hr>
              <div class="field noedit rollable" data-path="attributes.PER.value">{{data.attributes.PER.value}}</div>
              <div class="label">{{localize "GURPS.attributesPER"}}</div>

              <div class="field rollable" data-path="attributes.WILL.value">{{data.attributes.WILL.value}}</div>
              <div class="label">{{localize "GURPS.attributesWILLNAME"}}</div>
              <hr>
              <div class="field">{{data.basicspeed.value}}</div>
              <div class="label">Basic Speed</div>

              <div class="field">{{data.basicmove.value}}</div>
              <div class="label">Basic Move</div>
            </div>
          </div>
          <div id='combat-attrs-2'>
            <div class="fieldblock">
              <div class="field noedit rollable" data-path="vision">{{data.vision}}</div>
              <div class="label">Vision</div>

              <div class="field noedit rollable" data-path="hearing">{{data.hearing}}</div>
              <div class="label">Hearing</div>

              <div class="field noedit rollable" data-path="tastesmell">{{data.tastesmell}}</div>
              <div class="label">Taste &amp; Smell</div>

              <div class="field noedit rollable">{{data.touch}}</div>
              <div class="label">Touch</div>

              <div class="label"></div>
              <div class="label">&nbsp;</div>

              <div class="field noedit rollable" data-path="frightcheck">{{data.frightcheck}}</div>
              <div class="label">Fright Check</div>

              <div class="label"></div>
              <div class="label">&nbsp;</div>

              <div class="field rollable noedit" data-damage>{{data.thrust}}</div>
              <div class="label">Basic Thrust</div>

              <div class="field rollable noedit" data-damage>{{data.swing}}</div>
              <div class="label">Basic Swing</div>
            </div>
          </div>
        </div>
      </div> <!-- end of combat-attrs-->

      <div id='combat-encumber'>
        <div id='combat-encumber-container'>
          <div class="header">Encumbrance, Move, Dodge</div>
          <div class="encmarkerh header"></div>
          <div class="ench header">Level</div>
          <div class="loadh header">Max</div>
          <div class="moveh header">Move</div>
          <div class="dodgeh header">Dodge</div>

          {{#each data.encumbrance}}
          {{#if this.current}}
          <div class="encmarker current"></div>
          <div class="enc current {{this.key}}"></div>
          <div class="load current">{{this.weight}}</div>
          <div class="move current">{{this.move}}</div>
          <div class="dodge current rollable" data-path="dodge">{{this.dodge}}</div>
          {{else}}
          <div class="encmarker "></div>
          <div class="enc {{this.key}}"></div>
          <div class="load ">{{this.weight}}</div>
          <div class="move ">{{this.move}}</div>
          <div class="dodge rollable" data-path="dodge">{{this.dodge}}</div>
          {{/if}}
          {{/each}}

        </div>
      </div>

      <div id='combat-location'>
        <div class="header">Hit Location</div>
        <div class="roll header">Roll</div>
        <div class="where header">Where</div>
        <div class="penalty header">Penalty</div>
        <div class="dr header">DR</div>

				{{#each data.hitlocations}}
          <div class="roll">{{hitlocationroll this.where this.roll}}</div>
          <div class="where">{{this.where}}</div>
          <div class="penalty {{#if (ne this.penalty "0")}}gmod{{/if}}" data-name="to hit {{this.where}}">{{this.penalty}}</div>
          <div class="dr">{{this.dr}}</div>
       	{{/each}} 

      </div> <!-- end of combat-location -->
      <div id='combat-weapons'>
        <div id="melee">
          <div class="desc header">Melee Weapons</div>
          <div class="usage header">Usage</div>
          <div class="level header">Lvl</div>
          <div class="parry header">Parry</div>
          <div class="block header">Block</div>
          <div class="damage header">Damage</div>
          <div class="reach header">Reach</div>
          <div class="st header">ST</div>
          <div></div>

          {{#each data.melee}}
          <div class="desc">{{{gurpslink this.name}}}
            <div class="list_note">{{{gurpslink this.notes}}}</div>
          </div>
          <div class="usage">{{this.mode}}</div>
          <div class="level rollable" data-name="{{this.name}} ({{this.mode}})">{{this.level}}</div>
          <div class="parry rollable" data-name="Parry">{{this.parry}}</div>
          <div class="block rollable" data-name="Block">{{this.block}}</div>
          <div class="damage rollable" data-damage>{{this.damage}}</div>
          <div class="reach">{{this.reach}}</div>
          <div class="st">{{this.st}}</div>
          <div></div>
          {{/each}}

        </div>
        <div id="ranged">
          <div class="desc header">Ranged Weapons</div>
          <div class="usage header">Usage</div>
          <div class="level header">Lvl</div>
          <div class="acc header">Acc</div>
          <div class="damage header">Damage</div>
          <div class="range header">Range</div>
          <div class="rof header">RoF</div>
          <div class="shots header">Shots</div>
          <div class="bulk header">Bulk</div>
          <div class="rcl header">Rcl</div>
          <div class="st header">ST</div>


          {{#each data.ranged}}
          <div class="desc">{{{gurpslink this.name}}}
            <div class="list_note">{{{gurpslink this.notes}}}</div>
          </div>
          <div class="usage">{{this.mode}}</div>
          <div class="level rollable" data-name="{{this.name}} ({{this.mode}})">{{this.level}}</div>
          <div class="acc">{{this.acc}}</div>
          <div class="damage rollable" data-damage>{{this.damage}}</div>
          <div class="range">{{this.range}}</div>
          <div class="rof">{{this.rof}}</div>
          <div class="shots">{{this.shots}}</div>
          <div class="bulk">{{this.bulk}}</div>
          <div class="rcl">{{this.rcl}}</div>
          <div class="st">{{this.st}}</div>
          {{/each}}
        </div>

        <div id='speed-range-table'>
          <div class="header">Speed/Range Table</div>
          <div id="range-table">
            <div class="label">Measure (yd)</div>
            <div class="label">2</div>
            <div class="label">3</div>
            <div class="label">5</div>
            <div class="label">7</div>
            <div class="label">10</div>
            <div class="label">15</div>
            <div class="label">20</div>
            <div class="label">30</div>
            <div class="label">50</div>
            <div class="label">70</div>
            <div class="label">100</div>
            <div class="label">150</div>
            <div class="label">200</div>
            <div class="label">300</div>
            <div class="label">500</div>
            <div class="label">Modifier</div>
            <div class="label">0</div>
            <div class="label gmod" data-name="for range/speed 3 yds">-1</div>
            <div class="label gmod" data-name="for range/speed 5 yds">-2</div>
            <div class="label gmod" data-name="for range/speed 7 yds">-3</div>
            <div class="label gmod" data-name="for range/speed 10 yds">-4</div>
            <div class="label gmod" data-name="for range/speed 15 yds">-5</div>
            <div class="label gmod" data-name="for range/speed 20 yds">-6</div>
            <div class="label gmod" data-name="for range/speed 30 yds">-7</div>
            <div class="label gmod" data-name="for range/speed 50 yds">-8</div>
            <div class="label gmod" data-name="for range/speed 70 yds">-9</div>
            <div class="label gmod" data-name="for range/speed 100 yds">-10</div>
            <div class="label gmod" data-name="for range/speed 150 yds">-11</div>
            <div class="label gmod" data-name="for range/speed 200 yds">-12</div>
            <div class="label gmod" data-name="for range/speed 300 yds">-13</div>
            <div class="label gmod" data-name="for range/speed 500 yds">-14</div>
          </div>
        </div>
      </div> <!-- end of combat-weapons -->
    </div><!-- end of combat-sheet -->
  </div> <!-- end of responsive -->
</form>