<div>
  <div class='prefix'>Rolling {{dice}} {{damageTypeText}} damage.</div>
  <div class='roll-message'>
    {{#if modifiers}}
      <hr />
      <ul class='modifier-list'>
        {{#each modifiers}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div>
    {{#each draggableData}}
      <div class='gurps damage-message' data-transfer='{{transfer}}'>

        <div class='roll-message'>
          <div class='collapsible-wrapper'>
            <input id='collapsible-{{id}}' class='toggle offscreen-only' type='checkbox'>
            <label for='collapsible-{{id}}' class='roll-result label-toggle'>
              <span>{{#if target}}&nbsp;{{target}}:{{/if}}
                  <i class='fa fa-dice'></i><i class='fa fa-long-arrow-alt-right'></i>
                  <span class='roll-value'>{{damage}}</span>
                  <span class='roll-detail'>{{pluralize 'point' damage}} of damage.</span>
              </span>
            </label>
            {{#if hasExplanation}}
              <div class='gurps-group collapsible-content'>
                <div class='content-inner'>
                  <hr />
                  {{#if explainLineOne}}
                    <div style='text-align: start' class='aside'>{{explainLineOne}}</div>
                  {{/if}}
                  {{#if explainLineTwo}}
                    <div style='text-align: start' class='aside'>{{explainLineTwo}}</div>
                  {{/if}}
                  {{#if isB378}}
                    <div class='aside'>* — Minimum damage rule applied. (<span class='pdflink'>B378</span>)</div>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          </div>
        </div>

      </div>
    {{/each}}
  </div>
  <!-- <div style='border: 1px black solid; border-radius: 4px; padding: 5px;'>
    <span><i class="fas fa-layer-group"></i>&nbsp;All</span>
  </div> -->
</div>