<form autocomplete='off'>
    <div class='flex-group-left'>
        <div class='flexcol'>
            <!-- Use the data model's HitLocation.where as the value of the radio button. -->
            <label><input type='radio' name='hitlocation' value='Torso' checked> Torso</input></label>
            <hr />
            <label><input type='radio' name='hitlocation' value='Eye'> Eye</input></label>
            <label><input type='radio' name='hitlocation' value='Skull'> Skull</input></label>
            <label><input type='radio' name='hitlocation' value='Face'> Face</input></label>
            <label><input type='radio' name='hitlocation' value='Right Leg'> Right Leg</input></label>
            <label><input type='radio' name='hitlocation' value='Right Arm'> Right Arm</input></label>
            <label><input type='radio' name='hitlocation' value='Groin'> Groin</input></label>
            <label><input type='radio' name='hitlocation' value='Left Arm'> Left Arm</input></label>
            <label><input type='radio' name='hitlocation' value='Left Leg'> Left Leg</input></label>
            <label><input type='radio' name='hitlocation' value='Hand'> Hand</input></label>
            <label><input type='radio' name='hitlocation' value='Foot'> Foot</input></label>
            <label><input type='radio' name='hitlocation' value='Neck'> Neck</input></label>
            <label><input type='radio' name='hitlocation' value='Vitals'> Vitals</input></label>
            <hr />
            <label><input type='radio' name='hitlocation' value='Random'> Random Location</input></label>
            <label><input type='radio' name='hitlocation' value='Large-Area'> Large-Area Injury</input></label>
            <hr />
        </div>
    </div>
</form>