<div class='gurps damage-message' data-transfer='{{transfer}}'>
  <div class='roll-message'>
    <div class='prefix'>Rolling {{dice}} damage</div>
    <ul class='modifier-list'>
      {{#each modifiers}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <div class='roll-result'>
      <span class='fa fa-dice' />&nbsp;
      <span class='fa fa-long-arrow-alt-right' />&nbsp;
      <span class='roll-value'>{{damage}}</span>
      <span class='roll-detail'>{{pluralize 'point' damage}} of '{{damageType}}' damage.</span>
    </div>
  </div>
</div>