<div>
  {{debug userTarget}}
  <div class='prefix'>
    {{#if rolled}}
      {{i18n_f "GURPS.chatRollingDamage" this}}
    {{else}}
      {{i18n_f "GURPS.chatFixedDamage" this}}
    {{/if}}
  </div>
  {{#if userTarget}}
    <div style='font-size: smaller; margin-left: .5rem;'><i
        class="fas fa-bullseye"></i>&nbsp;{{i18n_f "GURPS.targeting" userTarget.data}}
    </div>
  {{/if}}
  <div class='roll-message'>
    {{#if modifiers}}
      <hr />
      <ul class='modifier-list'>
        {{#each modifiers}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div class='damage-chat-message'>
    {{#each draggableData}}
      <div class='gurps damage-message' data-transfer='{{transfer}}'>

        <div class='roll-message'>
          <div class='collapsible-wrapper'>
            <input id='collapsible-{{id}}' class='toggle offscreen-only' type='checkbox'>
            <label for='collapsible-{{id}}' class='roll-result {{#if hasExplanation}}label-toggle{{/if}}'>
              <span>{{#if target}}&nbsp;{{target}}:{{/if}}
                <i class='fa fa-dice'></i><i style='color: dimgrey;' class='fa fa-long-arrow-alt-right'></i>
                <span class='roll-detail'>
                  {{#if (eq damage 1)}}
                    {{{i18n_f "GURPS.pointDamage" this}}}
                  {{else}}
                    {{{i18n_f "GURPS.pointsDamage" this}}}
                  {{/if}}</span>
              </span>
            </label>
            {{#if hasExplanation}}
              <div class='gurps-group collapsible-content'>
                <div class='content-inner'>
                  <hr />
                  {{#if explainLineOne}}
                    <div style='text-align: start' class='aside'>{{explainLineOne}}</div>
                  {{/if}}
                  {{#if explainLineTwo}}
                    <div style='text-align: start' class='aside'>{{explainLineTwo}}</div>
                  {{/if}}
                  {{#if isB378}}
                    <div class='aside'>{{i18n "GURPS.minimumDamageRule"}} (<span
                        class='pdflink'>{{i18n "GURPS.pdfDamageRoll"}}</span>)</div>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          </div>
        </div>

      </div>
    {{/each}}
    {{#if (gt draggableData.length 1)}}
      <div class='gurps damage-all-message' data-transfer='{{transfer}}' {{#if (gt draggableData.length 5)}}style=' 
        background-image: url("systems/gurps/icons/all-the-things-transparent.webp"); 
        background-size: 50%; background-repeat: no-repeat; background-attachment: local;
        background-position: right;' {{/if}}>
        <span style='font-weight: 900;'><i class="fas fa-layer-group"></i>&nbsp;{{#if (gt draggableData.length 5)}}
            {{i18n "GURPS.allTheDamage"}}
          {{else}}{{i18n "GURPS.allDamage"}}{{/if}}</span>
      </div>
    {{/if}}
    {{#if userTarget}}
      <div>
        <button class='apply-all'
          style='margin-top: 0.25rem;'>{{i18n_f "GURPS.applyAllToTarget" userTarget.data}}</button>
      </div>
    {{/if}}
  </div>
</div>