<div class='resource-editor' style='border: none;'>
  <div>
    <input class="name gcs-input" type="text" value="{{name}}" placeholder="Equipment Name">
  </div>
  <div class='inputs'>
    <div class="label">Count</div>
    <input class="count gcs-input-sm5" type="text" value="{{f_count}}" data-dtype="Number" />
    <div class="label">Cost $</div>
    <input class="cost gcs-input-sm5" type="text" value="{{cost}}" data-dtype="Number" />
    <div class="label">Weight</div>
      <div><input class="weight gcs-input-sm5" type="text" value="{{weight}}" data-dtype="Number" /> lb</div>
    <div class="label">Uses</div>
    <input class="uses gcs-input-sm5" type="text" value="{{uses}}" />
    <div class="label">Max Uses</div>
    <input class="maxuses gcs-input-sm5" type="text" value="{{maxuses}}" />
    <div class="label">Notes</div>
    <textarea class="notes gcs-input-ta" style="width: 460px; height:90px !important;" rows="5">{{notes}}</textarea>
    <div class="label">Page Ref</div>
    <input class="pageref gcs-input-sm5" type="text" value="{{pageref}}"/>
    {{#if (defined save)}}
    <input class='save' type='checkbox' {{#if (eq save true)}}checked{{/if}}>
    <div class="label">Check this to save this equipment during imports</div>
    {{/if}}
  </div>
</div>