<div class='gga-app fright-check'>
  <div class='gga-group' style='border: none;'>
    <h4>Advantages/Disadvantages</h4>
    <div class='gurps-2col no-bias' style='justify-items: end'>
      <div class='full-width' style='justify-self: start'>&#8226; Unfazeable (No check required)</div>
      <label for='mod2'>Fearless/Fearfulness: <select id="mod2">
          <option value=0>None </option>
          <option value=1>Fearless 1</option>
          <option value=2>Fearless 2</option>
          <option value=3>Fearless 3</option>
          <option value=4>Fearless 4</option>
          <option value=5>Fearless 5</option>
          <option value=-1>Fearfulness 1</option>
          <option value=-2>Fearfulness 2</option>
          <option value=-3>Fearfulness 3</option>
          <option value=-4>Fearfulness 4</option>
          <option value=-5>Fearfulness 5</option>
        </select>
      </label>
      <label for='mod3'>Combat Reflexes/Paralysis: <select id="mod3">
          <option value=0>None </option>
          <option value=2>Combat Reflexes </option>
          <option value=-2>Combat Paralysis </option>
        </select></label>
      <label for='mod4'>Cowardice: <select id="mod4">
          <option value=0>None</option>
          <option value=-1>Cowardice 1</option>
          <option value=-2>Cowardice 2</option>
          <option value=-3>Cowardice 3</option>
          <option value=-4>Cowardice 4</option>
        </select></label>
      <label for='mod5'>Xenophilia (vs. monster): <select id="mod5">
          <option value=0>None</option>
          <option value=1>Xenophilia CR:15</option>
          <option value=2>Xenophilia CR:12</option>
          <option value=3>Xenophilia CR:9</option>
          <option value=4>Xenophilia CR:6</option>
        </select></label>
      <label for='check1' class='vertical-center' style='justify-self: start;'><input id="check1" type="checkbox"
          value=1 />&nbsp;Daredevil</label>
      <label for='check2' class='vertical-center' style='justify-self: start;'><input id="check2" type="checkbox"
          value=1 />&nbsp;Higher Purpose (When applicable)
    </div>
    <h4 style='margin-top: 8px;'>Bodies</h4>
    <div class='gurps-2col no-bias'>
      <label for='bodies1'>Appearance: <select id="bodies1">
          <option value=0>Most victims of violence</option>
          <option value=1>Peaceful/prepared for burial</option>
          <option value=2>No sign of violence</option>
          <option value=-1>Mutilated (&minus;1)</option>
          <option value=-2>Terribly Mutilated (&minus;2)</option>
          <option value=-3>Horrifically Mutilated (&minus;3)</option>
        </select>
      </label>
      <label for='bodies2' class='vertical-center'><input id="bodies2" type="checkbox" value=-6 />&nbsp;Corpse was a
        dependant</label>
    </div>
    <h4 style='margin-top: 8px;'>Monsters</h4>
    <div class='gurps-2col no-bias'>
      <label for='monster1'>Appearance: <select id="monster1">
          <option value=0>None</option>
          <option value=-1>Inhuman (&minus;1)</option>
          <option value=-2>Beastly (&minus;2)</option>
          <option value=-3>Scary (&minus;3)</option>
          <option value=-4>Ghastly (&minus;4)</option>
          <option value=-5>Frightening (&minus;5)</option>
          <option value=-6>Horrifying (&minus;6)</option>
          <option value=-7>Blood-Curdling (&minus;7)</option>
          <option value=-8>Petrifying (&minus;8)</option>
          <option value=-9>Terrifying (&minus;9)</option>
          <option value=-10>Cosmically Horrific (&minus;10)</option>
        </select>
      </label>

      <label for='monster2'>Number: <select id="monster2">
          <option value=0>Less than 5</option>
          <option value=-1>At least 5</option>
          <option value=-2>At least 10</option>
          <option value=-3>At least 20</option>
          <option value=-4>At least 50</option>
          <option value=-5>At least 100</option>
        </select>
      </label>
    </div>
    <h4 style='margin-top: 8px;'>Physical Circumstances</h4>
    <div class='gurps-2col no-bias'>
      <label for='check4a' class='vertical-center'><input id="check4a" type="checkbox" value=1 />&nbsp;Encountered at
        distance</label>
      <label for='check4b' class='vertical-center'><input id="check4b" type="checkbox" value=3 />&nbsp;Viewed
        remotely</label>
      <label for='check4' class='vertical-center'><input id="check4" type="checkbox" value=-1 />&nbsp;Corpse or monster
        touches you</label>
      <label for='check5' class='vertical-center'><input id="check5" type="checkbox" value=-1 />&nbsp;Area is
        isolated</label>
      <label for='check6' class='vertical-center'><input id="check6" type="checkbox"
          value=-1 />&nbsp;Darkness/Night</label>
      <label for='check7' class='vertical-center'><input id="check7" type="checkbox" value=-2 />&nbsp;If you believe you
        are alone</label>
      <label for='check3' class='vertical-center'><input id="check3" type="checkbox" value=5 />&nbsp;Heat of
        battle</label>
    </div>
    <h4 style='margin-top: 8px;'>Preparation</h4>
    <div class='gurps-2col no-bias'>
      <label for='check10'>Research: <select id="check10">
          <option value=0>No knowledge</option>
          <option value=+1>Rumors, gossip (+1)</option>
          <option value=+2>Some knowledge (+2)</option>
          <option value=+3>Fully briefed (+3)</option>
        </select></label>
      <label for='check8' class='vertical-center'><input id="check8" type="checkbox" value=1 />&nbsp;Previous experience
        with this kind of threat</label>
      <label for='check9' class='full-width'>Number of exposures to <i>this particular</i> threat in 24
        hours:&nbsp;<input id="check9" type="number" value=0 style="width:50px;" /></label>
    </div>
  </div>
  <label for='mod1' class='vertical-center' style='margin-top: 8px;'>Additional Modifer (+/-): <input id="mod1"
      type="number" value=0 style="width:50px;" /></label>
  <hr>
  <label for='tblname' style='margin-bottom: 8px;'>Name of table to roll against:&nbsp;<input id="tblname"
      value="{{tblname}}" style="width:250px;" /> </label>

</div>