<form class="{{cssClass}}" autocomplete="off" style='scroll-padding-top: 5px;'>
  <div id="inv-sheet" class="gurpsactorsheet">
    <div id="personal">
      <div id="identity">
        <div class="header">{{localize "GURPS.identity"}}</div>
        <div class="fieldblock">
          <div class="label">{{localize "GURPS.identityName"}}:</div>
          <div class="field">{{{actor.name}}}</div>
          <div class="label">{{localize "GURPS.identityTitle"}}:</div>
          <div class="field">{{data.traits.title}}</div>
          <div class="label">{{localize "GURPS.identityPlayer"}}:</div>
          <div class="field">{{data.traits.player}}</div>
        </div>
      </div>
      <div id="miscellaneous">
        <div class="header">{{localize "GURPS.miscellaneous"}}</div>
        <div class="fieldblock">
          <div class="label">{{localize "GURPS.miscellaneousCreated"}}:</div>
          <div class="field">{{data.traits.createdon}}</div>
          <div class="label">{{localize "GURPS.miscellaneousModified"}}:</div>
          <div class="field">{{data.traits.modifiedon}}</div>
          <div class="label">{{localize "GURPS.miscellaneousOptions"}}:</div>
          <div class="field"></div>
        </div>
      </div>
    </div>
    {{>equipment container='carried' data=this.data}}
    {{>equipment container='other' data=this.data}}

    <div id="notes">
      <div class="desc header" data-key="data.notes">Notes &nbsp; <i class='fas fa-plus addnoteicon'></i></div>
      <div class="ref header">Ref</div>
      {{#listeqt data.notes}}
        <div
          class="desc indent{{@indent}} dblclkedit notesmenu notedraggable {{#if (isUserCreated this)}}user-created{{/if}}"
          data-key="data.notes.{{@key}}">
          {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
          {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
          {{#if this.notes}}{{{gurpslinkbr this.notes}}}{{else}}this note was intentionally left blank ;-){{/if}}
        </div>
        <div class="ref">{{{pdflink this.pageref}}}</div>
      {{/listeqt}}
      <div></div>
    </div>
  </div>
  <div id="footer">{{localize "GURPS.copyrightGCS"}}
    <a href="https://gurpscharactersheet.com">gurpscharactersheet.com</a>
  </div>
</form>