<form class="{{cssClass}}" autocomplete="off">
<div class='resource-editor' style='border: none;'>
  <div>
    <input class="name gcs-input" type="text" value="{{name}}" name="name" placeholder="Equipment Name">
  </div>
  <div class='inputs'>
    <div class="label">Count</div>
    <input class="count gcs-input-sm5" type="text" value="{{data.eqt.f_count}}" name="data.eqt.f_count" data-dtype="Number" />
    <div class="label">Cost $</div>
    <input class="cost gcs-input-sm5" type="text" value="{{data.eqt.cost}}" name="data.eqt.cost" data-dtype="Number" />
    <div class="label">Weight</div>
      <div><input class="weight gcs-input-sm5" type="text" value="{{data.eqt.weight}}" name="data.eqt.weight" data-dtype="Number" /> lb</div>
    <div class="label">Uses</div>
    <input class="uses gcs-input-sm5" type="text" value="{{data.eqt.uses}}" name="data.eqt.uses"/>
    <div class="label">Max Uses</div>
    <input class="maxuses gcs-input-sm5" type="text" value="{{data.eqt.maxuses}}" name="data.eqt.maxuses"/>
    <div class="label">Notes</div>
    <textarea class="notes gcs-input-ta" style="width: 460px; height:90px !important;" rows="5" name="data.eqt.notes">{{data.eqt.notes}}</textarea>
    <div class="label">Page Ref</div>
    <input class="pageref gcs-input-sm5" type="text" value="{{data.eqt.pageref}}" name="data.eqt.pageref"/>


{{#each data.melee as | this key |}}
    <div class="label">Melee Weapon</div><div></div>
    <div class="label">Usage</div>
    <input class="gcs-input-sm8" type="text" value="{{this.mode}}" name="data.melee.{{key}}.mode" />
    <div class="label">Skill lvl</div>
    <input class="gcs-input-sm8" type="text" value="{{level}}" data-dtype="Number" name="data.melee.{{key}}.level"/>
    <div class="label">Parry</div>
    <div><input class="parry gcs-input-sm8" type="text" value="{{parry}}" name="data.melee.{{key}}.parry"/></div>
    <div class="label">Block</div>
    <div><input class="block gcs-input-sm8" type="text" value="{{block}}" name="data.melee.{{key}}.block"/></div>
    <div class="label">Damage</div>
    <div><span><input class="damage gcs-input-sm8" type="text" value="{{damage}}" name="data.melee.{{key}}.damage"/> Dmg types: burn, cor, cr, cut, fat, imp, pi-, pi, pi+, pi++, tox, dmg</span></div>
    <div class="label">Reach</div>
    <div><input class="reach gcs-input-sm8" type="text" value="{{reach}}" name="data.melee.{{key}}.reach"/></div>
    <div class="label">ST</div>
    <div><input class="st gcs-input-sm8" type="text" value="{{st}}" name="data.melee.{{key}}.st"/></div>
    <div class="label">Notes</div>
    <textarea class="notes gcs-input-ta" style="width: 460px; height:90px !important;" rows="5" name="data.melee.{{key}}.notes">{{notes}}</textarea>
{{/each}}
</div>
  <div style="display:flex">
    <div class="npc-input-create"><button id="item1" type="button">Add Melee Weapon</button></div>
    <div class="npc-input-create"><button id="item2" type="button">Item 2</button></div>
    <div class="npc-input-create"><button id="item3" type="button">Item 3</button></div>
  </div>
</form>
