<div class="maneuver-tooltip">
  <div class="mv-title">{{i18n actorManeuver.label}}</div>
  <hr class="hr-notes">
  <div class="mv-icons">{{getMoveIcon this}}</div>
  <div class="mv-max-move">{{i18n 'GURPS.maxMove'}}: {{maxMove}}</div>
</div>