<div class='resource-editor' style='border: none;'>
  <div>
    <input class="name gcs-input" type="text" value="{{name}}" placeholder="Melee Weapon">
  </div>
  <div class='inputs'>
    <div class="label">Usage</div>
    <input class="usage gcs-input-sm8" type="text" value="{{mode}}" />
    <div class="label">Skill lvl</div>
    <input class="level gcs-input-sm8" type="text" value="{{level}}" data-dtype="Number" />
    <div class="label">Parry</div>
    <div><input class="parry gcs-input-sm8" type="text" value="{{parry}}" /></div>
    <div class="label">Block</div>
    <div><input class="block gcs-input-sm8" type="text" value="{{block}}" /></div>
    <div class="label">Damage</div>
    <div><input class="damage gcs-input-sm8" type="text" value="{{damage}}" /> Dmg types: burn, cor, cr, cut, fat, imp, pi-, pi, pi+, pi++, tox, dmg</div>
    <div class="label">Reach</div>
    <div><input class="reach gcs-input-sm8" type="text" value="{{reach}}" /></div>
    <div class="label">ST</div>
    <div><input class="st gcs-input-sm8" type="text" value="{{st}}" /></div>
    <div class="label">Notes</div>
    <textarea class="notes gcs-input-ta" style="width: 460px; height:90px !important;" rows="5">{{notes}}</textarea>
  </div>
</div>