<form class="{{cssClass}} overflowy" autocomplete="off">
	<div id="modifierbucket" class="app" style="border:5px solid rgb(255, 0, 0) ;position:fixed;bottom:5px;left:805px;width:70px;height:50px;background-color: rgb(200, 200, 180);margin: 0px;padding: 0px">
	<table style="border: none; width:100%; height:100%; margin: auto; padding: 0px 0px 0px 0px;border-spacing:0px;">
	<tr>
		<td style="font-size: 20px;padding: 0px 0px 0px 0px;text-align:center; width:55px; height:100%;vertical-align:middle;">
			<div style=height:40px; overflow:hidden; padding: 15px 0px 5px 0px"><div id="globalmodifier" style="line-height: 40px;text-shadow: 2px 2px black">{{gmod.displaySum}}</div>
			</div>
		</td>
		<td style="padding: 0px 2px 0px 0px;vertical-align:middle;"><div id="trash" class="fas fa-trash-alt"/></td>
	</tr>
	</table>
	</div>
<form>