<div class='resource-editor' style='border: none'>
  <div></div>
  <div class='inputsv2'>
    <div class='label'>{{localize 'GURPS.modifier'}}</div>
    <input class='modifier gcs-input-sm5' type='number' value='{{modifier}}' />
    <div class='label'>{{localize 'GURPS.situation'}}</div>
    <input class='situation gcs-input-30' style='width: 100%; text-align: left' value='{{situation}}' type='text' />
  </div>
</div>