<form class="{{cssClass}}" npc-sheet autocomplete="off">
  <div class='gurps-app {{classes}} npc-sheet'>
    <div class="npc-sheet-grid-container-ci">
      <div class="npc-input-top">
        <div class="npc-input-nm npc-input-label">Name:</div>
        <div class="npc-input-nm-val npc-sheet-label">{{{gurpslink actor.name}}}</div>
        <div class="npc-input-title npc-input-label">Title:</div>
        <div class="npc-input-title-val npc-sheet-label">{{{gurpslink data.traits.title}}}</div>
        <div class="npc-input-desc npc-input-label">Desc:</div>
        <div class="npc-input-desc-val npc-sheet-label">{{{gurpslink data.traits.appearance}}}</div>
      </div>
      <div class="npc-input-attr gurps">
        <div class="npc-input-st npc-input-label">ST:</div>
        <div class="npc-input-st-val rollable npc-sheet-centered" data-path="attributes.ST.value" data-otf='ST'>
          {{data.attributes.ST.value}}
        </div>
        <div class="npc-input-dx npc-input-label">DX:</div>
        <div class="npc-input-dx-val rollable npc-sheet-centered" data-path="attributes.DX.value" data-otf='DX'>
          {{data.attributes.DX.value}}
        </div>
        <div class="npc-input-iq npc-input-label">IQ:</div>
        <div class="npc-input-iq-val rollable npc-sheet-centered" data-path="attributes.IQ.value" data-otf='IQ'>
          {{data.attributes.IQ.value}}
        </div>
        <div class="npc-input-ht npc-input-label">HT:</div>
        <div class="npc-input-ht-val rollable npc-sheet-centered" data-path="attributes.HT.value" data-otf='HT'>
          {{data.attributes.HT.value}}
        </div>
        <div class="npc-input-dmg npc-input-labelr">Dmg:</div>
        <div class="npc-input-dmg-val rollable npc-sheet-centered" data-path="swing" data-damage
          data-otf='{{data.swing}} dmg'>{{data.swing}}</div>
          <div class=" npc-input-hp npc-input-label">HP:</div>
        <div class="npc-input-hp-val condition-block"><input class="npc-input-2 {{hpCondition data.HP "style"}}"
            name="data.HP.value" type="text" value="{{data.HP.value}}" data-dtype="Number" /></div>
        <div class="npc-input-will npc-input-label">Will:</div>
        <div class="npc-input-will-val rollable npc-sheet-centered" data-path="attributes.WILL.value" data-otf='WILL'>
          {{data.attributes.WILL.value}}
        </div>
        <div class="npc-input-per npc-input-label">PER:</div>
        <div class="npc-input-per-val rollable npc-sheet-centered" data-path="attributes.PER.value" data-otf='PER'>
          {{data.attributes.PER.value}}
        </div>
        <div class="npc-input-fp npc-input-label">FP:</div>
        <div class="npc-input-fp-val condition-block"><input class="npc-input-2 {{fpCondition data.FP "style"}}"
            name="data.FP.value" type="text" value="{{data.FP.value}}" data-dtype="Number" /></div>
        <div class="npc-input-dodge npc-input-labelr">Dodge:</div>
        <div class="npc-input-dodge-val rollable npc-sheet-centered" data-path="dodge" data-otf='Dodge'>
          {{data.currentdodge}}
        </div>
        <div class="npc-input-parry npc-input-labelr">Parry:</div>
        <div class="npc-input-parry-val rollable npc-sheet-centered" data-path="parry" data-otf='Parry'>
          {{this.parryblock}}
        </div>
        <div class="npc-input-spd npc-input-labelr">Speed:</div>
        <div class="npc-input-spd-val npc-sheet-centered">{{data.basicspeed.value}}</div>
        <div class="npc-input-mov npc-input-labelr">Move:</div>
        <div class="npc-input-mov-val npc-sheet-centered">{{data.currentmove}}</div>
        <div class="npc-input-sm npc-input-labelr">SM:</div>
        <div class="npc-input-sm-val npc-sheet-centered">{{data.traits.sizemod}}</div>
        <div class="npc-input-dr npc-input-labelr">DR:</div>
        <div class="npc-input-dr-val npc-sheet-centered">{{defense}}</div>
      </div>
      <div class='npc-sheet-ci'>
        {{#if useCI}}
            <div id='combat-hit' class='conditional-injury'>
              <div class='header major-heading'>Injury</div>
              <div class="tracked-resource no-border">
                <div class="header minor-heading">Severity</div>
                <div class='spinner'>
                  <button data-operation='ci-severity-dec'><i class="fas fa-minus"></i></button>
  
                  <input class="gcs-attr-input" name="data.conditionalinjury.injury.severity" type="text"
                    value="{{data.conditionalinjury.injury.severity}}" data-dtype="String"
                    data-operation="ci-severity-set" />
  
                  <button data-operation='ci-severity-inc'><i class="fas fa-plus"></i></button>
                  <button data-operation='ci-reset'><i class="fas fa-undo"></i></button>
                </div>
                <div class="header minor-heading">Time to Heal</div>
                <div class='spinner'>
                  <button data-operation='ci-days-dec'><i class="fas fa-minus"></i></button>
                  <input class="gcs-attr-input" name="injury.daystoheal" type="text"
                    value="{{data.conditionalinjury.injury.daystoheal}}" placeholder="" data-dtype="Number"
                    data-operation="ci-days-set" />
                  <button class='no-gap' data-operation='ci-days-inc'><i class="fas fa-plus"></i></button>
                  <div style='font-size: 85%;'>&nbsp;Days</div>
                </div>
                <div class='condition-block'>
                  <div class='tooltip-wrapper'>
                    <div
                      class='tooltip condition {{ciCurrentGrossEffects data.conditionalinjury.injury.severity "style"}}'>
                      {{ciCurrentGrossEffects data.conditionalinjury.injury.severity "label"}}
                      <span class="tooltiptext">
                        <div class="fieldblock">
                          {{#ciSeveritiesTooltip}}
                          <div class="field condensed noedit">{{severity}}</div>
                          <div class="label">{{label}}</div>
                          {{/ciSeveritiesTooltip}}
                        </div>
                      </span>
                    </div>
                  </div>
                  <div class='basic-value fieldblock3'>
                    <div class="points">[{{#if
                      data.conditionalinjury.RT.points}}{{data.conditionalinjury.RT.points}}{{else}}{{data.HP.points}}{{/if}}]
                    </div>
                    <div class='field'>{{data.conditionalinjury.RT.value}}&nbsp;RT</div>
                    <div class='label'>{{data.HP.max}}&nbsp;HP</div>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
            </div>
      <div class="npc-input-notes">
        <div class="npc-input-nt-val" style="--of:auto">
          {{#each data.notes as | this key |}}
            <div class="desc indent0 dblclkedit" data-key="data.notes.{{@key}}">{{{gurpslinkbr this.notes}}}</div>
          {{/each}}
        </div>
      </div>
      <div id='condition'>
        <div class="header">{{i18n "GURPS.conditions"}}</div>
        <div class="fieldblock">
          <div class="label">{{i18n "GURPS.maneuver"}}</div>
          <div class="field" style='padding-top: 3px; border: none;'>
            <select id='maneuver' name="data.conditions.maneuver" style='width: 100%; height: fit-content;'>
              {{#each (listAllManeuvers) as | this key |}}
                <option value='{{key}}' {{#if (eq ../data.conditions.maneuver key)}}selected{{/if}}>
                  {{localize this.label}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class="npc-input-traits">
        <div class="npc-input-tr dblclksort npc-header" data-key="data.ads">Traits (Ads/Disads/Quirks/Perks)</div>
        <div class="npc-input-tr-val">
          {{#each data.ads as | this key | }}
            <div class="desc indent0 satisfiedY adsdraggable dblclkedit" data-key="data.ads.{{@key}}">
              {{{gurpslink this.name}}}
              <div class="list_note satisfiedY adsdraggable" data-key="data.ads.{{@key}}">
                {{{gurpslinkbr this.notes}}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="npc-input-skills">
        <div class="npc-input-sk dblclksort npc-header" data-key="data.skills">Skills</div>
        <div class="npc-sheet-sk-val">
          {{#each data.skills as | this key |}}
            <div class="desc indent0 satisfiedY skldraggable dblclkedit" data-key="data.skills.{{@key}}">
              {{{gurpslink this.name}}}
              <div class="list_note satisfiedY skldraggable" data-key="data.skills.{{@key}}">
                {{{gurpslink this.notes @root}}}
              </div>
            </div>
            <div class="sl satisfiedY rollable npc-sheet-centered" data-name="{{this.name}}" data-key="data.skills.{{@key}}"
              data-otf='S:"{{this.name}}"'>{{this.level}}</div>
            <div></div>
          {{/each}}
        </div>
      </div>
      <div class="npc-input-melee">
        <div class="npc-input-me desc npc-header">Melee</div>
        <div class="npc-sheet-me-val">
          {{#each data.melee}}
            <div class="desc gcs-edit dblclkedit" data-path="data.melee" data-key="data.melee.{{@key}}">
              {{{gurpslink this.name}}}
              <div class="list_note">{{{gurpslink this.notes}}}</div>
            </div>
            <div class="level rollable" data-name="{{this.name}} ({{this.mode}})" data-key="data.melee.{{@key}}"
              data-otf='A:"{{this.name}} ({{this.mode}})"'>{{this.level}}</div>
            <div class="damage rollable" data-damage data-otf='{{this.damage}}'>{{this.damage}}</div>
          {{/each}}
        </div>
      </div>
      <div class="npc-input-ranged">
        <div class="npc-input-ra desc npc-header">Ranged</div>
        <div class="npc-sheet-ra-val">
          {{#each data.ranged as | this key |}}
            <div class="desc dblclkedit" data-key="data.ranged.{{@key}}">{{{gurpslink this.name}}}
              {{#if this.rof}} Rof:{{this.rof}}{{/if}}{{#if this.rcl}} Rcl:{{this.rcl}}{{/if}}
              <div class="list_note">{{{gurpslink this.notes}}}</div>
            </div>
            <div class="level rollable" data-name="{{this.name}} ({{this.mode}})" data-key="data.ranged.{{key}}"
              data-otf='A:"{{this.name}} ({{this.mode}})"'>{{this.level}}</div>
            <div class="acc {{#if (ne this.acc '0')}}gmod{{/if}}" data-name='Acc for {{this.name}}'>
              {{#if (gt this.acc 0)}}+{{/if}}{{this.acc}}
            </div>
            <div class="damage rollable" data-damage data-otf='{{this.damage}}'>{{this.damage}}</div>
          {{/each}}
        </div>
      </div>

      <div class="npc-input-spells">
        <div class="npc-input-sp dblclksort npc-header" data-key="data.spells">Spells</div>
        <div class="npc-sheet-sp-val">
          {{#each data.spells as | this key |}}
            <div class="desc indent0 spldraggable dblclkedit" data-key="data.spells.{{@key}}">
              {{{gurpslink this.name}}}
              <div class="list_note spldraggable" data-key="data.spells.{{@key}}">{{{gurpslink this.notes @root}}}
              </div>
            </div>
            <div class="sl rollable npc-sheet-centered" data-name="{{this.name}}" data-otf='S:"{{this.name}}"' data-key="data.spells.{{@key}}">
              {{this.level}}
            </div>
            <div></div>
          {{/each}}
        </div>
      </div>

      <div class="npc-input-equip">
        <div class="npc-input-eqt dblclksort npc-header">Equipment</div>
        <div class="npc-sheet-eqt-val">
          {{#listeqt data.equipment.carried }}
            <div class="equipped satisfiedY">{{#if this.equipped}}X{{/if}}</div>
            <div class="qty satisfiedY eqtdraggable" data-key="data.equipment.carried.{{@key}}">{{this.count}}
            </div>
            <div class="desc indent{{@indent}} satisfiedY eqtdraggable dblclkedit"
              data-key="data.equipment.carried.{{@key}}">
              {{{gurpslink this.name}}}
              <div class="list_note satisfiedY eqtdraggable" data-key="data.equipment.carried.{{@key}}">
                {{{gurpslink this.notes}}}
              </div>
              <div class="list_note satisfiedY"></div>
            </div>
            <div class="sum_cost satisfiedY">${{this.costsum}}</div>
            <div class="sum_weight satisfiedY">{{this.weightsum}}</div>
          {{/listeqt}}
        </div>
      </div>
    </div>
  </div>
</form>