<form class="{{cssClass}}" autocomplete="off">
<div class='gurps-app {{classes}} npc-input'>
<div class="npc-input-grid-container">
  <div class="npc-input-top">
    <div class="npc-input-nm npc-input-label">Name:</div>
    <div class="npc-input-nm-val"><input id="npc-input-name" data-key="name" class="gcs-input" type="text" value="{{mook.name}}"/></div>
    <div class="npc-input-title npc-input-label">Title:</div>
    <div class="npc-input-title-val"><input data-key="title" class="gcs-input" type="text" value="{{mook.title}}"/></div>
    <div class="npc-input-desc npc-input-label">Desc:</div>
    <div class="npc-input-desc-val"><input data-key="desc" class="gcs-input" type="text" value="{{mook.desc}}"/></div>
  </div>
  <div class="npc-input-attr">
    <div class="npc-input-st npc-input-label">ST:</div>
    <div class="npc-input-st-val"><input data-key="st" class="gcs-input-sm2" type="text" value="{{mook.st}}"/></div>
    <div class="npc-input-dx npc-input-label">DX:</div>
    <div class="npc-input-dx-val"><input data-key="dx" class="gcs-input-sm2" type="text" value="{{mook.dx}}"/></div>
    <div class="npc-input-iq npc-input-label">IQ:</div>
    <div class="npc-input-iq-val"><input data-key="iq" class="gcs-input-sm2" type="text" value="{{mook.iq}}"/></div>
    <div class="npc-input-ht npc-input-label">HT:</div>
    <div class="npc-input-ht-val"><input data-key="ht" class="gcs-input-sm2" type="text" value="{{mook.ht}}"/></div>
    <div class="npc-input-dmg npc-input-labelr">Dmg:</div>
    <div class="npc-input-dmg-val"><input data-key="damage" class="npc-input-sm3" type="text" value="{{mook.damage}}"/></div>
    <div class="npc-input-hp npc-input-label">HP:</div>
    <div class="npc-input-hp-val"><input data-key="hp" class="gcs-input-sm2" type="text" value="{{mook.hp}}"/></div>
    <div class="npc-input-will npc-input-label">Will:</div>
    <div class="npc-input-will-val"><input data-key="will" class="gcs-input-sm2" type="text" value="{{mook.will}}"/></div>
    <div class="npc-input-per npc-input-label">PER:</div>
    <div class="npc-input-per-val"><input data-key="per" class="gcs-input-sm2" type="text" value="{{mook.per}}"/></div>
    <div class="npc-input-fp npc-input-label">FP:</div>
    <div class="npc-input-fp-val"><input data-key="fp" class="gcs-input-sm2" type="text" value="{{mook.fp}}"/></div>
    <div class="npc-input-parry npc-input-labelr">Parry:</div>
    <div class="npc-input-parry-val"><input data-key="parry" class="gcs-input-sm2" type="text" value="{{mook.parry}}"/></div>
    <div class="npc-input-spd npc-input-labelr">Speed:</div>
    <div class="npc-input-spd-val"><input data-key="speed" class="gcs-input-sm3" type="text" value="{{mook.speed}}"/></div>
    <div class="npc-input-mov npc-input-labelr">Move:</div>
    <div class="npc-input-mov-val"><input data-key="move" class="gcs-input-sm2" type="text" value="{{mook.move}}"/></div>
    <div class="npc-input-sm npc-input-labelr">SM:</div>
    <div class="npc-input-sm-val"><input data-key="sm" class="npc-input-sm2" type="text" value="{{mook.sm}}"/></div>
    <div class="npc-input-dr npc-input-labelr">DR:</div>
    <div class="npc-input-dr-val"><input data-key="dr" class="npc-input-sm2" type="text" value="{{mook.dr}}"/></div>
    <div class="npc-input-dodge npc-input-labelr">Dodge:</div>
    <div class="npc-input-dodge-val"><input data-key="dodge" class="gcs-input-sm2" type="text" value="{{mook.dodge}}"/></div>
  </div>
  <div class="npc-input-notes">
    <div class="npc-input-nt-val" style="--of:visible"><textarea data-key="notes" class="npc-input-ta" type="text">{{mook.notes}}</textarea></div>
  </div>
  <div class="npc-input-melee">
    <div class="npc-input-me">Melee</div>
    <div class="npc-input-me-val"><textarea data-key="melee" class="npc-input-ta" type="text">{{mook.melee}}</textarea></div>
  </div>
  <div class="npc-input-ranged">
    <div class="npc-input-ra">Ranged</div>
    <div class="npc-input-ra-val"><textarea data-key="ranged" class="npc-input-ta" type="text">{{mook.ranged}}</textarea></div>
  </div>
  <div class="npc-input-traits">
    <div class="npc-input-tr">Traits (Ads/Disads/Quirks/Perks)</div>
    <div class="npc-input-tr-val"><textarea data-key="traits" class="npc-input-ta" type="text">{{mook.traits}}</textarea></div>
  </div>
  <div class="npc-input-skills">
    <div class="npc-input-sk">Skills</div>
    <div class="npc-input-sk-val"><textarea data-key="skills" class="npc-input-ta" type="text">{{mook.skills}}</textarea></div>
  </div>
  <div class="npc-input-equip">
    <div class="npc-input-eqt">Equipment</div>
    <div class="npc-input-eqt-val"><textarea data-key="equipment" class="npc-input-ta" type="text">{{mook.equipment}}</textarea></div>
  </div>
  <div class="npc-input-spells">
    <div class="npc-input-sp">Spells</div>
    <div class="npc-input-sp-val"><textarea data-key="spells" class="npc-input-ta" type="text">{{mook.spells}}</textarea></div>
  </div>
  {{#if this.displaybuttons}}
  <div class="npc-input-create"><button id="npc-input-create" type="button">{{mode}}</button></div>
  <div class="npc-input-import"><button id="npc-input-import" type="button">Import Stat block</button></div>
  {{/if}}
</div>
</div>
</form>