<form class="{{cssClass}} npc_form" autocomplete="off">

<div class="npc-input-grid-container">
  <div class="npc-input-name">
    <div class="npc-input-nm"></div>
    <div class="npc-input-title"></div>
    <div class="npc-input-desc"></div>
  </div>
  <div class="npc-input-notes"></div>
  <div class="npc-input-traits"></div>
  <div class="npc-input-skills"></div>
  <div class="npc-input-melee"></div>
  <div class="npc-input-ranged"></div>
  <div class="npc-input-attr1">
    <div class="npc-input-dodge"></div>
    <div class="npc-input-ht"></div>
    <div class="npc-input-iq"></div>
    <div class="npc-input-dx"></div>
    <div class="npc-input-st"></div>
    <div class="npc-input-st-val"></div>
    <div class="npc-input-dx-val"></div>
    <div class="npc-input-iq-val"></div>
    <div class="npc-input-ht-val"></div>
    <div class="npc-input-dodge-val"></div>
  </div>
  <div class="npc-input-attr2">
    <div class="npc-input-hp"></div>
    <div class="npc-input-per"></div>
    <div class="npc-input-will"></div>
    <div class="npc-input-hp-val"></div>
    <div class="npc-input-will-val"></div>
    <div class="npc-input-per-val"></div>
    <div class="npc-input-fp-val"></div>
    <div class="npc-input-fp"></div>
  </div>
  <div class="npc-input-attr3">
    <div class="npc-input-dr"></div>
    <div class="npc-input-dr-val"></div>
    <div class="npc-input-sm"></div>
    <div class="npc-input-sm-val"></div>
    <div class="npc-input-move"></div>
    <div class="npc-input-move-val"></div>
    <div class="npc-input-speed-val"></div>
    <div class="npc-input-speed"></div>
  </div>
</div>

</form>