<div class='resource-editor' style='border: none;'>
  <div>
    <input class="name gcs-input" type="text" value="{{name}}" placeholder="Ranged Weapon">
  </div>
  <div class='inputs'>
    <div class="label">Usage</div>
    <input class="usage gcs-input-sm8" type="text" value="{{mode}}" />
    <div class="label">Skill lvl</div>
    <input class="level gcs-input-sm8" type="text" value="{{level}}" data-dtype="Number" />
    <div class="label">Acc</div>
    <div><input class="acc gcs-input-sm8" type="text" value="{{acc}}" data-dtype="Number" /></div>
    <div class="label">Damage</div>
    <div><input class="damage gcs-input-sm8" type="text" value="{{damage}}" /> Dmg types: burn, cor, cr, cut, fat, imp, pi-, pi, pi+, pi++, tox, dmg</div>
    <div class="label">Range</div>
    <div><input class="range gcs-input-sm8" type="text" value="{{range}}" /></div>
    <div class="label">RoF</div>
    <div><input class="rof gcs-input-sm8" type="text" value="{{rof}}" /></div>
    <div class="label">Shots</div>
    <div><input class="shots gcs-input-sm8" type="text" value="{{shots}}" /></div>
    <div class="label">Bulk</div>
    <div><input class="bulk gcs-input-sm8" type="text" value="{{bulk}}" data-dtype="Number" /></div>
    <div class="label">Rcl</div>
    <div><input class="rcl gcs-input-sm8" type="text" value="{{rcl}}" /></div>
    <div class="label">ST</div>
    <div><input class="st gcs-input-sm8" type="text" value="{{st}}" /></div>
    <div class="label">Notes</div>
    <textarea class="notes gcs-input-ta" style="width: 460px; height:90px !important;" rows="5">{{notes}}</textarea>
  </div>
</div>