<div class='resource-editor' style='border: none;'>
  <div class='name'>
    <input class="gcs-input" type="text" value="{{name}}" placeholder="Resource Name">
  </div>
  <div class='inputs'>
    <input class="current gcs-input" type="text" value="{{value}}" data-dtype="Number" />
    <div class="label">Current</div>
    <input class="minimum gcs-input" type="text" value="{{min}}" data-dtype="Number" />
    <div class="label">Minimum</div>
    <input class="maximum gcs-input" type="text" value="{{max}}" data-dtype="Number" />
    <div class="label">Maximum</div>
  </div>
</div>