<form class="{{cssClass}} simple_form" autocomplete="off">

<div class="simple_container">
  <div class="simple_ST rollableicon" data-value="ST{{data.attributes.ST.value}}" data-otf='ST'><img class="simple_icon" src="systems/gurps/ui/ri_4t.png"/>
		<label class="simple_input">{{simpleRating data.attributes.ST.value}}</label></div>
  <div class="simple_DX rollableicon" data-value="DX{{data.attributes.DX.value}}" data-otf='DX'><img class="simple_icon" src="systems/gurps/ui/ri_6t.png"/>
		<label class="simple_input">{{simpleRating data.attributes.DX.value}}</label></div>
  <div class="simple_IQ rollableicon" data-value="IQ{{data.attributes.IQ.value}}" data-otf='IQ'><img class="simple_icon" src="systems/gurps/ui/ri_8t.png"/>
		<label class="simple_input">{{simpleRating data.attributes.IQ.value}}</label></div>
  <div class="simple_HT rollableicon" data-value="HT{{data.attributes.HT.value}}" data-otf='HT'><img class="simple_icon" src="systems/gurps/ui/ri_10t.png"/>
		<label class="simple_input">{{simpleRating data.attributes.HT.value}}</label></div>
  <div class="simple_ST-desc">
		<label>Strength (</label><label class="rollable simple_lrg" data-path="attributes.ST.value" data-otf="ST">{{data.attributes.ST.value}}</label>
		<label>): How <strong>strong</strong> and <strong>tough</strong></label>
	</div>
  <div class="simple_DX-desc">
		<label>Dexterity (</label><label class="rollable simple_lrg" data-path="attributes.DX.value" data-otf="DX">{{data.attributes.DX.value}}</label>
		<label>): How <strong>agile</strong> and <strong>fast</strong></label>
	</div>
  <div class="simple_IQ-desc">
		<label>Intelligence (</label><label class="rollable simple_lrg" data-path="attributes.IQ.value" data-otf="IQ">{{data.attributes.IQ.value}}</label>
		<label>): How <strong>clever</strong> and <strong>aware</strong></label>
	</div>
  <div class="simple_HT-desc">
		<label>Health (</label><label class="rollable simple_lrg" data-path="attributes.HT.value" data-otf="HT">{{data.attributes.HT.value}}</label>
		<label>): How <strong>healthy</strong> and <strong>durable</strong></label>
	</div>
  <div class="simple_Shield rollableicon" data-value="Dodge"><label class="simple_dodge rollable" data-otf="Dodge">&nbsp;{{dodge}}&nbsp;</label></div>
  <div class="simple_Body">{{defense}}</div>
  <div class="simple_Heart {{hpCondition data.HP "style"}}"><div class="simple_Heart_inner">{{data.HP.value}}</div></div>
  <div class="simple_Defend">Defend</div>
  <div class="simple_Armor">Armor</div>
  <div class="simple_HP">Hit Points</div>
  <div class="simple_Attacks">
		<label>My Attacks</label><label class="simple_roll_label">Damage</label><label class="simple_roll_label">Roll</label>
    {{#each data.melee}}
      <div data-path="data.melee">{{{gurpslink this.name}}}
          <div class="list_note">{{{gurpslink this.notes}}}</div>
      </div>
      <div class="rollable simple_roll_label" data-damage data-otf='{{this.damage}}'>{{this.damage}}</div>
      <div class="rollable simple_roll_label" data-name="{{this.name}} ({{this.mode}})" data-otf='A:"{{this.name}}"'>{{this.level}}</div>
    {{/each}}

    {{#each data.ranged as | this key |}}
    <div data-path="data.ranged">{{{gurpslink this.name}}}
        <div class="list_note">{{{gurpslink this.notes}}}</div>
    </div>
    <div class="rollable simple_roll_label" data-damage>{{this.damage}}</div>
    <div class="rollable simple_roll_label" data-name="{{this.name}} ({{this.mode}})" data-key="data.ranged.{{key}}" data-otf='A:"{{this.name}}"'>{{this.level}}</div>
    {{/each}}

	</div>
  <div class="simple_Skills">
		<label class="dblclksort" data-key="data.skills">Things I Do Well</label><label class="simple_roll_label">Roll</label>
    {{#each data.skills as | this key |}}
    <div class="skldraggable" data-key="data.skills.{{key}}">{{{gurpslink this.name}}}
        <div class="list_note">{{{gurpslink this.notes @root}}}</div>
    </div>
    <div class="rollable simple_roll_label" data-name="{{this.name}}" data-otf='S:"{{this.name}}"'>{{this.level}}</div>
    {{/each}}
	</div>
  <div class="simple_Eqt">
		<label class="eqtdragtarget dblclksort" data-key="data.equipment.carried">My Belongings</label><label>#</label>
    {{#listeqt data.equipment.carried }}
     <div class="indent{{@indent}} eqtdraggable" data-key="data.equipment.carried.{{@key}}"">{{{gurpslink this.name}}}
        <div class="list_note eqtdraggable" data-key="data.equipment.carried.{{@key}}"">{{{gurpslink this.notes}}}</div>
    </div>
   	<div>{{this.count}}</div>
    {{/listeqt}}
	</div>
  <div class="simple_Ads">
		<label class="dblclksort" data-key="data.ads">Things That Describe Me</label>
    {{#each data.ads as | this key |}}
    <div class="adsdraggable" data-key="data.ads.{{key}}">{{{gurpslink this.name}}}
         <div class="adsdraggable" data-key="data.ads.{{key}}">{{{gurpslinkbr this.notes}}}</div>
    </div>
    {{/each}}
	</div>
  <div class="simple_Portrait"><img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/></div>
  <div class="simple_Notes">
    <label>Notes</label>
    {{#each data.notes}}
      <div>{{{gurpslinkbr this.notes}}}</div>
    {{/each}}
  </div>
</div>

</form>