<form class="gga-app" slam-calculator autocomplete="off">
  <h2>
    {{attackerToken.name}}
    <i>{{i18n "GURPS.slams"}} <i class="subtle fas fa-align-right"></i><i class="fas fa-running"></i></i>
    {{targetToken.name}}
  </h2>
  <div style="display: flex; justify-content: center; align-items: stretch; align-self: center; ">
  <span><label for="dfrpgrules">{{i18n "GURPS.slamDFRPGRules"}}:</label>
    <input id="dfrpgrules" type="checkbox" {{#if useDFRPGRules}}checked{{/if}}/></span>
  </div>  
  <div class="gga-group inputs" style="height: unset; border: none">
    <h4>{{attackerToken.name}}</h4>
    <div class="label-value-row">
      {{#if useDFRPGRules}}
      <label>{{i18n "GURPS.thrust"}}:</label>
      <div><input id="attacker-thr" type="text" value="{{attackerThr}}" data-dtype="String"/></div>
      {{else}}
      <label>{{i18n "GURPS.HP"}}:</label>
      <div><input id="attacker-hp" type="text" value="{{attackerHp}}" data-dtype="Number" /></div>
      {{/if}}
      <label>{{i18n "GURPS.slamVelocity"}}:</label>
      <div><input id="attacker-speed" type="text" value="{{attackerSpeed}}" data-dtype="Number" /></div>
      <label for="aoa">{{i18n "GURPS.slamAOAStrong"}}:</label>
      <div><input id="aoa" type="checkbox" /></div>
      <label>{{i18n "GURPS.slamShieldDB"}}:</label>
      <div><input id="db" type="text" value="{{shieldDB}}" data-dtype="Number" /></div>
    </div>
  </div>
  <div class="gga-group inputs" style="height: unset; border: none; padding-top: 0.5em">
    <h4>{{targetToken.name}}</h4>
    <div class="label-value-row">
      {{#if useDFRPGRules}}
      <label>{{i18n "GURPS.thrust"}}:</label>
      <div><input id="target-thr" type="text" value="{{targetThr}}" data-dtype="String"/></div>
      {{else}}
      <label>{{i18n "GURPS.HP"}}:</label>
      <input id="target-hp" type="text" value="{{targetHp}}" data-dtype="Number" />
      {{/if}}
      <label>{{i18n "GURPS.slamVelocity"}}:</label>
      <div><input id="target-speed" type="text" value="{{targetSpeed}}" data-dtype="Number" /></div>
    </div>
  </div>
  <div
    class="gga-group inputs"
    style="border: none; border-top: 1px solid #999; height: unset; margin: 0.5em 0; padding-top: 0.5em"
  >
    <div class="label-value-row">
      <label><strong>{{i18n "GURPS.slamRelativeVelocity"}}:</strong></label>
      <input id="relative-speed" type="text" value="{{relativeSpeed}}" readonly disabled />
    </div>
  </div>
  <div class="button-bar">
    <button><i class="fas fa-check"></i> {{i18n "GURPS.resolve"}}</button>
  </div>
</form>
