<form class='{{cssClass}}' slam-calculator autocomplete="off">
  <h2>{{localize "GURPS.slamCalculator"}}</h2>
  <div class='inputs'>
    <label>{{localize "GURPS.slamAttackerHP"}}:</label>
    <input type="text" value="10" data-dtype="Number" />
    <label>{{localize "GURPS.slamAttackerVelocity"}}:</label>
    <input type="text" value="10" data-dtype="Number" />
    <label for='aoa'>{{localize "GURPS.slamAOAStrong"}}:</label>
    <input type='checkbox' id='aoa'>
    <div style='margin-top: 0.5rem;'></div>
    <div></div>
    <label>{{localize "GURPS.slamTargetHP"}}:</label>
    <input type="text" value="10" data-dtype="Number" />
    <label>{{localize "GURPS.slamTargetVelocity"}}:</label>
    <input type="text" value="10" data-dtype="Number" />
    <div style='margin-top: 0.5rem;'></div>
    <div></div>
    <label>{{localize "GURPS.slamRelativeVelocity"}}:</label>
    <input type='text' value='20' readonly disabled>
  </div>
  <div class='button-bar'>
    <button>{{localize "GURPS.resolve"}}</button>
  </div>
</form>