@import "../variables";

.window-app.gurps {
	#apply-damage {
		.fieldblock {
			display: grid;
			grid-template-columns: 0fr 1fr;
			align-items: end;
			text-align: left;
			white-space: nowrap;
			align-self: stretch;
			background-color: rgba(var(--color-background), 1);
			color: rgba(var(--color-on-content), 1);
		}

		.label {
			padding: var(--padding-standard);
			text-align: right;
			color: rgba(var(--color-on-content), 0.6);
			font-weight: 200;
		}

		.field {
			height: 100%;
			align-content: center;
		}
	}
}
