@import "compendium_browser", "token_modifier_window", "apply_damage_dlg", "modifier_bucket", "modifier_prompt";

#menu {
	box-shadow: none;
	background: rgba(var(--color-control), 0.6);
	color: rgb(var(--color-on-control));
	border: 2px solid rgb(var(--color-divider));
	border-radius: 0;

	#menu-items {
		margin: 0;
		padding: 0;

		li {
			&:hover {
				background: rgba(var(--color-selection), 0.6);
				color: rgb(var(--color-on-selection));
				text-shadow: none;
			}
		}
	}
}

.window-app.gurps.pdf {
	.window-content {
		overflow: clip;
	}

	iframe {
		height: 100%;
		width: 100%;
	}
}

#context-menu {
	background: rgb(var(--color-background));
	color: rgb(var(--color-on-background));
	font: var(--font-system);
	width: max-content;
	border: 1px solid rgb(var(--color-divider));
	border-radius: 0;

	li.context-item {
		line-height: 24px;
		padding: var(--padding-header);

		&:hover {
			background: rgb(var(--color-selection));
			color: rgb(var(--color-on-selection));
			text-shadow: none;
		}
	}
}

#ui-bottom > div {
	justify-content: unset;
}
