#modifier-bucket-window {
	position: absolute;
	display: flex;
	flex-direction: row;
	gap: 4px;
	// align-items: end;
	border: 2px solid rgb(var(--color-focused-tab));
	border-radius: 4px;
	background: rgb(var(--color-background));
	color: rgb(var(--color-on-background));
	padding: 5px;
	z-index: var(--z-index-mod);
	max-height: 586px;

	.column {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.section {
		border: 1px solid rgb(var(--color-header));
		height: 100%;
		.header {
			text-align: center;
		}
		.content {
			background-color: rgb(var(--color-content));
			color: rgb(var(--color-on-content));
			display: flex;
			flex-direction: column;
			gap: 4px;
			padding: 4px;
			height: calc(100% - 18px);
		}
	}
	#categories {
		width: 430px;
		max-width: 430px;
		overflow-y: hidden;
		.content {
			gap: 0;
			overflow-y: scroll;
		}
	}
	#custom {
		height: min-content;
	}
	.generic {
		display: flex;
		gap: 4px;
		justify-content: center;
	}

	.active {
		display: flex;
		gap: 5px;
	}

	.collapsible {
		margin-top: 4px;
		display: flex;
		flex-direction: row;
		gap: 4px;
		border: 2px solid rgb(var(--color-control-edge));
		border-radius: 4px;
		padding: var(--padding-standard);
		background-color: rgb(var(--color-control));
		color: rgb(var(--color-on-control));
		&.open {
			border-radius: 4px 4px 0 0;
			border-bottom: 0;
		}
	}
	.collapsible-content {
		display: grid;
		grid-auto-flow: row;
		grid-auto-rows: 0fr;
		border: 2px solid rgb(var(--color-control-edge));
		background-color: rgb(var(--color-control));
		&.open {
			border-radius: 0 0 4px 4px;
		}
		.title {
			text-align: center;
			padding: var(--padding-header);
		}
		.modifier {
			border-radius: 0;
		}
	}

	.active,
	.modifier {
		// margin: auto;
		border: 2px solid;
		border-radius: 4px;
		// max-width: 80%;
		// min-width: 150px;
		padding: var(--padding-standard);
		cursor: pointer;
		transition: all 0.1s linear 0s;
		font-weight: bold;

		&.pos {
			border-color: rgb(var(--color-success));
			background-color: rgb(var(--color-success));
			color: white;

			&:hover {
				color: rgb(var(--color-success));
				background-color: white;
			}
		}

		&.neg {
			border-color: rgb(var(--color-failure));
			background-color: rgb(var(--color-failure));
			color: white;
			&:hover {
				color: rgb(var(--color-failure));
				background-color: white;
			}
		}

		&.zero {
			border-color: rgb(var(--color-skill));
			background-color: rgb(var(--color-skill));
			color: white;
			&:hover {
				color: rgb(var(--color-skill));
				background-color: white;
			}
		}
	}
}
