<div id='qnotes'>
  <input type='checkbox' id='toggle-qnotes' style='display: none;' {{checked toggleQnotes}} />
  <label for='toggle-qnotes' class='toggle-label'></label>
  <div class='qnotes-content'>
    {{#if system.additionalresources.qnotes}}{{{gurpslink system.additionalresources.qnotes}}}{{else}}
      <span style='color:lightgrey'>double click to edit Quick Note</span>{{/if}}
  </div>
</div>