<div id='combat-trackers'>
  <div class='header'>
    <div class='headermenu' data-key='system.additionalresources.tracker'>
      <span>{{i18n 'GURPS.resourceTrackers'}}</span>
      <i class='fas fa-caret-square-down'></i>
    </div>
  </div>
  <div id='tracker-scroller'>
    {{#each system.additionalresources.tracker}}
      {{>resource-tracker
          label=name
          resource=this
          name=(concat 'additionalresources.tracker.' (zeroFill @index 4))
          editable=true
        }}
    {{/each}}
  </div>
</div>