.chat-message {
	display: grid;
	grid-template:
		"header"
		"content";
	justify-content: normal;
	padding: 0;
	border: 1ps solid rgb(var(--color-header));
	border-radius: 0;
	font: var(--font-page-primary-labels);
	.message-header {
		grid-area: header;
		background-color: rgb(var(--color-header));
		color: rgb(var(--color-on-header));
		padding: var(--padding-header);
		padding-bottom: 2px;
		.message-metadata {
			font-size: var(--fontsize-7);
		}
		.message-delete {
			color: rgb(var(--color-icon-button));
			&:hover {
				color: rgb(var(--color-icon-button-rollover));
				text-shadow: none;
			}
		}
	}
	.message-content {
		grid-area: content;
		background-color: rgb(var(--color-content));
		color: rgb(var(--color-on-content));

		@import "roll";

		padding: var(--padding-standard);
		.import-error {
			display: grid;
			grid-template:
				"header"
				"list";
			.header {
				background-color: rgb(var(--color-error));
				color: rgb(var(--color-on-error));
				font: var(--font-page-secondary-fields);
			}
		}
	}
}
