.message-roll {
	&.attack,
	&.attribute,
	&.damage,
	&.skill {
		display: grid;
		grid-auto-flow: row;
		align-items: center;
		text-align: center;

		> hr {
			border-color: rgb(var(--color-divider));
			height: 1px;
			width: 90%;
		}

		.name {
			font-size: var(--font-size-18);
			font-weight: bold;
			margin: auto;
			width: min-content;
			white-space: nowrap;
			padding: 0 5px;
			margin-top: 5px;
			margin-bottom: 5px;
			text-align: center;
			border: 2px solid rgb(var(--color-skill));
			border-radius: 5px;
			background-color: rgb(var(--color-skill));
			color: white;
			cursor: pointer;
			transition: all 0.1s linear 0s;

			&:hover {
				color: rgb(var(--color-skill));
				background-color: white;
			}
		}

		.static-name {
			font-size: var(--font-size-18);
			font-weight: bold;
			margin: auto;
			width: min-content;
			white-space: nowrap;
			padding: 0 5px;
			margin-top: 5px;
			margin-bottom: 5px;
			text-align: center;
			color: rgb(var(--color-skill));
			background-color: transparent;
		}

		.mod {
			margin: auto;
			border: 2px solid;
			border-radius: 4px;
			max-width: 80%;
			min-width: 150px;
			padding: var(--padding-standard);
			cursor: pointer;
			transition: all 0.1s linear 0s;
			font-weight: bold;

			&.mod-pos {
				border-color: rgb(var(--color-success));
				background-color: rgb(var(--color-success));
				color: white;

				&:hover {
					color: rgb(var(--color-success));
					background-color: white;
				}
			}

			&.mod-neg {
				border-color: rgb(var(--color-failure));
				background-color: rgb(var(--color-failure));
				color: white;

				&:hover {
					color: rgb(var(--color-failure));
					background-color: white;
				}
			}

			&.mod-zero {
				border-color: yellow;
				background-color: yellow;
				color: white;
			}
		}

		.modifiers {
			display: grid;
			grid-auto-flow: rows;
			grid-gap: 2px;
		}

		.result {
			font-size: var(--font-size-20);
			font-weight: bold;
			// margin: 0 30px;
			margin: auto;
			width: min-content;
			padding: 0 5px;
			margin-bottom: 5px;
			white-space: nowrap;
			text-align: center;
			/* color: white; */
			background-color: white;
			border: 2px solid;
			/* border-color: rgb(var(--color-header)); */
			border-radius: 5px;

			&.critical_success {
				/* background-color: rgb(var(--color-critical-success)); */
				color: rgb(var(--color-critical-success));
				border-color: rgb(var(--color-critical-success));
			}

			&.critical_failure {
				/* background-color: rgb(var(--color-critical-failure)); */
				color: rgb(var(--color-critical-failure));
				border-color: rgb(var(--color-critical-failure));
			}

			&.success {
				/* background-color: rgb(var(--color-success)); */
				color: rgb(var(--color-success));
				border-color: rgb(var(--color-success));
			}

			&.failure {
				/* background-color: rgb(var(--color-failure)); */
				color: rgb(var(--color-failure));
				border-color: rgb(var(--color-failure));
			}
		}

		.total {
			// .dice-1:before { content: "\f525"; }
			// .dice-2:before { content: "\f528"; }
			// .dice-3:before { content: "\f527"; }
			// .dice-4:before { content: "\f524"; }
			// .dice-5:before { content: "\f523"; }
			// .dice-6:before { content: "\f526"; }
			// .dice-1.num:before { content: "\e256"; }
			// .dice-2.num:before { content: "\e257"; }
			// .dice-3.num:before { content: "\e258"; }
			// .dice-4.num:before { content: "\e259"; }
			// .dice-5.num:before { content: "\e25a"; }
			// .dice-6.num:before { content: "\e25b"; }
			margin-bottom: 5px;
		}
	}

	&.damage {
		.modifiers {
			margin-bottom: 5px;
		}

		.name {
			font-size: var(--font-size-16);
		}

		.result {
			font-size: var(--font-size-18);

			&:before {
				content: "\e411";
				font-family: "Font Awesome 6 Pro";
				font-weight: 400;
				color: rgb(var(--color-icon-button));
				margin-right: 4px;
			}

			&:hover {
				box-shadow: 0 0 10px rgb(var(--color-failure));
			}
		}
	}
}
