.dice-roll {
	&.attack,
	&.attribute,
	&.damage,
	&.skill,
	&.generic {
		// display: grid;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		> hr {
			border-color: rgb(var(--color-divider));
			height: 1px;
			width: 90%;
			margin: 0;
		}

		.name,
		.default {
			min-width: 50%;
			font-size: var(--font-size-18);
			font-weight: bold;
			margin: auto;
			width: min-content;
			white-space: nowrap;
			padding: 0 5px;
			margin-top: 5px;
			margin-bottom: 5px;
			text-align: center;
			border: 2px solid rgb(var(--color-skill));
			border-radius: 5px;
			background-color: rgb(var(--color-skill));
			color: white;
			cursor: pointer;
			transition: all 0.1s linear 0s;

			&:hover {
				color: rgb(var(--color-skill));
				background-color: white;
			}
		}

		.static-name {
			font-size: var(--font-size-18);
			font-weight: bold;
			margin: auto;
			width: min-content;
			white-space: nowrap;
			padding: 0 5px;
			margin-top: 5px;
			margin-bottom: 5px;
			text-align: center;
			color: rgb(var(--color-skill));
			background-color: transparent;
		}

		.mod {
			margin: auto;
			border: 2px solid;
			border-radius: 4px;
			max-width: 80%;
			min-width: 150px;
			padding: var(--padding-standard);
			cursor: pointer;
			transition: all 0.1s linear 0s;
			font-weight: bold;

			&.mod-pos {
				border-color: rgb(var(--color-success));
				background-color: rgb(var(--color-success));
				color: white;

				&:hover {
					color: rgb(var(--color-success));
					background-color: white;
				}
			}

			&.mod-neg {
				border-color: rgb(var(--color-failure));
				background-color: rgb(var(--color-failure));
				color: white;

				&:hover {
					color: rgb(var(--color-failure));
					background-color: white;
				}
			}

			&.mod-zero {
				border-color: rgb(var(--color-skill));
				background-color: (rgb(var(--color-skill)));
				color: white;

				&:hover {
					color: rgb(var(--color-skill));
					background-color: white;
				}
			}
		}

		.margin {
			margin-bottom: 5px;
		}

		.modifiers {
			display: grid;
			grid-auto-flow: rows;
			grid-gap: 2px;
			&.generic {
				margin-top: 5px;
			}
		}

		.dice-result {
			width: 100%;
		}

		.dice-total {
			font-size: var(--font-size-20);
			font-weight: bold;
			// margin: 0 30px;
			margin: auto;
			width: min-content;
			padding: 0 5px;
			margin-bottom: 5px;
			white-space: nowrap;
			text-align: center;
			/* color: white; */
			background-color: white;
			border: 2px solid;
			/* border-color: rgb(var(--color-header)); */
			border-radius: 5px;

			&.critical_success {
				color: rgb(var(--color-critical-success));
				border-color: rgb(var(--color-critical-success));
			}

			&.critical_failure {
				color: rgb(var(--color-critical-failure));
				border-color: rgb(var(--color-critical-failure));
			}

			&.success {
				color: rgb(var(--color-success));
				border-color: rgb(var(--color-success));
			}

			&.failure {
				color: rgb(var(--color-failure));
				border-color: rgb(var(--color-failure));
			}

			&.generic {
				margin-top: 5px;
				color: rgb(var(--color-skill));
				border-color: rgb(var(--color-skill));
			}
		}

		.total {
			// .dice-1:before { content: "\f525"; }
			// .dice-2:before { content: "\f528"; }
			// .dice-3:before { content: "\f527"; }
			// .dice-4:before { content: "\f524"; }
			// .dice-5:before { content: "\f523"; }
			// .dice-6:before { content: "\f526"; }
			// .dice-1.num:before { content: "\e256"; }
			// .dice-2.num:before { content: "\e257"; }
			// .dice-3.num:before { content: "\e258"; }
			// .dice-4.num:before { content: "\e259"; }
			// .dice-5.num:before { content: "\e25a"; }
			// .dice-6.num:before { content: "\e25b"; }
			margin-bottom: 5px;
		}
	}

	&.damage {
		.modifiers {
			margin-bottom: 5px;
		}

		.name {
			font-size: var(--font-size-16);
		}

		.dice-total {
			font-size: var(--font-size-18);
			// transition: all 0.1s linear 0s;
			cursor: pointer;

			&:before {
				content: "\e411";
				font-family: "Font Awesome 6 Pro";
				font-weight: 400;
				color: rgb(var(--color-icon-button));
				margin-right: 4px;
			}

			// &:hover {
			// 	background-color: rgb(var(--color-failure));
			// 	color: white;
			// }

			// &:hover {
			// 	box-shadow: 0 0 10px rgb(var(--color-failure));
			// }
		}
	}
}

.table-draw {
	.table-result {
		display: flex;
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		width: fit-content;
		background: white;
		border: 2px solid;
		border-radius: 5px;
		border-color: rgb(var(--color-skill));
		padding: 5px;

		.result-image {
			border: none;
		}
		.result-text {
			width: min-content;
			.content-link {
				background: rgb(var(--color-control));
				color: rgb(var(--color-on-control));
				border: 2px solid rgb(var(--color-control-edge));
				border-radius: 5px;
				&:hover {
					text-shadow: none;
				}
			}
		}
	}
}
