<div class='ms-add-row'>
  <span class='ms-add-btn' data-action="createEmbedded" data-document-name="{{documentName}}" data-type="{{type}}" data-carried="{{flags.carried}}">
    <i class='fas fa-plus'></i> {{localize "DOCUMENT.New" type=(localize (concat "TYPES." documentName "." type)) }}
  </span>
</div>
