<span class='ms-row-actions'>
  <i class='fas fa-pen-to-square ms-action-btn' data-action='editEmbedded' data-uuid="{{uuid}}"></i>
  <i class='fas fa-trash ms-action-btn ms-delete' data-action='deleteEmbedded' data-uuid='{{uuid}}'></i>
</span>
