<div
	class="desc item other"
	data-item-id="{{ this.id }}"
>
	<div class="dropdown"></div>
	<div class="name">
		{{this.name}}
	</div>
</div>
<div class="reference" {{disabled (not this.enabled)}}>{{{ref this.reference}}}</div>
