<div id="miscellaneous">
	<div class="header">{{localize "gurps.character.miscellaneous"}}</div>
	<div class="fieldblock">
		{{>sections/input-text label="gurps.character.created_date" field="field" data=(date actor.created_date)
		class="disabled"}}
		{{>sections/input-text label="gurps.character.modified_date" field="field" data=(date data.modified_date)
		class="disabled"}}
		{{>sections/input-text label="gurps.character.player_name" field="field" name="data.profile.player_name"
		data=data.profile.player_name type="String" class=(input_lock editing)}}
	</div>
</div>
