<div id="portrait">
	<div class="header">{{localize "gurps.character.portrait"}}</div>
	<div class="img-display" style="background-image: url({{actor.img}});">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
	</div>
</div>
