<div class="conditional-modifier">
	<div class="placeholder"> </div>
	{{>sections/textarea field="field" name=(concat "system.features." @index ".situation") data=this.situation type="String"}}
</div>
