<div>
	<div class="placeholder"> </div>
	<select name="system.features.{{@index}}.location">
		{{#select this.location}}
		{{#each locations as |v k|}}
		<option value="{{k}}">{{localize "gurps.field_prefix.dr" location=v}}</option>
		{{/each}}
		{{/select}}
	</select>
</div>
<div class="dr-bonus">
	<div class="placeholder"> </div>
	{{>sections/input-text field="field" label=(localize "gurps.field_prefix.dr_bonus_before") after=(localize
	"gurps.field_prefix.dr_bonus_after")name=(concat "system.features." @index ".specialization")
	data=this.specialization
	type="String"}}
</div>
