<div class="conditional-modifier">
	<div class="placeholder"> </div>
	<div class="field">
		<textarea type="text" name="array.system.features.{{@index}}.situation" data-dtype="String">{{{textareaFormat
				this.situation
			}}}</textarea>
	</div>
</div>
