<div class="gcs-section">
  <div class="gcs-section-header">
    <span class="gcs-title">{{localize "GURPS.quickNotes.title"}}</span>
    <a data-action="editQuickNotes"><i class="fa-solid fa-pen-to-square"></i></a>
  </div>
  <div class="gcs-section-content quick-notes">
    {{quickNotes}}
  </div>
</div>
