<div class="flexcol">
  {{formGroup systemFields.test.fields.script value=systemSource.test.script localize=true}}

  <div class="form-group">
    <div class="form-fields">
      <input disabled value="{{result}}">
    <div>
  <div>
</div>
