<form autocomplete="off" onsubmit="event.preventDefault();">
	<div class="top-bar">
		<div class="field">
			<a class="gcs-reset reset-all"></a>
			<div class="label">{{localize "gurps.settings.reset_all"}}</div>
		</div>
	</div>
	{{>actor/character/config/attributes}}
</form>
