section.window-content {
  article.journal-entry-page {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    div:first-child {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  }
}

.journal-entry-page.pdf.view {
  aspect-ratio: 1 / 1.3; // 1 to 1.3 ratio is about right for GURPS source books
}

