#gga-settings.gga {
  .form-fields > * {
    flex: 0 1 auto;
    width: fit-content;
  }
}

.gga .gga-settings {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 1rem;

  .settings-list {
    .form-group {
      gap: 0;
    }

    & > div {
      padding: 0.5rem;
    }

    label {
      display: inline-flex;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;

      &::before,
      &::after {
        content: none;
      }

      * {
        font-weight: normal;
        max-width: max-content;
      }
    }

    p.hint {
      padding: 0 1rem;
    }
  }
}

// Darken every other field in light mode
.theme-light .gga-settings .settings-list > div:nth-child(odd) {
  background-color: rgb(0, 0, 0, 5%);
}

// Lighten every other field in dark mode
.theme-dark .gga-settings .settings-list > div:nth-child(odd) {
  background-color: rgb(255, 255, 255, 5%);
}

