.tr_fontSize6_lineHeight8 {
    font-size: 6pt;
    line-height: 8px;
}

.no-border {
    border: none;
}

.w9px {
    width: 9px;
}

.w20px {
    width: 20px;
}

.w30px {
    width: 30px;
}

.w40px {
    width: 40px;
}

