.gurps {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}

.gcs-input-ta {
  border-width: 0px !important;
  border: none !important;
  height: 1em !important;
  padding: 1px !important;
}

.gcs-input {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  padding: 1px !important;
}

.gcs-input-sm2 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 2em;
  padding: 1px !important;
}

.gcs-input-sm3 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 3em;
  padding: 1px !important;
}

.gcs-input-sm4 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 4em;
  padding: 1px !important;
}

.gcs-input-sm5 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 5em;
  padding: 1px !important;
}

.gcs-input-sm8 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 8em;
  padding: 1px !important;
}

.gcs-input-sm10 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 10em;
  padding: 1px !important;
}

.gcs-input-2 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 2em !important;
  padding: 1px !important;
}

.gcs-input-3 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 3em !important;
  padding: 1px !important;
}

.gcs-input-4 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 4em !important;
  padding: 1px !important;
}

.gcs-input-5 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 5em !important;
  padding: 1px !important;
}

.gcs-input-10 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 10em !important;
  padding: 1px !important;
}

.gcs-input-25 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 25em !important;
  padding: 1px !important;
}

.gcs-input-30 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 30em !important;
  padding: 1px !important;
}

#threed6 {
  /*border: 5px solid rgb(255, 123, 0);*/
  position: fixed;
  bottom: 10px;
  left: 880px;
  width: 52px;
  height: 52px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  display: inline-block;
}

#testdialog {
  left: 940px;
}

#threed6 #threed6dicerot {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 105;
}

#threed6 #threed6dicerotactive {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 105;
}

#threed6:hover #threed6dicerot {
  display: inline;
}

#threed6:active #threed6dicerotactive {
  display: inline;
}

#modtooltip {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  justify-items: stretch;
  justify-content: stretch;
  align-items: stretch;
  text-align: left;
  background-color: black;
}

.removemod {
  font-weight: bold;
  cursor: pointer;
}

.removemod:hover {
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px grey;
  background-color: yellow;
}

#modtooltiplefttop {
  grid-column: 1;
  grid-row: 1;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;
  row-gap: 3px;
  padding: 5px;
}

#modtooltipleftcenter {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: yellow;
  background-color: rgb(64, 64, 64);
  padding: 5px;
}

#modtooltipleftbottom {
  grid-column: 1;
  grid-row: 4;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px solid green;
  margin: 5px;
  color: black;
  background-color: white;
  row-gap: 2px;
  padding: 5px;
}

#modtooltipcentertop {
  grid-column: 2;
  grid-row: 1;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;

  row-gap: 5px;
  padding: 5px;
}

#modtooltipcentercenter {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 4;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;

  row-gap: 5px;
  padding: 5px;
}

#modtooltipcenterbottom {
  grid-column: 2;
  grid-row: 4;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;

  row-gap: 5px;
  padding: 5px;
}

#modtooltiprighttop {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;

  row-gap: 5px;
  padding: 5px;
}

#modtooltiprightbottom {
  grid-column: 3;
  grid-row-start: 3;
  grid-row-end: 5;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;

  row-gap: 5px;
  padding: 5px;
}

.modttlabel {
  font-size: 120%;
  color: blue;
  text-shadow: 1px 1px black;
}

.gmbutton {
  display: inline-block;
  text-align: center;
  font-size: 90%;
  padding: 2 px;
  width: fit-content;
}

.gurpstippable {
  position: relative;
}

.gurpstippable:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 130%;
  left: -50%;
  min-width: 20px;
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  background-color: #555;
  z-index: 102;
}

.gurpstippable:hover::after {
  content: '';
  position: absolute;
  top: -30%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  z-index: 102;
}

.modifierbucket {
  border: 5px solid rgb(255, 0, 0);
  position: fixed;
  bottom: 10px;
  left: 805px;
  width: 70px;
  height: 52px;
  background-color: rgb(200, 200, 180);
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  z-index: auto;
}

.modttt {
  text-align: center;
  border-radius: 10px;
  width: 900px;
  height: 700px;
  position: absolute;
  /* padding: 5px 10px 5px 10px; */
  z-index: 100;
}

.modttt::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -300px;
  border-width: 37px 300px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  pointer-events: none;
}

.pdflink {
  text-shadow: none;
  color: blue;
  text-decoration: underline;
}

.pdflink:hover {
  /*font-size: 115%;
  font-weight: bold;*/
  text-shadow: none;

  color: red;
  text-decoration: underline;
  overflow: visible;
  z-index: 99;
  cursor: pointer;
}

.rollable:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(255, 255, 128) !important;
  color: black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #cccccc;
  border-radius: 8px;
  margin: -2px 2px -3px -2px;
  overflow: visible;
  z-index: 99;
}

.rollable {
  color: black;
  /* text-shadow: 2px 2px rgb(255, 255, 128); */
  background-color: rgb(255, 255, 190) !important;
}

.rollable:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 128) !important;
  padding: 2px 3px 2px 3px;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  border-right: 1px solid #cccccc;
  border-radius: 8px;
  margin: -2px -2px -3px -2px;
}

.gmod:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(255, 128, 100) !important;
  color: black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #cccccc;
  border-radius: 8px;
  margin: -2px 0px -2px 2px;
  text-align: center;
}

.gmod {
  color: black;
  /*text-shadow: 2px 2px 8px rgb(255, 0, 0);*/
  background-color: rgb(255, 230, 190) !important;
  /* background-image: linear-gradient(to right, white , rgb(255, 200, 128)); */
}

.gmod:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-image: none;
  background-color: rgb(255, 128, 100) !important;
  padding: 1px 1em 1px 1px;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -6px -2px 4px;
  overflow: visible;
  z-index: 99;
}

.glinkmod:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(255, 128, 64) !important;
  color: black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -2px -1px -4px;
}

.glinkmod {
  color: black;
  background-color: rgb(255, 230, 190) !important;
}

.glinkmod:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-image: none;
  background-color: rgb(255, 128, 64) !important;
  padding: 1px 1px 1px 1px;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -3px -1px -3px;
  z-index: 99;
}

.glinkmodplus:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(0, 255, 0) !important;
  color: black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -2px -1px -4px;
  font-weight: bold;
}

.glinkmodplus {
  color: black;
  background-color: rgb(175, 255, 175) !important;
}

.glinkmodplus:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-image: none;
  background-color: rgb(0, 255, 0) !important;
  padding: 1px 1px 1px 1px;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -3px -1px -3px;
  z-index: 99;
  font-weight: normal;
}

.glinkmodminus:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(255, 0, 0) !important;
  color: yellow;
  text-shadow: 1px 1px black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -2px -1px -4px;
  font-weight: bold;
}

.glinkmodminus {
  color: black;
  background-color: rgb(255, 175, 175) !important;
}

.glinkmodminus:active {
  cursor: pointer;
  text-decoration: none;
  color: yellow;
  text-shadow: 1px 1px black;
  background-image: none;
  background-color: rgb(255, 0, 0) !important;
  padding: 1px 1px 1px 1px;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -3px -1px -3px;
  z-index: 99;
  font-weight: normal;
}

.gurpslink:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(255, 255, 128) !important;
  color: black;
  padding: 2px 3px 2px 3px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #cccccc;
  border-radius: 5px;
  margin: -2px -4px -2px -6px;
  overflow: visible;
  z-index: 99;
}

.gurpslink {
  color: black;
  /* text-shadow: 2px 2px rgb(255, 255, 128); */
  background-color: rgb(255, 255, 175) !important;
}

.gurpslink:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 128) !important;
  padding: 2px 3px 2px 3px;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  border-right: 1px solid #cccccc;
  border-radius: 8px;
  margin: -2px -5px -2px -3px;
  overflow: visible;
  z-index: 99;
}

.gurps .window-content {
  height: 100%;
  padding: 5px;
  /*overflow-y: hidden;*/
  background: white;
}

.gurps .sheet-header {
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.gurps #portrait .img-display {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 112.25px;
}

.gurps #portrait .profile-img {
  display: block;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.gurps .sheet-header .header-fields {
  flex: 1;
  /*  height: 100px;*/
}

.gurps .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.gurps .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.gurps .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}

.gurps .resource input {
  width: 100px;
  height: 28px;
}

.gurps .tabs {
  height: 40px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.gurps .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.gurps .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.gurps .sheet-body {
  overflow: hidden;
}

.gurps .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}

.gurps .editor,
.gurps .editor-content {
  height: 100%;
}

.gurps .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.gurps .item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #bbb;
}

.gurps .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}

.gurps .item-list .item-name {
  margin: 0;
}

.gurps .item-list .item-controls {
  flex: 0 0 36px;
}

.gurps .attributes table {
  /*	  width: 300px;*/
  border: none;
}

.gurps .attributes {
  flex: none;
  margin: 0;
  border-left: none;
  border-bottom: none;
  /*  border-top: 2px groove #eeede0;
  border-right: 2px groove #eeede0; */
  border-radius: 0;
  height: auto;
  width: 275px;
}

.gurps .attributes .brackets {
  border-top: none;
  font-size: 24px;
  font-weight: 100;
}

.gurps .attributes .pts {
  border: none;
  font-size: 10pt;
  text-align: center;
}

.gurps .attributes .fill-in {
  border: 1px solid black;
  text-align: center;
  transition: color 0.5s;
  font-size: 120%;
}

.gurps .attributes .fill-in:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-size: 150%;
  font-weight: 900;
}

.gurps .attributes-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}

.gurps .attributes-header .attribute-label {
  flex: 1.5;
}

.gurps .attributes-header .attribute-control {
  flex: 0 0 20px;
}

.gurps .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gurps .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
}

.gurps .attributes-list a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}

.gurps.sheet.actor {
  min-width: 560px;
  min-height: 375px;
}

.gurps.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

.gurps .fieldblock {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: end;
  padding-bottom: 0.15em;
}

.gurps .fieldblock hr {
  grid-column: 1 / span 2;
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

.gurps #description {
  grid-area: description;
  display: grid;
  grid-template:
    'header header header'
    'block1 block2 block3';
  grid-template-rows: 0fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}

.gurps #description .header {
  grid-area: header;
}

.gurps .fieldblock {
  text-align: left;
  padding-left: 0.2em;
  padding-right: 0.2em;
  /* font-size: 80%; */
  white-space: nowrap;
  align-self: center;
}

.gurps .fieldblock .field {
  margin-right: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-bottom: 1px solid lightgray;
}

body {
  font-family: Verdana, sans-serif;
  font-size: small;
  font-weight: normal;
  padding: 0;
  margin: 0.25in;
  margin-bottom: calc(0.25in - 1em);
}

#sheet {
  display: grid;
  grid-template:
    'personal personal'
    'stats stats'
    'reactions reactions'
    'melee melee'
    'ranged ranged'
    'advantages skills'
    'spells spells'
    'equipment equipment'
    'other_equipment other_equipment'
    'notes notes';
  grid-gap: 0.05in;
}

#editorsheet {
  display: grid;
  grid-template:
    'personal personal'
    'stats stats'
    'reactions reactions'
    'melee melee'
    'ranged ranged'
    'advantages advantages'
    'skills skills'
    'spells spells'
    'equipment equipment'
    'other_equipment other_equipment'
    'notes notes';
  grid-gap: 0.05in;
}

#footer {
  text-align: center;
  font-size: 80%;
}

.fieldblock {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: end;
  padding-bottom: 0.15em;
}

.fieldblock hr {
  grid-column: 1 / span 2;
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

.fieldblock3 {
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  align-items: end;
  padding-bottom: 0.15em;
}

.fieldblock3 hr {
  grid-column: 1 / span 3;
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

#personal {
  grid-area: personal;
  display: grid;
  grid-template:
    'portrait identity miscellaneous points'
    'portrait description description points';
  grid-template-columns: 0fr 1fr 1fr 0fr;
  grid-gap: 0.05in;
}

#portrait {
  grid-area: portrait;
  display: grid;
  grid-template:
    'header'
    'portrait';
  grid-template-rows: 0fr auto;
  grid-template-columns: auto;
  border: 1px solid black;
}

#identity {
  grid-area: identity;
}

#miscellaneous {
  grid-area: miscellaneous;
}

#points {
  grid-area: points;
}

#identity,
#miscellaneous,
#points,
#attributes,
#lifting,
#hitpoints {
  display: grid;
  grid-template-rows: 0fr 1fr;
  border: 1px solid black;
}

#points .field,
#attributes .field,
#lifting .field,
#hitpoints .field,
#trackers .field {
  text-align: right;
}

#description {
  grid-area: description;
  display: grid;
  grid-template:
    'header header header'
    'block1 block2 block3';
  grid-template-rows: 0fr 1fr;
  border: 1px solid black;
}

#description .header {
  grid-area: header;
}

#description .fieldblock:nth-child(1n + 3) {
  border-left: 1px solid black;
}

#stats {
  grid-area: stats;
  display: grid;
  grid-template:
    'attributes trackers location encumbrance'
    'attributes trackers location qnotes'
    'attributes trackers location lifting';
  grid-template-columns: 0fr 2fr 0fr 0fr;
  grid-gap: 0.05in;
}

#qnotes {
  grid-area: qnotes;
  margin: 2px;
}

#attributes {
  grid-area: attributes;
}

#hitpoints {
  grid-area: hitpoints;
  align-content: stretch;
}

#encumbrance {
  grid-area: encumbrance;
  grid-template:
    'header header header header header'
    'encmarkerh ench loadh moveh dodgeh'
    'encmarker enc load move dodge';
}

#lifting {
  grid-area: lifting;
  grid-template:
    'header header'
    'desc lift';
  grid-template-columns: 1fr 0fr;
}

#lifting .header:first-child {
  grid-area: header;
}

#location {
  grid-area: location;
  grid-template:
    'header header header header'
    'roll where penalty dr';
  grid-template-rows: 0fr 0fr;
  grid-auto-rows: 1fr;
}

#encumbrance .header:first-child,
#location .header:first-child {
  grid-area: header;
  border-bottom: 1px solid lightgray;
}

#encumbrance,
#lifting,
#location,
#reactions,
#melee,
#ranged,
#advantages,
#skills,
#spells,
#equipment,
#other_equipment,
#notes {
  display: grid;
  border: 1px solid black;
  align-content: start;
}

#reactions,
#melee,
#ranged,
#advantages,
#skills,
#spells,
#equipment,
#other_equipment,
#notes {
  grid-template-rows: repeat(1000, auto) 1fr;
}

#reactions {
  grid-template-columns: 0fr 1fr;
  grid-area: reactions;
}

#melee {
  grid-template-columns: 1fr repeat(8, auto);
  grid-area: melee;
}

#ranged {
  grid-template-columns: 1fr repeat(10, auto);
  grid-area: ranged;
}

#advantages {
  grid-template-columns: 1fr repeat(2, auto);
  grid-area: advantages;
}

#skills {
  grid-template-columns: 1fr repeat(4, auto);
  grid-area: skills;
}

#spells {
  grid-template-columns: 1fr repeat(10, auto);
  grid-area: spells;
}

#equipment {
  grid-template-columns: auto auto 1fr repeat(6, auto);
  grid-area: equipment;
}

#other_equipment {
  grid-template-columns: auto 1fr repeat(7, auto);
  grid-area: other_equipment;
}

#notes {
  grid-template-columns: 1fr auto;
  grid-area: notes;
}

.points {
  text-align: right;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 80%;
  align-self: center;
}

.points-fp {
  text-align: right;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 80%;
}

.label {
  text-align: left;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 80%;
  white-space: nowrap;
}

.field {
  margin-right: 0.2em;
}

.condensed {
  font-size: 80%;
}

.field,
.desc,
.cls,
.college,
.mana,
.mana_maintain,
.time,
.duration,
.sl,
.rsl,
.qty,
.equipped,
.uses,
.cost,
.sum_cost,
.weight,
.sum_weight,
.pts,
.ref,
.usage,
.level,
.parry,
.block,
.damage,
.reach,
.st,
.acc,
.range,
.rof,
.shots,
.bulk,
.rcl,
.load,
.loadh,
.move,
.moveh,
.dodge,
.dodgeh,
.roll,
.where,
.dr,
.liftdesc,
.lift,
.modifier,
.situation {
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-bottom: 1px solid lightgray;
}

.penalty {
  padding-left: 0.2em;
  padding-right: 1em;
  border-bottom: 1px solid lightgray;
}

.enc,
.ench {
  padding-left: 0;
  padding-right: 0.2em;
  border-bottom: 1px solid lightgray;
}

.encmarker,
.encmarkerh {
  padding-left: 0.2em;
  padding-right: 0;
  border-bottom: 1px solid lightgray;
}

#encumbrance .encmarker:nth-last-child(10n + 5),
#encumbrance .enc:nth-last-child(10n + 4),
#encumbrance .load:nth-last-child(10n + 3),
#encumbrance .move:nth-last-child(10n + 2),
#encumbrance .dodge:nth-last-child(10n + 1),
#lifting .liftdesc:nth-last-child(4n + 1),
#lifting .lift:nth-last-child(4n + 2),
#location .roll:nth-last-child(8n + 4),
#location .where:nth-last-child(8n + 3),
#location .penalty:nth-last-child(8n + 2),
#location .dr:nth-last-child(8n + 1),
#reactions .modifier:nth-child(even),
#reactions .situation:nth-child(odd),
#melee .desc:nth-child(even),
#melee .usage:nth-child(odd),
#melee .level:nth-child(even),
#melee .parry:nth-child(odd),
#melee .block:nth-child(even),
#melee .damage:nth-child(odd),
#melee .reach:nth-child(even),
#melee .st:nth-child(odd),
#ranged .desc:nth-child(even),
#ranged .usage:nth-child(odd),
#ranged .level:nth-child(even),
#ranged .acc:nth-child(odd),
#ranged .damage:nth-child(even),
#ranged .range:nth-child(odd),
#ranged .rof:nth-child(even),
#ranged .shots:nth-child(odd),
#ranged .bulk:nth-child(even),
#ranged .rcl:nth-child(odd),
#ranged .st:nth-child(even),
#advantages .desc:nth-child(even),
#advantages .pts:nth-child(odd),
#advantages .ref:nth-child(even),
#skills .desc:nth-child(even),
#skills .sl:nth-child(odd),
#skills .rsl:nth-child(even),
#skills .pts:nth-child(odd),
#skills .ref:nth-child(even),
#spells .desc:nth-child(even),
#spells .cls:nth-child(odd),
#spells .college:nth-child(even),
#spells .mana:nth-child(odd),
#spells .mana_maintain:nth-child(even),
#spells .time:nth-child(odd),
#spells .duration:nth-child(even),
#spells .sl:nth-child(odd),
#spells .rsl:nth-child(even),
#spells .pts:nth-child(odd),
#spells .ref:nth-child(even),
#equipment .equipped:nth-child(even),
#equipment .qty:nth-child(odd),
#equipment .desc:nth-child(even),
#equipment .uses:nth-child(odd),
#equipment .cost:nth-child(even),
#equipment .weight:nth-child(odd),
#equipment .sum_cost:nth-child(even),
#equipment .sum_weight:nth-child(odd),
#equipment .ref:nth-child(even),
#other_equipment .qty:nth-child(even),
#other_equipment .desc:nth-child(odd),
#other_equipment .uses:nth-child(even),
#other_equipment .cost:nth-child(odd),
#other_equipment .weight:nth-child(even),
#other_equipment .sum_cost:nth-child(odd),
#other_equipment .sum_weight:nth-child(even),
#other_equipment .ref:nth-child(odd),
#notes .desc:nth-child(even),
#notes .ref:nth-child(odd) {
  background-color: #e8ffe8;
}

#equipment .desc,
#other_equipment .desc,
.cls,
.college,
.mana,
.mana_maintain,
.time,
.duration,
.sl,
.rsl,
.qty,
.uses,
.cost,
.sum_cost,
.weight,
.sum_weight,
.pts,
.ref,
.usage,
.level,
.parry,
.block,
.damage,
.reach,
.st,
.acc,
.range,
.rof,
.shots,
.bulk,
.rcl,
.load,
.loadh,
.move,
.moveh,
.dodge,
.dodgeh,
.where,
.penalty,
.dr,
.situation {
  border-left: 1px solid lightgray;
}

.sl,
.rsl,
.qty,
.equipped,
.uses,
.cost,
.sum_cost,
.weight,
.sum_weight,
.pts,
.ref,
.level,
.parry,
.block,
.reach,
.st,
.acc,
.rof,
.shots,
.bulk,
.rcl,
.load,
.where,
.penalty,
.dr,
.lift,
.modifier {
  text-align: right;
}

.move,
.dodge,
.equipped,
.roll {
  text-align: center;
}

.liftdesc,
.where {
  text-align: left;
}

.encmarker,
.encmarkerh,
.enc,
.ench,
.load,
.loadh,
.move,
.moveh,
.dodge,
.dodgeh,
.roll,
.where,
.penalty,
.dr,
.liftdesc,
.lift,
.modifier {
  white-space: nowrap;
}

#lifting .field,
.noedit {
  white-space: nowrap;
  border: none;
}

.header,
#reactions .header,
#melee .header,
#ranged .header,
#equipment .header,
#other_equipment .header {
  background-color: black;
  border-bottom: 1px solid black;
  color: white;
  text-align: center;
  font-size: 80%;
}

#location .header:nth-last-child(8n + 4),
#location .header:nth-last-child(8n + 3),
#location .header:nth-last-child(8n + 2),
#location .header:nth-last-child(8n + 1) {
  background-color: black;
}

#encumbrance > div:nth-last-child(-n + 5),
#lifting > div:nth-last-child(-n + 2),
#location > div:nth-last-child(-n + 4) {
  border-bottom: none;
}

#reactions > div:nth-last-child(-n + 3),
#melee > div:nth-last-child(-n + 9),
#ranged > div:nth-last-child(-n + 11),
#advantages > div:nth-last-child(-n + 3),
#skills > div:nth-last-child(-n + 5),
#spells > div:nth-last-child(-n + 11),
#equipment > div:nth-last-child(-n + 9),
#other_equipment > div:nth-last-child(-n + 9),
#notes > div:nth-last-child(-n + 1) {
  border-bottom: none;
  grid-row: 1001;
}

.indent1 {
  padding-left: 1em;
}

.indent2 {
  padding-left: 2em;
}

.indent3 {
  padding-left: 3em;
}

.indent4 {
  padding-left: 4em;
}

.indent5 {
  padding-left: 5em;
}

.indent6 {
  padding-left: 6em;
}

.indent7 {
  padding-left: 7em;
}

.indent8 {
  padding-left: 8em;
}

.indent9 {
  padding-left: 9em;
}

.satisfiedN {
  color: red;
}

#encumbrance .current:nth-last-child(10n + 5),
#encumbrance .current:nth-last-child(10n + 4),
#encumbrance .current:nth-last-child(10n + 3),
#encumbrance .current:nth-last-child(10n + 2),
#encumbrance .current:nth-last-child(10n + 1),
.current {
  background-color: lightgoldenrodyellow;
}

.list_note {
  font-size: 80%;
}

.encmarker.current:after {
  content: '>';
}

.enc0:after {
  content: 'None (0)';
}

.enc1:after {
  content: 'Light (1)';
}

.enc2:after {
  content: 'Medium (2)';
}

.enc3:after {
  content: 'Heavy (3)';
}

.enc4:after {
  content: 'X-heavy (4)';
}

.overflowy {
  overflow-y: auto;
}

/* ----- combat sheet additions ----- */

#combat-sheet {
  display: grid;
  grid-template-columns: 0fr 8em 8em auto;
  grid-template-rows: 0fr auto auto;
  grid-gap: 0.05in;
  grid-template-areas:
    'combat-attrs    combat-hitfat   combat-trackers combat-location'
    'combat-encumber combat-encumber combat-trackers combat-location'
    'combat-weapons  combat-weapons  combat-weapons  combat-weapons ';
}

#combat-hitfat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 0.05in;
  grid-template-areas:
    'combat-hit'
    'combat-fat';
}

#combat-trackers {
  grid-area: combat-trackers;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#combat-attrs,
#combat-weapons,
#combat-location {
  grid-gap: 0.05in;
  display: grid;
  grid-template-rows: 0fr 1fr;
}

#combat-identity,
#combat-hit,
#combat-fat,
#combat-attrs,
#combat-location {
  border: 1px solid black;
}

.header.major-heading {
  border-bottom: 1px solid white;
}

.header.minor-heading {
  background-color: grey !important;
  border: none !important;
}

.no-border {
  border: none !important;
}

#combat-encumber {
  border: 1px solid black;
  align-content: stretch;
}

#combat-identity {
  grid-area: combat-identity;
}

#combat-hit {
  grid-area: combat-hit;
}

#combat-fat {
  grid-area: combat-fat;
}

#combat-fat .field,
#combat-hit .field,
.tracked-resource .field {
  text-align: end;
  margin-left: 2px;
  margin-right: 2px;
}

#editorsheet #combat-hit .field,
#editorsheet #combat-fat .field,
#editorsheet .tracked-resource .field {
  border-bottom: 1px solid lightgrey;
}

#editorsheet .tracked-resource .tooltip .field {
  border: none !important;
}

/* .gurps #combat-sheet .condition-block {
  font-size: 80%;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-areas:
    "basic-value basic-label reset"
    "condition   condition   condition";
} */

/* .gurps .condition-block .basic-value {
  grid-area: basic-value;
}

.gurps .condition-block .basic-label {
  grid-area: basic-label;
  text-align: left;
  padding-left: .2em;
  padding-right: .2em;
  white-space: nowrap;
  align-self: center;
} */

.conditional-injury .condition-block .basic-value .label {
  text-align: right;
}

.gurps #combat-sheet .condition-block .basic-label {
  font-size: 80%;
}

#hitpoints .selected {
  background-color: #ffcdd2;
}

.gurps .condition-block .tired,
.gurps .condition-block .reeling {
  background-color: #b8ffff;
}

.gurps .condition-block .collapse,
.resource-spinner .depleted {
  background-color: #ffcdd2;
}

.gurps .condition-block .check {
  background-color: lightcoral;
}

.gurps .condition-block .unconscious,
.gurps .condition-block .dead {
  background-color: black;
  color: white;
}

.gurps .condition-block .destroyed {
  background-color: black;
  color: lightcoral;
}

#combat-location {
  display: grid;
  gap: 0;
  border: 1px solid black;
  align-content: stretch;
  grid-area: combat-location;
  grid-template:
    'header header header  header'
    'roll   where  penalty dr';
  grid-template-rows: 0fr 0fr;
  grid-auto-rows: 1fr;
  padding-top: 0;
  padding-bottom: 0;
}

#combat-encumber-container {
  display: grid;
  grid-area: combat-encumber-container;
  grid-template:
    'header header header header header'
    'encmarkerh ench loadh moveh dodgeh'
    'encmarker enc load move dodge';
  /* font-size: 80%; */
}

#combat-encumber-container .encmarkerh,
#combat-encumber-container .ench,
#combat-encumber-container .loadh,
#combat-encumber-container .moveh,
#combat-encumber-container .dodgeh,
#combat-encumber-container .encmarker,
#combat-encumber-container .enc,
#combat-encumber-container .load,
#combat-encumber-container .move,
#combat-encumber-container .dodge {
  font-size: 80%;
}

#combat-encumber .header:first-child,
#combat-location .header:first-child {
  grid-area: header;
  border-bottom: 1px solid lightgray;
}

#combat-encumber .encmarker:nth-last-child(10n + 5),
#combat-encumber .enc:nth-last-child(10n + 4),
#combat-encumber .load:nth-last-child(10n + 3),
#combat-encumber .move:nth-last-child(10n + 2),
#combat-encumber .dodge:nth-last-child(10n + 1),
#combat-location .roll:nth-last-child(8n + 4),
#combat-location .where:nth-last-child(8n + 3),
#combat-location .penalty:nth-last-child(8n + 2),
#combat-location .dr:nth-last-child(8n + 1) {
  background-color: #e8ffe8;
}

#combat-location .header:nth-last-child(8n + 4),
#combat-location .header:nth-last-child(8n + 3),
#combat-location .header:nth-last-child(8n + 2),
#combat-location .header:nth-last-child(8n + 1) {
  background-color: black;
}

#combat-location > div:nth-last-child(-n + 4) {
  border-bottom: none;
}

#combat-location .roll,
#combat-location .where,
#combat-location .penalty,
#combat-location .dr {
  font-size: 80%;
}

#combat-attrs {
  grid-area: combat-attrs;
  gap: 0;
}

#combat-attrs-container {
  display: grid;
  gap: 0 0.15em;
  grid-template-columns: 0fr 0fr;
  grid-template-rows: auto;
  grid-template-areas: 'combat-attrs-1 combat-attrs-2';
}

#combat-attrs-1 {
  grid-area: combat-attrs-1;
  border-right: 1px solid black;
}

#combat-attrs-2 {
  grid-area: combat-attrs-2;
}

#combat-encumber {
  grid-area: combat-encumber;
}

#combat-encumber {
  grid-template:
    'header header header header header'
    'encmarkerh ench loadh moveh dodgeh'
    'encmarker enc load move dodge';
}

#combat-encumber > div:nth-last-child(-n + 5),
#combat-location > div:nth-last-child(-n + 4) {
  border-bottom: none;
}

#combat-encumber .current:nth-last-child(10n + 5),
#combat-encumber .current:nth-last-child(10n + 4),
#combat-encumber .current:nth-last-child(10n + 3),
#combat-encumber .current:nth-last-child(10n + 2),
#combat-encumber .current:nth-last-child(10n + 1),
.current {
  background-color: lightgoldenrodyellow;
}

#combat-weapons {
  grid-area: combat-weapons;
  display: grid;
  row-gap: 0.05in;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'speed-range-table'
    'melee'
    'ranged';
}

#combat-weapons .desc,
#combat-weapons .list_note,
#combat-weapons .usage,
#combat-weapons .level,
#combat-weapons .parry,
#combat-weapons .damage,
#combat-weapons .reach,
#combat-weapons .st,
#combat-weapons .acc,
#combat-weapons .range,
#combat-weapons .rof,
#combat-weapons .shots,
#combat-weapons .bulk,
#combat-weapons .rcl {
  font-size: 80%;
}

#combat-attrs-damage-sw {
  grid-area: combat-attrs-damage-sw;
}

#combat-attrs-damage-thr {
  grid-area: combat-attrs-damage-thr;
}

#speed-range-table {
  grid-area: speed-range-table;
  border: 1px solid black;
  align-content: stretch;
  display: grid;
  grid-template-areas:
    'header'
    'range-table';
}

#range-table {
  grid-area: range-table;
  display: grid;
  border: 1px solid lightgray;
  align-content: stretch;
  grid-template-columns: 3fr repeat(var(--count), 1fr);
  grid-template-rows: 0fr 0fr;
}

#range-table .label {
  text-align: end;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

#range-table .label:nth-last-child(1),
#range-table .label:nth-last-child(2),
#range-table .label:nth-last-child(3),
#range-table .label:nth-last-child(4),
#range-table .label:nth-last-child(5),
#range-table .label:nth-last-child(6),
#range-table .label:nth-last-child(7),
#range-table .label:nth-last-child(8),
#range-table .label:nth-last-child(9),
#range-table .label:nth-last-child(10),
#range-table .label:nth-last-child(11),
#range-table .label:nth-last-child(12),
#range-table .label:nth-last-child(13),
#range-table .label:nth-last-child(14),
#range-table .label:nth-last-child(15),
#range-table .label:nth-last-child(16) {
  border-bottom: none;
}

#range-table .label:nth-last-child(17),
#range-table .label:nth-last-child(1) {
  border-right: none;
}

#range-table .label:nth-child(odd) {
  background-color: #e8ffe8;
}

/* Message Chat styles */
.damage-all-message,
.damage-message {
  border: 1px #6f6c66;
  border-style: outset;
  border-radius: 5px;
  margin: 3px;
  padding: 0.25em;
}

.damage-all-message:hover,
.damage-message:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roll-message .modifier-list {
  list-style-type: none;
}

.chat-message .modifier-list li,
.roll-message .modifier-list li {
  font-size: 85%;
  font-style: italic;
}

.roll-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roll-result .roll-value {
  font-size: medium;
  font-weight: bold;
}

.roll-message .aside {
  font-size: smaller;
  text-align: end;
  font-weight: normal;
  text-align: start;
}

.roll-message .note {
  font-size: medium;
  text-align: right;
  font-weight: normal;
  text-align: start;
}

.roll-result .roll-value,
.roll-result .roll-detail {
  font-family: 'Font Awesome 5 Free', 'Roboto', sans-serif;
}

.roll-result .roll-detail {
  font-weight: normal;
}

.roll-result .roll-detail .aside {
  font-size: inherit;
}

.roll-result .roll-detail .crit {
  font-size: large;
  font-weight: bolder;
}

.roll-result .roll-detail .success {
  color: darkgreen;
  font-weight: bold;
}

.roll-result .roll-detail .failure {
  color: darkred;
  font-weight: bold;
}

.roll-result .roll-detail .crit.success {
  color: black;
  text-shadow: 0 0 3px #00ff00;
}
.roll-result .roll-detail .crit.failure {
  color: black;
  text-shadow: 0 0 3px #ff0000;
}

/* GURPS App CSS */
.gurps-app {
  justify-items: center;
}

/* using h3 elements as a row label -- remove margin */
.gurps-app h3 {
  margin-bottom: 0;
}

/* prefer center text in input fields */
.gurps-app input.digits-only,
.gurps-app input.decimal-digits-only {
  text-align: center;
}

/* remove this item from display  */
.gurps-chat-message .invisible,
.gurps-app .invisible {
  display: none;
}

/* special override, 'cause I can't get the space any other way*/
#apply-damage-advanced {
  margin-top: 1em;
}

/* a group is a section of a form with a header */
.gurps-group {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  padding: 0.5em;
  padding-top: 0;
  text-align: left;
  vertical-align: middle;
  justify-content: start;
}

.gurps-group header {
  font-weight: bold;
}

.gurps-group .pdflink {
  font-size: smaller;
}

.gurps-group h4 {
  background-color: black;
  color: lightgrey;
  margin-bottom: 0.5em;
  font-size: larger;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0.5em;
  margin-top: 0.5em;
  text-transform: uppercase;
}

.gurps-group > h4:first-child {
  margin-top: 0;
}

.gurps-group aside {
  font-size: smaller;
  font-style: italic;
  margin-bottom: 0.5em;
}

.gurps-group h4 + aside {
  margin-top: -0.5em;
}

.gurps-group .grid {
  align-items: start;
  justify-items: stretch;
  margin: 0;
}

/* striped table row appearance */
.gurps-group .shaded {
  background-color: rgba(0, 0, 0, 0.1);
}

.gurps-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: stretch;
  text-align: left;
}

/* grid with 3 colums; center is fixed */
.gurps-3col {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  border: none;
  justify-items: stretch;
  text-align: left;
}

.grid-2col > *,
.gurps-3col > * {
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

/* striped table row appearance */
.gurps-2col > *:nth-child(4n + 3),
.gurps-2col > *:nth-child(4n + 4),
.gurps-3col > *:nth-of-type(6n + 4),
.gurps-3col > *:nth-of-type(6n + 5),
.gurps-3col > *:nth-of-type(6n + 6) {
  background-color: rgba(0, 0, 0, 0.1);
}

/* useful classes for showing a 'table' of checkboxes or radio buttons */
.gurps-checkbox-col,
.gurps-radio-col {
  grid-template-columns: auto 1fr min-content;
}

.gurps-radio-col > *:nth-child(3n + 3) {
  text-align: end;
  padding-right: 0.5em;
  flex-flow: nowrap;
  justify-content: flex-end;
}

.gurps-radio-col > *:nth-child(3n + 2) {
  text-align: center;
}

/* Apply Damage Dialog: Apply buttons panel */
.gurps-group .apply-results > * {
  margin-bottom: 0.2em;
}

.gurps-group .apply-results > *:last-child {
  margin-bottom: 0;
}

.gurps-group .user-entered {
  color: darkred;
  font-style: italic;
}

/* Apply Damage Dialog: Results Table panel */
.gurps-group .results-table {
  justify-self: stretch;
  width: 100%;
  grid-template-columns: auto auto 1fr;
  min-height: 130px;
  font-size: 12px;
}

.gurps-group .results-table > div:nth-child(3n + 1) {
  text-transform: uppercase;
  font-size: smaller;
}

.gurps-group .results-table > div:nth-child(3n + 1),
.gurps-group .results-table > div:nth-child(3n + 2) {
  text-align: end;
  padding-right: 0.5em;
}

.gurps-group .results-table > div:nth-child(3n + 2) {
  font-weight: bolder;
  font-size: small;
}

.gurps-group .results-table > div:nth-child(3n + 3) {
  text-align: start;
  justify-content: center;
  padding-left: 1em;
  text-indent: -1em;
  font-size: smaller;
}

.with-button {
  position: relative;
}

.with-button input {
  padding-right: 1.5em;
}

.with-button button {
  position: absolute;
  right: 0.35em;
  line-height: 28px;
  z-index: 2;
  color: dimgrey;
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
}

ul#result-effects {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul#result-effects li {
  margin: 0 0 6px 0;
}

.with-button button,
[name='result-effect'] button {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

[name='result-effect'] button {
  position: relative;
  background-color: rgba(255, 255, 240, 0.8);
  border: 1px solid #b5b3a4;
  border-radius: 3px;
  font-family: 'Font Awesome 5 Free', Roboto, sans-serif;
  padding-left: 5.5px;
  padding-right: 5.5px;
  margin-right: 4px;
}

[name='result-effect'] .with-send-button {
  font-family: 'Font Awesome 5 Free', Roboto, sans-serif;
}

[name='result-effect'] > div {
  display: flex;
  align-items: center;
}

[name='result-effect'] > div div:first-child {
  flex-grow: 1;
}

[name='result-effect'] aside {
  font-style: normal;
  margin: 0;
}

#wound-modifier-table aside {
  text-align: end;
  margin-bottom: 0;
}

#wound-modifier-table .hitlocation {
  color: darkred;
}

#wound-modifier-table .hitlocation:after {
  content: '*';
  color: black;
}

#wound-modifier-table .injury-tolerance {
  color: darkviolet;
}

#wound-modifier-table .injury-tolerance:after {
  content: '†';
  color: black;
}

.chat-message .gurps-group {
  font-size: smaller;
  border: none;
  padding: 0;
}

.chat-message .results-table {
  gap: 0;
  min-height: fit-content;
  margin: 0;
}

.offscreen-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* remove the top margin and indent */
.gurps-group .continuation {
  margin-top: 0;
  margin-left: 2em;
}

/* EXAMPLE ON HOW TO CREATE A COLLAPSIBLE PANEL IN HTML/CSS ONLY
    <div class='collapsible-wrapper'>
        <input id='collapsible' class='toggle offscreen-only' type='checkbox' checked>
        <label for='collapsible' class='label-toggle'>Show the math</label>
        <div class='collapsible-content'>
            <div class='content-inner'>
                {{{resultsTable}}}
            </div>
        </div>
    </div> 
  */
.collapsible-wrapper .label-toggle {
  display: block;
  cursor: pointer;
  text-align: left;
}

.collapsible-wrapper .collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.toggle:checked + .label-toggle + .collapsible-content {
  max-height: 130vh;
}

.damage-message .label-toggle {
  font-size: small;
  font-family: 'Font Awesome 5 Free', Roboto, sans-serif;
}

.damage-message .label-toggle:after {
  font: normal normal normal 12px/1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f078';
  float: right;
}

.damage-message .toggle:checked + .label-toggle:after {
  font: normal normal normal 12px/1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f077';
  float: right;
}

.gurps-chat-message * {
  /* font-family: 'Font Awesome 5 Free', Roboto, sans-serif; */
  /* TODO removed because it messed up Font Awesome rendering */
}

.gurps-chat-message .label-toggle {
  font-size: x-small;
  font-family: 'Font Awesome 5 Free', Roboto, sans-serif;
  padding: 0.25em;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 4px;
  color: lightgray;
  border-radius: 3px;
  text-transform: uppercase;
}

.gurps-chat-message .label-toggle:hover {
  background-color: rgb(0, 0, 0, 0.7);
}

.gurps-chat-message .label-toggle:after {
  font: normal normal normal 12px/1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f078';
  color: lightgray;
  float: right;
}

.gurps-chat-message .toggle:checked + .label-toggle:after {
  font: normal normal normal 12px/1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f077';
  color: lightgray;
  float: right;
}

.gurps-group .options-drawer {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: auto;
  align-items: center;
}

.gurps-group .collapsible-content {
  grid-column: 1 / span 2;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  padding-right: 4px;
}

.gurps-group .collapsible-content > *:nth-child(even) {
  background: rgba(255, 255, 255, 0.25);
}

.gurps-group .options-drawer label {
  padding-top: 2px;
}

.gurps-group .options-drawer label .pdflink {
  float: right;
  padding-top: 2px;
}

.gurps-group .options-drawer .toggle:checked + .label-toggle + .collapsible-content {
  max-height: 130vh;
  padding-bottom: 2px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset, 0px 1px 3px rgba(0, 0, 0, 0.3) inset,
    0px 1px 3px rgba(0, 0, 0, 0.3) inset;
}

.gurps-app button {
  text-transform: uppercase;
}

.gurps-app button.with-icon > i > span {
  font-family: 'Font Awesome 5 Free', Roboto, sans-serif;
  font-weight: 400;
}

.gurps-app * {
  font-family: Roboto, sans-serif;
}

.gurps-app .fa,
.gurps-app .fab,
.gurps-app .fad,
.gurps-app .fal,
.gurps-app .far,
.gurps-app .fas {
  font-family: 'Font Awesome 5 Free' !important;
}

.gurps-app #blunt-trauma-field {
  margin-left: 6px;
}

.gurps .ranged_options {
  display: flex;
  flex-wrap: no-wrap;
}

.dragging {
  outline: 5px auto -webkit-focus-ring-color;
  box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset;
  border-radius: 3px;
  background-color: rgba(240, 128, 128, 0.6);
}

#combat-sheet .resource-spinner button {
  height: 21px;
}

#combat-sheet .resource-spinner input {
  height: 21px;
  font-size: 80%;
}

#combat-sheet .tracked-resource {
  border: 1px solid black;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted grey;
  /* If you want dots under the hoverable text */
  /* text-transform: uppercase; */
  /* color: darkgrey */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: medium;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.4s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-property: visibility;
  transition-delay: 0.5s;
  opacity: 1;
}

.fieldblock3 .tooltip-wrapper {
  grid-column: 1 / span 2;
}

.tooltip .fieldblock .field {
  border: none !important;
}

.field select {
  height: min-content;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 90%;
  cursor: inherit;
  line-height: inherit;
}

.field textarea {
  font-family: inherit;
  font-size: 80%;
  border-radius: 0;
  border: 1px solid lightgrey;
  padding: 3px;
  resize: none;
  /* background-color: transparent; */
  margin-top: 3px;
}

.field textarea:read-only {
  background-color: transparent;
}

.label.textarea {
  align-self: start;
  margin-top: 6px;
}

/* Resource Trackers and Editors */

#trackers {
  grid-area: trackers;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr auto 0fr;
  grid-gap: 0.05in;
}

#trackers > * {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.05in;
}

#trackers > *:first-child {
  grid-template: 'combat-hit combat-fat';
}

#trackers > *:last-child {
  grid-template-rows: 0fr 1fr 1fr;
  grid-gap: 0;
}

#resources {
  grid-template-rows: 0fr 0fr;
}

#resources .tracked-resource .header:hover {
  outline: none;
  box-shadow: 0 0 5px red;
}

#resources > *:first-child {
  border-bottom: 1px solid white;
}

.tracked-resource:nth-child(even) .header {
  border-right: 1px solid white;
}

.tracked-resource:nth-child(odd) .header {
  border-left: none;
}

.resource-editor,
.tracked-resource {
  display: flex;
  flex-flow: column nowrap;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.tracked-resource:nth-child(odd) {
  border-right: 1px solid black;
}

.resource-editor > *,
.tracked-resource > * {
  margin: 0 0.25rem 0.25rem 0.25rem;
}

.resource-editor .header,
.tracked-resource .header {
  color: white;
  background-color: black;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid black;
  margin-left: 0;
  margin-right: 0;
}

.tracked-resource .header .edit {
  float: right;
  margin-right: 0.25em;
}

.resource-editor .name,
.tracked-resource .spinner {
  display: flex;
  flex-flow: row nowrap;
  line-height: unset;
  align-items: center;
}

.tracked-resource button i {
  font-size: 67%;
  margin: 0;
  padding-bottom: 9px;
}

.resource-editor input,
.tracked-resource .spinner input {
  height: 1.2rem;
  min-width: 2rem;
  border: 1px solid grey;
  border-radius: 0;
  font-size: inherit;
  text-align: center;
}

.tracked-resource .spinner > button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.tracked-resource .spinner > button:nth-of-type(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.tracked-resource .tooltip-wrapper {
  margin-bottom: 0.15rem;
}

.tracked-resource .spinner > button:last-of-type:not(.no-gap) {
  margin-left: 0.15rem;
}

.tracked-resource .condition-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

#combat-trackers .tracked-resource .condition-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: baseline;
}

.tracked-resource .condition-block .max {
  font-size: 80%;
  text-align: end;
  margin-left: 0.15rem;
}

.tracked-resource .condition-block .condition {
  text-align: center;
  width: 100%;
}

.tracked-resource .condition.normal {
  background-color: rgba(144, 238, 144, 0.6);
}

.tracked-resource .condition.below {
  background-color: rgba(240, 128, 128, 0.6);
}

.tracked-resource .condition.above {
  background-color: rgba(238, 130, 238, 0.6);
}

.resource-editor ::placeholder,
.tracked-resource ::placeholder {
  color: grey;
}

.resource-editor .name {
  font-size: 120%;
}

.resource-editor .inputs {
  display: grid;
  grid-template-columns: 4.5rem auto;
  grid-template-rows: auto;
  grid-gap: 0.15rem;
  justify-content: center;
  align-items: baseline;
  margin: 0.5rem 1rem 1rem;
}

.resource-editor .inputsv2 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-gap: 0.15rem;
}

.resource-editor .inputs .label {
  font-size: 80%;
}

.resource-editor button i {
  margin-right: 0.15rem;
}

.resource-editor button {
  font-size: inherit;
  padding: 0 0.15rem;
}

.resource-editor .section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.resource-editor .button.icon {
  color: #4b4a44;
  padding: 0 20px 0 10px;
}

.resource-editor .threshold.table {
  display: grid;
  grid-template-columns: min-content min-content min-content 1fr auto min-content;
  gap: 0.15rem;
  justify-items: center;
  max-height: max-content;
}

.resource-editor .tracker-manager.table {
  display: grid;
  grid-template-columns: 3fr 1fr min-content 4fr min-content;
  gap: 0.15rem;
  justify-items: center;
}

.resource-editor .table .span3 {
  grid-column: 1 / 4;
  justify-content: center;
}

.gurps-group .vertical-center,
.resource-editor .vertical-center {
  display: flex;
  align-items: center;
}

.resource-editor input:read-only {
  color: rgb(64, 64, 64);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.resource-editor .clickable:hover {
  cursor: pointer;
  box-shadow: 0 0 5px red;
}

.tracked-resource .spinner button {
  line-height: unset;
  margin: 0;
  height: 1.2rem;
  flex: 0;
  border: 1px solid grey;
  font-family: 'Font Awesome 5 Free', Roboto, sans-serif;
}

.tracked-resource.inactive .condition-block > * {
  color: grey;
}

.tracked-resource.inactive .header {
  color: whitesmoke;
  background-color: grey;
}

.tracked-resource .fieldblock3 {
  grid-template-columns: 0fr 1fr 1fr;
}

.gentle-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

.condition-block .fieldblock3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.tracked-resource .name {
  text-align: center !important;
}

#combat-sheet .tracked-resource .spinner button {
  padding: 0 2px 2px 2px;
}

#combat-sheet .fieldblock .field {
  text-align: right;
}

.spinner details {
  position: relative;
}

.spinner details summary input {
  width: 100%;
}

.spinner details .popup {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  z-index: 10;
  margin-left: -150%;
  font-size: 80%;
  min-inline-size: max-content;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 3px;
}

.spinner .button-ribbon button {
  margin: 0;
  font-size: inherit;
}

.spinner .button-ribbon button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.spinner .button-ribbon button:last-of-type {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.spinner .button-ribbon button:not(:first-of-type):not(:last-of-type) {
  border-radius: 0;
  border-left: none;
}

.spinner .button-ribbon button:hover {
  box-shadow: 0 0 5px red;
}

.spinner .button-ribbon button.restore {
  color: darkred;
  font-weight: bold;
}

.tracked-resource .spinner details {
  min-width: 2rem;
}

.tracked-resource .spinner summary {
  line-height: 1.2;
  list-style: none;
}

.tracked-resource .spinner summary::-webkit-details-marker {
  display: none;
}

.equipmentbutton {
  text-align: center;
  line-height: 0.5;
  font-size: inherit;
  margin: 0;
  height: 0.75rem;
  min-width: 0.75rem;
  flex: 0;
  /*  border: 1px solid grey;  */
  font-family: 'Font Awesome 5 Free', Roboto, sans-serif;
  padding: 0px 0px 0px 0px;
}

.equipmentbutton.bold {
  font-weight: bold;
}

.equipmentlist .qty {
  display: flex;
  flex-flow: row nowrap;
  line-height: unset;
  align-items: center;
  justify-content: space-between;
}

.equipped {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: inline-block;
}

.pagination div {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #7a7971;
  border-right: none;
}

.pagination div.active {
  background-color: #686868;
  color: white;
}

.pagination div:hover:not(.active) {
  background-color: rgba(104, 104, 104, 0.3);
}

.pagination div:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(255, 255, 240, 0.8);
}

.pagination div:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #7a7971;
  background-color: rgba(255, 255, 240, 0.8);
}

.navigate-bar {
  height: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
  margin-left: -5px;
  margin-right: -5px;
  position: sticky;
  left: 0;
  bottom: 0;
  box-shadow: 0px 5px 5px black;
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
}

.navigation-link {
  border-radius: 3px;
  background-color: black;
  color: white;
  margin-right: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

.navigation-link:hover {
  outline: none;
  box-shadow: 0 0 5px red;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  /* display: inline-block; */
}

/* Dropdown Content */
.dropdown-content {
  display: block;
  position: absolute;
  right: 0;
  z-index: 1;
  min-width: max-content;
  text-align: left;
  background-color: #fffff0;
  box-shadow: 0px 5px 8px 4px rgba(0, 0, 0, 0.5);
}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  padding: 1px 6px;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: #ccccc0;
}

.split-button {
  border-radius: 3px 0 0 3px;
  border: 1px solid #b5b3a4;
  border-right: 2px solid rgba(0, 0, 0, 0.25);
  margin-right: 0;
  background: rgba(255, 255, 240, 0.5);
}

.dropdown .split-button {
  border-radius: 0 3px 3px 0;
  border: 1px solid #b5b3a4;
  border-left: 2px solid rgba(255, 255, 240, 0.5);
  margin-left: 0;
}

.buttongrey {
  color: grey;
}

.buttongrey:hover {
  box-shadow: 0 0 5px red;
}

.buttonpulsatingred {
  animation: pulsered 1.5s infinite;
}

@keyframes pulsered {
  0% {
    color: black;
  }
  60% {
    color: rgb(255, 64, 64);
  }
  100% {
    color: black;
  }
}

.buttonpulsatingred:hover {
  box-shadow: 0 0 5px red;
}

.shaded-group > div:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
