:root {
  --controlhover: 0 0 5px red;
  --sectiongap: 0.05in;
  --smallemgap: 0.2em;
  --fontawesomefamily: 'fontawesome';
  --lightgrey: rgba(0, 0, 0, 0.3);
  --headerfontsize: 80%;
  --standardborder: 1px solid black;
}

.reducedMode {
  --headerfontsize: 110%;
}

.gcs-input-ta {
  border-width: 0px !important;
  border: none !important;
  height: 1em !important;
  padding: 1px !important;
}

.gcs-input {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  padding: 1px !important;
}

.gcs-input-sm2 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 2em;
  padding: 1px !important;
}

.gcs-input-sm3 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 3em;
  padding: 1px !important;
}

.gcs-input-sm4 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 4em;
  padding: 1px !important;
}

.gcs-input-sm5 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 5em;
  padding: 1px !important;
}

.gcs-input-sm8 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 8em;
  padding: 1px !important;
}

.gcs-input-sm10 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 10em;
  padding: 1px !important;
}

.gcs-input-sm25 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  max-width: 25em;
  padding: 1px !important;
}

.gcs-input-2 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 2em !important;
  padding: 1px !important;
}

.gcs-input-3 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 3em !important;
  padding: 1px !important;
}

.gcs-input-4 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 4em !important;
  padding: 1px !important;
}

.gcs-input-5 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 5em !important;
  padding: 1px !important;
}

.gcs-input-10 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 10em !important;
  padding: 1px !important;
}

.gcs-input-25 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 25em !important;
  padding: 1px !important;
}

.gcs-input-30 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
  min-width: 30em !important;
  padding: 1px !important;
}

#threed6 {
  height: 52px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  display: inline-block;
  grid-row: 3;
  grid-column: 2;
  /* border: 5px solid #1c2024; */
  border-radius: 5px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}

#threed6 img {
  border: none;
  max-height: 100%;
  align-self: center;
}

#testdialog {
  left: 940px;
}

#threed6 #oned6dice {
  /* display: none; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* z-index: 105; */
}

#threed6 #threed6dicerotactive {
  display: none;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* z-index: 105; */
}

#threed6:hover #threed6dicerot {
  display: inline;
}

#threed6:active #threed6dicerotactive {
  display: inline;
}

.gurpstippable {
  position: relative;
}

.gurpstippable:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 130%;
  left: -50%;
  min-width: 20px;
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  background-color: #555;
  z-index: 102;
}

.gurpstippable:hover::after {
  content: '';
  position: absolute;
  top: -30%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  z-index: 102;
}

.pdflink {
  text-shadow: none;
  color: blue;
  text-decoration: underline;
}

.gurps.sheet.actor .pdflink {
  font-size: var(--font-size-10);
}

#sheet.gurpsactorsheet .pdflink {
  font-size: var(--font-size-10);
}

.pdflink:hover {
  text-shadow: var(--controlhover);
  /* text-shadow: none; */
  color: red;
  text-decoration: underline;
  overflow: visible;
  z-index: 99;
  cursor: pointer;
}

.rollable.test,
.rollable:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(225, 225, 26) !important;
  color: black;
  border-right: 1px solid #333300 !important;
  border-bottom: 1px solid #333300 !important;
  border-radius: 3px;
  /* margin-bottom: -1px; */
  /* margin-right: -1px; */
  overflow: visible;
  z-index: 99;
}

.rollable {
  color: black;
  background-color: rgb(255, 255, 190) !important;
  min-width: max-content;
}

.dodge span,
.parry span,
.block span {
  min-width: 1.5em;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.dodge span.bonus,
.parry span.bonus,
.block span.bonus {
  font-size: var(--font-size-11);
}

.rollable:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 128) !important;
  padding: 2px 3px 2px 3px;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  border-right: 1px solid #cccccc;
  border-radius: 8px;
  margin: -2px -2px -3px -2px;
}

.gmod.test,
.gmod:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(255, 190, 130) !important;
  color: black;
  border-right: 1px solid rgb(128, 95, 65) !important;
  border-bottom: 1px solid rgb(128, 95, 65) !important;
  border-radius: 3px;
}

.gmod {
  color: black;
  background-color: rgb(255, 230, 190) !important;
}

.gmod:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-image: none;
  background-color: rgb(255, 128, 100) !important;
  padding: 1px 1em 1px 1px;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -6px -2px 4px;
  overflow: visible;
  z-index: 99;
}

.glinkmod:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(255, 128, 64) !important;
  color: black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #cccccc;
  border-radius: 3px;
  margin: -1px -2px -1px -4px;
}

.glinkmod {
  color: black;
  background-color: rgb(255, 230, 190) !important;
}

.glinkmod:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-image: none;
  background-color: rgb(255, 128, 64) !important;
  padding: 1px 1px 1px 1px;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -3px -1px -3px;
  z-index: 99;
}

.glinkmodplus:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(0, 255, 0) !important;
  color: black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -2px -1px -4px;
  font-weight: bold;
}

.glinkmodplus {
  color: black;
  background-color: rgb(175, 255, 175) !important;
}

.glinkmodplus:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-image: none;
  background-color: rgb(0, 255, 0) !important;
  padding: 1px 1px 1px 1px;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -3px -1px -3px;
  z-index: 99;
  font-weight: normal;
}

.glinkmodminus:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(255, 0, 0) !important;
  color: yellow;
  text-shadow: 1px 1px black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -2px -1px -4px;
  font-weight: bold;
}

.glinkmodminus {
  color: black;
  background-color: rgb(255, 175, 175) !important;
}

.gga-popup-window .glinkmodminus {
  background-color: transparent !important;
  color: lightpink;
}

.gga-popup-window .glinkmodplus {
  background-color: transparent !important;
  color: palegreen;
}

.gga-popup-window .modifier-list {
  list-style-type: none;
}

.gga-popup-window .heading {
  padding-left: 1em;
  border-bottom: 1px solid dimgrey;
}

.glinkmodminus:active {
  cursor: pointer;
  text-decoration: none;
  color: yellow;
  text-shadow: 1px 1px black;
  background-image: none;
  background-color: rgb(255, 0, 0) !important;
  padding: 1px 1px 1px 1px;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #cccccc;
  border-radius: 8px;
  margin: -1px -3px -1px -3px;
  z-index: 99;
  font-weight: normal;
}

.gga-popup-window .glinkmodminus:hover,
.gga-popup-window .glinkmodplus:hover {
  cursor: pointer;
  /* background: var(--lightgrey); */
  color: white;
  text-shadow: var(--controlhover);
  border: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.gga-popup-window .glinkmodplus:hover {
  text-shadow: 0 0 5px green;
}

.gurpslink.test,
.gurpslink:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(255, 255, 128) !important;
  color: black;
  padding: 2px 3px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  border-radius: 3px;
  margin: -2px -4px -2px -6px;
  overflow: visible;
  z-index: 99;
}

.gurpslink {
  color: black;
  background-color: rgb(255, 255, 175) !important;
}

.gurpslink:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 128) !important;
  padding: 2px 3px 2px 3px;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  border-right: 1px solid #cccccc;
  border-radius: 8px;
  margin: -2px -5px -2px -3px;
  overflow: visible;
  z-index: 99;
}

.gurps .window-content {
  height: 100%;
  padding: 5px;
  scroll-behavior: smooth;
  background: white;
  overflow-x: auto;
}

.gurps .sheet-header {
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.gurps #portrait .img-display {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 112.25px;
}

.gurps #portrait .profile-img {
  display: block;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.gurps .sheet-header .header-fields {
  flex: 1;
}

.gurps .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.gurps .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.gurps .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}

.gurps .resource input {
  width: 100px;
  height: 28px;
}

.gurps .tabs {
  height: 40px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.gurps .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.gurps .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.gurps .sheet-body {
  overflow: hidden;
}

.gurps .sheet-body.tabbed-sheet {
  flex-grow: 1;
  height: auto !important;
  /* hack to avoid the automatic calculation of the tab size in the SetPosition function of the actor-sheet.js file */
  padding-top: 4px;
  border-top: 1px solid var(--lightgrey);
}

.gurps .sheet-body .tab {
  height: 100%;
  /* overflow-y: auto; */
}

.gurps .editor,
.gurps .editor-content {
  height: 100%;
}

.gurps .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.gurps .item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #bbb;
}

.gurps .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}

.gurps .item-list .item-name {
  margin: 0;
}

.gurps .item-list .item-controls {
  flex: 0 0 36px;
}

.header {
  background-color: black;
  border-bottom: var(--standardborder);
  color: white;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-11);
}

.npc-sheet #condition .npc-header {
  grid-column: 1/4;
  column-gap: 5px;
}

.gga-table,
.gga-tableheader {
  display: grid;
  border: var(--standardborder);
  align-content: stretch;
  grid-template-rows: 0fr auto;
}

.gga-table .header {
  border-right: 1px solid lightgrey;
}

.gga-tableheader .header:not(.header:first-child) {
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.gga-tableheader.two-header {
  grid-template-rows: 0fr 0fr auto;
}

.gga-table > div,
.gga-tableheader > div {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 0.2em 0 0.2em;
  white-space: nowrap;
  width: 100%;
}

.gga-table > div:not(.header),
.gga-tableheader > div:not(.header) {
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.gga-tableheader > .header:first-child {
  grid-area: header;
}

.gga-right {
  justify-content: flex-end;
  text-align: end;
}

.desc {
  width: 100%;
}

.npc-sheet .desc {
  max-height: 9em;
}

.gga-table.with-notes > .desc:not(.header) {
  display: inline-flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: flex-start;
  white-space: normal;
}

.gga-desc-text {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  position: relative;
}

.gga-usercreated {
  color: steelblue;
}

.gga-ignoreimport {
  color: steelblue;
}

.gga-item {
  color: lightgrey;
}

.gga-child-item {
  color: darkgoldenrod;
}

.gga-global-item {
  color: mediumslateblue;
}

.gga-inactive {
  color: var(--lightgrey);
}

.itemmenu[readonly] {
  padding: 0 !important;
  border-right: none !important;
}

.gurps .attributes table {
  border: none;
}

.gurps .attributes {
  flex: none;
  margin: 0;
  border-left: none;
  border-bottom: none;
  border-radius: 0;
  height: auto;
  width: 275px;
}

.gurps .attributes .brackets {
  border-top: none;
  font-size: 24px;
  font-weight: 100;
}

.gurps .attributes .pts {
  border: none;
  font-size: 10pt;
  text-align: center;
}

.gurps .attributes .fill-in {
  border: var(--standardborder);
  text-align: center;
  transition: color 0.5s;
  font-size: 120%;
}

.gurps .attributes .fill-in:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-size: 150%;
  font-weight: 900;
}

.gurps .attributes-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}

.gurps .attributes-header .attribute-label {
  flex: 1.5;
}

.gurps .attributes-header .attribute-control {
  flex: 0 0 20px;
}

.gurps .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gurps .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
}

.gurps .attributes-list a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}

.gurps.sheet.actor {
  min-width: 760px;
  min-height: 375px;
  font-size: var(--font-size-13);
}

.gurps.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

.gurps .fieldblock {
  display: grid;
  grid-template-columns: 0fr 1fr;
  padding-bottom: 0.15em;
  text-align: left;
  padding-left: 0.2em;
  padding-right: 0.2em;
  white-space: nowrap;
  align-self: stretch;
}

.gurps .fieldblock hr {
  grid-column: 1 / span 2;
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

.gurps #description {
  grid-area: description;
  display: grid;
  grid-template:
    'header header header'
    'block1 block2 block3';
  grid-template-rows: 0fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: var(--standardborder);
}

.gurps #description .header {
  grid-area: header;
}

#combat-tab #condition .fieldblock {
  display: inline-flex;
  flex-flow: row wrap;
  padding-top: 0.15em;
}

#combat-tab #condition .fieldblock .details {
  border: none;
  height: 100%;
  align-self: end;
}

#combat-tab #condition .fieldblock details .button {
  width: 2rem;
  height: 2rem;
  border: none;
}

#combat-tab #condition .fieldblock details .button:hover {
  box-shadow: 0 0 5px var(--color-shadow-primary);
}

#combat-tab #condition .fieldblock details > summary {
  list-style: none;
  margin: 0;
  padding: 0;
}

#combat-tab #condition .fieldblock details[open] > summary {
  list-style: none;
  margin: 0;
  padding: 0;
  filter: grayscale(1) opacity(50%) hue-rotate(190deg) saturate(2);
}

.gurps .fieldblock .field {
  margin-right: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-bottom: 1px solid lightgray;
}

.sidebar-popout.effect-modifiers-app {
  min-height: unset;
}

body {
  font-family: Verdana, sans-serif;
  padding: 0;
}

#sheet-tab,
#sheet {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

#sheet-tab .tab[data-tab] > div,
#sheet > div {
  margin-bottom: var(--sectiongap);
}

#editorsheet {
  display: grid;
  grid-template:
    'personal personal'
    'stats stats'
    'reactions conditionalmods'
    'combat-trackers combat-trackers'
    'melee melee'
    'ranged ranged'
    'advantages advantages'
    'skills skills'
    'spells spells'
    'equipmentcarried equipmentcarried'
    'equipmentother equipmentother'
    'notes notes';
  grid-gap: var(--sectiongap);
  grid-template-columns: 1fr 1fr;
}

#footer {
  text-align: center;
  font-size: var(--font-size-10);
  flex-grow: 0;
}

.fieldblock {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: baseline;
  padding-bottom: 0.15em;
}

.fieldblock hr {
  grid-column: 1 / span 2;
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

.fieldblock3 {
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  align-items: end;
  padding-bottom: 0.15em;
}

.fieldblock3 hr {
  grid-column: 1 / span 3;
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

#personal {
  flex-grow: 0;
  grid-area: personal;
  display: grid;
  grid-template:
    'portrait identity    miscellaneous points'
    'portrait description description   points'
    'notes    notes       notes         notes';
  grid-template-columns: auto 1fr 1fr min-content;
  grid-gap: var(--sectiongap);
}

#personal-tab {
  flex-grow: 0;
  grid-area: personal;
  display: grid;
  grid-template:
    'identity    identity      miscellaneous points'
    'description description   description   points'
    'lifting     notes         notes         notes';
  grid-template-columns: auto 1fr 1fr min-content;
  grid-gap: var(--sectiongap);
}

.reducedMode #personal {
  grid-template:
    'portrait identity identity points'
    'portrait description description points';
  grid-template-columns: 0fr 1fr 1fr 0fr;
}

#portrait {
  grid-area: portrait;
  display: grid;
  grid-template:
    'header'
    'portrait';
  grid-template-rows: 0fr auto min-content;
  grid-template-columns: auto;
  border: var(--standardborder);
}

#portrait .sharebutton {
  font-size: var(--font-size-11);
  line-height: normal;
  padding: 0;
  margin: 0;
  border: 1px solid #b5b3a2;
  border-radius: 0;
}

#identity {
  grid-area: identity;
}

#miscellaneous {
  grid-area: miscellaneous;
}

#points {
  grid-area: points;
}

#identity,
#miscellaneous,
#points,
#basic-attributes,
#secondary-attributes,
#hitpoints {
  display: grid;
  grid-template-rows: 0fr 1fr;
  border: var(--standardborder);
}

#attributes {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: none;
}

#attributes-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: none;
  gap: 5px;
}

#points .field,
#attributes .field,
#combat-attrs .field,
#lifting .field,
#hitpoints .field,
#hp-fp .field {
  text-align: right;
}

#description {
  grid-area: description;
  display: grid;
  grid-template:
    'header header header'
    'block1 block2 block3';
  grid-template-rows: 0fr 1fr;
  border: var(--standardborder);
}

.reducedMode .hairEyesSkinHandBlock {
  display: none;
}

.reducedMode #description {
  grid-template:
    'header header'
    'block1 block2';
  grid-template-rows: 0fr 1fr;
}

#description .header {
  grid-area: header;
}

#description .fieldblock:nth-child(1n + 3) {
  border-left: var(--standardborder);
}

#ads-skills,
#other {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-content: stretch;
}

div#other {
  grid-area: other;
}

#other > div {
  width: 100%;
  margin-right: var(--sectiongap);
}

#ads-skills > div {
  margin-right: var(--sectiongap);
}

#ads-skills > div:last-child,
#other > div:last-child {
  margin-right: 0;
}

#stats {
  grid-area: stats;
  display: grid;
  grid-template:
    'attributes hp-fp     location encumbrance'
    'attributes condition location qnotes'
    'attributes condition location lifting';
  grid-template-columns: 0fr 1fr 1fr 1fr;
  grid-gap: var(--sectiongap);
}

#stats-tab {
  grid-area: stats;
  display: grid;
  grid-template:
    'portrait        attributes-tab  encumbrance hp-fp'
    'portrait        qnotes          qnotes      hp-fp'
    'combat-trackers combat-trackers other       other'
    'combat-trackers combat-trackers other       other';
  grid-template-columns: 0fr 1fr 1fr 0fr;
  grid-gap: var(--sectiongap);
}

.reducedMode #stats {
  display: grid;
  grid-template: 'attributes      hp-fp';
  grid-template-columns: min-content 1fr;
}

#qnotes {
  grid-area: qnotes;
  margin: 2px;
}

#condition {
  /* display: grid; */
  grid-area: condition;
  /* grid-template-columns: 0fr 1fr 1fr; */
  /* align-items: start; */
  border: var(--standardborder);
}

.reducedMode #condition {
  display: none;
}

.npc-sheet div#condition {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 5px;
}

#attributes {
  grid-area: attributes;
}

.reducedMode #attributes {
  display: grid;
  grid-template-rows: 1fr;
  border: none;
  grid-auto-flow: column;
}

#hitpoints {
  grid-area: hitpoints;
  align-content: stretch;
}

#encumbrance {
  grid-area: encumbrance;
  grid-template:
    'header header header header header'
    'encmarker enc load move dodge';
  grid-template-rows: 0fr 0fr;
}

#lifting {
  grid-area: lifting;
  grid-template:
    'header header'
    'desc lift';
  grid-template-columns: 0fr 1fr;
  grid-template-rows: 0fr;
}

#location {
  grid-area: location;
  grid-template:
    'header   header  header  header header'
    'itemmenu roll    where   penalty dr   ';
  grid-template-columns: min-content min-content 1fr min-content min-content;
  grid-template-rows: 0fr 0fr;
}

#melee .headermenu {
  display: flex;
  justify-content: space-between;
}

#melee .headermenu #addFirstResourceTracker {
  font-size: calc(100% - 2px);
  padding-left: 50px;
}

.equipmentlist .headermenu i,
#notes .headermenu i,
#spells .headermenu i,
#skills .headermenu i,
#ranged .headermenu i,
#advantages .headermenu i,
#melee .headermenu i,
#combat-trackers .trackerhead i,
#conditionalmods .condmodhead i,
#reactions .reacthead i,
#location .hlhead i {
  color: white;
  margin-left: 0.5em;
}

#encumbrance .option input,
#location .option input {
  zoom: 0.5;
}

#location .header:first-child,
#encumbrance .header:first-child {
  flex-flow: column nowrap;
}

#encumbrance > * {
  font-size: var(--font-size-12);
}

#encumbrance.dodgeh {
  border-right: none !important;
}

#editorsheet .equipmentlist .equipmenucarried,
#editorsheet .equipmentlist .equipmenuother,
#spells .spellmenu,
#skills .skillmenu,
#ranged .rangedmenu,
#melee .meleemenu,
#advantages .adsmenu,
#conditionalmods .condmodmenu,
#reactions .reactmenu,
#location .hlmenu {
  color: lightgrey;
}

.equipmentlist .equipmenu:hover,
#spells .spellmenu:hover,
#skills .skillmenu:hover,
#ranged .rangedmenu:hover,
#melee .meleemenu:hover,
#advantages .adsmenu:hover,
#conditionalmods .condmodmenu:hover,
#reactions .reactmenu:hover,
#location .hlmenu:hover {
  color: darkred;
}

.equipmentlist .equipmenu i,
#notes .spellmenu i,
#spells .spellmenu i,
#skills .skillmenu i,
#ranged .rangedmenu i,
#melee .meleemenu i,
#advantages .adsmenu i,
#conditionalmods .condmodmenu i,
#reactions .reactmenu i,
#location .hlmenu i {
  color: inherit;
}

.equipmentlist .equipmenu i:hover,
#notes .spellsmenu i:hover,
#spells .spellsmenu i:hover,
#skills .skillsmenu i:hover,
#ranged .rangedmenu i:hover,
#melee .meleemenu i:hover,
#advantages .adsmenu i:hover,
#conditionalmods .condmodmenu i:hover,
#reactions .reactmenu i:hover,
#location .hlmenu i:hover {
  color: inherit;
}

#notes {
  display: grid;
  border: var(--standardborder);
  overflow: hidden;
}

#conditionalmods {
  grid-template-columns: min-content 0fr 1fr;
  align-content: flex-start;
}

#reactions {
  grid-template-columns: min-content 0fr 1fr;
  grid-area: reactions;
  align-content: flex-start;
}

#melee {
  grid-template-columns: min-content 1fr repeat(7, auto);
  grid-area: melee;
}

#ranged {
  grid-template-columns: min-content 1fr repeat(10, auto);
  grid-area: ranged;
  align-content: start;
}

#advantages {
  grid-template-columns: min-content 1fr repeat(2, auto);
  grid-area: advantages;
  align-content: start;
  flex-grow: 3;
}

#skills {
  grid-template-columns: min-content 1fr repeat(4, auto);
  grid-area: skills;
  align-content: start;
  flex-grow: 3;
}

#spells {
  grid-template-columns: min-content 1fr repeat(10, auto);
  grid-area: spells;
}

#equipmentcarried {
  grid-template-columns: min-content auto auto 1fr repeat(6, auto);
  grid-area: equipmentcarried;
}

#equipmentother {
  grid-template-columns: min-content auto auto 1fr repeat(6, auto);
  grid-area: equipmentother;
}

#notes {
  grid-template-columns: 1fr auto;
  grid-area: notes;
}

.points {
  text-align: right;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: var(--font-size-10);
  align-self: flex-end;
  white-space: nowrap;
}

.points-fp {
  text-align: right;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: var(--font-size-10);
}

.label {
  text-align: left;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: var(--font-size-12);
  white-space: nowrap;
}

#condition .label {
  /* text-align: right; */
  /* align-self: center; */
  /* height: 100%; */
  display: flex;
  flex-flow: row;
  /* align-items: start; */
  justify-content: right;
}

.field {
  margin-right: 0.2em;
}

.condensed {
  font-size: var(--font-size-11);
}

.desc .list_note textarea,
.desc input:last-child {
  background-color: rgba(0, 0, 0, 0.1);
  font: inherit;
}

.field {
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-bottom: 1px solid lightgray;
}

#encumbrance .encmarker:nth-last-child(10n + 5),
#encumbrance .enc:nth-last-child(10n + 4),
#encumbrance .load:nth-last-child(10n + 3),
#encumbrance .move:nth-last-child(10n + 2),
#encumbrance .dodge:nth-last-child(10n + 1),
#lifting .liftdesc:nth-last-child(4n + 1),
#lifting .lift:nth-last-child(4n + 2),
#location .itemmenu:nth-last-child(10n + 5),
#location .roll:nth-last-child(10n + 4),
#location .where:nth-last-child(10n + 3),
#location .penalty:nth-last-child(10n + 2),
#location .dr:nth-last-child(10n + 1),
#conditionalmods .itemmenu:nth-child(6n + 4),
#conditionalmods .modifier:nth-child(6n + 5),
#conditionalmods .situation:nth-child(6n + 6),
#reactions .itemmenu:nth-child(6n + 4),
#reactions .modifier:nth-child(6n + 5),
#reactions .situation:nth-child(6n + 6),
#melee .itemmenu:nth-child(18n + 10),
#melee .meleedraggable:nth-child(18n + 11),
#melee .usage:nth-child(18n + 12),
#melee .level:nth-child(18n + 13),
#melee .parry:nth-child(18n + 14),
#melee .block:nth-child(18n + 15),
#melee .damage:nth-child(18n + 16),
#melee .reach:nth-child(18n + 17),
#melee .st:nth-child(18n + 18),
#ranged .itemmenu:nth-child(24n + 13),
#ranged .rangeddraggable:nth-child(24n + 14),
#ranged .usage:nth-child(24n + 15),
#ranged .level:nth-child(24n + 16),
#ranged .acc:nth-child(24n + 17),
#ranged .damage:nth-child(24n + 18),
#ranged .range:nth-child(24n + 19),
#ranged .rof:nth-child(24n + 20),
#ranged .shots:nth-child(24n + 21),
#ranged .bulk:nth-child(24n + 22),
#ranged .rcl:nth-child(24n + 23),
#ranged .st:nth-child(24n + 24),
#advantages .itemmenu:nth-child(8n + 5),
#advantages .adsdraggable:nth-child(8n + 6),
#advantages .pts:nth-child(8n + 7),
#advantages .ref:nth-of-type(8n + 8),
#skills .itemmenu:nth-child(12n + 7),
#skills .skldraggable:nth-child(12n + 8),
#skills .sl:nth-child(12n + 9),
#skills .rsl:nth-child(12n + 10),
#skills .pts:nth-child(12n + 11),
#skills .ref:nth-child(12n + 12),
#spells .itemmenu:nth-child(24n + 13),
#spells .spldraggable:nth-child(24n + 14),
#spells .cls:nth-child(24n + 15),
#spells .college:nth-child(24n + 16),
#spells .mana:nth-child(24n + 17),
#spells .mana_maintain:nth-child(24n + 18),
#spells .time:nth-child(24n + 19),
#spells .duration:nth-child(24n + 20),
#spells .sl:nth-child(24n + 21),
#spells .rsl:nth-child(24n + 22),
#spells .pts:nth-child(24n + 23),
#spells .ref:nth-child(24n + 24),
.equipmentlist .itemmenu:nth-child(20n + 11),
.equipmentlist .equipped:nth-child(20n + 12),
.equipmentlist .qty:nth-child(20n + 13),
.equipmentlist .eqtdraggable:nth-child(20n + 14),
.equipmentlist .uses:nth-child(20n + 15),
.equipmentlist .cost:nth-child(20n + 16),
.equipmentlist .weight:nth-child(20n + 17),
.equipmentlist .sum_cost:nth-child(20n + 18),
.equipmentlist .sum_weight:nth-child(20n + 19),
.equipmentlist .ref:nth-child(20n + 20),
#notes .notedraggable:nth-child(4n + 3),
#notes .ref:nth-child(4n + 4) {
  background-color: #e8ffe8;
}

.liftdesc {
  font-size: var(--font-size-12);
}

#equipmentcarried .equipped {
  min-width: 1.4em;
  cursor: pointer;
}

#equipmentcarried .equipped i:hover {
  text-shadow: var(--controlhover);
}

.equipmentlist .qty span {
  width: 100%;
}

/* Indicate this item is clickable, like a control */
.dblclkedit:hover {
  box-shadow: 0 0 3px red inset;
  /* cursor: default; */
}

#encumbrance .clickable:hover {
  cursor: pointer;
  text-shadow: 0 0 3px red;
}

.notedraggable,
.eqtdraggable,
.spldraggable,
.skldraggable,
.adsdraggable,
.rangeddraggable,
.meleedraggable {
  display: flex;
  flex-flow: row nowrap;
}

.notedraggable:before,
.eqtdraggable:before,
.spldraggable:before,
.skldraggable:before,
.adsdraggable:before,
.rangeddraggable:before,
.meleedraggable:before,
.condmoddraggable:before,
.reactdraggable:before {
  content: '\f142';
  font-family: var(--fontawesomefamily);
  color: var(--lightgrey);
  font-size: var(--font-size-11);
  font-weight: 600;
  padding-left: var(--smallemgap);
  padding-right: calc(2 * var(--smallemgap));
  cursor: grab;
}

/* Indicate this item has a contextmenu */
.equipmenuother:hover,
.equipmenucarried:hover {
  cursor: context-menu !important;
}

#equipmentother .equipped {
  padding: 0;
  border-right: none;
}

#lifting .field,
.noedit {
  white-space: nowrap;
  border: none;
}

.situation {
  white-space: normal !important;
  font-size: var(--font-size-11);
}

.equipmentlist .ref,
#notes .ref,
#skills .ref,
#spells .ref,
#advantages .ref,
#melee .st,
#ranged .st,
#location .dr,
#lifting .liftdesc,
#encumbrance .dodgeh,
#encumbrance .dodge:not(:hover),
#conditionalmods .situation,
#reactions .situation {
  border-right: none;
}

#lifting .liftdesc {
  text-wrap: wrap;
}

.indent1 {
  padding-left: 1em !important;
}

.indent2 {
  padding-left: 2em !important;
}

.indent3 {
  padding-left: 3em !important;
}

.indent4 {
  padding-left: 4em !important;
}

.indent5 {
  padding-left: 5em !important;
}

.indent6 {
  padding-left: 6em !important;
}

.indent7 {
  padding-left: 7em !important;
}

.indent8 {
  padding-left: 8em !important;
}

.indent9 {
  padding-left: 9em !important;
}

.current {
  background-color: lightgoldenrodyellow !important;
}

.list_note {
  font-size: var(--font-size-11);
  width: 100%;
  white-space: normal;
}

.encmarker.current:after {
  content: '\f101';
  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: var(--fontawesomefamily);
  font-weight: 900;
  padding-right: 2px;
}

.expandcollapseicon {
  padding-right: 2px;
}

.header.encHeader {
  display: flex;
  flex-flow: row nowrap !important;
  justify-content: center;
  padding: 0 4px;
  align-items: center;
}

.overflowy {
  overflow-y: auto;
}

/* ----- tabbed sheet additions ----- */
.sheet-body.tabbed-sheet #combat-tab {
  display: grid;
  grid-gap: var(--sectiongap);
  grid-template-columns: 1fr min-content;
  grid-template-rows: 0fr auto auto 1fr;
  grid-template-areas:
    'condition         combat-sidebar'
    'melee             combat-sidebar'
    'speed-range-table combat-sidebar'
    'ranged            combat-sidebar';
}

.sheet-body.tabbed-sheet #combat-sidebar {
  grid-area: combat-sidebar;
}

/* ----- combat sheet additions ----- */

#combat-sheet {
  display: inline-flex;
  flex-flow: column nowrap;

  /* display: grid;
  grid-template-columns: 0fr 1fr auto;
  grid-template-rows: 0fr auto auto;
  grid-gap: var(--sectiongap);
  grid-template-areas:
    'combat-attrs      encumbrance       location       '
    'combat-attrs      condition         location       '
    'combat-hitfat     condition         location       '
    'combat-trackers   combat-trackers   combat-trackers'
    'melee             melee             melee          '
    'speed-range-table speed-range-table speed-range-table'
    'ranged            ranged            ranged         '; */
}

#combat-sheet > div {
  margin-top: var(--sectiongap);
}

#combat-grid {
  display: grid;
  grid-template-columns: 0fr 1fr auto;
  /* grid-template-rows: 0fr auto auto; */
  grid-gap: var(--sectiongap);
  grid-template-areas:
    'combat-attrs      encumbrance       location'
    'combat-attrs      condition         location'
    'combat-hitfat     condition         location';
}

#combat-hitfat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--sectiongap);
}

#tracker-scroller {
  display: flex;
  flex-flow: row wrap;
  gap: var(--sectiongap);
  /* white-space: nowrap; */
  /* overflow-y: hidden; */
  /* overflow-x: auto; */
  background-color: #eeeeee;
}

#tracker-scroller .tracked-resource {
  /* margin: -2px 0 -2px -2px; */
}

#tracker-scroller .header {
  background-color: rgba(0, 0, 0, 0.7);
}

#combat-trackers {
  grid-area: combat-trackers;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr min-content;
  /* border: var(--standardborder); */
}

#combat-trackers .tracked-resource {
  width: min-content;
  background-color: white;
}

#combat-trackers > .header {
  border-bottom: 1px solid white;
}

#combat-weapons,
#combat-condition,
#combat-location {
  gap: var(--sectiongap);
  display: grid;
  grid-template-rows: 0fr 1fr;
}

#combat-attrs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sectiongap);
}

#combat-identity,
#combat-condition,
#combat-hit,
#combat-location {
  border: var(--standardborder);
}

.header.major-heading {
  border-bottom: 1px solid white;
}

.header.minor-heading {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border: none !important;
  display: grid !important;
  grid-template-columns: 1fr 0fr;
}

.no-border {
  border: none !important;
}

#combat-encumber {
  border: var(--standardborder);
  align-content: stretch;
}

/* #combat-condition {
  grid-area: combat-condition;
} */

#combat-identity {
  grid-area: combat-identity;
}

#combat-hit .field,
.tracked-resource .field {
  text-align: end;
  margin-left: 2px;
  margin-right: 2px;
}

#editorsheet #combat-hit .field,
#editorsheet #combat-fat .field,
#editorsheet .tracked-resource .field {
  border-bottom: 1px solid lightgrey;
}

#editorsheet .tracked-resource .tooltip .field {
  border: none !important;
}

.conditional-injury .condition-block .basic-value .label {
  text-align: right;
}

.gurps #combat-sheet .condition-block .basic-label {
  font-size: var(--font-size-11);
}

#hitpoints .selected {
  background-color: #ffcdd2;
}

.gurps .condition-block .tired,
.gurps .condition-block .reeling {
  background-color: #b8ffff;
}

.gurps .condition-block .collapse,
.resource-spinner .depleted {
  background-color: #ffcdd2;
}

.gurps .condition-block .check {
  background-color: lightcoral;
}

.gurps .condition-block .unconscious,
.gurps .condition-block .dead {
  background-color: black;
  color: white;
}

.gurps .condition-block .destroyed {
  background-color: black;
  color: lightcoral;
}

#combat-location {
  display: grid;
  gap: 0;
  border: var(--standardborder);
  align-content: stretch;
  grid-area: combat-location;
  grid-template:
    'header header header  header'
    'roll   where  penalty dr';
  grid-template-rows: 0fr 0fr;
  grid-auto-rows: 1fr;
  padding-top: 0;
  padding-bottom: 0;
}

#combat-encumber-container {
  display: grid;
  grid-area: combat-encumber-container;
  grid-template:
    'header header header header header'
    'encmarkerh ench loadh moveh dodgeh'
    'encmarker enc load move dodge';
  /* font-size: var(--font-size-10);; */
}

#combat-encumber-container .encmarkerh,
#combat-encumber-container .ench,
#combat-encumber-container .loadh,
#combat-encumber-container .moveh,
#combat-encumber-container .dodgeh,
#combat-encumber-container .encmarker,
#combat-encumber-container .enc,
#combat-encumber-container .load,
#combat-encumber-container .move,
#combat-encumber-container .dodge {
  font-size: var(--font-size-11);
}

#combat-encumber .header:first-child,
#combat-location .header:first-child {
  grid-area: header;
  border-bottom: 1px solid lightgray;
}

#combat-encumber .encmarker:nth-last-child(10n + 5),
#combat-encumber .enc:nth-last-child(10n + 4),
#combat-encumber .load:nth-last-child(10n + 3),
#combat-encumber .move:nth-last-child(10n + 2),
#combat-encumber .dodge:nth-last-child(10n + 1),
#combat-location .roll:nth-last-child(8n + 4),
#combat-location .where:nth-last-child(8n + 3),
#combat-location .penalty:nth-last-child(8n + 2),
#combat-location .dr:nth-last-child(8n + 1) {
  background-color: #e8ffe8;
}

#combat-location .header:nth-last-child(8n + 4),
#combat-location .header:nth-last-child(8n + 3),
#combat-location .header:nth-last-child(8n + 2),
#combat-location .header:nth-last-child(8n + 1) {
  background-color: black;
}

#combat-location > div:nth-last-child(-n + 4) {
  border-bottom: none;
}

#combat-location .roll,
#combat-location .where,
#combat-location .penalty,
#combat-location .dr {
  font-size: var(--font-size-10);
}

#combat-attrs {
  grid-area: combat-attrs;
}

#combat-attrs-container {
  display: grid;
  gap: 0 0.15em;
  grid-template-columns: 0fr 0fr;
  grid-template-rows: auto;
  grid-template-areas: 'combat-attrs-1 combat-attrs-2';
}

#combat-attrs-1 {
  grid-area: combat-attrs-1;
  border-right: var(--standardborder);
}

#combat-attrs-2 {
  grid-area: combat-attrs-2;
}

#combat-encumber {
  grid-area: combat-encumber;
}

#combat-encumber {
  grid-template:
    'header header header header header'
    'encmarkerh ench loadh moveh dodgeh'
    'encmarker enc load move dodge';
}

#combat-encumber > div:nth-last-child(-n + 5),
#combat-location > div:nth-last-child(-n + 4) {
  border-bottom: none;
}

#combat-encumber .current:nth-last-child(10n + 5),
#combat-encumber .current:nth-last-child(10n + 4),
#combat-encumber .current:nth-last-child(10n + 3),
#combat-encumber .current:nth-last-child(10n + 2),
#combat-encumber .current:nth-last-child(10n + 1) {
  background-color: lightgoldenrodyellow;
}

#combat-weapons {
  grid-area: combat-weapons;
  display: grid;
  row-gap: var(--sectiongap);
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'speed-range-table'
    'melee'
    'ranged';
}

#combat-weapons .desc,
#combat-weapons .list_note,
#combat-weapons .usage,
#combat-weapons .level,
#combat-weapons .parry,
#combat-weapons .damage,
#combat-weapons .reach,
#combat-weapons .st,
#combat-weapons .acc,
#combat-weapons .range,
#combat-weapons .rof,
#combat-weapons .shots,
#combat-weapons .bulk,
#combat-weapons .rcl {
  font-size: var(--font-size-10);
}

#combat-attrs-damage-sw {
  grid-area: combat-attrs-damage-sw;
}

#combat-attrs-damage-thr {
  grid-area: combat-attrs-damage-thr;
}

#speed-range-table {
  grid-area: speed-range-table;
  border: var(--standardborder);
  align-content: stretch;
  display: grid;
  grid-template-areas:
    'header'
    'range-table';
}

#range-table {
  grid-area: range-table;
  display: grid;
  border: 1px solid lightgray;
  align-content: stretch;
  grid-template-columns: 3fr repeat(var(--count), 1fr);
  grid-template-rows: 0fr 0fr;
}

#range-table .label {
  text-align: end;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

#range-table .label:nth-last-child(1),
#range-table .label:nth-last-child(2),
#range-table .label:nth-last-child(3),
#range-table .label:nth-last-child(4),
#range-table .label:nth-last-child(5),
#range-table .label:nth-last-child(6),
#range-table .label:nth-last-child(7),
#range-table .label:nth-last-child(8),
#range-table .label:nth-last-child(9),
#range-table .label:nth-last-child(10),
#range-table .label:nth-last-child(11),
#range-table .label:nth-last-child(12),
#range-table .label:nth-last-child(13),
#range-table .label:nth-last-child(14),
#range-table .label:nth-last-child(15),
#range-table .label:nth-last-child(16) {
  border-bottom: none;
}

#range-table .label:nth-last-child(17),
#range-table .label:nth-last-child(1) {
  border-right: none;
}

#range-table .label:nth-child(odd) {
  background-color: #e8ffe8;
}

/* Message Chat styles */
.damage-all-message,
.damage-message {
  border: 1px #6f6c66;
  border-style: outset;
  border-radius: 5px;
  margin: 3px;
  padding: 0.25em;
}

.damage-all-message:hover,
.damage-message:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roll-message .modifier-list {
  list-style-type: none;
  padding-left: 1em;
}

.roll-message .modifier-list li {
  font-size: 85%;
  font-style: italic;
}

.roll-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roll-result .roll-value {
  font-size: medium;
  font-weight: bold;
}

.roll-message .aside {
  font-size: smaller;
  text-align: end;
  font-weight: normal;
  text-align: start;
}

.roll-message .note {
  font-size: medium;
  text-align: right;
  font-weight: normal;
  text-align: start;
}

.roll-result .roll-value,
.roll-result .roll-detail {
  /* font-family: var(--fontawesomefamily); */
  font-family: inherit;
}

.roll-result .roll-detail {
  font-weight: normal;
}

.roll-result .roll-detail .aside {
  font-size: inherit;
}

.roll-result .roll-detail .crit {
  font-size: large;
  font-weight: bolder;
}

.roll-result .roll-detail .success {
  color: darkgreen;
  font-weight: bold;
}

.roll-result .roll-detail .failure {
  color: darkred;
  font-weight: bold;
}

.roll-result .roll-detail .crit.success {
  color: black;
  text-shadow: 0 0 3px #00ff00;
}

.roll-result .roll-detail .crit.failure {
  color: black;
  text-shadow: 0 0 3px #ff0000;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.gurps-sheet-tabs {
  display: block;
  font-size: 110%;
  /* height: 32px; */
  border-bottom: 1px solid #333;
  flex-grow: 0;
}

.gurps-sheet-tabs li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.tab-item {
  line-height: 32px;
  font-weight: normal;
}

.tab-item.active {
  text-decoration: underline;
  text-shadow: none;
  font-weight: bold;
  background-color: #e8ffe8;
  font-size: 105%;
}

/* Cannot use table-column as it breaks the indenting logic for contained items */
.table-column {
  padding: 3px;
  justify-content: center;
  height: auto;
  display: flex;
  flex-direction: column;
}

.table-column .list_note {
  font-size: 85%;
  display: block;
}

.table-column.center {
  text-align: center;
}

.table-column span {
  pointer-events: none;
  /* We need pointer events to know how to expand/collapse items */
}

/* .desc {
  position: relative; needed so that the tooltip was not limited to the tab area.
} */

.gga-desc-text .tooltippic {
  visibility: hidden;
  position: fixed;
  z-index: 999;
}

.gga-desc-text .tooltippic img {
  max-height: 100px;
}

input.gcs-input-sm2:disabled,
input.gcs-input:disabled {
  background: unset;
  padding: 0 !important;
}

.gurpsactorsheet select:disabled {
  color: black;
}

.gurpsactorsheet textarea:disabled {
  color: black;
  background-color: transparent;
}

#points input {
  min-width: 3em;
}

#attributes input.gcs-input {
  min-width: 2.5em;
}

.gga-app.item-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dr.gga-right.blue {
  color: blueviolet;
  font-weight: bold;
}

.gga-line-description {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.gga-column-description {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.gga-item-image-thumb {
  width: 28px !important;
  height:28px !important;
  min-width: 28px;
  border: none;
  margin: 3px 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* These are the colors used in GURPS Basic Set Chapters */
.gga-item-image-thumb.traits {
  background-color: #3176b1;
}
.gga-item-image-thumb.traits.top {
  background-color: #3176b1;
}
.gga-item-image-thumb.skills {
  background-color: #453c95;
}
.gga-item-image-thumb.spells {
  background-color: #90241e;
}
.gga-item-image-thumb.equipments {
  background-color: #34703e;
}

.gga-thumb-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.gga-tooltip-item-image {
  max-height: 40px;
  max-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  z-index: 2;
}