.gurps {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}

.simple_Ads label,
.simple_Eqt label,
.simple_Skills label,
.simple_Notes label,
.simple_Attacks label {
	font-size: 120%;
	font-weight:bold;
	font-style: italic;
}

.simple_form {
  width: 100% !important;
  height: 100% !important;
}

.simple_container {
  width: 100% !important;
  height: 100% !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "ST ST-desc ST-desc Portrait Portrait"
    "DX DX-desc DX-desc Portrait Portrait"
    "IQ IQ-desc IQ-desc Portrait Portrait"
    "HT HT-desc HT-desc Portrait Portrait"
    "Shield Body Heart Notes Notes"
    "Shield Body Heart Notes Notes"
    "Shield Body Heart Notes Notes"
    "Defend Armor HP Notes Notes"
    "Attacks Attacks Attacks Skills Skills"
    "Attacks Attacks Attacks Skills Skills"
    "Attacks Attacks Attacks Skills Skills"
    "Attacks Attacks Attacks Skills Skills"
    "Attacks Attacks Attacks Skills Skills"
    "Eqt Eqt Eqt Ads Ads"
    "Eqt Eqt Eqt Ads Ads"
    "Eqt Eqt Eqt Ads Ads"
    "Eqt Eqt Eqt Ads Ads";
}

.simple_lrg {
	font-size: 200%;
}

.simple_ST-desc label,
.simple_DX-desc label,
.simple_IQ-desc label,
.simple_HT-desc label {
	align-self:center;
}

.simple_ST { grid-area: ST; }

.simple_DX { grid-area: DX; }

.simple_IQ { grid-area: IQ; }

.simple_HT { grid-area: HT; }

.simple_ST-desc { 
	grid-area: ST-desc;
	display: flex;
	flex-direction: row;
	align-content: center;
}

.simple_DX-desc {
	grid-area: DX-desc;
 	display: flex;
	flex-direction: row;
	align-content: center;
}

.simple_IQ-desc { 
	grid-area: IQ-desc; 
 	display: flex;
	flex-direction: row;
	align-content: center;
}


.simple_HT-desc { 
	grid-area: HT-desc; 
 	display: flex;
	flex-direction: row;
	align-content: center;
}

.simple_Shield { 
	grid-area: Shield; 
	text-align: center;
	background-image: url("../ui/ri_1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; 
	font-size: 250%;
	font-weight: bold;
	
	display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.simple_Body { 
	grid-area: Body; 
	text-align: center;
	background-image: url("../ui/ri_3.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; 
	font-size: 250%;
	font-weight: bold;
	
	display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.simple_Heart { 
	grid-area: Heart;
	text-align: center;
	background-image: url("../ui/ri_2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; 
	font-size: 250%;
	font-weight: bold;
	
	display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.simple_Defend { 
	grid-area: Defend; 
	font-weight: bold;
	text-align: center;
	background-color: green; 
}

.simple_Armor { 
	grid-area: Armor;
	font-weight: bold;
	text-align: center;
	background-color: orange; 
}

.simple_HP { 
	grid-area: HP; 
	font-weight: bold;
	text-align: center;
	background-color: red;
}

.simple_Attacks { 
	grid-area: Attacks;
	background-color: rgb(220, 255, 255);
	display: grid;
  align-content: stretch;
  grid-template-rows: repeat(100, 1fr);
  grid-template-columns: 1.5fr 1fr 1fr;
  text-align: center;
	vertical-align: middle;
  font-size: 120%;
	gap: 10px 15px;
	overflow-y: scroll;
}

.simple_Skills { 
	grid-area: Skills; 
	background-color: rgb(220, 255, 255);
	display: grid;
  align-content: stretch;
  grid-template-rows: repeat(100, 1fr);
  grid-template-columns: 3fr 1fr;
  text-align: left;
	vertical-align: middle;
  font-size: 120%;
	gap: 10px 15px;
	overflow-y: scroll;
}

.simple_Eqt {
	grid-area: Eqt; 
	background-color: rgb(215, 215, 255);
	display: grid;
  align-content: stretch;
  grid-template-rows: repeat(100, 1fr);
  grid-template-columns: 9fr 1fr;
  text-align: left;
	vertical-align: middle;
  font-size: 120%;
	gap: 10px 15px;
	overflow-y: scroll;	
}

.simple_Ads { 
	grid-area: Ads; 
	background-color: rgb(215, 215, 255);
	display: grid;
  align-content: stretch;
  grid-template-rows: repeat(100, 1fr);
  grid-template-columns: 1fr;
  text-align: left;
	vertical-align: middle;
  font-size: 120%;
	gap: 10px 20px;
	overflow-y: scroll;
}

.simple_Portrait { 
	grid-area: Portrait; 
	object-fit: contain;
	text-align: center; 
}

.simple_Notes { 
	grid-area: Notes; 
	background-color: rgb(220, 255, 255);
	font-size: 120%;
  display: grid;
  align-content: stretch;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
	padding: 0px 0px 0px 10px;
	overflow-y: scroll;
}

.simple_icon {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  background-color: rgb(255, 255, 175);
}

.simple_input {
	font-size: 120% !important;
	height: 40px !important;
	width: 80px !important;
	vertical-align: middle;
	margin: 5px;
	padding: 10px;
	border: 2px solid black;
  background-color: rgb(255, 255, 175);
}

.gcs-input-ta {
  border-width: 0px !important;
  border: none !important;
  height: 1em !important;
	padding: 1px !important;
}
.gcs-input {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	padding: 1px !important;
}
.gcs-input-sm2 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	max-width: 2em;
	padding: 1px !important;
}
.gcs-input-sm3 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	max-width: 3em;
	padding: 1px !important;
}
.gcs-input-sm4 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	max-width: 4em;
	padding: 1px !important;
}
.gcs-input-sm5 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	max-width: 5em;
	padding: 1px !important;
}
.gcs-input-2 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	min-width: 2em !important;
	padding: 1px !important;
}
.gcs-input-3 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	min-width: 3em !important;
	padding: 1px !important;
}
.gcs-input-4 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	min-width: 4em !important;
	padding: 1px !important;
}
.gcs-input-5 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	min-width: 5em !important;
	padding: 1px !important;
}

.gcs-input-25 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	min-width: 25em !important;
	padding: 1px !important;
}
.gcs-input-30 {
  border-width: 0px !important;
  border: none !important;
  height: 100% !important;
	min-width: 30em !important;
	padding: 1px !important;
}

#threed6 {
  /*border: 5px solid rgb(255, 123, 0);*/
  position: fixed;
  bottom: 10px;
  left: 880px;
  width: 52px;
  height: 52px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  z-index: 999;
  display: inline-block;
}

#testdialog {
  left: 940px;
}

#threed6 #threed6dicerot {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 105;
}

#threed6 #threed6dicerotactive {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 105;
}

#threed6:hover #threed6dicerot {
  display: inline;
}

#threed6:active #threed6dicerotactive {
  display: inline;
}

#modtooltip {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  justify-items: stretch;
  justify-content: stretch;
  align-items: stretch;
  text-align: left;
  background-color: black;
}

.removemod {
  font-weight: bold;
  cursor: pointer;
}

.removemod:hover {
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px grey;
  background-color: yellow;
}

#modtooltiplefttop {
  grid-column: 1;
  grid-row: 1;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;
  row-gap: 3px;
  padding: 5px;
}

#modtooltipleftcenter {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;


  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: yellow;
  background-color: rgb(64, 64, 64);
  padding: 5px;
}

#modtooltipleftbottom {
  grid-column: 1;
  grid-row: 4;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px solid green;
  margin: 5px;
  color: black;
  background-color: white;
  row-gap: 2px;
  padding: 5px;
}

#modtooltipcentertop {
  grid-column: 2;
  grid-row: 1;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;

  row-gap: 5px;
  padding: 5px;
}

#modtooltipcentercenter {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 4;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;

  row-gap: 5px;
  padding: 5px;
}

#modtooltipcenterbottom {
  grid-column: 2;
  grid-row: 4;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;

  row-gap: 5px;
  padding: 5px;
}

#modtooltiprighttop {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;

  row-gap: 5px;
  padding: 5px;
}


#modtooltiprightbottom {
  grid-column: 3;
  grid-row-start: 3;
  grid-row-end: 5;

  display: grid;
  justify-self: stretch;
  justify-content: stretch;
  align-content: start;
  border: 5px;
  margin: 5px;
  color: black;
  background-color: white;

  row-gap: 5px;
  padding: 5px;
}

.modttlabel {
  font-size: 120%;
  color: blue;
  text-shadow: 1px 1px black;
}

.gmbutton {
  display: inline-block;
  text-align: center;
  font-size: 90%;
  padding: 2 px;
  width: fit-content;
}

.gurpstippable {
  position: relative;
}

.gurpstippable:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 130%;
  left: -50%;
  min-width: 20px;
  border: 1px #808080 solid;
  padding: 8px;
  color: black;
  background-color: rgb(192, 192, 192);
  z-index: 102;
}

.gurpstippable:hover::before {
  content: "";
  position: absolute;
  top: -30%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  z-index: 102;
}

.modifierbucket {
  border: 5px solid rgb(255, 0, 0);
  position: fixed;
  bottom: 10px;
  left: 805px;
  width: 70px;
  height: 52px;
  background-color: rgb(200, 200, 180);
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  z-index: 999;
}

.modifierbucket .modttt {
  /*  visibility: hidden;  */
  visibility: hidden;
  width: 900px;
  height: 700px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 102px;
  left: 50%;
  margin-left: -450px;
  z-index: 999;
  cursor: default;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  /* opacity: 0;
  transition: opacity 1s; */
}



.modifierbucket:hover .modttt {
  visibility: visible;
  z-index: 999;
  /*opacity: 1;	*/
}

.modifierbucket .modttt::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -300px;
  border-width: 37px 300px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  z-index: -100;
}

.pdflink {
  text-shadow: none;
  color: blue;
  text-decoration: underline;
}

.pdflink:hover {
  /*font-size: 115%;
  font-weight: bold;*/
  text-shadow: none;

  color: red;
  text-decoration: underline;
  overflow: visible;
  z-index: 99;
  cursor: pointer;
}

.rollable:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(255, 255, 128) !important;
  color: black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
  border-radius: 8px;
  margin: -2px 2px -3px -2px;
  overflow: visible;
  z-index: 99
}

.rollable {
  color: black;
  /* text-shadow: 2px 2px rgb(255, 255, 128); */
  background-color: rgb(255, 255, 190) !important;
}

.rollable:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 128) !important;
  padding: 2px 3px 2px 3px;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  border-right: 1px solid #CCCCCC;
  border-radius: 8px;
  margin: -2px -2px -3px -2px;
}

.gmod:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(255, 128, 100) !important;
  color: black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
  border-radius: 8px;
  margin: -2px 0px -1px 2px;
  text-align: center;
}

.gmod {
  color: black;
  /*text-shadow: 2px 2px 8px rgb(255, 0, 0);*/
  background-color: rgb(255, 230, 190) !important;
  /* background-image: linear-gradient(to right, white , rgb(255, 200, 128)); */
}

.gmod:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-image: none;
  background-color: rgb(255, 128, 100) !important;
  padding: 1px 1em 1px 1px;
  border-bottom: 2px solid #CCCCCC;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #CCCCCC;
  border-radius: 8px;
  margin: -1px -6px -2px 4px;
  overflow: visible;
  z-index: 99
}

.glinkmod:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(255, 128, 64) !important;
  color: black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
  border-radius: 8px;
  margin: -1px -2px -1px -4px;
}

.glinkmod {
  color: black;
  background-color: rgb(255, 230, 190) !important;
}

.glinkmod:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-image: none;
  background-color: rgb(255, 128, 64) !important;
  padding: 1px 1px 1px 1px;
  border-bottom: 2px solid #CCCCCC;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #CCCCCC;
  border-radius: 8px;
  margin: -1px -3px -1px -3px;
  z-index: 99
}

.glinkmodplus:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(0, 255, 0) !important;
  color: black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
  border-radius: 8px;
  margin: -1px -2px -1px -4px;
  font-weight: bold;
}

.glinkmodplus {
  color: black;
  background-color: rgb(175, 255, 175) !important;
}

.glinkmodplus:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-image: none;
  background-color: rgb(0, 255, 0) !important;
  padding: 1px 1px 1px 1px;
  border-bottom: 2px solid #CCCCCC;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #CCCCCC;
  border-radius: 8px;
  margin: -1px -3px -1px -3px;
  z-index: 99;
  font-weight: normal;
}

.glinkmodminus:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  background-color: rgb(255, 0, 0) !important;
  color: yellow;
  text-shadow: 1px 1px black;
  padding: 1px 1px 1px 1px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
  border-radius: 8px;
  margin: -1px -2px -1px -4px;
  font-weight: bold;
}

.glinkmodminus {
  color: black;
  background-color: rgb(255, 175, 175) !important;
}

.glinkmodminus:active {
  cursor: pointer;
  text-decoration: none;
  color: yellow;
  text-shadow: 1px 1px black;
  background-image: none;
  background-color: rgb(255, 0, 0) !important;
  padding: 1px 1px 1px 1px;
  border-bottom: 2px solid #CCCCCC;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-right: 2px solid #CCCCCC;
  border-radius: 8px;
  margin: -1px -3px -1px -3px;
  z-index: 99;
  font-weight: normal;
}

.gurpslink:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(255, 255, 128) !important;
  color: black;
  padding: 2px 3px 2px 3px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
  border-radius: 5px;
  margin: -2px -4px -2px -6px;
  overflow: visible;
  z-index: 99
}

.gurpslink {
  color: black;
  /* text-shadow: 2px 2px rgb(255, 255, 128); */
  background-color: rgb(255, 255, 175) !important;
}

.gurpslink:active {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 128) !important;
  padding: 2px 3px 2px 3px;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  border-right: 1px solid #CCCCCC;
  border-radius: 8px;
  margin: -2px -5px -2px -3px;
  overflow: visible;
  z-index: 99
}

.gurps .window-content {
  height: 100%;
  padding: 5px;
  /*overflow-y: hidden;*/
  background: white;
}

.gurps .sheet-header {
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.gurps .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.gurps .sheet-header .header-fields {
  flex: 1;
  /*  height: 100px;*/
}

.gurps .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.gurps .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.gurps .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}

.gurps .resource input {
  width: 100px;
  height: 28px;
}

.gurps .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.gurps .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.gurps .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.gurps .sheet-body {
  overflow: hidden;
}

.gurps .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}

.gurps .editor,
.gurps .editor-content {
  height: 100%;
}

.gurps .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.gurps .item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.gurps .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}

.gurps .item-list .item-name {
  margin: 0;
}

.gurps .item-list .item-controls {
  flex: 0 0 36px;
}

.gurps .attributes table {
  /*	  width: 300px;*/
  border: none;
}

.gurps .attributes {
  flex: none;
  margin: 0;
  border-left: none;
  border-bottom: none;
  /*  border-top: 2px groove #eeede0;
  border-right: 2px groove #eeede0; */
  border-radius: 0;
  height: auto;
  width: 275px;
}

.gurps .attributes .brackets {
  border-top: none;
  font-size: 24px;
  font-weight: 100;
}

.gurps .attributes .pts {
  border: none;
  font-size: 10pt;
  text-align: center;
}

.gurps .attributes .fill-in {
  border: 1px solid black;
  text-align: center;
  transition: color 0.5s;
  font-size: 120%;
}

.gurps .attributes .fill-in:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-size: 150%;
  font-weight: 900;
}

.gurps .attributes-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}

.gurps .attributes-header .attribute-label {
  flex: 1.5;
}

.gurps .attributes-header .attribute-control {
  flex: 0 0 20px;
}

.gurps .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gurps .attributes-list li>* {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}

.gurps .attributes-list a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}

.gurps.sheet.actor {
  min-width: 560px;
  min-height: 375px;
}

.gurps.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

.gurps .fieldblock {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: end;
  padding-bottom: .15em;
}

.gurps .fieldblock hr {
  grid-column: 1 / span 2;
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  margin: 0;
  margin-top: .2em;
  margin-bottom: .1em;
}

.gurps #description {
  grid-area: description;
  display: grid;
  grid-template:
    "header header header"
    "block1 block2 block3";
  grid-template-rows: 0fr 1fr;
  border: 1px solid black;
}

.gurps #description .header {
  grid-area: header;
}

.gurps .fieldblock {
  text-align: left;
  padding-left: .2em;
  padding-right: .2em;
  font-size: 80%;
  white-space: nowrap;
  align-self: center;
}

.gurps .fieldblock .field {
  margin-right: .2em;
  padding-left: .2em;
  padding-right: .2em;
  border-bottom: 1px solid lightgray;
}

body {
  font-family: Verdana, sans-serif;
  font-size: small;
  font-weight: normal;
  padding: 0;
  margin: .25in;
  margin-bottom: calc(.25in - 1em);
}

#sheet {
  display: grid;
  grid-template:
    "personal personal"
    "stats stats"
    "reactions reactions"
    "melee melee"
    "ranged ranged"
    "advantages skills"
    "spells spells"
    "equipment equipment"
    "other_equipment other_equipment"
    "notes notes"
  ;
  grid-gap: .05in;
}

#editorsheet {
  display: grid;
  grid-template:
    "personal personal"
    "stats stats"
    "reactions reactions"
    "melee melee"
    "ranged ranged"
    "advantages advantages"
		"skills skills"
    "spells spells"
    "equipment equipment"
    "other_equipment other_equipment"
    "notes notes"
  ;
  grid-gap: .05in;
}

#footer {
  text-align: center;
  font-size: 80%;
}

.fieldblock {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: end;
  padding-bottom: .15em;
}

.fieldblock hr {
  grid-column: 1 / span 2;
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  margin: 0;
  margin-top: .2em;
  margin-bottom: .1em;
}

.fieldblock3 {
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  align-items: end;
  padding-bottom: .15em;
}

.fieldblock3 hr {
  grid-column: 1 / span 3;
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  margin: 0;
  margin-top: .2em;
  margin-bottom: .1em;
}

#personal {
  grid-area: personal;
  display: grid;
  grid-template:
    "portrait identity miscellaneous points"
    "portrait description description points";
  grid-template-columns: 0fr 1fr 1fr 0fr;
  grid-gap: .05in;
}

#portrait {
  grid-area: portrait;
  display: grid;
  grid-template:
    "header"
    "portrait";
  grid-template-rows: 0fr auto;
  grid-template-columns: auto;
  border: 1px solid black;
}

#identity {
  grid-area: identity;
}

#miscellaneous {
  grid-area: miscellaneous;
}

#points {
  grid-area: points;
}

#identity,
#miscellaneous,
#points,
#attributes,
#lifting,
#fatpoints,
#hitpoints {
  display: grid;
  grid-template-rows: 0fr 1fr;
  border: 1px solid black;
}

#points .field,
#attributes .field,
#lifting .field,
#hitpoints .field,
#fatpoints .field {
  text-align: right;
}

#description {
  grid-area: description;
  display: grid;
  grid-template:
    "header header header"
    "block1 block2 block3";
  grid-template-rows: 0fr 1fr;
  border: 1px solid black;
}

#description .header {
  grid-area: header;
}

#description .fieldblock:nth-child(1n+3) {
  border-left: 1px solid black;
}

#stats {
  grid-area: stats;
  display: grid;
  grid-template:
    "attributes fatpoints location encumbrance"
    "attributes hitpoints location lifting";
  grid-template-columns: 0fr 2fr 0fr 0fr;
  grid-gap: .05in;
}

#attributes {
  grid-area: attributes;
}

#fatpoints {
  grid-area: fatpoints;
  align-content: right;
}

#hitpoints {
  grid-area: hitpoints;
  align-content: stretch;
}

#encumbrance {
  grid-area: encumbrance;
  grid-template:
    "header header header header header"
    "encmarkerh ench loadh moveh dodgeh"
    "encmarker enc load move dodge";
}

#lifting {
  grid-area: lifting;
  grid-template:
    "header header"
    "desc lift";
  grid-template-columns: 1fr 0fr;
}

#lifting .header:first-child {
  grid-area: header;
}

#location {
  grid-area: location;
  grid-template:
    "header header header header"
    "roll where penalty dr";
  grid-template-rows: 0fr 0fr;
  grid-auto-rows: 1fr;
}

#encumbrance .header:first-child,
#location .header:first-child {
  grid-area: header;
  border-bottom: 1px solid lightgray;
}

#encumbrance,
#lifting,
#location,
#reactions,
#melee,
#ranged,
#advantages,
#skills,
#spells,
#equipment,
#other_equipment,
#notes {
  display: grid;
  border: 1px solid black;
  align-content: stretch;
}

#reactions,
#melee,
#ranged,
#advantages,
#skills,
#spells,
#equipment,
#other_equipment,
#notes {
  grid-template-rows: repeat(1000, auto) 1fr;
}

#reactions {
  grid-template-columns: 0fr 1fr;
  grid-area: reactions;
}

#melee {
  grid-template-columns: 1fr repeat(8, auto);
  grid-area: melee;
}

#ranged {
  grid-template-columns: 1fr repeat(10, auto);
  grid-area: ranged;
}

#advantages {
  grid-template-columns: 1fr repeat(2, auto);
  grid-area: advantages;
}

#skills {
  grid-template-columns: 1fr repeat(4, auto);
  grid-area: skills;
}

#spells {
  grid-template-columns: 1fr repeat(10, auto);
  grid-area: spells;
}

#equipment {
  grid-template-columns: auto auto 1fr repeat(6, auto);
  grid-area: equipment;
}

#other_equipment {
  grid-template-columns: auto 1fr repeat(5, auto);
  grid-area: other_equipment;
}

#notes {
  grid-template-columns: 1fr;
  grid-area: notes;
}

.points {
  text-align: right;
  padding-left: .2em;
  padding-right: .2em;
  font-size: 80%;
  align-self: center;
}

.label {
  text-align: left;
  padding-left: .2em;
  padding-right: .2em;
  font-size: 80%;
  white-space: nowrap;
}

.field {
  margin-right: .2em;
}

.condensed {
  font-size: 80%;
}

.field,
.desc,
.cls,
.college,
.mana,
.mana_maintain,
.time,
.duration,
.sl,
.rsl,
.qty,
.equipped,
.cost,
.sum_cost,
.weight,
.sum_weight,
.pts,
.ref,
.usage,
.level,
.parry,
.block,
.damage,
.reach,
.st,
.acc,
.range,
.rof,
.shots,
.bulk,
.rcl,
.load,
.loadh,
.move,
.moveh,
.dodge,
.dodgeh,
.roll,
.where,
.dr,
.liftdesc,
.lift,
.modifier,
.situation {
  padding-left: .2em;
  padding-right: .2em;
  border-bottom: 1px solid lightgray;
}

.penalty {
  padding-left: .2em;
  padding-right: 1em;
  border-bottom: 1px solid lightgray;
}


.enc,
.ench {
  padding-left: 0;
  padding-right: .2em;
  border-bottom: 1px solid lightgray;
}

.encmarker,
.encmarkerh {
  padding-left: .2em;
  padding-right: 0;
  border-bottom: 1px solid lightgray;
}

#encumbrance .encmarker:nth-last-child(10n+5),
#encumbrance .enc:nth-last-child(10n+4),
#encumbrance .load:nth-last-child(10n+3),
#encumbrance .move:nth-last-child(10n+2),
#encumbrance .dodge:nth-last-child(10n+1),
#lifting .liftdesc:nth-last-child(4n+1),
#lifting .lift:nth-last-child(4n+2),
#location .roll:nth-last-child(8n+4),
#location .where:nth-last-child(8n+3),
#location .penalty:nth-last-child(8n+2),
#location .dr:nth-last-child(8n+1),
#reactions .modifier:nth-child(even),
#reactions .situation:nth-child(odd),
#melee .desc:nth-child(even),
#melee .usage:nth-child(odd),
#melee .level:nth-child(even),
#melee .parry:nth-child(odd),
#melee .block:nth-child(even),
#melee .damage:nth-child(odd),
#melee .reach:nth-child(even),
#melee .st:nth-child(odd),
#ranged .desc:nth-child(even),
#ranged .usage:nth-child(odd),
#ranged .level:nth-child(even),
#ranged .acc:nth-child(odd),
#ranged .damage:nth-child(even),
#ranged .range:nth-child(odd),
#ranged .rof:nth-child(even),
#ranged .shots:nth-child(odd),
#ranged .bulk:nth-child(even),
#ranged .rcl:nth-child(odd),
#ranged .st:nth-child(even),
#advantages .desc:nth-child(even),
#advantages .pts:nth-child(odd),
#advantages .ref:nth-child(even),
#skills .desc:nth-child(even),
#skills .sl:nth-child(odd),
#skills .rsl:nth-child(even),
#skills .pts:nth-child(odd),
#skills .ref:nth-child(even),
#spells .desc:nth-child(even),
#spells .cls:nth-child(odd),
#spells .college:nth-child(even),
#spells .mana:nth-child(odd),
#spells .mana_maintain:nth-child(even),
#spells .time:nth-child(odd),
#spells .duration:nth-child(even),
#spells .sl:nth-child(odd),
#spells .rsl:nth-child(even),
#spells .pts:nth-child(odd),
#spells .ref:nth-child(even),
#equipment .equipped:nth-child(even),
#equipment .qty:nth-child(odd),
#equipment .desc:nth-child(even),
#equipment .cost:nth-child(odd),
#equipment .weight:nth-child(even),
#equipment .sum_cost:nth-child(odd),
#equipment .sum_weight:nth-child(even),
#equipment .ref:nth-child(odd),
#other_equipment .qty:nth-child(even),
#other_equipment .desc:nth-child(odd),
#other_equipment .cost:nth-child(even),
#other_equipment .weight:nth-child(odd),
#other_equipment .sum_cost:nth-child(even),
#other_equipment .sum_weight:nth-child(odd),
#other_equipment .ref:nth-child(even),
#notes .desc:nth-child(even) {
  background-color: #e8ffe8;
}

#equipment .desc,
#other_equipment .desc,
.cls,
.college,
.mana,
.mana_maintain,
.time,
.duration,
.sl,
.rsl,
.qty,
.cost,
.sum_cost,
.weight,
.sum_weight,
.pts,
.ref,
.usage,
.level,
.parry,
.block,
.damage,
.reach,
.st,
.acc,
.range,
.rof,
.shots,
.bulk,
.rcl,
.load,
.loadh,
.move,
.moveh,
.dodge,
.dodgeh,
.where,
.penalty,
.dr,
.situation {
  border-left: 1px solid lightgray;
}

.sl,
.rsl,
.qty,
.equipped,
.cost,
.sum_cost,
.weight,
.sum_weight,
.pts,
.ref,
.level,
.parry,
.block,
.reach,
.st,
.acc,
.rof,
.shots,
.bulk,
.rcl,
.load,
.move,
.dodge,
.where,
.penalty,
.dr,
.lift,
.modifier {
  text-align: right;
}

.equipped,
.roll {
  text-align: center;
}

.liftdesc,
.where {
  text-align: left;
}

.encmarker,
.encmarkerh,
.enc,
.ench,
.load,
.loadh,
.move,
.moveh,
.dodge,
.dodgeh,
.roll,
.where,
.penalty,
.dr,
.liftdesc,
.lift,
.modifier {
  white-space: nowrap;
}

#lifting .field,
.noedit {
  white-space: nowrap;
  border: none;
}

.header,
#reactions .header,
#melee .header,
#ranged .header,
#equipment .header,
#other_equipment .header {
  background-color: black;
  border-bottom: 1px solid black;
  color: white;
  text-align: center;
  font-size: 80%;
}

#location .header:nth-last-child(8n+4),
#location .header:nth-last-child(8n+3),
#location .header:nth-last-child(8n+2),
#location .header:nth-last-child(8n+1) {
  background-color: black;
}

#encumbrance>div:nth-last-child(-n+5),
#lifting>div:nth-last-child(-n+2),
#location>div:nth-last-child(-n+4) {
  border-bottom: none;
}

#reactions>div:nth-last-child(-n+3),
#melee>div:nth-last-child(-n+9),
#ranged>div:nth-last-child(-n+11),
#advantages>div:nth-last-child(-n+3),
#skills>div:nth-last-child(-n+5),
#spells>div:nth-last-child(-n+11),
#equipment>div:nth-last-child(-n+9),
#other_equipment>div:nth-last-child(-n+7),
#notes>div:nth-last-child(-n+1) {
  border-bottom: none;
  grid-row: 1001;
}

.indent1 {
  padding-left: 1em;
}

.indent2 {
  padding-left: 2em;
}

.indent3 {
  padding-left: 3em;
}

.indent4 {
  padding-left: 4em;
}

.indent5 {
  padding-left: 5em;
}

.indent6 {
  padding-left: 6em;
}

.indent7 {
  padding-left: 7em;
}

.indent8 {
  padding-left: 8em;
}

.indent9 {
  padding-left: 9em;
}

.satisfiedN {
  color: red;
}

#encumbrance .current:nth-last-child(10n+5),
#encumbrance .current:nth-last-child(10n+4),
#encumbrance .current:nth-last-child(10n+3),
#encumbrance .current:nth-last-child(10n+2),
#encumbrance .current:nth-last-child(10n+1),
.current {
  background-color: lightgoldenrodyellow;
}

.list_note {
  font-size: 80%;
}

.encmarker.current:after {
  content: '>';
}

.enc0:after {
  content: 'None (0)';
}

.enc1:after {
  content: 'Light (1)';
}

.enc2:after {
  content: 'Medium (2)';
}

.enc3:after {
  content: 'Heavy (3)';
}

.enc4:after {
  content: 'X-heavy (4)';
}

.overflowy {
  overflow-y: auto;
}


/* ----- temp additions ----- */

#combat-sheet {
  display: grid;
  grid-template-columns: 1fr 1fr 6em 6em auto;
  grid-template-rows: 0fr auto auto;
  grid-gap: .05in;
  grid-template-areas:
    'combat-identity combat-identity combat-hit      combat-fat      combat-location'
    'combat-attrs    combat-encumber combat-encumber combat-encumber combat-location'
    'combat-weapons  combat-weapons combat-weapons   combat-weapons  combat-weapons';
}

#combat-identity,
#combat-hit,
#combat-fat,
#combat-attrs,
#combat-weapons,
#combat-location {
  grid-gap: .05in;
  display: grid;
  grid-template-rows: 0fr 1fr;
}

#combat-identity,
#combat-hit,
#combat-fat,
#combat-attrs,
#combat-location {
  border: 1px solid black;
}

#combat-encumber {
  border: 1px solid black;
  align-content: stretch;
}

#combat-identity {
  grid-area: combat-identity;
}

#combat-hit {
  grid-area: combat-hit;
}

#combat-fat {
  grid-area: combat-fat;
}

#combat-fat .field,
#combat-hit .field {
  text-align: end;
}

.gurps .condition-block {
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-template-rows: 0fr 0fr;
  grid-template-areas:
    "basic-value basic-label"
    "condition   condition";
  align-items: end;
  padding-bottom: .15em;
}

.gurps .condition-block {
  text-align: start;
  padding-left: .2em;
  padding-right: .2em;
  font-size: 80%;
  white-space: nowrap;
  align-self: center;
}

.gurps .condition-block .basic-value {
  grid-area: basic-value;
  margin-right: .2em;
  padding-left: .2em;
  padding-right: .2em;
}

.gurps .condition-block .basic-label {
  grid-area: basic-label;
  text-align: left;
  padding-left: .2em;
  padding-right: .2em;
  font-size: 80%;
  white-space: nowrap;
  align-self: center;
}

.gurps .condition-block .condition {
  grid-area: condition;
  align-content: center;
  text-align: center;
  margin-right: .2em;
  padding-left: .2em;
  padding-right: .2em;
}

.gurps .condition-block .normal {
  background-color: lightgreen;
}

#hitpoints .selected,
#fatpoints .selected {
  background-color: #ffcdd2;
}

.gurps .condition-block .tired,
.gurps .condition-block .reeling {
  background-color: #b8ffff;
}

.gurps .condition-block .collapse {
  background-color: #ffcdd2;
}

.gurps .condition-block .check {
  background-color: lightcoral;
}

.gurps .condition-block .unconscious,
.gurps .condition-block .dead {
  background-color: black;
  color: white;
}

.gurps .condition-block .destroyed {
  background-color: black;
  color: lightcoral;
}

#combat-location {
  display: grid;
  gap: 0;
  border: 1px solid black;
  align-content: stretch;
  grid-area: combat-location;
  grid-template:
    "header header header  header"
    "roll   where  penalty dr";
  grid-template-rows: 0fr 0fr;
  grid-auto-rows: 1fr;
  padding-top: 0;
  padding-bottom: 0;
}

#combat-encumber-container {
  display: grid;
  grid-area: combat-encumber-container;
  grid-template:
    "header header header header header"
    "encmarkerh ench loadh moveh dodgeh"
    "encmarker enc load move dodge";
  /* font-size: 80%; */
}

#combat-encumber-container .encmarkerh,
#combat-encumber-container .ench,
#combat-encumber-container .loadh,
#combat-encumber-container .moveh,
#combat-encumber-container .dodgeh,
#combat-encumber-container .encmarker,
#combat-encumber-container .enc,
#combat-encumber-container .load,
#combat-encumber-container .move,
#combat-encumber-container .dodge {
  font-size: 80%;
}

#combat-encumber .header:first-child,
#combat-location .header:first-child {
  grid-area: header;
  border-bottom: 1px solid lightgray;
}

#combat-encumber .encmarker:nth-last-child(10n+5),
#combat-encumber .enc:nth-last-child(10n+4),
#combat-encumber .load:nth-last-child(10n+3),
#combat-encumber .move:nth-last-child(10n+2),
#combat-encumber .dodge:nth-last-child(10n+1),
#combat-location .roll:nth-last-child(8n+4),
#combat-location .where:nth-last-child(8n+3),
#combat-location .penalty:nth-last-child(8n+2),
#combat-location .dr:nth-last-child(8n+1) {
  background-color: #e8ffe8;
}

#combat-location .header:nth-last-child(8n+4),
#combat-location .header:nth-last-child(8n+3),
#combat-location .header:nth-last-child(8n+2),
#combat-location .header:nth-last-child(8n+1) {
  background-color: black;
}

#combat-location>div:nth-last-child(-n+4) {
  border-bottom: none;
}

#combat-location .roll,
#combat-location .where,
#combat-location .penalty,
#combat-location .dr {
  font-size: 80%;
}

#combat-attrs {
  grid-area: combat-attrs;
  gap: 0;
}

#combat-attrs-container {
  display: grid;
  gap: 0 0.15em;
  grid-template-columns: 0fr 0fr;
  grid-template-rows: auto;
  grid-template-areas:
    'combat-attrs-1 combat-attrs-2';
}

#combat-attrs-1 {
  grid-area: combat-attrs-1;
  border-right: 1px solid black;
}

#combat-attrs-2 {
  grid-area: combat-attrs-2;
}

#combat-encumber {
  grid-area: combat-encumber;
}

#combat-encumber {
  grid-template:
    "header header header header header"
    "encmarkerh ench loadh moveh dodgeh"
    "encmarker enc load move dodge";
}

#combat-encumber>div:nth-last-child(-n+5),
#combat-location>div:nth-last-child(-n+4) {
  border-bottom: none;
}

#combat-encumber .current:nth-last-child(10n+5),
#combat-encumber .current:nth-last-child(10n+4),
#combat-encumber .current:nth-last-child(10n+3),
#combat-encumber .current:nth-last-child(10n+2),
#combat-encumber .current:nth-last-child(10n+1),
.current {
  background-color: lightgoldenrodyellow;
}

#combat-weapons {
  grid-area: combat-weapons;
  display: grid;
  row-gap: .05in;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'speed-range-table'
    'melee'
    'ranged';
}

#combat-weapons .desc,
#combat-weapons .list_note,
#combat-weapons .usage,
#combat-weapons .level,
#combat-weapons .parry,
#combat-weapons .damage,
#combat-weapons .reach,
#combat-weapons .st,
#combat-weapons .acc,
#combat-weapons .range,
#combat-weapons .rof,
#combat-weapons .shots,
#combat-weapons .bulk,
#combat-weapons .rcl {
  font-size: 80%;
}

#combat-attrs-damage-sw {
  grid-area: combat-attrs-damage-sw;
}

#combat-attrs-damage-thr {
  grid-area: combat-attrs-damage-thr;
}

#speed-range-table {
  grid-area: speed-range-table;
  border: 1px solid black;
  align-content: stretch;
  display: grid;
  grid-template-areas:
    "header"
    "range-table";
}

#range-table {
  grid-area: range-table;
  display: grid;
  border: 1px solid lightgray;
  align-content: stretch;
  grid-template-columns: 3fr repeat(var(--count), 1fr);
  grid-template-rows: 0fr 0fr;
}

#range-table .label {
  text-align: end;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

#range-table .label:nth-last-child(1),
#range-table .label:nth-last-child(2),
#range-table .label:nth-last-child(3),
#range-table .label:nth-last-child(4),
#range-table .label:nth-last-child(5),
#range-table .label:nth-last-child(6),
#range-table .label:nth-last-child(7),
#range-table .label:nth-last-child(8),
#range-table .label:nth-last-child(9),
#range-table .label:nth-last-child(10),
#range-table .label:nth-last-child(11),
#range-table .label:nth-last-child(12),
#range-table .label:nth-last-child(13),
#range-table .label:nth-last-child(14),
#range-table .label:nth-last-child(15),
#range-table .label:nth-last-child(16) {
  border-bottom: none;
}

#range-table .label:nth-last-child(17),
#range-table .label:nth-last-child(1) {
  border-right: none;
}

#range-table .label:nth-child(odd) {
  background-color: #e8ffe8;
}

/* Message Chat styles */
.damage-message {
  border: 1px #6f6c66;
  border-style: outset;
  border-radius: 5px;
  margin: 3px;
  padding: 0.25em;
}

.damage-message:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roll-message .modifier-list {
  list-style-type: none;
}

.chat-message .modifier-list li,
.roll-message .modifier-list li {
  font-size: 85%;
  font-style: italic;
}

.roll-result .roll-result {
  vertical-align: middle !important;
}

.roll-result .roll-value {
  font-size: 140%;
  font-weight: bold;
}



.gurps-group input[type=number] {
  text-align: center;
}

.gurps-grid {
  display: grid;
  gap: .5em;
}

.gurps-group {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  padding: 0.5em;
  padding-top: 0;
  text-align: left;
  vertical-align: middle;
  justify-content: start;
}

.gurps-group .apply-results > * {
  margin-bottom: 0.2em;
}

.gurps-group .apply-results > *:last-child {
  margin-bottom: 0;
}

.gurps-3col-expandmiddle,
.gurps-3col {
  display: grid;
  grid-template-columns: auto 0fr auto;
  grid-auto-rows: auto;
  border: none;
  justify-items: stretch;
  text-align: left;
}

.gurps-3col > div,
.gurps-3col-line {
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gurps-results-table {
  grid-template-columns: min-content min-content auto;
  min-height: 130px;
}

.gurps-results-table > div:nth-child(3n+1),
.gurps-results-table > div:nth-child(3n+2) {
  text-align: end;
  padding-right: 0.5em;
}

.gurps-results-table .pdflink {
  font-size: smaller;
}

.gurps-results-table > div:nth-child(3n+2) {
  font-weight: bolder;
  font-size: larger;
}

.gurps-results-table > div:nth-child(3n+3) {
  text-align: start;
  justify-content: center;
}

.invisible {
  display: none;   
}

.gurps-3col-expandmiddle {
  grid-template-columns: auto 1fr min-content;
}

.gurps-3col-expandmiddle .gurps-grid-header:nth-child(3n+3),
.gurps-3col-expandmiddle .gurps-3col-line:nth-child(3n+3) {
  text-align: right;
  padding-right: 0.5em;
}

.gurps-grid-header:nth-child(3n+2),
.gurps-3col-line:nth-child(3n+2) {
  text-align: center;
}

.gurps-3col > div:nth-of-type(6n+4),
.gurps-3col > div:nth-of-type(6n+5), 
.gurps-3col > div:nth-of-type(6n+6),
.gurps-3col-line:nth-of-type(6n+4),
.gurps-3col-line:nth-of-type(6n+5),
.gurps-3col-line:nth-of-type(6n+6) {
    background-color: rgba(0, 0, 0, 0.10);
}

.grid .gurps-continuation {
  margin-top: 0;
}

.gurps-left-aligned {
  text-align: start !important;
}

.gurps-grid-header {
  font-weight: bold;
}

.gurps-grid-span2 {
  grid-column: 1 / span 2;
}

.gurps-grid-span3 {
  grid-column: 1 / span 3;
}

.gurps-group-header {
  background-color: black;
  color: white;
  margin-bottom: 0.5em;
  font-size: larger;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0.5em;
}

.gurps-group-gap {
  margin-top: 0.5em;
}

.gurps-group-caption {
  font-size: smaller;
  font-style: italic;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
}

.gurps-3col-expandmiddle .pdflink {
  font-size: smaller;
}
