#colorPicker {
  width: 30px;
  height: 30px;
  position: relative;
  clear: both;
}

#colorPicker .track {
  background: #000 url("images/hex-colormap.gif") no-repeat 50% 50%;
  height: 201px;
  width: 236px;
  padding: 10px;
  position: absolute;
  cursor: crosshair;
  float: left;
  left: 32px;
  top: 10px;
  display: none;
  border: 1px solid #ccc;
  z-index: 10;
}

#colorPicker .color {
  width: 25px;
  height: 25px;
  padding: 0px;
  border: 0px solid #ccc;
  display: block;
  position: relative;
  z-index: 11;
  background-color: #efefef;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  cursor: pointer;
}

#colorPicker .colorInner {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
}

#colorPicker .dropdown {
  list-style: none;
  display: none;
  width: 27px;
  position: absolute;
  top: 28px;
  border: 1px solid #ccc;
  left: 0;
  z-index: 1000;
}

#colorPicker .dropdown li {
  height: 25px;
  cursor: pointer;
}

#colorPicker canvas {
  left: 0px;
  top: 0px;
  position: absolute;
}
