<div id="apply-damage-app-window" class="{{cssClass}} gurps apply-damage" autocomplete="off">
	<div id="damage-roll">
		<div class="header">Damage Roll</div>
		<div class="field-block">
			<div class="label">Attacker</div>
			<div class="field">
				<input name="attacker" class="input" type="text" data-dtype="String" value="Bob" disabled />
			</div>
		</div>
	</div>
</div>
