#features,
#defaults,
#modifiers,
#study {
	margin: 2px 16px;
	.content {
		border: 1px solid rgb(var(--color-header));
		background-color: rgb(var(--color-content));
		display: grid;
		> div {
			padding: 5px;
		}
	}
	.control {
		display: flex;
		gap: 5px;
	}

	input[readonly] {
		background-color: transparent;
		color: rgba(var(--color-on-content), 0.5);
	}

	.gcs-info {
		color: rgb(var(--color-icon-button));
		align-self: center;
	}
}

.feature,
.default,
.modifier,
.study-entry {
	a {
		align-self: center;
	}
}

.feature {
	display: grid;
	grid-auto-flow: rows;
	grid-gap: 5px;
	> div {
		display: grid;
		grid-gap: 5px;
		grid-auto-flow: column;
		grid-template-columns: 0fr 0fr 1fr;
		&.top {
			grid-template-columns: 0fr;
			grid-auto-columns: 0fr;
		}
		.placeholder {
			width: 14px;
		}
		&.conditional-modifier {
			grid-template-columns: 0fr 1fr;
		}
		&.dr-bonus {
			grid-template-columns: repeat(4, 0fr);
		}
		&.field-2 {
			grid-template-columns: repeat(2, 0fr) 1fr;
		}
		&.field-3 {
			grid-template-columns: repeat(3, 0fr) 1fr;
		}
	}
	select[disabled] {
		/* color: transparent; */
		opacity: 1;
	}
}

.default {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 0fr 0fr 1fr 1fr 0fr;
}

.study-entry {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 0fr 0fr 0fr 0fr 0fr 1fr;
}

.modifier {
	display: grid;
	grid-auto-flow: rows;
	grid-gap: 5px;
	> div {
		display: flex;
		gap: 5px;
		// grid-template-columns: 0fr 0fr 1fr;
		&:not(.top) {
			padding-left: 19px;
		}
		// &.top {
		// 	grid-template-columns: 0fr;
		// 	grid-auto-columns: 0fr;
		// }
	}
	select[disabled] {
		color: transparent;
		opacity: 1;
	}
	input[data-dtype="Number"] {
		max-width: 12px;
	}
	input[data-dtype="String"] {
		width: max-content;
	}
}
