.gurps.item {
	@import "prereq", "feature", "trait_modifiers", "equipment_modifiers", "melee", "ranged";
	&.trait {
		@import "trait";
	}

	min-width: 600px;
	.window-content {
		background: rgb(var(--color-background));
	}
	#sheet {
		background-color: rgb(var(--color-background));
		color: rgb(var(--color-on-background));
	}

	// General Styles
	.header {
		grid-area: header;
		background-color: rgba(var(--color-header), 1);
		color: rgba(var(--color-on-header), 1);
		justify-content: center;
		text-align: center;
		padding-bottom: 2px;
	}
	.label {
		font: var(--font-label);
		transform: translateY(4px);
		text-align: right;
	}
	.title {
		text-align: center;
		font: var(--font-system);
	}
	hr,
	.title,
	.md {
		grid-column: 1 / span 2;
	}
	select {
		align-self: center;
		font: var(--font-system);
		background-color: rgb(var(--color-control));
		color: rgb(var(--color-on-control));
		border: 1px solid rgb(var(--color-control-edge));
		padding: 1px 3px;
		border-radius: 3px;
		height: 24px;
		width: max-content;
		align-items: self-end;
		option {
			font: var(--font-system);
			background-color: rgb(var(--color-control));
			color: rgb(var(--color-on-control));
			border: 1px solid rgb(var(--color-control-edge));
		}
		&:focus {
			box-shadow: none;
			border-width: 2px;
			padding: 0px 2px;
		}
	}
	.checkbox-label {
		display: grid;
		grid-template-columns: 1em auto;
		gap: 3px;
		height: 16px;
		grid-row-gap: 0px;
		white-space: nowrap;
		translate: 0 0;
	}
	.field {
		display: grid;
		grid-auto-flow: dense column;
		align-items: start;
		column-gap: 9px;
		&.no-stretch {
			width: max-content;
		}
		// &.check label.checkbox-label {
		// 	translate: 0 -4px;
		// }
		input[type="number"] {
			width: 60px;
		}
		// input[type="checkbox"] {
		// 	appearance: none;
		// 	margin: 0;
		// 	background-color: rgb(var(--color-control));
		// 	color: rgb(var(--color-on-control)); // Redundant?
		// 	font: inherit;
		// 	width: 14px;
		// 	height: 14px;
		// 	border: 1px solid rgb(var(--color-control-edge));
		// 	border-radius: 4px;
		// 	display: grid;
		// 	place-content: center;
		// 	filter: none;
		// 	translate: 0 0;
		// 	&:focus {
		// 		border-width: 2px;
		// 	}
		// 	&:active {
		// 		background-color: rgb(var(--color-pressed-control));
		// 	}
		// 	&::before {
		// 		font-family: "gcs";
		// 		font-size: var(--font-size-12);
		// 		content: "\e804";
		// 		opacity: 0;
		// 	}
		// 	&:checked::before {
		// 		opacity: 1;
		// 	}
		// }
		.checkbox-label + .checkbox-label {
			margin-top: 1em;
		}
	}

	#details {
		display: grid;
		grid-template: "label field";
		grid-template-columns: max-content 1fr;
		row-gap: 4px;
		column-gap: 9px;
		vertical-align: middle;
		padding: 2px 16px;
	}
}
