#melee {
	margin: 2px 16px;
	border: 1px solid rgb(var(--color-header));
	display: grid;
	grid-template-columns: 1fr repeat(6, auto);

	.header {
		grid-area: auto;
		padding: var(--padding-header);
		background-color: rgb(var(--color-header));
		color: rgb(var(--color-on-header));
		border-right: 1px solid rgb(var(--color-separator));
		white-space: nowrap;
	}

	> div {
		background-color: rgb(var(--color-content));
		color: rgb(var(--color-on-content));
		border-right: 1px solid rgb(var(--color-header));
		border-bottom: 1px solid rgb(var(--color-header));

		padding: var(--padding-standard);

		&.enabled {
			padding: var(--padding-header);
		}

		&.header {
			border-bottom: none;
			border-right: 1px solid rgb(var(--color-divider));
		}

		&.st {
			border-right: none;
		}
	}

	:nth-last-child(-n + 7) {
		border-bottom: none;
	}

	.usage:nth-child(14n + 1),
	.level:nth-child(14n + 2),
	.parry:nth-child(14n + 3),
	.block:nth-child(14n + 4),
	.damage:nth-child(14n + 5),
	.reach:nth-child(14n + 6),
	.st:nth-child(14n + 7) {
		&:not(.header) {
			background-color: rgb(var(--color-banding));
			color: rgb(var(--color-on-banding));
		}
	}
}
