#ranged {
	margin: 2px 16px;
	border: 1px solid rgb(var(--color-header));
	display: grid;
	grid-template-columns: 1fr repeat(9, auto);

	.header {
		grid-area: auto;
		padding: var(--padding-header);
		background-color: rgb(var(--color-header));
		color: rgb(var(--color-on-header));
		white-space: nowrap;
	}

	> div {
		background-color: rgb(var(--color-content));
		color: rgb(var(--color-on-content));
		border-right: 1px solid rgb(var(--color-interior-divider));
		border-bottom: 1px solid rgb(var(--color-interior-divider));

		padding: var(--padding-standard);

		&.enabled {
			padding: var(--padding-header);
		}

		&.header {
			border-bottom: none;
		}

		&.st {
			border-right: none;
		}
	}

	// TODO: remove when static removed
	&:not(.static) :nth-last-child(-n + 10) {
		border-bottom: none;
	}

	.usage:nth-child(20n + 1),
	.level:nth-child(20n + 2),
	.accuracy:nth-child(20n + 3),
	.damage:nth-child(20n + 4),
	.range:nth-child(20n + 5),
	.rate-of-fire:nth-child(20n + 6),
	.shots:nth-child(20n + 7),
	.bulk:nth-child(20n + 8),
	.recoil:nth-child(20n + 9),
	.st:nth-child(20n + 10) {
		&:not(.header) {
			background-color: rgb(var(--color-banding));
			color: rgb(var(--color-on-banding));
		}
	}
}
