.fieldblock {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: min-content auto;
	row-gap: 4px;
	column-gap: 9px;
	vertical-align: middle;
	padding: 5px 16px;
	.label {
		white-space: nowrap;
		text-align: right;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5px;
}
