.gcs_trait_container_sheet {
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	gap: var(--section-gap);
	.label {
		text-align: right;
	}
	#details {
		display: grid;
		grid-template-columns: max-content 1fr;
		#name {
			display: grid;
			grid-template-columns: 1fr 0fr max-content;
		}
		#cr {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		#container_type {
			display: grid;
			grid-template-columns: auto max-content auto;
		}
	}
}
